{{ define "main" }}

    <section class="page-section page-section-advertise">
        <h5 class="title title-4">Advertise with Console</h5>
        <h2 class="title title-1">Discover the best tools for developers</h2>
        <p class="description">Console is the place developers go to find the best tools. Each week we pick out the most interesting tools and new releases to help experienced developers stay up-to-date with the tools and releases that matter.</p>
        <p><b>In a crowded market, our audience trusts our recommendations.</b> Our reviews are made through years of experience and research, bringing a deep practical understanding of the needs of experienced developers looking to try new tools.</p>

        <a class="console-button-text icon-right" href="#how-to-work-with-us" title="How to works with us" rel="noopener"><span>How to work with us</span>
            {{ partial "icons/scroll-down.html" }}</a>
    </section>

{{ end }}