{{ define "main" }}

    <section class="page-section page-section-advertise opening">
        <div class="top">
            <h5 class="title title-4"><span>Advertise</span> with Console</h5>
            <h2 class="title title-1">Discover the best tools for developers</h2>
            <p class="description">Console is the place developers go to find the best tools. Each week we pick out the most interesting tools and new releases to help experienced developers stay up-to-date with what matters.</p>
            <p><b>In a crowded market, our audience trusts our recommendations.</b></p>
            <a onclick="blur();" class="console-button-text console-button-yellow icon-right" href="#work-with-us" title="How to works with us" rel="noopener"><span>How to work with us</span>
                {{ partial "icons/scroll-down.html" }}</a>
        </div>
        <div class="bottom">
            <div class="artwork-wrapper">
                {{ partial "components/advertise/artwork.html"}}
            </div>
        </div>
    </section>

    <section class="page-section page-section-plane page-section-advertise newsletter">
        <div class="top">
            <h3 class="title title-2 rich-title">{{ partial "icons/console-mini.html" }}<span><span>console</span><br>weekly newsletter</span></h3>
            <p class="intro"><b>Trusted</b> / We only feature tools that meet our selection criteria.</p>
            <p class="intro"><b>Concise</b> / 2-3 tools and 3-5 betas per newsletter, giving your tool the attention it deserves.</p>
            <p class="intro"><b>Technical</b> / Written for experienced developers. 77% of our audience have been coding for 5+ years.</p>
                <a class="console-button-text icon-right" href="/latest/" title="See the latest email" rel="noopener"><span>See the latest email</span>
                    {{ partial "icons/arrow-right.html" }}</a>
        </div>
        <div class="bottom">
            <img loading="lazy" class="light" src="/img/advertise/newsletter-light.png" alt="Console Newsletter">
            <img loading="lazy" class="dark" src="/img/advertise/newsletter-dark.png" alt="Console Newsletter">
        </div>
    </section>

    <span data-checkpoint-site></span>

    <section class="page-section page-section-advertise site">
        <div class="neon-planes-wrapper">
            {{ partial "components/neon-planes.html" (dict "context" . "type" "all" ) }}
        </div>
        <h3 data-checkpoint-neon-planes class="title title-2 rich-title">{{ partial "icons/link.html" }}<span>console.dev</span></h3>
        <div class="advertise-site-item advertise-site-tools">
            <div class="top">
                <h4 class="title title-3 rich-title">{{ partial "icons/tool.html" }}<span>Developer tools reviews</span></h4>
                <p class="intro">An archive of every tool featured in the newsletter. A go-to resource to discover the best developer tools.</p>
                <p class="intro">Our reviews are made through years of experience and research, bringing a deep practical understanding of the needs of experienced developers looking to try new tools.</p>
                <a onclick="blur();" class="console-button-text icon-right" href="/tools/" title="See developer tool reviews" rel="noopener"><span>See tool reviews</span>
                    {{ partial "icons/arrow-right.html" }}</a>
            </div>
            <div class="bottom">
                <img loading="lazy" class="light" src="/img/advertise/ui-tools-light.png" alt="Developer tools reviews">
                <img loading="lazy" class="dark" src="/img/advertise/ui-tools-dark.png" alt="Developer tools reviews">
            </div>
        </div>
        <div class="advertise-site-item advertise-site-interviews">
            <div class="top">
                <h4 class="title title-3 rich-title">{{ partial "icons/console-interview.html" }}<span>Developer interviews</span></h4>
                <p class="intro">Tell your story in our series of interviews with leading founders and CTOs.</p>
                <a onclick="blur();" class="console-button-text icon-right" href="/interviews/" title="See developer interviews" rel="noopener"><span>See developer interviews</span>
                    {{ partial "icons/arrow-right.html" }}</a>
            </div>
            <div class="bottom">
                <img loading="lazy" class="light" src="/img/advertise/ui-interviews-light.png" alt="Developer interviews">
                <img loading="lazy" class="dark" src="/img/advertise/ui-interviews-dark.png" alt="Developer interviews">
            </div>
        </div>
        <div class="advertise-site-item advertise-site-betas">
            <div class="top">
                <h4 class="title title-3 rich-title">{{ partial "icons/beta.html" }}<span>Beta Console</span></h4>
                <p class="intro">The latest beta release and early access programs for developers. Relied on by early-adopters to be the first to try new tools.</p>
                <a onclick="blur();" class="console-button-text icon-right" href="/betas/" title="See Beta Console" rel="noopener"><span>See Beta Console</span>
                    {{ partial "icons/arrow-right.html" }}</a>
            </div>
            <div class="bottom">
                <img loading="lazy" class="light" src="/img/advertise/ui-betas-light.png" alt="Beta Console">
                <img loading="lazy" class="dark" src="/img/advertise/ui-betas-dark.png" alt="Beta Console">
            </div>
        </div>
    </section>

    <span data-checkpoint-podcast></span>

    <section class="page-section page-section-advertise podcast">
        <div class="top">
            {{ partial "icons/podcast.html" }}
            <h3 class="title title-2">DevTools Podcast</h3>
            <p class="intro">
                A discussion about devtools related topics ranging from the philosophy of open source and how developers adopt new tools to how to decentralize your tech stack.
            </p>
            <div class="podcast-links">
                <h5 class="title title-4">Listen on</h5>
                <a class="link" onclick="blur();" target="_blank" rel="noopener" href="https://podcasts.apple.com/us/podcast/console-devtools/id1572448316" title="Listen on Apple Podcasts"><img loading="lazy" src="/img/icon-podcast-apple.svg" alt="Apple Podcasts"></a>
                <a class="link" onclick="blur();" target="_blank" rel="noopener" href="https://open.spotify.com/show/1yec5zbVfGPQUlH80tDIOW" title="Listen on Spotify"><img loading="lazy" src="/img/icon-podcast-spotify.svg" alt="Spotify"></a>
            </div>
        </div>
        <div class="bottom" data-podcast-embed-frame>
            <iframe data-podcast-embed height="464px" width="350px" frameborder="no" scrolling="no" seamless src="https://player.simplecast.com/10488ddf-3ca4-4300-9391-c2967d806334?dark=true&show=true&color=0A0A0B"></iframe>
        </div>
    </section>

    <section class="page-section page-section-plane page-section-advertise audience">
        <h2 class="title title-1">Audience</h2>
        <p class="intro">
            Launched in early 2021, Console has quickly become a trusted resource for CTOs, engineering managers, technical architects and experienced developers.
        </p>
        <div class="advertise-audience-facts">
            <div class="advertise-audience-fact converting">
                <div class="advertise-audience-fact-head">
                    <div class="audience-fact-number">68%</div>
                    <div class="future-heads">
                        <div class="future-head">
                            <div class="future-head-fill"></div>
                        </div>
                        <div class="future-head">
                            <div class="future-head-fill"></div>
                        </div>
                        <div class="future-head">
                            {{ partial "icons/future-head.html"}}
                            <div class="future-head-fill"></div>
                        </div>
                    </div>
                </div>
                <div class="advertise-audience-fact-body"><p><span>2 in 3</span> of our readers have signed-up to a tool featured by Console.</p></div>
            </div>
            <div class="advertise-audience-fact qualified">
                <div class="advertise-audience-fact-head">
                    <div>
                        <div class="audience-fact-number">77%</div>
                        <p>5+ years dev experience</p>
                    </div>
                    <div class="console-bar-chart blue always-show-border">
                        <div class="console-bar-chart-item" style="width: 77%">
                            <div class="console-bar-chart-item-bar" style="width: 77%"></div>
                        </div>
                    </div>
                </div>
                <div class="advertise-audience-fact-body"><p><span>4 in 5</span> have been coding for 5+ years.</p></div>
            </div>
            <div class="advertise-audience-fact engaged">
                <div class="advertise-audience-fact-head">
                    {{ partial "icons/email.html" }}
                    <div class="audience-fact-number">{{ $.Site.Params.consoleSubscribers }}</div>
                </div>
                <div class="advertise-audience-fact-body">
                    <span>
                        {{ partial "icons/checkmark.html" }}
                        {{ partial "icons/checkmark.html" }}
                    </span>
                    <p>All double opt-in subscribers.</p>
                </div>
            </div>
        </div>
        <div class="advertise-audience-locations">
            <h3 class="title title-2">Locations</h3>
            <div class="console-bar-chart blue">
                <div class="console-bar-chart-item" style="width: 36%">
                    <h4 class="title title-3">36% USA</h4>
                    <div class="console-bar-chart-item-bar" style="width: 36%"></div>
                </div>
                <div class="console-bar-chart-item" style="width: 30%">
                    <h4 class="title title-3">30% Europe</h4>
                    <div class="console-bar-chart-item-bar" style="width: 30%"></div>
                </div>
                <div class="console-bar-chart-item" style="width: 12%">
                    <h4 class="title title-3">12% UK</h4>
                    <div class="console-bar-chart-item-bar" style="width: 12%"></div>
                </div>
                <div class="console-bar-chart-item" style="width: 22%">
                    <h4 class="title title-3">22% Global</h4>
                    <div class="console-bar-chart-item-bar" style="width: 22%"></div>
                </div>
            </div>
        </div>
    </section>

    <span data-checkpoint-work-with-us id="work-with-us"></span>

    <section class="page-section page-section-advertise work-with-us">
        <div class="neon-planes-wrapper" data-neon-planes-wrapper data-packages>
            {{ partial "components/neon-planes.html" (dict "context" . "type" "one-three" ) }}
        </div>
        <h2 class="title title-1">How to work <br />with us</h2>
        <p class="intro">
            Planning a new release or product launch? Looking to reach new customers? We put you in front of experienced developers specifically looking to try new tools. We can help increase signups by coordinating a campaign to meet your goals.
        </p>
        <div class="work-with-us-packages">
            <div class="framed-section framed-section-triad-01">
                <div class="top">
                    <div class="left">
                        <h3 class="title title-2">
                            <span>Console sponsored package</span>
                            {{ partial "illustrations/console-sponsor.html" }}
                        </h3>
                        <p>
                            We only feature 3 tools each week, and our audience knows that only the best tools make it into our newsletter. We feature just one sponsored tool in each newsletter and sponsored reviews appear at the top of the email as the lead review.
                        </p>
                    </div>
                    {{ partial "illustrations/console-sponsor.html" }}
                </div>
                <div class="top">
                    <div class="left">
                        <h4 class="title title-3">
                            <span>Reach & engagement</span>
                        </h4>
                        <p>
                            Console is a privacy-first company so we do not track opens, but we do track clicks. In 2022 sponsored partners have averaged 1,320 high intent clicks per campaign within 7 days of launch.  Expected conversion will vary by tool type. Partners typically see conversion rate of 5-10%, although we have seen as high as 20%.
                        </p>
                    </div>
                </div>
                <div class="framed-section-item">
                    <p>The benefits of our sponsored package include:</p>
                    <div class="benefits">
                        <div>
                            <h5 class="title title-4 rich-title">{{ partial "icons/console-starred.html" }}<span>Top spot</span></h5>
                            <p class="small">Sponsored reviews appear at the top of the newsletter as the lead recommendation.</p>
                            <h5 class="title title-4 rich-title">{{ partial "icons/console-mini-filled.html" }}<span>Schedule</span></h5>
                            <p class="small">Schedule when your product review appears in the Console Weekly newsletter.</p>
                            <h5 class="title title-4 rich-title">{{ partial "icons/console-interview.html" }}<span>Interview</span></h5>
                            <p class="small">Supporting Q&A interview to tell the story of your product.</p>
                            <h5 class="title title-4 rich-title">{{ partial "icons/link.html" }}<span>Context</span></h5>
                            <p class="small">Include a link to a blog post or technical article to go deeper into your release.</p>
                        </div>
                        <div>
                            <h5 class="title title-4 rich-title">{{ partial "icons/tool.html" }}<span>Website</span></h5>
                            <p class="small">Inclusion of your tool in the Console Tools list.</p>
                            <h5 class="title title-4 rich-title">{{ partial "icons/social.html" }}<span>Social</span></h5>
                            <p class="small">Promotion of the launch on social media.</p>
                            <h5 class="title title-4 rich-title">{{ partial "icons/console-offer.html" }}<span>Offer</span></h5>
                            <p class="small">Opportunity to provide an exclusive offer to our audience e.g. early access, invite codes, bonus credits, discounts.</p>
                            <h5 class="title title-4 rich-title">{{ partial "icons/badges.html" }}<span>Badges</span></h5>
                            <p class="small">Access to custom badges for your website and marketing materials to showcase that you’ve been featured as a Console Developer Tool of the Week.</p>
                        </div>
                    </div>
                    <p>Tell us about your tool and campaign goals.</p>
                    <a onclick="blur();" href="mailto:hello@console.dev" class="console-button icon-left">{{ partial "icons/send.html" }}<span>Get in touch</span></a>
                </div>
            </div>
            <div class="framed-section framed-section-triad-01">
                <div class="top">
                    <div class="left">
                        <h3 class="title title-2">
                            <span>Welcome email promotion</span>
                            {{ partial "illustrations/console-welcome-2.html" }}
                        </h3>
                        <p>
                            Our welcome email promotion is a great way to reach all our new subscribers looking to check out new tools. Promotion secures placement in our “welcome email” for 30 days. This goes out to 50-100 new Console subscribers every day.
                        </p>
                    </div>
                    {{ partial "illustrations/console-welcome-2.html" }}
                </div>
                <a onclick="blur();" href="mailto:hello@console.dev" class="console-button icon-left">{{ partial "icons/send.html" }}<span>Get in touch</span></a>
            </div>
            <div class="framed-section framed-section-triad-01">
                <div class="top">
                    <div class="left">
                        <h3 class="title title-2">
                            <span>Sponsored jobs</span>
                            {{ partial "illustrations/console-sponsored-jobs.html" }}
                        </h3>
                        <p>
                            Each week we profile 3 of the best dev tools companies currently hiring. Each company must meet our selection criteria to be featured. Sponsored partners receive a full company profile on the Console website.
                        </p>
                    </div>
                    {{ partial "illustrations/console-sponsored-jobs.html" }}
                </div>
                <div class="top">
                    <div class="left">
                        <h4 class="title title-3">Company profiles</h4>
                        <p>
                            Company profiles are a unique way for companies looking to attract developer talent by revealing insider details about how engineering is run at your company, including the tech stack, company mission, how the hiring process works, benefits… all things that developers want to know when applying for jobs. 
                        </p>
                    </div>
                </div>
                <div class="framed-section-item">
                    <p>The benefits of our sponsored jobs also include:</p>
                    <div class="benefits">
                        <div>
                            <h5 class="title title-4 rich-title">{{ partial "icons/console-mini-filled.html" }}<span>Newsletter listing</span></h5>
                            <h6 class="title title-5"><span>Reach {{ $.Site.Params.consoleSubscribers }} developers</span></h6>
                            <p class="small">Sponsored company profile receive a listing in the Console Weekly newsletter reaching {{ $.Site.Params.consoleSubscribers }} opt-in subscribers.</p>
                        </div>
                        <div>
                            <h5 class="title title-4 rich-title">{{ partial "icons/bypass.html" }}<span>Application bypass</span></h5>
                            <p class="small">Opportunity to include an email address or link for candidates to bypass some of your standard application procedures.</p>
                        </div>
                    </div>
                    <p>Tell us about your hiring process and goals.</p>
                    <a onclick="blur();" href="mailto:hello@console.dev" class="console-button icon-left">{{ partial "icons/send.html" }}<span>Get in touch</span></a>
                </div>
            </div>
        </div>
    </section>

    <span data-checkpoint-campaigns></span>

    <section class="page-section page-section-advertise campaigns">
        <h3 class="title title-2">Recent campaigns</h3>

        {{ range .Params.campaigns }}
            <div class="framed-section framed-section-default">
                <div class="top">
                    <div class="heading">
                        <h4 class="title title-3 rich-title">
                            <div class="case-study-thumbnail aspect-ratio aspect-ratio-1-1">
                                <img loading="lazy" class="image" src="{{ .img }}" alt="{{ .name }} Logo" />
                            </div>
                            <span>{{ .name }}</span>
                        </h4>
                        <span data-checkpoint-campaigns></span>
                        <a class="console-button console-button-small icon-right" href="{{ .url }}" title="{{ .url }}" target="_blank" rel="noopener">
                            <span>Visit</span>
                            {{ partial "icons/external-link.html" }}
                        </a>
                    </div>
                    {{ range .intro }}
                        <p class="intro">{{ . | safeHTML }}</p>
                    {{ end }}
                    <p class="quote">
                        <span>{{ .quote | safeHTML }}</span>
                    </p>
                </div>
                <div class="framed-section-item">
                    <h5 class="title title-4">How it worked?</h5>
                    <div>
                        {{ range .howItWorked }}
                            {{ if isset . "icon" }}
                                <h5 class="title title-4 rich-title">{{ partial (print "icons/" .icon ".html") }}<span>{{ .name }}</span>{{ with .plus }} {{ partial "icons/plus.html" }}{{ end }}</h5>
                            {{ end }}
                            {{ if isset . "text" }}
                                <p>{{ .text }}</p>
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>
        {{ end }}
    
    </section>

    <span data-checkpoint-contact></span>

    <section class="page-section page-section-advertise contact">
        <div class="neon-planes-wrapper">
            {{ partial "components/neon-planes.html" (dict "context" . "type" "one" ) }}
        </div>
        <h2 class="title title-1">Plan your campaign</h2>
        <p class="description">We'll help you launch your tool and find new customers the right way.</p>
        <div class="bottom">
            <a onclick="blur();" href="mailto:hello@console.dev" class="console-button icon-left">{{ partial "icons/send.html" }}<span>Get in touch</span></a>
            <p>
                <a onclick="blur();" href="https://drive.google.com/file/d/1mlMI5E20b_OoKL84sQC8a3l-x-RcIqzE/view?usp=sharing" class="console-button-text icon-left" title="Download advertiser kit" rel="nofollow" target="_blank">{{ partial "icons/download.html" }}<span>Download</span></a>
                our advertiser kit in .pdf.
            </p>
        </div>
    </section>

    <section class="page-section page-section-advertise social">
        <div class="neon-planes-wrapper">
            {{ partial "components/neon-planes.html" (dict "context" . "type" "two" ) }}
        </div>
        <h2 class="title title-1">Loved by the world’s <br />best developers</h2>
        <div class="quotes">
            <div class="future-heads">
                {{ partial "icons/future-head.html"}}
                {{ partial "icons/future-head.html"}}
                {{ partial "icons/future-head.html"}}
                {{ partial "icons/future-head.html"}}
            </div>
            <p class="quote icon-left">{{ partial "icons/email.html" }}<span>I look forward to it every week. Thanks for keeping me up to date with the latest dev tool ecosystem!</span></p>
            <p class="quote icon-left">{{ partial "icons/email.html" }}<span>A lot of love for the newsletter, website and Q&As. Thanks for the hard and super good work, big up folks!! <span>❤️❤️</span></span></p>
            <p class="quote icon-left">{{ partial "icons/email.html" }}<span>Console is one of my favorite newsletters <span>😍</span></span></p>
            <p class="quote icon-left">{{ partial "icons/twitter.html" }}<span>Really like the format — console.dev has been an interesting subscription, but complementing the newsletter with short-ish podcasts is a great idea.</span></p>
        </div>
    </section>

	{{ $advertiseJS := resources.Get "/js/advertise.js" }}
    {{ if hugo.IsProduction }}{{ $advertiseJS = $advertiseJS | resources.Minify | resources.Fingerprint }}{{ end }}
	<script src="{{ $advertiseJS.Permalink }}"></script>
{{ end }}
