{{ define "main" }}
    {{ $formData := $.Site.Data.formdevjobs }}

    <section class="page-section page-section-landing-jobs opening">
        <div class="left">
            <div>
                <h2 class="title title-1">The best developer jobs you weren’t looking for</h2>
                <p class="description">A free email digest of jobs that actually suit you.</p>

                <button onclick="blur()" class="console-button icon-left" title="Signup">
                    {{ partial "icons/send.html" }}
                    <span>Sign Up</span>
                </button>
            </div>
            <p class="small ownership">{{partial "icons/console-mini-filled.html" }}Brought to you by the team behind the Console devtools newsletter ({{ $.Site.Params.consoleSubscribers }} subscribers)</p>
        </div>
        <div class="right">
            <div class="artwork-wrapper">
                <canvas data-artwork-canvas class="artwork"></canvas>
                <div class="artwork-interactives">
                    <div data-gravitating-items class="item item-01"><span class="inner">Front end</span></div>
                    <div data-gravitating-items class="item item-02"><span class="inner">Back end</span></div>
                    <div data-gravitating-items class="item item-03"><span class="inner">Mobile</span></div>
                    <div data-gravitating-items class="item item-04"><span class="inner">Design</span></div>
                    <div data-gravitating-items class="item item-05"><span class="inner">Security</span></div>
                    <div data-gravitating-items class="item item-06"><span class="inner">DevOps</span></div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section page-section-landing-jobs features">
        <div class="page-section-heading">
            <h3 class="title title-2">The <b>best engineers</b> rarely look for a new job</h3>
        </div>
        <div class="separator light"></div>
        <div class="cols">
            <div class="col">
                {{ partial "icons/jobs.html" }}
                <h4 class="title title-3"><span>Email digest of matches.</span> <span>And only matches.</span></h4>
                <p>We only send relevant roles filtered based on your preferences. And no email when nothing fits.</p>
            </div>
            <div class="col">
                {{ partial "illustrations/console-company-profile.html" }}
                <h4 class="title title-3">Company profiles about how they run engineering</h4>
                <p>An inside look at the best companies explaining why you might be tempted to join.</p>
            </div>
            <div class="col">
                {{ partial "illustrations/no-spam.html" }}
                <h4 class="title title-3"><span></span>Not another profile.</span> <span></span>No recruiter spam.</h4>
                <p>Your preferences are private. Flag interest in a role to trigger an intro. Otherwise ignore the email.</p>
            </div>
        </div>
    </section>
    <section class="page-section page-section-landing-jobs profiled-companies">
        <div class="page-section-heading">
            <h3 class="title title-2">Recently profiled companies</h3>
        </div>
        <div class="logo-cloud-artwork">
            <div class="logo-cloud">
                <img loading="lazy" class="dark" src="/img/landing/reached-company-logo-github-dark.png" alt="GitHub">
                <img loading="lazy" class="dark" src="/img/landing/reached-company-logo-atlassian-dark.png" alt="Atlassian">
                <img loading="lazy" class="dark" src="/img/landing/reached-company-logo-microsoft-dark.png" alt="Microsoft">
                <img loading="lazy" class="dark" src="/img/landing/reached-company-logo-cloudflare-dark.png" alt="Cloudflare">
                <img loading="lazy" class="dark" src="/img/landing/reached-company-logo-adobe-dark.png" alt="Adobe">
                <img loading="lazy" class="dark" src="/img/landing/reached-company-logo-sourcegraph-dark.png" alt="Sourcegraph">
                <img loading="lazy" class="dark" src="/img/landing/reached-company-logo-twilio-dark.png" alt="Twilio">
                <img loading="lazy" class="dark" src="/img/landing/reached-company-logo-snyk-dark.png" alt="Snyk">
                <img loading="lazy" class="light" src="/img/landing/reached-company-logo-github-light.png" alt="GitHub">
                <img loading="lazy" class="light" src="/img/landing/reached-company-logo-atlassian-light.png" alt="Atlassian">
                <img loading="lazy" class="light" src="/img/landing/reached-company-logo-microsoft-light.png" alt="Microsoft">
                <img loading="lazy" class="light" src="/img/landing/reached-company-logo-cloudflare-light.png" alt="Cloudflare">
                <img loading="lazy" class="light" src="/img/landing/reached-company-logo-adobe-light.png" alt="Adobe">
                <img loading="lazy" class="light" src="/img/landing/reached-company-logo-sourcegraph-light.png" alt="Sourcegraph">
                <img loading="lazy" class="light" src="/img/landing/reached-company-logo-twilio-light.png" alt="Twilio">
                <img loading="lazy" class="light" src="/img/landing/reached-company-logo-snyk-light.png" alt="Snyk">
            </div>
            <div class="vapor-globe"></div>
        </div>
    </section>
    <section class="page-section page-section-landing-jobs signup">
        <div class="page-section-heading">
            <h3 class="title title-2">Sign Up</h3>
        </div>
        <p class="description">A free email digest of jobs that actually suit you. No more than 1 per week.</p>
        <div class="separator light"></div>
        <form data-signup-form class="form-generic landing-jobs-signup-form" action="">
            <fieldset>
                <legend>
                    <h4 class="title title-3">Your email</h4>
                    <p class="small">We’ll only send an email when we have an offer you should really consider.</p>
                </legend>
                <input id="form-email" name="form-email" class="console-input-text" type="email" placeholder="Your email" title="Email" required />
            </fieldset>
            <fieldset>
                <legend>
                    <h4 class="title title-3">Roles of interest</h4>
                    <p class="small">We will exact match you with any matching using an <em>OR</em> filter.</p>
                </legend>
                <div>
                    {{ range $formData.role.inputs }}
                        <div class="input-wrapper">
                            <input class="console-input-{{ $formData.role.consoleType }} attention" type="{{ $formData.role.type }}" name="form-role" id="form-role-{{ .name }}" value="{{ .name }}" {{ with .checked}} checked{{end }} {{ with .required}} required{{end }} />
                            <label for="form-role-{{ .name }}">
                                <span class="check"></span> {{ .label }}
                            </label>
                        </div>
                    {{ end }}
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    <h4 class="title title-3">Where you’d like to work</h4>
                    <p class="small">Some description of the fields group.</p>
                </legend>
                <div>
                    {{ range first 1 $formData.locations.inputs }}
                        <div class="input-wrapper{{ with .parent }} sub{{ end }}">
                                <input
                                    class="console-input-{{ $formData.locations.consoleType }} attention"
                                    type="{{ $formData.locations.type }}"
                                    name="form-locations"
                                    id="form-locations-{{ .name }}"
                                    value="{{ .name }}"
                                    {{ with .checked }} checked{{ end }}
                                    {{ with .required}} required{{end }}
                                    data-item="{{ .name }}"
                                    {{ with .parent }} data-child="{{ . }}"{{ end }}
                                    {{ with .hasChildren }} data-parent{{ end }}
                                    {{ with .selectAll }} data-select-all{{ end }}
                                    {{ with .disableOthers }} data-disable-others{{ end }} />
                                <label for="form-locations-{{ .name }}">
                                    {{ if eq $formData.locations.consoleType "checkbox" }}<span class="check">{{ partial (print "icons/checkmark.html" ) }}</span>{{ end }}
                                    {{ .label }}
                                </label>
                        </div>
                    {{ end }}
                    <div class="form-separator"><p class="small">or</p></div>
                    {{ range after 1 $formData.locations.inputs }}
                        <div class="input-wrapper{{ with .parent }} sub{{ end }}">
                                <input
                                    class="console-input-{{ $formData.locations.consoleType }} attention"
                                    type="{{ $formData.locations.type }}"
                                    name="form-locations"
                                    id="form-locations-{{ .name }}"
                                    value="{{ .name }}"
                                    {{ with .checked }} checked{{ end }}
                                    {{ with .required}} required{{end }}
                                    data-item="{{ .name }}"
                                    {{ with .parent }} data-child="{{ . }}"{{ end }}
                                    {{ with .hasChildren }} data-parent{{ end }}
                                    {{ with .selectAll }} data-select-all{{ end }}
                                    {{ with .disableOthers }} data-disable-others{{ end }} />
                                <label for="form-locations-{{ .name }}">
                                    {{ if eq $formData.locations.consoleType "checkbox" }}<span class="check">{{ partial (print "icons/checkmark.html" ) }}</span>{{ end }}
                                    {{ .label }}
                                </label>
                        </div>
                    {{ end }}
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    <h4 class="title title-3">Preferred tech stack</h4>
                    <p class="small">Some description of the fields group.</p>
                </legend>
                <div>
                    {{ range $formData.tech.inputs }}
                        <div class="input-wrapper">
                            <input
                                class="console-input-{{ $formData.tech.consoleType }} attention"
                                type="{{ $formData.tech.type }}"
                                name="form-tech"
                                id="form-tech-{{ .name }}"
                                value="{{ .name }}"
                                {{ with .checked}} checked{{end }}
                                {{ with .required}} required{{end }}
                                data-item="{{ .name }}" />
                            <label class="tech-stack-item" for="form-tech-{{ .name }}">
                                {{ if eq $formData.tech.consoleType "chip" }}{{ partial (print "icons/tech/" .icon ".html" ) }}{{ end }}
                                {{ .label }}
                            </label>
                        </div>
                    {{ end }}
                </div>
                <p class="small">
                    Using something else?
                    <a class="console-button-text console-button-medium icon-left" href="/latest/" title="See the latest email" rel="noopener">
                        {{ partial "icons/plus.html" }}
                        <span>Add other tool or tech</span>
                    </a>
                </p>
            </fieldset>
            <h6 class="title title-5">About yourself</h6>
            <fieldset>
                <legend>
                    <h4 class="title title-3">Your experience</h4>
                    <p class="small">Some description of the fields group.</p>
                </legend>
                <div class="segmented-bar">
                    {{ range $formData.exp.inputs }}
                        <div>
                            <input
                                class="console-input-{{ $formData.exp.consoleType }} attention"
                                type="{{ $formData.exp.type }}"
                                name="form-exp"
                                id="form-exp-{{ .name }}"
                                value="{{ .name }}"
                                {{ with .checked }} checked{{ end }}
                                {{ with .required }} required{{ end }} />
                            <label for="form-exp-{{ .name }}">
                                {{ if eq $formData.exp.consoleType "segmented-bar" }}<span class="check-bar"><span class="hover"></span>{{ partial (print "icons/checkmark.html" ) }}</span>{{ end }}
                                {{ .label }}
                            </label>
                        </div>
                    {{ end }}
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    <h4 class="title title-3">Your desired salary</h4>
                    <p class="small">Some description of the fields group.</p>
                </legend>
                <div class="segmented-bar">
                    {{ range $formData.salary.inputs }}
                        <div>
                            <input class="console-input-{{ $formData.salary.consoleType }} attention"
                            type="{{ $formData.salary.type }}"
                            name="form-salary"
                            id="form-salary-{{ .name }}"
                            value="{{ .name }}"
                            {{ with .checked }} checked{{ end }}
                            {{ with .required }} required{{ end }} />
                            <label for="form-salary-{{ .name }}">
                                {{ if eq $formData.exp.consoleType "segmented-bar" }}<span class="check-bar"><span class="hover"></span>{{ partial (print "icons/checkmark.html" ) }}</span>{{ end }}
                                {{ .label }}
                            </label>
                        </div>
                    {{ end }}
                </div>
            </fieldset>

            <h6 class="title title-5">{{partial "icons/jobs.html" }} Get the best jobs in your inbox</h6>

            <button onclick="blur()" class="console-button icon-left" type="submit" title="Signup">
                {{ partial "icons/send.html" }}
                <span>Sign Up</span>
            </button>
        </form>
    </section>

    <script src="/js/vendor/three-0.139.2.min.js"></script>

	{{ $js := resources.Get "/js/landing/jobs/1.js" }}
    {{ if hugo.IsProduction }}{{ $js = $js | resources.Minify | resources.Fingerprint }}{{ end }}
	<script src="{{ $js.Permalink }}"></script>
{{ end }}
