/* Page Stylesheet - Console Landing 1 for DevTools Jobs
   ========================================================================== */
.page-landing-jobs .content {
    height: auto;
    min-height: 100vh;
}

.main-landing-jobs {
    position: relative;
    margin-top: var(--space4_5);
}

@media (min-width: 769px) {
    .page-section-landing-jobs {
        max-width: 600px;
    }
}

@media (min-width: 1280px) {
    .page-section-landing-jobs {
        max-width: 700px;
    }
}

.main-landing-jobs .page-section .separator {
    margin: var(--space4_5) 0 var(--space5);
}

/* Opening -------------------------------------------------------------------- */
.main-landing-jobs .page-section.opening {
    position: relative;
    max-width: none;
    margin-bottom: calc(var(--space5) + var(--space3));
    display: grid;
    gap: var(--space5);
    height: calc(100vh - var(--space4_5));
    margin-bottom: var(--space4_5);
    margin-top: calc((var(--space4_5) + var(--space4) + var(--space2)) * -1);
    background: var(--theme-jobs-core-background);
    overflow: hidden;
    z-index: 10;

    width: 100vw;
    margin-left: -6.25vw;
    margin-right: -6.25vw;
    padding-left: 6.25vw;
    padding-right: 6.25vw;
}

@media (min-width: 481px) and (max-width: 768px) {
    .main-landing-jobs .page-section.opening {
        margin-left: -8vw;
        margin-right: -8vw;
        padding-left: 8vw;
        padding-right: 8vw;
    }
}

@media (min-width: 1371px) {
    .main-landing-jobs .page-section.opening {
        margin-left: calc((100vw - 1200px) / 2 * -1);
        margin-right: calc((100vw - 1200px) / 2 * -1);
        padding-left: calc((100vw - 1200px) / 2);
        padding-right: calc((100vw - 1200px) / 2);
    }
}

@media (max-width: 768px) {
    .main-landing-jobs .page-section.opening {
        gap: var(--space4_5);
    }
}

@media (max-width: 480px) {
    .main-landing-jobs .page-section.opening {
        gap: var(--space4);
    }
}

@media (min-width: 769px) {
    .main-landing-jobs .page-section.opening {
        grid-auto-flow: column;
        grid-auto-columns: 50% 1fr;
        align-items: center;
    }
}

.main-landing-jobs .page-section.opening .left,
.main-landing-jobs .page-section.opening .right {
    z-index: 50;
}

.main-landing-jobs .page-section.opening .left {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.main-landing-jobs .page-section.opening .left > *,
.main-landing-jobs .page-section.opening .right > * {
    margin-top: calc(var(--space5) * -1);
}

@media (max-width: 768px) {
    @media (max-width: 414px) {
        .main-landing-jobs .page-section.opening .title-1,
        .main-landing-jobs .page-section.opening .description {
            width: 100%;
            max-width: none;
        }
    }
}

.page-landing-jobs .title.title-1 {
    margin-bottom: var(--space2);
}

.main-landing-jobs .page-section.opening .console-button {
    display: flex;
    margin-top: var(--space4_5);
}

.main-landing-jobs .ownership {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    font-style: italic;
    text-transform: uppercase;
    font-size: var(--t-size-2);
    color: var(--theme-text-2);
    bottom: var(--space4);
    left: 0;
    width: 100%;
}

.main-landing-jobs .ownership .icon {
    fill: var(--theme-text-2);
    margin-right: var(--space1);
}

.artwork-bg {
    background: var(--theme-jobs-bg-diamonds);
    mix-blend-mode: overlay;
    opacity: var(--theme-jobs-bg-diamonds-opacity);
    -webkit-filter: blur(3px);
    filter: blur(3px);
    position: absolute;
    top: calc(50% - var(--space4));
    left: calc(50vw + 21.875vw + var(--space4));
    transform: translate(-50%, -50%) rotate(45deg);
    width: 80%;
    padding-bottom: 80%;
    height: 0;
    z-index: 10;
}

@media (min-width: 1371px) {
    .artwork-bg {
        left: calc(50vw + var(--space5) + 268px);
    }
}

@media (max-width: 768px) {
    .artwork-bg {
        left: 50vw;
    }
}

.artwork-bg-1 {
    transform: translate(-13%, -50%) rotate(45deg);
}

.artwork-bg-2 {
    transform: translate(-87%, -50%) rotate(45deg);
    -webkit-filter: blur(10px);
    filter: blur(6px);
}

.artwork-bg-3 {
    transform: translate(-200%, 40%) rotate(45deg);
    width: 32%;
    padding-bottom: 32%;
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

.artwork-bg-4 {
    transform: translate(-240%, -210%) rotate(45deg);
    width: 17%;
    padding-bottom: 17%;
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

/* Artwork */
.artwork-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 120%;
    z-index: 0;
}

.artwork {
    position: absolute;
    top: 15%;
    left: 10%;
    width: 80%;
    height: 70%;
    margin: 0;
    z-index: 50;
}

.artwork-interactives {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.artwork-interactives .item {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: var(--a-elements-time), 0.08s;
    transition-timing-function: var(--a-elements-easing);
}

.artwork-interactives:hover .item {
    opacity: 1;
    transition-duration: var(--a-elements-time), var(--a-elements-time);
}

.artwork-interactives:hover .item-0 {
    transform: translate(-25.01%, -32.82%);
}

.artwork-interactives:hover .item-1 {
    transform: translate(5.66%, -38.8%);
}

.artwork-interactives:hover .item-2 {
    transform: translate(33.68%, -26.63%);
}

.artwork-interactives:hover .item-3 {
    transform: translate(45.94%, -2%);
}

.artwork-interactives:hover .item-4 {
    transform: translate(36.7%, 23.57%);
}

.artwork-interactives:hover .item-5 {
    transform: translate(10.29%, 38.11%);
}

.artwork-interactives:hover .item-6 {
    transform: translate(-20.93%, 34.82%);
}

.artwork-interactives:hover .item-7 {
    transform: translate(-42.37%, 15.23%);
}

.artwork-interactives:hover .item-8 {
    transform: translate(-43.97%, -11.48%);
}

.artwork-interactives .item > * {
    position: absolute;
    white-space: nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: all;
}

.artwork-interactives .console-input-chip + label {
    font-size: var(--t-size0);
    min-height: calc(var(--space3) + var(--space3));
    border-radius: calc((var(--space3) + var(--space3)) / 2);
    padding: 0 calc(var(--space2) + var(--space1));
}

.artwork-interactives input:checked.console-input-chip + label:hover {
    border: 1px solid transparent;
    background: var(--theme-input-checkable-attention-on);
    color: var(--theme-input-checkable-on-subtract);
}

.artwork-interactives input:checked.console-input-chip + label:hover .icon-stroke {
    stroke: var(--theme-input-checkable-on-subtract);
}

.artwork-interactives input:checked.console-input-chip + label:hover .icon-fill {
    fill: var(--theme-input-checkable-on-subtract);
}

.artwork-interactives input:checked.console-input-chip + label:hover .icon-fill-stroke {
    stroke: var(--theme-input-checkable-on-subtract);
    fill: var(--theme-input-checkable-on-subtract);
}

.artwork-interactives input:checked.console-input-chip + label:active {
    background: var(--theme-text-1);
}

/* Features */
.page-section-landing-jobs.features {
    max-width: none;
    margin: 0;
    padding-top: calc(var(--space6_5) - var(--space4_5));
    padding-bottom: var(--space6_5);
}

.page-section-landing-jobs.features .page-section-heading {
    margin: 0;
}

@media (max-width: 540px) {
    .page-section-landing-jobs.features .page-section-heading .title {
        text-align: center;
    }
}

.page-section-landing-jobs.features .cols {
    display: grid;
    gap: var(--space5);
}

@media (max-width: 768px) {
    .page-section-landing-jobs.features .cols {
        gap: var(--space4_5);
    }
}

@media (min-width: 901px) {
    .page-section-landing-jobs.features .cols {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        align-items: start;
    }
}

@media (min-width: 481px) and (max-width: 900px) {
    .page-section-landing-jobs.features .cols .col {
        display: flex;
        flex-flow: row nowrap;
    }

    .page-section-landing-jobs.features .cols .col > *:first-child {
        flex: 0 0 auto;
        margin-right: var(--space4);
    }

    .page-section-landing-jobs.features .cols .col > *:not(:first-child) {
        flex: 1 1 auto;
    }
}

@media (max-width: 480px) {
    .page-section-landing-jobs.features .cols {
        gap: var(--space5);
    }

    .page-section-landing-jobs.features .cols .col {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;
    }
}

.page-section-landing-jobs.features .cols .col .icon,
.page-section-landing-jobs.features .cols .col .illustration {
    width: var(--space5);
    height: var(--space5);
}

.page-section-landing-jobs.features .icon-jobs circle {
    fill: var(--theme-jobs-triad-01);
}

.page-section-landing-jobs.features .illustration-console-company-profile .background-stroke {
    stroke: var(--theme-jobs-triad-02);
    opacity: 1;
}

.page-section-landing-jobs.features .illustration-no-spam circle.background-fill {
    fill: var(--theme-jobs-triad-03);
    opacity: 1;
}

.page-section-landing-jobs.features .illustration-no-spam .background-stroke {
    stroke: var(--theme-text-5);
}

.page-section-landing-jobs.features .cols .col .title {
    margin-top: var(--space4);
}

@media (min-width: 481px) and (max-width: 900px) {
    .page-section-landing-jobs.features .cols .col .title {
        margin-top: var(--space2);
    }

    .page-section-landing-jobs.features .cols .col .title span {
        display: block;
    }
}

@media (max-width: 480px) {
    .page-section-landing-jobs.features .cols .col .title {
        margin-bottom: var(--space4);
    }
}

.page-section-landing-jobs.features .cols .col p {
    font-size: var(--t-size1);
    margin-top: var(--space4);
}

@media (max-width: 768px) {
    .page-section-landing-jobs.features .cols .col p {
        margin-top: var(--space3);
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .page-section-landing-jobs.features .cols .col p {
        margin-top: var(--space3_5);
    }
}

/* Profiled-companies */
.main-landing-jobs .page-section.profiled-companies {
    max-width: none;
    margin: 0;
    padding-top: calc(var(--space6) + var(--space4));
    padding-bottom: var(--space6);
    background: var(--theme-jobs-trust-background);

    width: 100vw;
    margin-left: -6.25vw;
    margin-right: -6.25vw;
    padding-left: 6.25vw;
    padding-right: 6.25vw;
}

@media (min-width: 481px) and (max-width: 768px) {
    .main-landing-jobs .page-section.profiled-companies {
        margin-left: -8vw;
        margin-right: -8vw;
        padding-left: 8vw;
        padding-right: 8vw;
    }
}

@media (min-width: 1371px) {
    .main-landing-jobs .page-section.profiled-companies {
        margin-left: calc((100vw - 1200px) / 2 * -1);
        margin-right: calc((100vw - 1200px) / 2 * -1);
        padding-left: calc((100vw - 1200px) / 2);
        padding-right: calc((100vw - 1200px) / 2);
    }
}

.page-section-landing-jobs.profiled-companies .page-section-heading {
    margin-bottom: calc(var(--space5) + var(--space2_5));
}

.page-section-landing-jobs.profiled-companies .logo-cloud-artwork {
    position: relative;
}

.page-section-landing-jobs.profiled-companies .logo-cloud {
    z-index: 20;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.page-section-landing-jobs.profiled-companies .logo-cloud img {
    height: var(--space5);
    width: auto;
    margin-bottom: var(--space4);
    margin-right: calc(var(--space5) + var(--space2));
}

@media (max-width: 768px) {
    .page-section-landing-jobs.profiled-companies .logo-cloud img {
        height: var(--space4_5);
        margin-bottom: var(--space3);
        margin-right: calc(var(--space4) + 11px);
    }

    @media (max-width: 320px) {
        .page-section-landing-jobs.profiled-companies .logo-cloud img {
            height: calc(var(--space4_5) - 10px);
            margin-bottom: calc(var(--space3) - 6px);
            margin-right: calc(var(--space4) - 11px);
        }
    }

    @media (min-width: 321px) and (max-width: 460px) {
        .page-section-landing-jobs.profiled-companies .logo-cloud img {
            --shrink: calc(calc(460px - 100vw) * 0.07);
            height: calc(var(--space4_5) - var(--shrink));
            --shrinkV: calc(calc(460px - 100vw) * 0.04);
            margin-bottom: calc(var(--space3) - var(--shrinkV));
        }
    }
}

@media (min-width: 769px) and (max-width: 920px) {
    .page-section-landing-jobs.profiled-companies .logo-cloud img {
        --shrink: calc(calc(920px - 100vw) * 0.05);
        height: calc(var(--space4_5) + var(--space2) - var(--shrink));
        --shrinkV: calc(calc(920px - 100vw) * 0.03);
        margin-bottom: calc(var(--space3) - var(--shrinkV));
        --shrinkH: calc(calc(920px - 100vw) * 0.03);
        margin-right: calc(var(--space4_5) - var(--shrinkH));
    }
}

@media (min-width: 921px) and (max-width: 1200px) {
    .page-section-landing-jobs.profiled-companies .logo-cloud img {
        --shrink: calc(calc(920px - 100vw) * 0.05);
        height: calc(var(--space5) - var(--shrink));
        --shrinkV: calc(calc(920px - 100vw) * 0.03);
        margin-bottom: calc(var(--space3) - var(--shrinkV));
        --shrinkH: calc(calc(920px - 100vw) * 0.03);
        margin-right: calc(var(--space4_5) - var(--shrinkH));
    }
}

.vapor-globe {
    width: calc(var(--space6) + var(--space3));
    height: calc(var(--space6) + var(--space3));
    border-radius: calc(var(--space5) + var(--space2));
    background: var(--theme-jobs-vapor-globe);
}

.page-section-landing-jobs.profiled-companies .vapor-globe {
    z-index: 10;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

/* Sign up */
[data-anchor-signup=""] {
    position: absolute;
    display: block;
    height: 0;
    margin-top: calc(var(--space4) * -1);
}

.console-label {
    font-size: var(--t-size-1);
}

.main-landing-jobs .page-section.signup {
    max-width: none;
    margin: 0;
    padding-top: var(--space5_5);
    padding-bottom: var(--space6);
}

.main-landing-jobs .page-section.signup p.description {
    color: var(--theme-text-2);
}

.main-landing-jobs .page-section.signup .fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.main-landing-jobs .page-section.signup .fieldset + .fieldset {
    margin-top: calc(var(--space5) + var(--space3));
}

.main-landing-jobs .page-section.signup .fieldset + .title {
    margin-top: calc(var(--space5) + var(--space3));
    margin-bottom: calc(var(--space4) + var(--space2));
    color: var(--theme-text-2);
}

.main-landing-jobs .page-section.signup .fieldset + .title .icon {
    width: 1.125em;
    height: 1.125em;
}

.main-landing-jobs .page-section.signup .fieldset + .title .icon-fill-stroke {
    fill: var(--theme-text-2);
    stroke: var(--theme-text-2);
}

.main-landing-jobs .page-section.signup .fieldset legend {
    position: relative;
    display: block;
}

.main-landing-jobs .page-section.signup .fieldset > div {
    position: relative;
}

.main-landing-jobs .page-section.signup .fieldset legend + * {
    margin-top: var(--space4);
}

.console-label[for="form-email"] {
    margin-top: var(--space2_5);
}

.console-label[for="form-roles"],
.console-label[for="form-locations"],
.console-label[for="form-tech-stack"] {
    margin-top: calc((var(--space4) + var(--space2)) * -1);
    position: absolute;
    top: 0;
    left: 0;
}

.main-landing-jobs .page-section.signup .fieldset-locations .form-cols,
.main-landing-jobs .page-section.signup .fieldset-locations .form-separator {
    margin-left: var(--space2_5);
}

.main-landing-jobs .page-section.signup .fieldset-locations .form-cols,
.main-landing-jobs .page-section.signup .fieldset-tech-stack .form-cols {
    margin-bottom: var(--space4);
}

.main-landing-jobs .page-section.signup .fieldset .content-extension:not(.is-hidden),
.main-landing-jobs .page-section.signup .fieldset .content-extension-launch:not(.is-hidden) {
    max-height: 120px;
    padding-bottom: 2px;
}

.main-landing-jobs .page-section.signup .fieldset .content-extension-launch,
.main-landing-jobs .page-section.signup .fieldset .content-extension {
    margin: 0;
}

.main-landing-jobs .page-section.signup .fieldset .content-extension-launch:not(.is-hidden) {
    margin-top: calc(var(--space2) * -1);
}

.main-landing-jobs .page-section.signup .fieldset .content-extension-launch > * {
    margin-top: var(--space2);
}

.main-landing-jobs .page-section.signup .fieldset .content-extension-launch > span {
    display: inline-block;
    margin-right: var(--space2);
}

.main-landing-jobs .page-section.signup .fieldset input {
    max-width: 330px;
    width: 100%;
}

.main-landing-jobs .page-section.signup .form-cols {
    columns: 3 200px;
}

.main-landing-jobs .page-section.signup .form-cols > * {
    /* -webkit-column-break-inside: avoid; */
    /* page-break-inside: avoid; */
    break-inside: avoid;
}

.main-landing-jobs .page-section.signup .content-extension .title {
    margin-bottom: var(--space3);
}

.main-landing-jobs .page-section.signup .content-extension p.small {
    margin-bottom: var(--space3_5);
}

.main-landing-jobs .page-section.signup .content-extension div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.main-landing-jobs .page-section.signup .content-extension div .console-input-text {
    flex: 1 1 auto;
}

.main-landing-jobs .page-section.signup .content-extension div .console-button-text {
    flex: 0 0 auto;
    margin-left: var(--space3_5);
}

@media (min-width: 891px) {
    .main-landing-jobs .page-section.signup .fieldset {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
    }

    .main-landing-jobs .page-section.signup .fieldset legend {
        width: 30%;
        flex: 0 0 auto;
    }

    .main-landing-jobs .page-section.signup .fieldset > div,
    .main-landing-jobs .page-section.signup .fieldset > input {
        flex: 1 1 auto;
        margin-left: var(--space5_5);
    }

    .main-landing-jobs .page-section.signup .fieldset legend + * {
        margin-top: calc(var(--space4) + var(--space2_5));
    }

    .main-landing-jobs .page-section.signup .fieldset-locations .form-cols,
    .main-landing-jobs .page-section.signup .fieldset-tech-stack .form-cols {
        margin-bottom: var(--space4_5);
    }
}
