<div class="mars-illustration dtn-table" data-dtn-table>
    <div class="dtn-table-grid">
        <div class="cell cell-meta cell-header">Property</div>
        <div class="cell cell-header">DTN</div>
        <div class="cell cell-header">TCP/IP</div>
        <div class="cell cell-meta">End-to-end link</div>
        <div class="cell">Intermittent</div>
        <div class="cell">Continuous</div>
        <div class="cell cell-meta">Propagation delay</div>
        <div class="cell">Long (IP timeouts)</div>
        <div class="cell">Short</div>
        <div class="cell cell-meta">Reliability</div>
        <div class="cell">Low</div>
        <div class="cell">High</div>
        <div class="cell cell-meta">Link data rate</div>
        <div class="cell">Asymmetric</div>
        <div class="cell">Symmetric</div>
        <div class="cell cell-meta">Protocol</div>
        <div class="cell">Bundle Protocol</div>
        <div class="cell">TCP/IP, UDP/IP</div>
    </div>
</div>