<div class="mars-illustration globe-maps">
    <div class="globe-map globe-submarine-cables">
        <img src="/img/mars/globe-submarine-cable.jpg" alt="Submarine cable map">
        <span class="mars-illustration-text">Submarine cable map</span>
        <span class="mars-illustration-text-small"><a class="link" target="_blank" href="maps.esri.com/rc/cable/index.html" title="maps.esri.com/rc/cable/index.html">source {{ partial "icons/external-link.html" }}</a></span>
    </div>
    <div class="globe-map globe-starlink">
        <img src="/img/mars/globe-starlink.jpg" alt="Starlink map">
        <span class="mars-illustration-text">Starlink map</span>
        <span class="mars-illustration-text-small"><a class="link" target="_blank" href="https://satellitemap.space" title="https://satellitemap.space">source {{ partial "icons/external-link.html" }}</a></span>
    </div>
</div>