<div class="artwork">
    <img class="artwork-background" src="/img/research/mars/artwork-bg.jpg">
    <div class="artwork-story">
        <div class="mars-artwork-orbit mars-artwork-orbit-earth"></div>
        <div class="mars-artwork-orbit mars-artwork-orbit-satellite"></div>
        <div class="mars-artwork-orbit mars-artwork-orbit-mars"></div>
        <div class="mars-artwork-round-link mars-artwork-round-link-left">
            {{ partial "components/research/mars/artwork/half-circle.html" }}
        </div>
        <div class="mars-artwork-data-bundle mars-artwork-data-bundle-left">
            {{ partial "components/research/mars/artwork/data-bundle-earth.html" }}
        </div>
        <div class="mars-artwork-round-link mars-artwork-round-link-right">
            {{ partial "components/research/mars/artwork/half-circle.html" }}
        </div>
        <div class="mars-artwork-data-bundle mars-artwork-data-bundle-right">
            {{ partial "components/research/mars/artwork/data-bundle-mars.html" }}
        </div>
        <div class="mars-artwork-center">
            {{ partial "components/research/mars/shared/the-earth.html" (dict "context" . "isLarge" "true") }}
            <div class="mars-artwork-satellite-vertical-layout">
                <div class="mars-artwork-satellite-move mars-artwork-satellite-move-1">
                    <img class="move1" src="/img/research/mars/artwork-satellite-outline.png">
                </div>
                <div class="mars-artwork-satellite-move mars-artwork-satellite-move-2">
                    <img class="move2" src="/img/research/mars/artwork-satellite-outline.png">
                </div>
                <div class="mars-artwork-satellite-move mars-artwork-satellite-move-3">
                    <img class="move3" src="/img/research/mars/artwork-satellite-outline.png">
                </div>
                <div class="mars-artwork-satellite-move mars-artwork-satellite-move-4">
                    <img class="move4" src="/img/research/mars/artwork-satellite-outline.png">
                </div>
                <div class="mars-artwork-satellite-move mars-artwork-satellite-move-5">
                    <img class="move5" src="/img/research/mars/artwork-satellite-outline.png">
                </div>
                <div class="mars-artwork-satellite">
                    <img class="back2" src="/img/research/mars/artwork-satellite-backdrop2.png">
                    <img class="back1" src="/img/research/mars/artwork-satellite-backdrop1.png">
                    <img class="front" src="/img/research/mars/artwork-satellite.png">
                </div>
                <div class="mars-artwork-satellite-move mars-artwork-satellite-move-6">
                    <img class="move1" src="/img/research/mars/artwork-satellite-outline.png">
                </div>
                <div class="mars-artwork-satellite-move mars-artwork-satellite-move-7">
                    <img class="move2" src="/img/research/mars/artwork-satellite-outline.png">
                </div>
                <div class="mars-artwork-satellite-move mars-artwork-satellite-move-8">
                    <img class="move3" src="/img/research/mars/artwork-satellite-outline.png">
                </div>
                <div class="mars-artwork-satellite-move mars-artwork-satellite-move-9">
                    <img class="move4" src="/img/research/mars/artwork-satellite-outline.png">
                </div>
                <div class="mars-artwork-satellite-move mars-artwork-satellite-move-10">
                    <img class="move5" src="/img/research/mars/artwork-satellite-outline.png">
                </div>
            </div>
            <div class="mars-artwork-satellite-move mars-artwork-satellite-move-1">
                <img class="move1" src="/img/research/mars/artwork-satellite-outline.png">
            </div>
            <div class="mars-artwork-satellite-move mars-artwork-satellite-move-2">
                <img class="move2" src="/img/research/mars/artwork-satellite-outline.png">
            </div>
            <div class="mars-artwork-satellite-move mars-artwork-satellite-move-3">
                <img class="move3" src="/img/research/mars/artwork-satellite-outline.png">
            </div>
            <div class="mars-artwork-satellite-move mars-artwork-satellite-move-4">
                <img class="move4" src="/img/research/mars/artwork-satellite-outline.png">
            </div>
            <div class="mars-artwork-satellite-move mars-artwork-satellite-move-5">
                <img class="move5" src="/img/research/mars/artwork-satellite-outline.png">
            </div>
            <div class="mars-artwork-satellite">
                <img class="back2" src="/img/research/mars/artwork-satellite-backdrop2.png">
                <img class="back1" src="/img/research/mars/artwork-satellite-backdrop1.png">
                <img class="front" src="/img/research/mars/artwork-satellite.png">
            </div>
            <div class="mars-artwork-satellite-move mars-artwork-satellite-move-6">
                <img class="move1" src="/img/research/mars/artwork-satellite-outline.png">
            </div>
            <div class="mars-artwork-satellite-move mars-artwork-satellite-move-7">
                <img class="move2" src="/img/research/mars/artwork-satellite-outline.png">
            </div>
            <div class="mars-artwork-satellite-move mars-artwork-satellite-move-8">
                <img class="move3" src="/img/research/mars/artwork-satellite-outline.png">
            </div>
            <div class="mars-artwork-satellite-move mars-artwork-satellite-move-9">
                <img class="move4" src="/img/research/mars/artwork-satellite-outline.png">
            </div>
            <div class="mars-artwork-satellite-move mars-artwork-satellite-move-10">
                <img class="move5" src="/img/research/mars/artwork-satellite-outline.png">
            </div>
            {{ partial "components/research/mars/shared/the-mars.html" (dict "context" . "isLarge" "true") }}
        </div>
    </div>
</div>