<div class="toc toc-left" data-toc>
    <h5 class="title title-4">Contents</h5>
    <span data-toc-indicator class="toc-indicator"></span>
    <ul data-scroll-track>
        <li class="toc-item"><a data-toc-link class="toc-link" data-toc-wrapper="wrapper-1" href="#a-earths-internet">Earth's internet</a></li>
        <li class="toc-item"><a data-toc-link class="toc-link" data-toc-wrapper="wrapper-2" href="#a-the-problem-with-connecting-mars--earth">The problem with connecting Mars & Earth</a></li></li>
        <li class="toc-item"><a data-toc-link class="toc-link" data-toc-wrapper="wrapper-3" href="#a-separate-earth-and-mars-internet">Separate Earth and Mars internet</a></li>
        <li class="toc-item toc-item-sub"><a data-toc-link class="toc-link" data-toc-wrapper="wrapper-4" href="#a-blockchain-crypto--eventual-consistency">Blockchain, crypto & eventual consistency</a></li>
        <li class="toc-item"><a data-toc-link class="toc-link" data-toc-wrapper="wrapper-5" href="#a-interplanetary-networking">Interplanetary networking</a></li>
        <li class="toc-item toc-item-sub"><a data-toc-link class="toc-link" data-toc-wrapper="wrapper-6" href="#a-delay-tolerant-networking">Delay-Tolerant Networking</a></li>
        <li class="toc-item toc-item-sub"><a data-toc-link class="toc-link" data-toc-wrapper="wrapper-7" href="#a-very-long-round-trip-times">Very long round trip times</a></li>
        <li class="toc-item toc-item-sub"><a data-toc-link class="toc-link" data-toc-wrapper="wrapper-8" href="#a-overlay-network">Overlay network</a></li>
        <li class="toc-item"><a data-toc-link class="toc-link" data-toc-wrapper="wrapper-9" href="#a-transporting-large-files-to-mars">Transporting large files to Mars</a></li>
        <li class="toc-item"><a data-toc-link class="toc-link" data-toc-wrapper="wrapper-10" href="#a-internet-access-on-mars">Internet access on Mars</a></li>
    </ul>
</div>