<div class="mars-illustration dtn-networking">
    <div class="mars-illustration-title">
        {{ partial "icons/delay.html" }}<br/>
        <span class="mars-illustration-text">Delay-Tolerant Networking</span>
    </div>
    <div class="dtn-networking-main">
        <div class="left">
            {{ partial "components/research/mars/shared/the-earth.html" }}
            {{ partial "components/research/mars/dtn-networking/earth-networking.html" }}
            {{ partial "components/research/mars/dtn-networking/earth-networking-small.html" }}
        </div>
        <div class="mid">
            <div class="dtn-networking-mid-top">
                {{ partial "components/research/mars/shared/link.html" }}
                {{ partial "components/research/mars/shared/link-vertical.html" }}
                <div class="dtn-networking-bundle-small"></div>
                {{ partial "components/research/mars/shared/link.html" }}
                {{ partial "components/research/mars/shared/link-vertical.html" }}
                {{ partial "components/research/mars/shared/satellite-small.html" }}
                {{ partial "components/research/mars/shared/link.html" }}
                {{ partial "components/research/mars/shared/link-vertical.html" }}
                <div class="dtn-networking-bundle-small"></div>
                {{ partial "components/research/mars/shared/link.html" }}
                {{ partial "components/research/mars/shared/link-vertical.html" }}
            </div>
            <div class="mars-illustration-caption">
                {{ partial "components/research/mars/dtn-networking/bundle-indicators.html" }}
                {{ partial "components/research/mars/dtn-networking/bundle-indicators-vertical.html" }}
                <span class="mars-illustration-text">Data bundle</span>
            </div>
        </div>
        <div class="right">
            {{ partial "components/research/mars/shared/the-mars.html" }}
            {{ partial "components/research/mars/dtn-networking/mars-networking.html" }}
            {{ partial "components/research/mars/dtn-networking/mars-networking-small.html" }}
        </div>
    </div>
    <div class="dtn-networking-bottom">
        {{ partial "components/research/mars/dtn-networking/filled-node.html" }}
        <span class="mars-illustration-icon-text">{{ partial "icons/checkmark.html" }} <span class="mars-illustration-text">Node bundle storage</span></span>
    </div>
</div>