<div class="mars-illustration ship-youtube">
    <div class="mars-illustration-title">
        {{ partial "icons/youtube.html" }}<br/>
        <span class="mars-illustration-text">Ship YouTube *ONLY* to Mars</span>
    </div>
    <div class="ship-youtube-main">
        <div class="ship-youtube-step ship-youtube-step-1">
            {{ partial "components/research/mars/ship-youtube/aws-snowball.html"}}
            <span class="mars-illustration-text">AWS<br>Snowball</span>
        </div>
        <div class="ship-youtube-link">
            {{ partial "components/research/mars/shared/link.html" }}
        </div>
        <div class="ship-youtube-step ship-youtube-step-2">
            {{ partial "components/research/mars/ship-youtube/payload-grid.html"}}
            <span class="mars-illustration-text">× 745</span>
        </div>
        <div class="ship-youtube-link">
            {{ partial "components/research/mars/shared/link.html" }}
        </div>
        <div class="ship-youtube-step ship-youtube-step-3">
            {{ partial "components/research/mars/ship-youtube/falcon-heavy.html"}}
            <span class="mars-illustration-text">SpaceX<br>Falcon<br>Heavy</span>
        </div>
        <div class="ship-youtube-link">
            {{ partial "components/research/mars/shared/link.html" }}
        </div>
        <div class="ship-youtube-step ship-youtube-step-4">
            <div class="ship-youtube-falcon-heavy-grid">
                {{ partial "components/research/mars/ship-youtube/falcon-heavy.html"}}
                {{ partial "components/research/mars/ship-youtube/falcon-heavy.html"}}
                {{ partial "components/research/mars/ship-youtube/falcon-heavy.html"}}
                {{ partial "components/research/mars/ship-youtube/falcon-heavy.html"}}
                {{ partial "components/research/mars/ship-youtube/falcon-heavy.html"}}
                {{ partial "components/research/mars/ship-youtube/falcon-heavy.html"}}
                {{ partial "components/research/mars/ship-youtube/falcon-heavy.html"}}
                {{ partial "components/research/mars/ship-youtube/falcon-heavy.html"}}
                {{ partial "components/research/mars/ship-youtube/falcon-heavy.html"}}
                {{ partial "components/research/mars/ship-youtube/falcon-heavy.html"}}
            </div>
            <span class="mars-illustration-text">× 10</span>
        </div>
    </div>
    <div class="mars-illustration-closing">
        <div class="mars-illustration-closing-separator">
            <div class="mars-illustration-closing-line"></div>
            <span class="mars-illustration-text-emoji">💸</span>
        </div>
        <span class="mars-illustration-text-large"><span>~$</span>1,014,000,000</span>
        <span class="mars-illustration-text">~$946,000,000 shipping</span>
        <span class="mars-illustration-text">~$68,000,000 storage</span>
    </div>
</div>