/* Console Feature page type
   ========================================================================== */

.page-section-feature-root {
    margin-right: min(26vw, 400px);
}

.feature-collapsible-cta .box-collapsible.is-expanded .box-collapsible-content {
    max-height: 400px;
}

.feature-content-wrapper .page-section .count {
    color: var(--theme-text-3);
    font-style: italic;
    font-size: var(--t-size0);
    margin-left: calc(var(--space2) + var(--space1));
}

.feature-split {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: calc(var(--space4) + var(--space3));
    flex-direction: row-reverse;
    min-height: 520px;
}

.feature-split .feature-content-wrapper .inline-filters-wrapper.is-hidden {
    display: none;
}

.feature-split .feature-aside {
    flex: 0 0 auto;
    width: 26vw;
    max-width: 400px;
}

.feature-split .feature-aside.is-hidden {
    display: none;
}

.feature-split .feature-content-wrapper {
    flex: 1 1 auto;
}

.inline-filters-wrapper .box-collapsible.is-expanded .box-collapsible-content {
    max-height: 400px;
}

.feature-split .feature-aside .feature-aside-content {
    padding-left: 5vw;
    width: 26vw;
    max-width: 400px;
    transform: translateY(-48px);
    margin-bottom: -48px;
    padding-top: 48px;
    padding-bottom: var(--space3);
}

.feature-split .feature-content-wrapper .console-filters .show-by,
.feature-split .feature-content-wrapper .console-filters .sort-by,
.feature-split .feature-content-wrapper .console-filters .group-by {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.feature-split .console-filters > * > * {
    margin-bottom: var(--space3);
}

.feature-split .feature-content-wrapper .console-filters .show-by > *:not(:last-child),
.feature-split .feature-content-wrapper .console-filters .sort-by > *:not(:last-child),
.feature-split .feature-content-wrapper .console-filters .group-by > *:not(:last-child) {
    margin-right: var(--space3);
}

.feature-split .feature-content-wrapper .console-filters > :last-child {
    margin-bottom: calc(var(--space3) * -1);
}

.console-filters .console-checkbutton.color-green input + [for="weekly-pick-filter"] .icon-console-mini-filled,
.console-filters .console-checkbutton.color-green input + [for="weekly-pick-filter"]:hover .icon-console-mini-filled,
.console-filters .console-checkbutton.color-green input:checked + [for="weekly-pick-filter"] .icon-console-mini-filled,
.console-filters .console-checkbutton.color-green input:checked + [for="weekly-pick-filter"]:hover .icon-console-mini-filled {
    fill: var(--c-green-06);
    width: 1.5em;
    height: 1.5em;
}

.console-filters .console-checkbutton.color-green input + [for="weekly-pick-filter"] .icon-console-mini-filled .alt-prompt,
.console-filters .console-checkbutton.color-green input + [for="weekly-pick-filter"]:hover .icon-console-mini-filled .alt-prompt,
.console-filters .console-checkbutton.color-green input:checked + [for="weekly-pick-filter"] .icon-console-mini-filled .alt-prompt,
.console-filters .console-checkbutton.color-green input:checked + [for="weekly-pick-filter"]:hover .icon-console-mini-filled .alt-prompt {
    fill: var(--c-white-00-absolute);
}

.feature-split .console-filters.is-showing-all .select-all,
.feature-split .console-filters:not(.is-showing-all) .clear-all {
    display: none;
}

.feature-split .feature-aside .console-filters .console-label {
    display: block;
    margin-bottom: var(--space1);
}

.feature-split .console-filters .console-select {
    flex: 0 0 auto;
}

.feature-split .feature-content-wrapper .page-section:nth-child(1) {
    margin-bottom: calc(var(--space4) + var(--space3));
}

.feature-split .feature-content-wrapper .page-section:nth-child(2) {
    margin-top: 0;
}

.feature-items > *:not(:last-child) {
    margin-bottom: var(--space3);
}

.feature-card-empty-placeholder {
    min-height: calc(var(--space7) - var(--space4));
}

.feature-card-empty-placeholder.is-hidden {
    display: none;
}

.feature-card-empty-placeholder > * {
    opacity: 0.6;
    text-align: center;
}

.feature-card-empty-placeholder .icon {
    margin-bottom: var(--space3);
    width: var(--t-size14);
    height: var(--t-size14);
}

.feature-content-wrapper .page-section:nth-child(2) .page-section-heading .right {
    margin-top: 6px; /* Visual adjustment to baseline */
}

@media (max-width: 768px) {
    .page-section-feature-root {
        margin-right: 0;
    }

    .feature-collapsible-cta {
        display: block;
    }

    .feature-full-cta {
        display: none;
    }

    .inline-filters-wrapper {
        margin-top: calc(var(--space3) * -1);
    }
}

@media (min-width: 769px) {
    .feature-collapsible-cta {
        display: none;
    }

    .feature-full-cta {
        display: block;
    }

    @media (max-width: 1024px) {
        .page-section-feature-root {
            margin-right: 0;
        }
    }

    @media (min-width: 1025px) {
        .inline-filters-wrapper .box-collapsible {
            display: none;
        }
    }
}
