/* Console Landing page
   ========================================================================== */

html {
    scroll-behavior: smooth;
}

body {
    transition: var(--a-layout-active);
}

body.page-landing.checkpoint-other-content {
    background: var(--theme-content-bg-1);
    transition: var(--a-layout);
}

body.page-landing.checkpoint-other-content .hero .lines {
    opacity: 0;
}

@media (max-width: 768px) {
    .main-landing {
        margin-top: var(--space6);
        margin-bottom: calc(var(--space6) - var(--space4));
    }
}

@media (min-width: 769px) {
    .main-landing {
        margin: max(calc(var(--space6) - var(--space3)), 10vh) 0 calc(var(--space6) - var(--space2));
    }
}

.page-section-landing {
    max-width: 600px;
}

@media (min-width: 1280px) {
    .page-section-landing {
        max-width: 760px;
    }
}

@media (min-width: 1280px) {
    .main-landing p,
    .page-landing .main-landing .quote {
        font-size: var(--t-size1);
    }

    .main-landing p.intro {
        font-size: var(--t-size2);
    }

    .main-landing p.description {
        font-size: var(--t-size3);
    }

    .main-landing p.small {
        font-size: var(--t-size0);
    }

    .main-landing p.x-small {
        font-size: var(--t-size-1);
    }

    .page-landing .main-landing ul li {
        font-size: var(--t-size1);
        line-height: var(--t-lH3);
    }

    .main-landing .pre {
        font-size: var(--t-size-1);
    }

    .main-landing .title-1 {
        font-size: var(--t-size9);
    }

    .main-landing .title-2 {
        font-size: var(--t-size6);
    }

    .main-landing .title-3 {
        font-size: var(--t-size3);
    }

    .main-landing .title-4 {
        font-size: var(--t-size1);
    }

    .main-landing .title-5 {
        font-size: var(--t-size0);
    }

    .main-landing .title-6 {
        font-size: var(--t-size1);
    }

    .main-landing .console-button,
    .main-landing [class^="console-button"],
    .main-landing [class*=" console-button"] {
        font-size: var(--t-size1);
    }

    .main-landing .console-button.console-button-medium,
    .main-landing [class^="console-button"].console-button-medium,
    .main-landing [class*=" console-button"].console-button-medium {
        font-size: var(--t-size0);
    }

    .main-landing .console-button.console-button-small,
    .main-landing [class^="console-button"].console-button-small,
    .main-landing [class*=" console-button"].console-button-small {
        font-size: var(--t-size-1);
    }

    .main-landing input.console-input-text,
    .main-landing select.console-select {
        font-size: var(--t-size1);
    }

    .main-landing input.console-input-text.console-input-medium,
    .main-landing select.console-select.console-input-medium {
        font-size: var(--t-size0);
    }

    .main-landing input.console-input-text.console-input-small,
    .main-landing select.console-select.console-input-small {
        font-size: var(--t-size-1);
    }

    .main-landing input.console-input-radio + label,
    .main-landing input.console-input-toggle + label {
        font-size: var(--t-size-1);
    }

    .page-landing .page-section-landing.what-we-do-2 .col p {
        font-size: var(--t-size2);
    }
}

.page-section:not(:first-child).page-section-landing {
    margin-top: calc(var(--space6) - var(--space3));
}

.separator {
    margin-top: calc(var(--space6) - var(--space3));
}

@media (max-width: 1023px) {
    .page-section:not(:first-child).page-section-landing {
        margin-top: calc(var(--space6) - var(--space4));
    }

    .separator {
        margin-top: calc(var(--space6) - var(--space4));
    }
}

@media (max-width: 480px) {
    .page-section:not(:first-child).page-section-landing {
        margin-top: calc(var(--space6) - var(--space4_5));
    }

    .separator {
        margin-top: calc(var(--space6) - var(--space5));
    }
}

@media (max-width: 360px) {
    .page-section:not(:first-child).page-section-landing {
        margin-top: calc(var(--space6) - var(--space5));
    }
}

.page-landing .main-nav .menu-popup-wrapper {
    display: none;
}

@media (min-width: 769px) {
    .page-landing .main-nav ul {
        display: none;
    }
}

@media (max-width: 768px) {
    .page-landing .main-nav > .menu-toggle {
        display: none;
    }

    .page-landing .main-nav > .theme-switcher {
        display: flex;
    }
}

.main-landing .quote {
    font-size: var(--t-size0);
    background: none;
}

.main-landing ul li {
    font-size: var(--t-size0);
}

/* Opening */
.page-section-landing.opening {
    max-width: none;
    display: grid;
    gap: var(--space4_5);
    margin-bottom: var(--space6);
}

@media (max-width: 1023px) {
    .page-section-landing.opening {
        margin-bottom: calc(var(--space6) - var(--space3));
    }
}

@media (max-width: 480px) {
    .page-section-landing.opening {
        margin-bottom: calc(var(--space6) - var(--space4));
    }
}

@media (max-width: 360px) {
    .page-section-landing.opening {
        margin-bottom: calc(var(--space6) - var(--space4_5));
    }
}

@media (min-width: 723px) {
    .page-section-landing.opening {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        align-items: center;
    }
}

@media (min-width: 723px) and (max-width: 800px) {
    .page-section-landing.opening {
        --gapAdjust: calc(calc(800px - 100vw) * 1);
        gap: calc(var(--space4_5) + var(--gapAdjust));
    }
}

.page-section-landing.opening .top {
    z-index: 20;
}

@media (min-width: 723px) {
    .page-section-landing.opening .top {
        min-width: 438px;
    }
}

.page-section-landing.opening .console-form {
    margin: var(--space4_5) 0;
}

.page-section-landing.opening .bottom {
    position: relative;
    z-index: 10;
    display: none;
    justify-self: center;
    max-width: 480px;
    width: 100%;
    height: 100%;
}

@media (min-width: 723px) {
    .page-section-landing.opening .bottom {
        display: block;
    }
}

.page-section-landing.opening .bottom img {
    position: absolute;
    width: 138%;
    min-width: 568px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Trust Signals */
.page-section-landing.trust-signals {
    max-width: none;
    display: grid;
    gap: var(--space4);
}

@media (max-width: 1023px) {
    .page-section-landing.trust-signals {
        padding: calc(var(--space6) - var(--space3)) 0;
    }
}

@media (max-width: 480px) {
    .page-section-landing.trust-signals {
        padding: calc(var(--space6) - var(--space4)) 0;
    }
}

@media (max-width: 360px) {
    .page-section-landing.trust-signals {
        padding: calc(var(--space6) - var(--space4_5)) 0;
    }
}

@media (min-width: 769px) {
    .page-section-landing.trust-signals {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        align-items: center;
    }
}

@media (min-width: 1280px) {
    .page-section-landing.trust-signals {
        gap: var(--space5);
    }
}

@media (min-width: 769px) {
    .page-section-landing.trust-signals .bottom {
        min-width: 438px;
    }
}

@media (min-width: 769px) and (max-width: 920px) {
    .page-section-landing.trust-signals .bottom {
        --shrink: calc(calc(920px - 100vw) * 0.4);
        min-width: calc(438px - var(--shrink));
    }
}

.page-section-landing.trust-signals .bottom p {
    margin-bottom: var(--space4);
}

@media (min-width: 769px) {
    .page-section-landing.trust-signals .bottom p {
        text-align: center;
    }
}

.page-section-landing.trust-signals .logo-cloud-artwork {
    position: relative;
}

.page-section-landing.trust-signals .logo-cloud {
    z-index: 20;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

@media (min-width: 769px) {
    .page-section-landing.trust-signals .logo-cloud {
        justify-content: center;
    }
}

.page-section-landing.trust-signals .logo-cloud img {
    height: var(--space4_5);
    width: auto;
    margin-bottom: var(--space3);
    margin-right: var(--space4_5);
}

@media (max-width: 768px) {
    .page-section-landing.trust-signals .logo-cloud img {
        height: var(--space4_5);
        margin-bottom: var(--space3);
        margin-right: var(--space4);
    }

    @media (max-width: 320px) {
        .page-section-landing.trust-signals .logo-cloud img {
            height: calc(var(--space4_5) - 10px);
            margin-bottom: calc(var(--space3) - 6px);
            margin-right: calc(var(--space4) - 21px);
        }
        .page-section-landing.trust-signals .logo-cloud img:nth-child(even) {
            margin-right: 0;
        }
    }

    @media (min-width: 321px) and (max-width: 460px) {
        .page-section-landing.trust-signals .logo-cloud img {
            --shrink: calc(calc(460px - 100vw) * 0.07);
            height: calc(var(--space4_5) - var(--shrink));
            --shrinkV: calc(calc(460px - 100vw) * 0.04);
            margin-bottom: calc(var(--space3) - var(--shrinkV));
            --shrinkH: calc(calc(460px - 100vw) * 0.15);
            margin-right: calc(var(--space4) - var(--shrinkH));
        }
        .page-section-landing.trust-signals .logo-cloud img:nth-child(even) {
            margin-right: 0;
        }
    }
}

@media (min-width: 769px) and (max-width: 920px) {
    .page-section-landing.trust-signals .logo-cloud img {
        --shrink: calc(calc(920px - 100vw) * 0.05);
        height: calc(var(--space4_5) - var(--shrink));
        --shrinkV: calc(calc(920px - 100vw) * 0.03);
        margin-bottom: calc(var(--space3) - var(--shrinkV));
        --shrinkH: calc(calc(920px - 100vw) * 0.03);
        margin-right: calc(var(--space4_5) - var(--shrinkH));
    }
}

.vapor-globe {
    width: calc(var(--space6) + var(--space3));
    height: calc(var(--space6) + var(--space3));
    border-radius: calc(var(--space5) + var(--space2));
    background: var(--theme-vapor-globe-blue-1);
}

.page-section-landing.trust-signals .vapor-globe {
    z-index: 10;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

/* What we do 1 */
.page-section-landing.what-we-do-1 {
    display: grid;
    gap: var(--space4_5);
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: center;
    max-width: none;
}

@media (max-width: 768px) {
    .page-section-landing.what-we-do-1 {
        grid-auto-columns: 1.3fr 0.7fr;
    }
}

@media (max-width: 660px) {
    .page-section-landing.what-we-do-1 {
        grid-auto-columns: 0.8fr 0;
    }
}

@media (max-width: 480px) {
    .page-section:not(:first-child).page-section-landing.what-we-do-1 {
        margin-top: calc(var(--space6) - var(--space5));
    }
}

@media (max-width: 414px) {
    .page-section-landing.what-we-do-1 {
        grid-auto-columns: 0.85fr 0;
    }
}

.page-section-landing.what-we-do-1 .bottom {
    order: -1;
}

@media (min-width: 769px) and (max-width: 1056px) {
    .page-section-landing.what-we-do-1 .bottom {
        margin-left: calc(calc(100vw - 1056px) * 0.279);
    }
}

@media (max-width: 930px) {
    .page-section-landing.what-we-do-1 .bottom {
        transform: scale(0.9);
    }
}

@media (max-width: 830px) {
    .page-section-landing.what-we-do-1 .bottom {
        transform: scale(0.85);
    }
}

@media (max-width: 768px) {
    .page-section-landing.what-we-do-1 .bottom {
        order: initial;
        margin-left: calc(var(--space4_5) * -1);
    }
}

@media (max-width: 660px) {
    .page-section-landing.what-we-do-1 .bottom {
        margin-left: calc(var(--space2) * -0.6);
        transform: scale(0.8);
    }
}

@media (max-width: 544px) {
    .page-section-landing.what-we-do-1 .bottom {
        margin-left: 0;
        transform: scale(0.75);
    }
}

@media (max-width: 500px) {
    .page-section-landing.what-we-do-1 .bottom {
        margin-left: 0;
        transform: scale(0.7);
    }
}

@media (max-width: 414px) {
    .page-section-landing.what-we-do-1 .bottom {
        margin-left: calc(var(--space4) * -1);
        transform: scale(0.65);
    }
}

.page-section-landing.what-we-do-1 .console-button-text {
    margin-top: var(--space3_5);
}

.page-section-landing.what-we-do-1 .bottom {
    position: relative;
    padding-bottom: calc(var(--space4_5) - var(--space2));
}

.page-section-landing.what-we-do-1 .neon-planes-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
}

.page-section-landing.what-we-do-1 .neon-planes-wrapper .neon-plane {
    bottom: 0;
    top: auto;
    --size: calc(var(--space7) + var(--space3));
}

.page-section-landing.what-we-do-1 .neon-planes-wrapper .neon-planes div {
    transform-origin: 0 100%;
}

.page-section-landing.what-we-do-1 .categories-wrapper {
    position: relative;
    transform: skew(-26.7deg);
    transform-origin: 0 100%;
    margin-left: calc(var(--space4_5) + var(--space2));
}

@media (max-width: 660px) {
    .page-section-landing.what-we-do-1 .categories-wrapper {
        min-width: 176px;
        transform: skew(0deg);
    }
}

.page-section-landing.what-we-do-1 .categories-wrapper .categories:not(:last-child) {
    margin-bottom: var(--space3_5);
}

.page-section-landing.what-we-do-1 .categories-wrapper .categories {
    font-size: var(--t-size0);
    align-items: center;
}

.page-section-landing.what-we-do-1 .categories-wrapper .categories .icon {
    width: calc(var(--space3_5));
    height: calc(var(--space3_5));
    margin-top: 0;
    margin-right: var(--space3);
}

.page-section-landing.what-we-do-1 .console-button-text span.short {
    display: none;
}

@media (max-width: 660px) {
    .page-section-landing.what-we-do-1 .console-button-text span.long {
        display: none;
    }

    .page-section-landing.what-we-do-1 .console-button-text span.short {
        display: block;
    }
}

/* CTA */
.page-section-landing.cta {
    max-width: none;
}

.page-section:not(:first-child).page-section-landing.cta {
    margin-top: calc(var(--space6) + var(--space6) - var(--space4) + 3vw);
    margin-bottom: var(--space6);
}

@media (max-width: 1023px) {
    .page-section:not(:first-child).page-section-landing.cta {
        margin-top: calc(var(--space6) + var(--space6) - var(--space4_5) + 3vw);
        margin-bottom: calc(var(--space6) - var(--space4));
    }
}

@media (max-width: 540px) {
    .page-section:not(:first-child).page-section-landing.cta {
        margin-top: calc(var(--space5) + var(--space6) - var(--space4) + 3vw);
        margin-bottom: var(--space5);
    }
}

@media (max-width: 480px) {
    .page-section:not(:first-child).page-section-landing.cta {
        margin-top: calc(var(--space5) + var(--space6) - var(--space5) + 3vw);
        margin-bottom: var(--space4);
    }
}

@media (max-width: 360px) {
    .page-section:not(:first-child).page-section-landing.cta {
        margin-top: calc(var(--space4_5) + var(--space6) - var(--space5) + 3vw);
        margin-bottom: var(--space3);
    }
}

.page-section-landing.cta .neon-planes-wrapper {
    position: absolute;
    width: 41.55%;
    top: 50%;
    left: 0;
    transform: translateY(-56%);
    z-index: 10;
}

@media (min-width: 769px) and (max-width: 1056px) {
    .page-section-landing.cta .neon-planes-wrapper {
        width: calc(41.55% + (calc(1056px - 100vw) * 0.5));
    }
}

@media (max-width: 768px) {
    .page-section-landing.cta .neon-planes-wrapper {
        width: calc(80% + (calc(768px - 100vw) * 0.3));
        margin-left: 50%;
        transform: translate(-40%, -50%);
    }
}

.page-section-landing.cta .neon-planes-wrapper .neon-planes.all {
    position: relative;
    padding-bottom: 65%;
}

.page-section-landing.cta .neon-planes-wrapper .neon-planes.all .neon-plane.triad-01 {
    margin-left: 20.73%;
}

.page-section-landing.cta .neon-planes-wrapper .neon-planes.all .neon-plane.triad-02 {
    margin-top: 12.5%;
    margin-left: 0;
}

.page-section-landing.cta .neon-planes-wrapper .neon-planes.all .neon-plane.triad-03 {
    margin-top: 20.5%;
    margin-left: 32.8%;
}

.page-section-landing.cta .subscribe-cta {
    position: relative;
    background: none;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 20;
}

@media (max-width: 768px) {
    .page-section-landing.cta .subscribe-cta {
        padding: 0;
    }
}

.page-section-landing.cta .title {
    margin: 0;
}

.page-section-landing.cta p {
    display: none;
}

@media (min-width: 769px) {
    .subscribe-cta.layout-wide.size-large .console-form {
        flex-flow: row nowrap;
        align-items: center;
        width: auto;
    }

    .subscribe-cta.layout-wide.size-large .console-form .console-button {
        margin-top: 0;
        margin-left: var(--space3);
    }
}

@media (min-width: 1056px) {
    .subscribe-cta.layout-wide.size-large .console-form {
        min-width: 45%;
    }
}
