/* Console Landing page
   ========================================================================== */

html {
    scroll-behavior: smooth;
}

body {
    transition: var(--a-layout-active);
}

body.page-landing.checkpoint-other-content {
    background: var(--theme-content-bg-1);
    transition: var(--a-layout);
}

body.page-landing.checkpoint-other-content .hero .lines {
    opacity: 0;
}

@media (max-width: 768px) {
    .main-landing {
        margin-top: var(--space6);
        margin-bottom: calc(var(--space6) - var(--space4));
    }
}

@media (min-width: 769px) {
    .main-landing {
        margin: max(calc(var(--space6) - var(--space3)), 10vh) 0 calc(var(--space6) - var(--space2));
    }
}

.page-section-landing {
    max-width: 600px;
}

@media (min-width: 1280px) {
    .page-section-landing {
        max-width: 760px;
    }
}

@media (min-width: 1280px) {
    .main-landing p,
    .main-landing .quote {
        font-size: var(--t-size1);
    }

    .main-landing p.intro {
        font-size: var(--t-size2);
    }

    .main-landing p.description {
        font-size: var(--t-size3);
    }

    .main-landing p.small {
        font-size: var(--t-size0);
    }

    .main-landing p.x-small {
        font-size: var(--t-size-1);
    }

    .main-landing ul li {
        font-size: var(--t-size0);
    }

    .main-landing .pre {
        font-size: var(--t-size-1);
    }

    .main-landing .title-1 {
        font-size: var(--t-size9);
    }

    .main-landing .title-2 {
        font-size: var(--t-size6);
    }

    .main-landing .title-3 {
        font-size: var(--t-size3);
    }

    .main-landing .title-4 {
        font-size: var(--t-size1);
    }

    .main-landing .title-5 {
        font-size: var(--t-size0);
    }

    .main-landing .title-6 {
        font-size: var(--t-size1);
    }

    .main-landing .console-button,
    .main-landing [class^="console-button"],
    .main-landing [class*=" console-button"] {
        font-size: var(--t-size1);
    }

    .main-landing .console-button.console-button-medium,
    .main-landing [class^="console-button"].console-button-medium,
    .main-landing [class*=" console-button"].console-button-medium {
        font-size: var(--t-size0);
    }

    .main-landing .console-button.console-button-small,
    .main-landing [class^="console-button"].console-button-small,
    .main-landing [class*=" console-button"].console-button-small {
        font-size: var(--t-size-1);
    }

    .main-landing input.console-input-text,
    .main-landing select.console-select {
        font-size: var(--t-size1);
    }

    .main-landing input.console-input-text.console-input-medium,
    .main-landing select.console-select.console-input-medium {
        font-size: var(--t-size0);
    }

    .main-landing input.console-input-text.console-input-small,
    .main-landing select.console-select.console-input-small {
        font-size: var(--t-size-1);
    }

    .main-landing input.console-input-radio + label,
    .main-landing input.console-input-toggle + label {
        font-size: var(--t-size-1);
    }
}

.page-section:not(:first-child).page-section-landing {
    margin-top: calc(var(--space5) + var(--space3));
}
