/* Console Landing page
   ========================================================================== */

html {
    scroll-behavior: smooth;
}

body {
    transition: var(--a-layout-active);
}

body.page-landing.checkpoint-other-content {
    background: var(--theme-content-bg-1);
    transition: var(--a-layout);
}

body.page-landing.checkpoint-other-content .hero .lines {
    opacity: 0;
}

@media (max-width: 768px) {
    .main-landing {
        margin-top: var(--space6);
        margin-bottom: calc(var(--space6) - var(--space4));
    }
}

@media (min-width: 769px) {
    .main-landing {
        margin: max(calc(var(--space6) - var(--space3)), 10vh) 0 calc(var(--space6) - var(--space2));
    }
}

.page-section-landing {
    max-width: 600px;
}

@media (min-width: 1280px) {
    .page-section-landing {
        max-width: 760px;
    }
}

@media (min-width: 1280px) {
    .main-landing p,
    .main-landing .quote {
        font-size: var(--t-size1);
    }

    .main-landing p.intro {
        font-size: var(--t-size2);
    }

    .main-landing p.description {
        font-size: var(--t-size3);
    }

    .main-landing p.small {
        font-size: var(--t-size0);
    }

    .main-landing p.x-small {
        font-size: var(--t-size-1);
    }

    .main-landing ul li {
        font-size: var(--t-size0);
    }

    .main-landing .pre {
        font-size: var(--t-size-1);
    }

    .main-landing .title-1 {
        font-size: var(--t-size9);
    }

    .main-landing .title-2 {
        font-size: var(--t-size6);
    }

    .main-landing .title-3 {
        font-size: var(--t-size3);
    }

    .main-landing .title-4 {
        font-size: var(--t-size1);
    }

    .main-landing .title-5 {
        font-size: var(--t-size0);
    }

    .main-landing .title-6 {
        font-size: var(--t-size1);
    }

    .main-landing .console-button,
    .main-landing [class^="console-button"],
    .main-landing [class*=" console-button"] {
        font-size: var(--t-size1);
    }

    .main-landing .console-button.console-button-medium,
    .main-landing [class^="console-button"].console-button-medium,
    .main-landing [class*=" console-button"].console-button-medium {
        font-size: var(--t-size0);
    }

    .main-landing .console-button.console-button-small,
    .main-landing [class^="console-button"].console-button-small,
    .main-landing [class*=" console-button"].console-button-small {
        font-size: var(--t-size-1);
    }

    .main-landing input.console-input-text,
    .main-landing select.console-select {
        font-size: var(--t-size1);
    }

    .main-landing input.console-input-text.console-input-medium,
    .main-landing select.console-select.console-input-medium {
        font-size: var(--t-size0);
    }

    .main-landing input.console-input-text.console-input-small,
    .main-landing select.console-select.console-input-small {
        font-size: var(--t-size-1);
    }

    .main-landing input.console-input-radio + label,
    .main-landing input.console-input-toggle + label {
        font-size: var(--t-size-1);
    }
}

.page-section:not(:first-child).page-section-landing {
    margin-top: calc(var(--space6) - var(--space3));
}

@media (min-width: 769px) {
    .main-nav ul {
        display: none;
    }
}

@media (max-width: 768px) {
    .main-nav > .menu-toggle {
        display: none;
    }

    .main-nav > .theme-switcher {
        display: block;
    }
}

.main-landing .quote {
    font-size: var(--t-size0);
}

/* Opening */
.page-section-landing.opening {
    max-width: none;
    display: grid;
    gap: var(--space4_5);
    margin-bottom: var(--space6);
}

@media (min-width: 723px) {
    .page-section-landing.opening {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        align-items: center;
    }
}

@media (min-width: 723px) and (max-width: 800px) {
    .page-section-landing.opening {
        --gapAdjust: calc(calc(800px - 100vw) * 1);
        gap: calc(var(--space4_5) + var(--gapAdjust));
    }
}

.page-section-landing.opening .top {
    z-index: 20;
}

@media (min-width: 723px) {
    .page-section-landing.opening .top {
        min-width: 438px;
    }
}

.page-section-landing.opening .console-form {
    margin: var(--space4_5) 0;
}

.page-section-landing.opening .bottom {
    position: relative;
    z-index: 10;
    display: none;
    justify-self: center;
    max-width: 480px;
    width: 100%;
    height: 100%;
}

@media (min-width: 723px) {
    .page-section-landing.opening .bottom {
        display: block;
    }
}

.page-section-landing.opening .bottom img {
    position: absolute;
    width: 138%;
    min-width: 568px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Trust Signals */
.page-section-landing.trust-signals {
    max-width: none;
    display: grid;
    gap: var(--space4);
}

@media (min-width: 769px) {
    .page-section-landing.trust-signals {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        align-items: center;
    }
}

@media (min-width: 769px) {
    .page-section-landing.trust-signals .bottom {
        min-width: 438px;
    }
}

@media (min-width: 769px) and (max-width: 920px) {
    .page-section-landing.trust-signals .bottom {
        --shrink: calc(calc(920px - 100vw) * 0.4);
        min-width: calc(438px - var(--shrink));
    }
}

.page-section-landing.trust-signals .bottom p {
    margin-bottom: var(--space4);
}

@media (min-width: 769px) {
    .page-section-landing.trust-signals .bottom p {
        text-align: center;
    }
}

.page-section-landing.trust-signals .logo-cloud-artwork {
    position: relative;
}

.page-section-landing.trust-signals .logo-cloud {
    z-index: 20;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

@media (min-width: 769px) {
    .page-section-landing.trust-signals .logo-cloud {
        justify-content: center;
    }
}

.page-section-landing.trust-signals .logo-cloud img {
    height: var(--space4_5);
    width: auto;
    margin-bottom: var(--space3);
    margin-right: var(--space4_5);
}

@media (max-width: 768px) {
    .page-section-landing.trust-signals .logo-cloud img {
        height: var(--space4_5);
        margin-bottom: var(--space3);
        margin-right: var(--space4);
    }

    @media (max-width: 320px) {
        .page-section-landing.trust-signals .logo-cloud img {
            height: calc(var(--space4_5) - 10px);
            margin-bottom: calc(var(--space3) - 6px);
            margin-right: calc(var(--space4) - 21px);
        }
        .page-section-landing.trust-signals .logo-cloud img:nth-child(even) {
            margin-right: 0;
        }
    }

    @media (min-width: 321px) and (max-width: 460px) {
        .page-section-landing.trust-signals .logo-cloud img {
            --shrink: calc(calc(460px - 100vw) * 0.07);
            height: calc(var(--space4_5) - var(--shrink));
            --shrinkV: calc(calc(460px - 100vw) * 0.04);
            margin-bottom: calc(var(--space3) - var(--shrinkV));
            --shrinkH: calc(calc(460px - 100vw) * 0.15);
            margin-right: calc(var(--space4) - var(--shrinkH));
        }
        .page-section-landing.trust-signals .logo-cloud img:nth-child(even) {
            margin-right: 0;
        }
    }
}

@media (min-width: 769px) and (max-width: 920px) {
    .page-section-landing.trust-signals .logo-cloud img {
        --shrink: calc(calc(920px - 100vw) * 0.05);
        height: calc(var(--space4_5) - var(--shrink));
        --shrinkV: calc(calc(920px - 100vw) * 0.03);
        margin-bottom: calc(var(--space3) - var(--shrinkV));
        --shrinkH: calc(calc(920px - 100vw) * 0.03);
        margin-right: calc(var(--space4_5) - var(--shrinkH));
    }
}

.vapor-globe {
    width: calc(var(--space6) + var(--space3));
    height: calc(var(--space6) + var(--space3));
    border-radius: calc(var(--space5) + var(--space2));
    background: var(--theme-vapor-globe-blue-1);
}

.page-section-landing.trust-signals .vapor-globe {
    z-index: 10;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

}
