{{- $showDate := index . "Scheduled for" -}}
{{- $url := index . "URL" }}
{{- $topcategory := index . "Top Category" -}}
{{- $subcategory := index . "Sub Category" -}}
<div class="tool-card" data-card data-date="{{ $showDate }}" data-name="{{ index . "Tool/Product/Project" }}" data-taxonomy="{{ index . "Filter Taxonomy" }}" data-category="{{ $topcategory }}" data-default-group="{{ .defaultGroup }}">
	<div class="tool-card-content">
		<div class="top">
			<a onclick="blur();" class="card-link" href="{{ $url }}" target="_blank" rel="noopener{{ if eq .Sponsored "TRUE" }} sponsored{{ end }}"><span>Visit {{ partial "icons/external-link.html" }}</span></a>
			<div class="left">
            	{{ partial "components/thumbnail-vendor.html" (dict "name" ( index . "Company/Org" ) "image" (print "/" (index . "favicon")) "category" (replace (lower $topcategory) " " "-") ) }}
				<h4 data-searchable class="title title-3">
					{{- $org := index . "Company/Org" -}}
					{{- $name := index . "Tool/Product/Project" -}}
					{{- if in $name $org -}}{{ $name }}{{- else -}}{{ $name }}, from {{ $org }}{{- end -}}
				</h4>
			</div>
			<div class="right">
				<div class="left">
					<h4 class="title title-3">
						{{- $org := index . "Company/Org" -}}
						{{- $name := index . "Tool/Product/Project" -}}
						{{- if in $name $org -}}{{ $name }}{{- else -}}{{ $name }}, from {{ $org }}{{- end -}}
					</h4>
					<p data-searchable class="tool-card-description">{{ index . "What is it?" }}</p>
				</div>
				<div class="taxonomy">
					<div class="categories">
						{{ partial (print "icons/" (replace (lower $topcategory) " " "-") ".html") }}
						<span class="category">{{ $subcategory }}</span>
					</div>
					<div class="tags">
						{{ partial "icons/tag.html" }}
						<span class="tag">{{ .Type }}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom">
			<div class="like-dont-like col-2">
				<div class="left"><p data-searchable class="small"><span>{{ partial "icons/like.html" }} What we like:</span> {{ index . "What we like" }}</p></div>
				<div class="right"><p data-searchable class="small"><span>{{ partial "icons/dislike.html" }} What we don't like:</span> {{ index . "What we dislike" }}</p></div>
			</div>
			<div class="details">
				<div class="left">
					<span class="date">Reviewed: {{ $showDate }}</span>
					{{ if eq .Sponsored "TRUE" -}}
						{{ partial "components/notice-disclosure-item-popup.html" }}
					{{- end }}
				</div>
				{{ with .Interview -}}
					<a onclick="blur();" href="{{ . }}" class="console-button-text console-button-small console-button-triad-03 icon-left" title="Read the Console interview with {{ $org }}">
						{{ partial "icons/console-interview.html" }}
						<span>Console interview</span>
					</a>
				{{- end }}
			</div>
		</div>
	</div>
</div>
