{{ define "main" }}
	{{ $CTATitle := "Interesting Betas by email" }}
	{{ $CTADescription := "Our free weekly newsletter features the latest betas and early access programs. " }}

        <section class="page-section main-tools-category-review-content">
            <h2 class="title title-1">{{ .Params.title }}</h2>
            <p class="description">{{ .Params.summary }}</p>
            <div class="page-meta">
                <p class="small"><a href="#author" class="link" rel="me">{{ .Params.authorName }}</a></p>
                <p class="small">
                    <span class="page-meta-separator">&mdash;</span>
                    {{ .Lastmod.Format "2006-01-02" }}
                </p>
            </div>
        </section>
        {{ partial (print "components/tools/category-review/artwork.html") }}
        <div class="main-tools-category-review-content-split">
            <aside class="main-tools-category-review-aside" data-aside>
                {{ partial (print "components/tools/category-review/" .Params.isSubpage "/aside.html" ) }}
            </aside>
            <section class="page-section main-tools-category-review-content">
                {{ .Content }}
                {{ partial "components/author.html" (dict "context" . "bio" .Params.authorBio "img" .Params.authorImg "name" .Params.authorName ) }}
                {{ partial "subscribe.html" (dict "context" . "layout" "wide" "size" "large" "title" $CTATitle "description" $CTADescription ) }}
            </section>
        </div>
	<script src="/js/tools/category-review.js"></script>
{{ end }}
