{{ define "main" }}
    {{ $CTATitle := "Interesting Tools by email" }}
	{{ $CTADescription := "Our free weekly newsletter picks out the 2-3 most interesting tools. " }}
	<section class="page-section page-section-feature-root">
		<h2 class="title title-1">Developer tools reviews</h2>
		<p class="description">Each week we review the most interesting tools for developers.</p>
        <div class="page-meta">
        <!--
            Pull out the "last checked" timestamp from the first live beta and
            GA beta. Compare the times, and pick the latest time as the "last
            updated" timestamp.
        -->
        {{- $reviewedChecked := false -}}
        {{- range first 1 $.Site.Data.toolsreviewed.items -}}{{- $reviewedChecked = time (index . "Reviewed") -}}{{- end -}}
        {{- $updated := $reviewedChecked -}}
            <p class="small">
				<span>Last updated: {{ $updated.Format "2006-01-02" }}</span>. Read our&nbsp;<a class="link" href="#">selection criteria</a>.
			</p>
            <p class="small">
                <span class="page-meta-separator">&mdash;</span>
				<a onclick="blur();" href="" class="console-button-text console-button-small icon-left submit-tool" title="Submit Tool">
					{{ partial "icons/tool.html" }}
					<span>Submit Tool</span>
				</a>
			</p>
		</div>
	</section>
	<section class="page-section page-section-feature-root">
		<div class="feature-collapsible-cta">
			{{ $subscribeData := (dict "context" . "layout" "wide" "size" "medium" "title" $CTATitle "description" $CTADescription ) }}
			{{ $subscribe := partial "subscribe.html" $subscribeData }}
			{{ partial "components/box-collapsible.html" (dict "title" $CTATitle "style" "blue" "icon" "expand.html" "content" $subscribe) }}
        </div>
		<div class="feature-full-cta">
			{{ partial "subscribe.html" $subscribeData }}
		</div>
	</section>
	<div class="feature-split">
		<aside id="aside-filters-wrapper" class="feature-aside"></aside>
		<div class="feature-content-wrapper" data-aside-anchor data-feature-content-wrapper>
            <section class="page-section inline-filters-wrapper" data-inline-filters-wrapper>
				{{ $open := "<div class=\"feature-aside-content\" data-feature-aside-content>" }}
				{{ $filters := partial "components/tools/filters.html" (dict "dot" $.Site.Data.toolsfilters ) }}
				{{ $close := "</div>" }}
				{{ $content := printf "%s%s%s" $open $filters $close }}
				{{ partial "components/box-collapsible.html" (dict "title" "Filter" "icon" "filter.html" "content" $content) }}
			</section>
			<section class="page-section" data-feature-items-section>
				<div class="page-section-heading">
					<div class="left">
						<h3 class="title title-2"><span data-feature-section-name>Latest Tools</span><span class="count" data-feature-items-count></span></h3>
					</div>
					<div class="right">
						<a onclick="blur();" href="" class="console-button-text console-button-small icon-right view-all-link" title="View all in category" data-view-all-link>
							<span>View all</span>
							{{ partial "icons/arrow-right.html" }}
						</a>
					</div>
				</div>
				<div class="feature-items" data-feature-items>
					{{ range $.Site.Data.toolsreviewed.items }}
						{{ partial "components/tools/card.html" . }}
					{{ end }}
					{{ partial "components/feature/card-empty.html" (dict "context" . "itemName" "Tools" ) }}
				</div>
			</section>
		</div>
	</div>
	<section class="page-section page-section-feature-root">
		{{ partial "subscribe.html" (dict "context" . "layout" "wide" "size" "large" "title" $CTATitle "description" $CTADescription ) }}
	</section>

	{{ $.Scratch.Set "categories" "" }}
	{{range $index, $element := $.Site.Data.toolsfilters.categoryItems}}
        {{if eq $index 0}}
			{{ $.Scratch.Set "categories" (print ($.Scratch.Get "categories") $element.label "|" $element.name ) }}
		{{ end }}
        {{if not (eq $index 0)}}
			{{ $.Scratch.Set "categories" (print ($.Scratch.Get "categories") "," $element.label "|" $element.name ) }}
		{{ end }}
    {{ end }}
	<script id="feature-js" src="/js/pageType/feature.js" data-categories="{{ $.Scratch.Get "categories" }}"></script>
	
{{ end }}
