{{ define "main" }}
	<!--
        Structured markup for Google to pick up the reviews
        on the /tools/ page. Ref:
        https://developers.google.com/search/docs/guides/intro-structured-data
        https://developers.google.com/search/docs/data-types/review-snippet
        https://developers.google.com/search/docs/data-types/software-app
    -->
	{{ $iso8601 := "2006-01-02T15:04:05-07:00" -}}
    {{ $reviewCount := len $.Site.Data.toolsreviewed.items }}
    {{ $reviewCount = sub $reviewCount 1 }}
    <script type="application/ld+json">
        {
            "@context":"https://schema.org",
            "@type":"ItemList",
            "name": "The best tools for developers",
            "numberOfItems": {{- $reviewCount -}},
			"itemListOrder": "Unordered",
            "itemListElement":[
                {{ range $index, $review := $.Site.Data.toolsreviewed.items }}
                {
                    "@type":"ListItem",
                    "position": {{ $index }},
                    "name": "{{ index . "Tool/Product/Project" }}",
                    "item":  { 
                        "@type": "Product",
                        "name": "{{ index . "Tool/Product/Project" }}",
                        "description": "{{ index . "What is it?" }}",
                        "url": "{{ index . "URL" }}",
                        "review":   {
                            "@type": "Review",
                            "reviewBody": "What we like: {{ index . "What we like" }} What we don't like: {{ index . "What we dislike" }}",
                            "reviewRating":  {
                                "@type": "Rating",
                                "ratingValue": "5",
                                "bestRating": "5",
                                "worstRating": "0"
                            },
                            "author": {
                                "@type": "Organization",
                                "name": "Console",
                                "url": "https://console.dev"
                           },
                           "publisher": {
                               "@type": "Organization",
                               "name": "Console",
                               "url": "https://console.dev"
                            },
                            {{ $reviewDate := index . "Scheduled for" -}}
                            {{- $reviewDate = dateFormat $iso8601 $reviewDate -}}
                            "datePublished": "{{ $reviewDate | safeHTML }}"
                        }
                    }
                }{{ if lt $index $reviewCount }},{{end}}{{ end }}
            ]
        }
    </script>

    {{ $CTATitle := "Interesting Tools by email" }}
	{{ $CTADescription := "Our free weekly newsletter picks out the 2-3 most interesting tools. " }}
	<section class="page-section page-section-feature-root">
		<h2 class="title title-1">Developer tools reviews</h2>
		<p class="description">Each week Console reviews the best tools for developers.</p>
        <div class="page-meta">
        {{- $reviewedChecked := false -}}
        {{- range first 1 $.Site.Data.toolsreviewed.items -}}{{- $reviewedChecked = time (index . "Scheduled for") -}}{{- end -}}
        {{- $updated := $reviewedChecked -}}
            <p class="small">
				<span>Last updated: {{ $updated.Format "2006-01-02" }}</span>
			</p>
            <p class="small">
                <span class="page-meta-separator">&mdash;</span>
				<a onclick="blur();" href="mailto:hello@console.dev" class="console-button-text console-button-small icon-left submit-tool" title="Submit Tool">
					{{ partial "icons/tool.html" }}
					<span>Submit Tool</span>
				</a>
			</p>
		</div>
		{{ partial "components/notice-disclosure.html" }}
	</section>
	<section class="page-section page-section-feature-root">
		<div class="page-section-heading">
			<div class="left">
				<h3 class="title title-2"><span data-feature-section-name>Category reviews</span></h3>
			</div>
		</div>
		<div class="category-reviews">
			<div class="category-reviews-item">
				{{ $categoryData := (dict "category" "developer-tools" "subcategory" (dict "label" "Browser testing" "name" "browser-testing")) }}
				{{ partial "components/category.html" (dict "categoryData" $categoryData "clickable" "true" "large" "true" )  }}
			</div>
			<div class="category-reviews-item">
				{{ $categoryData := (dict "category" "developer-tools" "subcategory" (dict "label" "Code collaboration & pair programming" "name" "code-collaboration-pair-programming")) }}
				{{ partial "components/category.html" (dict "categoryData" $categoryData "clickable" "true" "large" "true" )  }}
			</div>
			<div class="category-reviews-item">
				{{ $categoryData := (dict "category" "devops" "subcategory" (dict "label" "Server monitoring" "name" "server-monitoring")) }}
				{{ partial "components/category.html" (dict "categoryData" $categoryData "clickable" "true" "large" "true" )  }}
			</div>
			<div class="category-reviews-item">
				{{ $categoryData := (dict "category" "devops" "subcategory" (dict "label" "Website monitoring" "name" "website-monitoring")) }}
				{{ partial "components/category.html" (dict "categoryData" $categoryData "clickable" "true" "large" "true" )  }}
			</div>
			<div class="category-reviews-item">
				{{ $categoryData := (dict "category" "devops" "subcategory" (dict "label" "Container monitoring" "name" "container-monitoring")) }}
				{{ partial "components/category.html" (dict "categoryData" $categoryData "clickable" "true" "large" "true" )  }}
			</div>
		</div>
	</section>
	<section class="page-section page-section-feature-root inline-cta-wrapper" data-inline-cta-wrapper>
		<div class="feature-collapsible-cta" data-feature-cta>
			{{ $subscribeCopyAfter := (printf "Join %s developers" $.Site.Params.consoleSubscribers) }}
			{{ $subscribeData := (dict "context" . "layout" "wide" "size" "medium" "title" $CTATitle "description" $CTADescription "copyAfter" $subscribeCopyAfter ) }}
			{{ $subscribe := partial "subscribe.html" $subscribeData }}
			{{ partial "components/box-collapsible.html" (dict "title" $CTATitle "style" "blue" "icon" "expand.html" "content" $subscribe ) }}
        </div>
	</section>
	<div class="content-split">
		<aside data-aside-wrapper class="aside-wrapper">
			<div data-aside-content-wrapper data-marked-scrollable-v class="aside-content-wrapper marked-scrollable-v"></div>
		</aside>
		<div data-aside-anchor data-main-content-wrapper class="main-content-wrapper">
            <section data-inline-filters-wrapper class="page-section inline-filters-wrapper">
				{{ $filters := partial "components/tools/filters.html" (dict "dot" $.Site.Data.toolsfilters ) }}
				{{ partial "components/box-collapsible.html" (dict "title" "Filters" "icon" "filter.html" "content" $filters) }}
			</section>
			<section class="page-section" data-feature-items-section="latest-tools">
				<div class="page-section-heading">
					<div class="left">
						<h3 class="title title-2"><span data-feature-section-name>Latest Tools</span><span class="count" data-feature-items-count></span></h3>
					</div>
					<div class="right">
						<a onclick="blur();" href="/tools/rss.xml" class="console-button-text console-button-small icon-left" title="RSS Feed">
							{{ partial "icons/rss.html" }}
							<span>Feed</span>
						</a>
						<a onclick="blur();" href="" class="console-button-text console-button-small icon-right view-all-link" title="View all in category" data-view-all-link>
							<span>View all</span>
							{{ partial "icons/arrow-right.html" }}
						</a>
					</div>
				</div>
				<div class="feature-items" data-feature-items>
					{{ range $.Site.Data.toolsreviewed.items }}
						{{ $dot := merge . (dict "defaultGroup" "latest-tools") }}
						{{ partial "components/tools/card.html" $dot }}
					{{ end }}
					{{ partial "components/feature/card-empty.html" (dict "context" . "itemName" "Tools" ) }}
				</div>
			</section>
		</div>
	</div>
	<section class="page-section page-section-feature-root">
		{{ partial "subscribe.html" (dict "context" . "layout" "wide" "size" "large" "title" $CTATitle "description" $CTADescription ) }}
	</section>

	{{ $.Scratch.Set "categories" "" }}
	{{range $index, $element := $.Site.Data.toolsfilters.categoryItems}}
        {{if eq $index 0}}
			{{ $.Scratch.Set "categories" (print ($.Scratch.Get "categories") $element.label "|" $element.name ) }}
		{{ end }}
        {{if not (eq $index 0)}}
			{{ $.Scratch.Set "categories" (print ($.Scratch.Get "categories") "," $element.label "|" $element.name ) }}
		{{ end }}
    {{ end }}

	{{ $pageTypeJS := resources.Get "/js/page-type/feature.js" }}
    {{ if hugo.IsProduction }}{{ $pageTypeJS = $pageTypeJS | resources.Minify | resources.Fingerprint }}{{ end }}
	<script id="feature-js" src="{{ $pageTypeJS.Permalink }}" data-categories="{{ $.Scratch.Get "categories" }}"></script>

	{{ $betasJS := resources.Get "/js/tools.js" }}
    {{ if hugo.IsProduction }}{{ $betasJS = $betasJS | resources.Minify | resources.Fingerprint }}{{ end }}
	<script src="{{ $betasJS.Permalink }}"></script>
{{ end }}
