<svg class="illustration illustration-console-company-profile" viewBox="0 0 128 128">
    <circle class="foreground" cx="22" cy="22" r="16" fill="white"/>
    <line class="background-stroke" fill="none" opacity="0.2" vector-effect="non-scaling-stroke" x1="13.829" y1="91.475" x2="43.8992" y2="80.5303" stroke="white"/>
    <line class="background-stroke" fill="none" opacity="0.2" vector-effect="non-scaling-stroke" x1="53.829" y1="91.475" x2="83.8992" y2="80.5303" stroke="white"/>
    <line class="background-stroke" fill="none" opacity="0.2" vector-effect="non-scaling-stroke" x1="93.829" y1="91.475" x2="123.899" y2="80.5303" stroke="white"/>
    <line class="background-stroke" fill="none" opacity="0.2" vector-effect="non-scaling-stroke" x1="53.829" y1="76.475" x2="83.8992" y2="65.5303" stroke="white"/>
    <line class="background-stroke" fill="none" opacity="0.2" vector-effect="non-scaling-stroke" x1="93.829" y1="76.475" x2="123.899" y2="65.5303" stroke="white"/>
    <line class="background-stroke" fill="none" opacity="0.2" vector-effect="non-scaling-stroke" x1="53.829" y1="61.475" x2="83.8992" y2="50.5303" stroke="white"/>
    <line class="background-stroke" fill="none" opacity="0.2" vector-effect="non-scaling-stroke" x1="53.829" y1="46.4747" x2="83.8992" y2="35.5301" stroke="white"/>
    <line class="background-stroke" fill="none" opacity="0.2" vector-effect="non-scaling-stroke" x1="13.829" y1="108.475" x2="43.8992" y2="97.5303" stroke="white"/>
    <line class="background-stroke" fill="none" opacity="0.2" vector-effect="non-scaling-stroke" x1="53.829" y1="108.475" x2="83.8992" y2="97.5303" stroke="white"/>
    <line class="background-stroke" fill="none" opacity="0.2" vector-effect="non-scaling-stroke" x1="93.829" y1="108.475" x2="123.899" y2="97.5303" stroke="white"/>
    <line class="background-stroke" fill="none" opacity="0.2" vector-effect="non-scaling-stroke" x1="13.829" y1="123.475" x2="43.8992" y2="112.53" stroke="white"/>
    <line class="background-stroke" fill="none" opacity="0.2" vector-effect="non-scaling-stroke" x1="53.829" y1="123.475" x2="83.8992" y2="112.53" stroke="white"/>
    <line class="background-stroke" fill="none" opacity="0.2" vector-effect="non-scaling-stroke" x1="93.829" y1="123.475" x2="123.899" y2="112.53" stroke="white"/>
</svg>

