<svg class="illustration illustration-invest" viewBox="0 0 128 128">
    <path class="background-stroke" vector-effect="non-scaling-stroke" d="M24 68L24 122" stroke="white"/>
    <path class="foreground-stroke" vector-effect="non-scaling-stroke" d="M64 28V122.333" stroke="white"/>
    <path class="background-stroke" vector-effect="non-scaling-stroke" d="M104 51V122" stroke="white"/>
    <path class="background-fill" d="M18.047 46.0016L42.75 46L31.703 67.9984L7 68L18.047 46.0016Z" fill="white"/>
    <path class="foreground-fill" d="M58.047 6.00157L82.75 6L71.703 27.9984L47 28L58.047 6.00157Z" fill="white"/>
    <path class="background-fill" d="M98.047 29.0016L122.75 29L111.703 50.9984L87 51L98.047 29.0016Z" fill="white"/>
</svg>
