<svg class="illustration illustration-no-spam" viewBox="0 0 128 128">
    <circle class="background-stroke" fill="none" vector-effect="non-scaling-stroke" cx="64" cy="64" r="47.5" stroke="white"/>
    <line class="background-stroke" vector-effect="non-scaling-stroke" x1="64" y1="8" x2="64" y2="25" stroke="white"/>
    <line class="background-stroke" vector-effect="non-scaling-stroke" x1="64" y1="103" x2="64" y2="120" stroke="white"/>
    <line class="background-stroke" vector-effect="non-scaling-stroke" x1="8" y1="64" x2="25" y2="64" stroke="white"/>
    <line class="background-stroke" vector-effect="non-scaling-stroke" x1="103" y1="64" x2="120" y2="64" stroke="white"/>
    <circle class="background-fill" opacity="0.2" cx="64" cy="64" r="16" fill="white"/>
    <line class="foreground" vector-effect="non-scaling-stroke" x1="15.8536" y1="15.6557" x2="112.483" y2="112.285" stroke="white"/>
    <line class="foreground" vector-effect="non-scaling-stroke" x1="112.854" y1="15.0686" x2="16.2243" y2="111.698" stroke="white"/>
</svg>
