{{ define "main" }}
	{{ $CTATitle := "Discover the best tools for developers" }}
	{{ $CTADescription := "Our free weekly email features a digest of the best new tools and beta releases for developers. See the latest email." }}

    <h2 class="title title-1">{{ .Params.title }}</h2>
    <div class="main-feature-article-content-split">
        <section class="page-section main-feature-article-content">
            <p class="description">{{ .Params.summary }}</p>
            {{ .Content }}
		    {{ partial "subscribe.html" (dict "context" . "layout" "wide" "size" "large" "title" $CTATitle "description" $CTADescription ) }}
        </section>
        <aside class="main-feature-article-aside">
            <div class="toc">
                <h5 class="title title-4">Contents</h5>
                <ul>
                    <li class="toc-item"><a class="toc-link" href="#earths-internet">Earth's internet</a></li>
                    <li class="toc-item"><a class="toc-link" href="#the-problem-with-connecting-mars--earth">The problem with connecting Mars & Earth</a></li></li>
                    <li class="toc-item"><a class="toc-link" href="#separate-earth-and-mars-internet">Separate Earth and Mars internet</a></li>
                    <li class="toc-item toc-item-sub"><a class="toc-link" href="#blockchain-crypto--eventual-consistency">Blockchain, crypto & eventual consistency</a></li>
                    <li class="toc-item"><a class="toc-link" href="#interplanetary-networking">Interplanetary networking</a></li>
                    <li class="toc-item toc-item-sub"><a class="toc-link" href="#delay-tolerant-networking">Delay-Tolerant Networking</a></li>
                    <li class="toc-item toc-item-sub"><a class="toc-link" href="#very-long-round-trip-times">Very long round trip times</a></li>
                    <li class="toc-item toc-item-sub"><a class="toc-link" href="#overlay-network">Overlay network</a></li>
                    <li class="toc-item"><a class="toc-link" href="#transporting-large-files-to-mars">Transporting large files to Mars</a></li>
                    <li class="toc-item"><a class="toc-link" href="#internet-access-on-mars">Internet access on Mars</a></li>
                </ul>
            </div>
        </aside>
    </div>
	<script src="/js/mars.js"></script>
{{ end }}
