# Cloudflare workers
dist

# NPM
node_modules

# Mac
.DS_Store

# Visual Studio Code
.vscode/

# Python
.venv/

# Hugo
# See https://github.com/gohugoio/hugo/releases/tag/v0.89.0 for the lock file
.hugo_build.lock
/data/
resources/
public/
