# Cloudflare
dist/*

# Hugo
public/*
resources/*

# Prettier has been manually run on these files and it tends to mess up the Go
# template language, so we exclude them
themes/console-home/layouts/*

# Doesn't really get Markdown
*.md