{{ define "main" }}
	{{ $CTATitle := "Discover the best tools for developers" }}
	{{ $CTADescription := "Our free weekly email features a digest of the best new tools and beta releases for developers. " }}

    <section class="page-section page-section-landing opening">
        <div class="top">
            <h2 class="title title-1">Discover the best <br/>tools for developers</h2>
            <h4 class="title title-3">A weekly digest of the best tools and beta releases.</h4>
            <p class="description">We keep track of everything new - dev tools, devops, open source, cloud, APIs... so you don’t have to.</p>
        </div>
        <div class="bottom">
            <div class="neon-planes-wrapper">
                {{ partial "components/neon-planes.html" (dict "context" . "type" "all" ) }}
            </div>
            <div class="content-wrapper">
                <h5 class="title title-4 rich-title">{{ partial "icons/console-mini.html" }}<span>Console Weekly</span></h5>
                <form action="https://dev.us7.list-manage.com/subscribe/post?u=f8c3cd14ee8d63c53d0986a48&amp;id=267911a165" method="post" id="console-subscribe" name="console-subscribe" class="console-form">
                    <input id="form-email" name="EMAIL" class="console-input-text" type="email" placeholder="Your email" title="Email" required />
                    <input type="hidden" value="{{ .Page.RelPermalink }}" name="REFERRER" id="mc-referrer" />
                    <div style="position: absolute; left: -5000px" aria-hidden="true"><input type="text" name="b_f8c3cd14ee8d63c53d0986a48_267911a165" tabindex="-1" value="" /><!-- Anti spam field --></div>

                    <button onclick="blur()" class="console-button icon-left" type="submit" title="Signup">
                        {{ partial "icons/send.html" }}
                        <span>Sign Up</span>
                    </button>
                </form>
                {{ `<!-- Plausible Analytics goal tracking for signups -->` | safeHTML }}
                <script>
                    var registerForm = document.querySelector("#console-subscribe");
                    registerForm.addEventListener("submit", function (e) {
                        e.preventDefault();
                        setTimeout(submitForm, 1000);
                        var formSubmitted = false;

                        function submitForm() {
                            if (!formSubmitted) {
                                formSubmitted = true;
                                registerForm.submit();
                            }
                        }
                        plausible("Newsletter Subscribe", {
                            callback: submitForm,
                        });
                    });
                </script>
                <p>
                    Free. Sent every Thursday.
                </p>
                <p>
                    <a class="link" onclick="blur()" href="/latest/">See the latest email</a>
                </p>
            </div>
        </div>
    </section>

    <section class="page-section page-section-plane page-section-landing trust-signals">
        <div class="top">
            <h3 class="title title-2 rich-title">Trusted by {{ $.Site.Params.consoleSubscribers }} developers</h3>
            <p class="quote">
                <span>
                    “If you’re interested in cool new developer tools check out Console it’s a great, short and sharp roundup newsletter, well worth a follow” 
                    <span>James Governor, Co-founder, RedMonk</span>
                </span>
            </p>
        </div>
        <div class="bottom">
            <p>Join subscribers from:</p>
            <div class="logo-cloud-artwork">
                <div class="logo-cloud">
                    <img loading="lazy" class="dark" src="/img/landing/reached-company-logo-github-dark.png" alt="GitHub">
                    <img loading="lazy" class="dark" src="/img/landing/reached-company-logo-atlassian-dark.png" alt="Atlassian">
                    <img loading="lazy" class="dark" src="/img/landing/reached-company-logo-microsoft-dark.png" alt="Microsoft">
                    <img loading="lazy" class="dark" src="/img/landing/reached-company-logo-cloudflare-dark.png" alt="Cloudflare">
                    <img loading="lazy" class="dark" src="/img/landing/reached-company-logo-adobe-dark.png" alt="Adobe">
                    <img loading="lazy" class="dark" src="/img/landing/reached-company-logo-sourcegraph-dark.png" alt="Sourcegraph">
                    <img loading="lazy" class="dark" src="/img/landing/reached-company-logo-twilio-dark.png" alt="Twilio">
                    <img loading="lazy" class="dark" src="/img/landing/reached-company-logo-snyk-dark.png" alt="Snyk">
                    <img loading="lazy" class="light" src="/img/landing/reached-company-logo-github-light.png" alt="GitHub">
                    <img loading="lazy" class="light" src="/img/landing/reached-company-logo-atlassian-light.png" alt="Atlassian">
                    <img loading="lazy" class="light" src="/img/landing/reached-company-logo-microsoft-light.png" alt="Microsoft">
                    <img loading="lazy" class="light" src="/img/landing/reached-company-logo-cloudflare-light.png" alt="Cloudflare">
                    <img loading="lazy" class="light" src="/img/landing/reached-company-logo-adobe-light.png" alt="Adobe">
                    <img loading="lazy" class="light" src="/img/landing/reached-company-logo-sourcegraph-light.png" alt="Sourcegraph">
                    <img loading="lazy" class="light" src="/img/landing/reached-company-logo-twilio-light.png" alt="Twilio">
                    <img loading="lazy" class="light" src="/img/landing/reached-company-logo-snyk-light.png" alt="Snyk">
                </div>
                <div class="vapor-globe"></div>
            </div>
        </div>
    </section>
{{ end }}
