<div class="related-articles">
    {{ range .Page.Params.relatedArticles }}
        {{ if isset . "subcategory" }}
            {{ partial "components/category.html" (dict "categoryData" . "inline" "true" "large" "true" "clickable" "true" )  }}
        {{ else }}
            <a class="link" href="{{ .article.url }}">
                {{ partial "components/category.html" (dict "categoryData" . "inline" "true" "large" "true" )  }}
                <span>{{ .article.name }}</span>
            </a>
        {{ end }}
    {{ end }}
</div>

