<!DOCTYPE html>
<html lang="en">
    {{ `<!-- Site source available at https://github.com/consoledotdev/home -->` | safeHTML }}
    
    {{ partial "head.html" . }}
    <body class="theme page-
        {{- if not .Params.pageType }}article
        {{- else }}{{ .Params.pageType }}
        {{- end }}
        {{- with .Params.isSubpage}} page-{{ . }}
        {{- else }}
            {{- with .Params.isPage}} page-{{ . }}{{- end }}
        {{- end -}}
        {{- if (not .Params.hidePlanes) }} show-planes{{ end -}}">
        <div class="overflow-wrapper">
            {{ partial "header.html" (dict "context" . "headerType" .Params.headerType "hidePlanes" .Params.hidePlanes "hideLines" .Params.hideLines ) }}
            <main class="main
                {{- if ne .Params.pageType "home" -}}
                    {{- if not .Params.pageType }}-article{{ end -}}
                    {{- with .Params.pageType }}-{{ . }}{{ end -}}
                {{- end }}">
                    {{- block "main" . }}{{- end }}
            </main>
            {{ partial "footer.html" . }}
        </div>
        <script src="/js/scripts.js"></script>
    </body>
</html>
