{{ define "main" }}
	{{ $CTATitle := "Interesting betas by email" }}
	{{ $CTADescription := "Our free weekly newsletter picks out the 2-3 most interesting new betas." }}
	<section class="page-section page-section-betas-root">
		<h2 class="title title-1">Beta Console</h2>
		<p class="description">A live list of every developer tool beta &amp; early access release.</p>
	</section>
	<section class="page-section page-section-betas-root">
		<div class="betas-collapsible-cta">
            <div class="box-collapsible color-blue">
	            <button class="box-collapsible-top" onclick="blur(); toggleCollapsible(event)">
	        	<div class="title title-4">Interesting betas by email</div>
	        	<div class="icon icon-expand">
	                <div class="icon-expand-shape-one"></div>
	                <div class="icon-expand-shape-two"></div>
                </div>
                </button>
                <div class="box-collapsible-content" data-collapsible-content>
                {{ partial "subscribe.html" (dict "context" . "layout" "wide" "size" "large" "title" $CTATitle "description" $CTADescription ) }}
                </div>
            </div>
        </div>
		<div class="betas-full-cta">
			{{ partial "subscribe.html" (dict "context" . "layout" "wide" "size" "medium" "title" $CTATitle "description" $CTADescription ) }}
		</div>
	</section>
	<div class="betas-split">
		<div class="betas">
            <section class="page-section inline-filters-wrapper" data-inline-filters-wrapper>
                <div class="box-collapsible">
	                <button class="box-collapsible-top" onclick="blur(); toggleCollapsible(event)">
		            <div class="title title-4">Filter</div>
	            	<div class="icon icon-filter">
	                    <div class="icon-filter-shape-one"></div>
	                    <div class="icon-filter-shape-two"></div>
	                    <div class="icon-filter-shape-three"></div>
                    </div>
	                </button>
	                <div class="box-collapsible-content" data-collapsible-content>
                    {{ partial "components/betas/filters.html" (dict "items" $.Site.Data.filters.items "dot" . ) }}
                    </div>
                </div>
                <p class="small">Last updated: {{ .Lastmod.Format "2006-01-02" }}</p>
			</section>
			<section class="page-section">
                <h3 class="title title-2">Latest Releases</h3>
				<div class="beta-items" data-betas-latest data-aside-anchor>
					{{ range $.Site.Data.betaslive.items }}
						{{ partial "components/betas/card.html" . }}
					{{ end }}
					{{ partial "components/betas/card-empty.html" . }}
				</div>
			</section>
			<section class="page-section">
                <h3 class="title title-2">Recent Betas: Now GA</h3>
				<div class="beta-items" data-betas-ga>
					{{ range $.Site.Data.betasga.items }}
						{{ partial "components/betas/card.html" . }}
					{{ end }}
					{{ partial "components/betas/card-empty.html" . }}
				</div>
			</section>
		</div>
		<aside id="aside-filters-wrapper" class="betas-aside">
		</aside>
	</div>
	<section class="page-section page-section-betas-root">
		{{ partial "subscribe.html" (dict "context" . "layout" "wide" "size" "large" "title" $CTATitle "description" $CTADescription ) }}
	</section>
	<script src="/js/betas.js"></script>
{{ end }}
