{{ define "main" }}
	{{ $CTATitle := "Never miss a beta release again" }}
	{{ $CTADescription := "Our free weekly newsletter features the latest betas and early access programs." }}
	<section class="page-section">
		<h2 class="title title-1">{{ .Title }}</h2>
		<p class="small">Console tracks all the beta releases and early access
        programs for developers. <a href="mailto:hello@console.dev" class="link">Submit new betas to us</a>.</p>
	</section>
	<div id="betas-split" class="betas-split">
		<aside id="aside-filters-wrapper" class="betas-aside">
		</aside>
		<div class="betas">
			<section class="page-section">
				{{ partial "subscribe.html" (dict "context" . "layout" "wide" "size" "medium" "title" $CTATitle "description" $CTADescription ) }}
			</section>
            <section id="inline-filters-wrapper" class="page-section">
                {{ partial "components/betas/filters.html" (dict "items" $.Site.Data.filters.items "dot" . ) }}
			</section>
			<section class="page-section">
				<h3 class="title title-2">Latest Releases</h3>
				<div class="beta-items" data-betas-latest>
					{{ range $.Site.Data.latestbetas.items }}
						<div class="beta-card{{ with index . "Weekly Pick" }} beta-card-pick{{ end }}" data-card data-date="{{ .Announced }}" data-name="{{ index . "Tool/Product/Project" }}" data-pick="{{ index . "Weekly Pick" }}" data-categories="{{ index . "Filter Categories" }}">
							{{ with index . "Weekly Pick" -}}
								{{ partial "icons/console-mini-filled.html" }}
							{{- end }}
							<span class="date">{{ .Announced }}</span>
							<div class="beta-card-content">
								<div class="left">
									<div class="beta-card-thumbnail aspect-ratio aspect-ratio-1-1"><img class="image" src="{{ .Image }}" alt="{{ index . "Company/Org" }}" /></div>
									<p class="beta-card-name">{{ index . "Tool/Product/Project" }}</p>
								</div>
								<div class="right">
									<p class="beta-card-name">{{ index . "Tool/Product/Project" }}</p>
									<p class="beta-card-description">{{ index . "What is it?" }}</p>
									<div class="tags">
										{{ partial "icons/tag.html" }}
										<span class="tag">{{ .Category }}</span>,
										<span class="tag">{{ .Type }}</span>,
										<span class="tag">{{ .Access }}</span>
									</div>
								</div>
							</div>
							<a href="{{ .URL }}" class="link" target="_blank" rel="noopener">Join Waitlist {{ partial "icons/external-link.html" }}</a>
						</div>
					{{ end }}
					<div data-inline-cta>
						{{ partial "subscribe.html" (dict "context" . "layout" "wide" "flow" "inline" "size" "small" "title" $CTATitle "description" $CTADescription ) }}
					</div>
					{{ range $.Site.Data.latestbetas.items }}
						<div class="beta-card{{ with index . "Weekly Pick" }} beta-card-pick{{ end }}" data-card data-date="{{ .Announced }}" data-name="{{ index . "Tool/Product/Project" }}" data-pick="{{ index . "Weekly Pick" }}" data-categories="{{ index . "Filter Categories" }}">
							{{ with index . "Weekly Pick" -}}
								{{ partial "icons/console-mini-filled.html" }}
							{{- end }}
							<span class="date">{{ .Announced }}</span>
							<div class="beta-card-content">
								<div class="left">
									<div class="beta-card-thumbnail aspect-ratio aspect-ratio-1-1"><img class="image" src="{{ .Image }}" alt="{{ index . "Company/Org" }}" /></div>
									<p class="beta-card-name">{{ index . "Tool/Product/Project" }}</p>
								</div>
								<div class="right">
									<p class="beta-card-name">{{ index . "Tool/Product/Project" }}</p>
									<p class="beta-card-description">{{ index . "What is it?" }}</p>
									<div class="tags">
										{{ partial "icons/tag.html" }}
										<span class="tag">{{ .Category }}</span>,
										<span class="tag">{{ .Type }}</span>,
										<span class="tag">{{ .Access }}</span>
									</div>
								</div>
							</div>
							<a href="{{ .URL }}" class="link" target="_blank" rel="noopener">Join Waitlist {{ partial "icons/external-link.html" }}</a>
						</div>
					{{ end }}
				</div>
			</section>
			<section class="page-section">
				<h3 class="title title-2">Recent Betas: Now in General Availability</h3>
				<div class="beta-items" data-betas-ga>
					{{ range $.Site.Data.latestbetas.items }}
						<div class="beta-card{{ with index . "Weekly Pick" }} beta-card-pick{{ end }}" data-card data-date="{{ .Announced }}" data-name="{{ index . "Tool/Product/Project" }}" data-pick="{{ index . "Weekly Pick" }}" data-categories="{{ index . "Filter Categories" }}">
							{{ with index . "Weekly Pick" -}}
								{{ partial "icons/console-mini-filled.html" }}
							{{- end }}
							<span class="date">{{ .Announced }}</span>
							<div class="beta-card-content">
								<div class="left">
									<div class="beta-card-thumbnail aspect-ratio aspect-ratio-1-1"><img class="image" src="{{ .Image }}" alt="{{ index . "Company/Org" }}" /></div>
									<p class="beta-card-name">{{ index . "Tool/Product/Project" }}</p>
								</div>
								<div class="right">
									<p class="beta-card-name">{{ index . "Tool/Product/Project" }}</p>
									<p class="beta-card-description">{{ index . "What is it?" }}</p>
									<div class="tags">
										{{ partial "icons/tag.html" }}
										<span class="tag">{{ .Category }}</span>,
										<span class="tag">{{ .Type }}</span>,
										<span class="tag">{{ .Access }}</span>
									</div>
								</div>
							</div>
							<a href="{{ .URL }}" class="link" target="_blank" rel="noopener">Join Waitlist {{ partial "icons/external-link.html" }}</a>
						</div>
					{{ end }}
				</div>
			</section>
			<section class="page-section">
				{{ partial "subscribe.html" (dict "context" . "layout" "wide" "size" "large" "title" $CTATitle "description" $CTADescription ) }}
			</section>
		</div>
	</div>
	<script src="/js/betas.js"></script>
{{ end }}
