<svg class="tools-category-review-artwork dark" viewBox="0 0 823 598">
    <g style="mix-blend-mode:lighten" filter="url(#dark_filter0_d)">
        <path d="M433.616 234.009L718.001 233.99L590.826 492.688L306.441 492.706L433.616 234.009Z" fill="#002C12"/>
    </g>
    <g style="mix-blend-mode:lighten" filter="url(#dark_filter1_d)">
        <path d="M232.175 183.067L516.559 183.049L389.385 441.746L105 441.765L232.175 183.067Z" fill="#3C083C"/>
    </g>
    <g style="mix-blend-mode:lighten" filter="url(#dark_filter2_d)">
        <path d="M349.175 105.018L633.559 105L506.385 363.697L222 363.716L349.175 105.018Z" fill="#0E0F5F"/>
    </g>
    <g class="tools-category-review-artwork-plane" filter="url(#dark_filter3_d)">
        <path d="M384.763 251.01L543 251L472.237 391.99L314 392L384.763 251.01Z" fill="#151517" fill-opacity="0.16"/>
        <path d="M315.621 391L385.38 252.01L541.379 252L471.62 390.99L315.621 391Z" fill-opacity="0" stroke="#A51FA1" stroke-width="2" vector-effect="non-scaling-stroke"/>
    </g>
    {{ partial (print "components/tools/category-review/" .Params.subcategory "/artwork-icon-dark.html") }}
    <defs>
        <filter id="dark_filter0_d" x="201.987" y="129.536" width="620.468" height="467.624" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
            <feOffset/>
            <feGaussianBlur stdDeviation="38.2272"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0.277255 0 0 0 0 0.100784 0 0 0 0.62 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
        </filter>
        <filter id="dark_filter1_d" x="0.545677" y="78.5945" width="620.468" height="467.624" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
            <feOffset/>
            <feGaussianBlur stdDeviation="38.2272"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0.303333 0 0 0 0 0.0362157 0 0 0 0 0.29549 0 0 0 1 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
        </filter>
        <filter id="dark_filter2_d" x="117.546" y="0.545677" width="620.468" height="467.624" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
            <feOffset/>
            <feGaussianBlur stdDeviation="42.2272"/>
            <!-- <feColorMatrix type="matrix" values="0 0 0 0 0.0784314 0 0 0 0 0.0862745 0 0 0 0 0.545098 0 0 0 1 0"/> -->
            <feColorMatrix type="matrix" values="0 0 0 0 0.0724314 0 0 0 0 0.0802745 0 0 0 0 0.485098 0 0 0 1 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
        </filter>
        <filter id="dark_filter3_d" x="284.579" y="232.086" width="287.842" height="199.842" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
            <feOffset dy="10.5076"/>
            <feGaussianBlur stdDeviation="14.7106"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0.490196 0 0 0 0 0.0666667 0 0 0 0 0.478431 0 0 0 0.1 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
        </filter>
    </defs>
</svg>
    