{{ define "main" }}
	{{ $CTATitle := "Interesting betas by email" }}
	{{ $CTADescription := "Our free weekly newsletter picks out the 2-3 most interesting new betas." }}

    <section class="page-section page-section-interviews-root">
        <h2 class="title title-1">{{ .Title }}</h2>
        <p class="description">
            Interviews with the people behind the tools we feature in our weekly newsletter.
        </p>
        <div class="page-meta">
            <p class="small">
                <a onclick="blur();" href="/interviews/rss.xml" class="console-button-text console-button-small icon-left submit-beta" title="Submit Beta">
                    {{ partial "icons/rss.html" }}
                    <span>Feed</span>
                </a>
            </p>
            <p class="small">
                <span class="page-meta-separator">&mdash;</span>
                <a onclick="blur();" href="/latest/" class="console-button-text console-button-small icon-left submit-beta" title="Submit Beta">
                    {{ partial "icons/email.html" }}
                    <span>See latest newsletter</span>
                </a>
            </p>
        </div>
        <div class="podcast-launch">
            <p>Listen to more interviews on the
                <a href="/podcast/" class="console-button-text console-button-green icon-left">{{ partial "icons/podcast.html"}}<span>Console DevTools Podcast</span></a>.</p>
        
            <!-- Podcast embed -->
            {{ $section := .Site.GetPage "section" "podcast" }}
            {{ $pages := $section.Pages }}
            {{ $podcast := index (where $pages.ByPublishDate.Reverse "Params.season" 2) 0 }}

            {{ $playerTitle := print $podcast.Title ", with " $podcast.Params.who }}
            {{ with $podcast.Params.org }}{{ $playerTitle = print $playerTitle " (" $podcast.Params.org ")" }}{{ end }}
        {{ $playerAttrs := (dict "title" $playerTitle "classes" "show-time" "duration" $podcast.Params.duration ) }}

            {{ partial "components/podcast-widget.html" (dict "podcast" $podcast "art" "body" "links" "body" "hideHeader" "true" "playerAttrs" $playerAttrs) }}
            <!-- end -->
            
            <p>Keep reading our interviews:</p>
        </div>
    </section>
    <div class="interviews-split">
        <div class="interviews">
            <section class="page-section">
                <div class="interviews-items">
                    {{ range .Pages.ByPublishDate.Reverse }}
                        {{ partial "components/interviews/card.html" . }}
                    {{ end }}
                    <div class="card-empty-placeholder">
                        <div class="illustrated-text">
                            {{ partial "illustrations/radar.html" }}
                            <p>We are always on the lookout for interesting tools to feature. Is there a something we should look at? <a href="mailto:hello@console.dev" class="link">Let us know</a></p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
	<section class="page-section page-section-interviews-root">
		{{ partial "subscribe.html" (dict "context" . "layout" "wide" "size" "large" ) }}
	</section>

{{ end }}
