{{ define "main" }}
<section class="page-section">
    <h2 class="title title-1">Interview with {{ .Params.who }}</h2>
    <p class="description">{{ .Params.role }}, {{ .Params.org }} - {{ .Params.what }}</p>
    <div class="col-2">
        <div class="aspect-ratio aspect-ratio-1-1">
            {{ if .Params.topImg1Src }}
                {{- $resource := resources.Get .Params.topImg1Src -}}
                {{- if $resource -}}
                    {{ if eq $resource.ResourceType "image" }}
                        {{ $imgPermalink := $resource.Permalink }}
                        {{ if or (eq $resource.MediaType.SubType "jpg") (eq $resource.MediaType.SubType "jpeg") (eq $resource.MediaType.SubType "png") }}

                            {{ $resizedImgNextGen := "" }}
                            {{ if gt $resource.Width 568 }}
                                {{ $resizedImgNextGen = $resource.Resize "568x webp Lanczos" }}
                            {{ else }}
                                {{ $resizedImgNextGen = $resource.Resize (print $resource.Width "x webp") }}
                            {{ end }}

                            {{ $resizedImg := "" }}
                            {{ if or (eq $resource.MediaType.SubType "jpg") (eq $resource.MediaType.SubType "jpeg") }}
                                {{ if gt $resource.Width 568 }}
                                    {{ $resizedImg = $resource.Resize "568x jpeg Lanczos" }}
                                {{ else }}
                                    {{ $resizedImg = $resource.Resize (print $resource.Width "x jpeg") }}
                                {{ end }}
                            {{ else if (eq $resource.MediaType.SubType "png") }}
                                {{ if gt $resource.Width 568 }}
                                    {{ $resizedImg = $resource.Resize "568x png Lanczos" }}
                                {{ else }}
                                    {{ $resizedImg = $resource.Resize (print $resource.Width "x png") }}
                                {{ end }}
                            {{ end }}

                            <picture>
                                <source srcset="{{ $resizedImgNextGen.Permalink }}" type="image/webp">
                                <img loading="lazy" class="image" src="{{ $resizedImg.Permalink }}" alt="{{ .Params.topImg1Alt }}">
                            </picture>
                        {{ else }}
                            <img loading="lazy" class="image" src="{{ .Params.topImg1Src }}" alt="{{ .Params.topImg1Alt }}" />
                        {{ end }}
                    {{ end }}
                {{- end -}}
            {{ end }}
        </div>
        <div class="aspect-ratio aspect-ratio-1-1">
            {{ if .Params.topImg2Src }}
                {{- $resource := resources.Get .Params.topImg2Src -}}
                {{- if $resource -}}
                    {{ if eq $resource.ResourceType "image" }}
                        {{ $imgPermalink := $resource.Permalink }}
                        {{ if or (eq $resource.MediaType.SubType "jpg") (eq $resource.MediaType.SubType "jpeg") (eq $resource.MediaType.SubType "png") }}
                        
                            {{ $resizedImgNextGen := "" }}
                            {{ if gt $resource.Width 568 }}
                                {{ $resizedImgNextGen = $resource.Resize "568x webp Lanczos" }}
                            {{ else }}
                                {{ $resizedImgNextGen = $resource.Resize (print $resource.Width "x webp") }}
                            {{ end }}

                            {{ $resizedImg := "" }}
                            {{ if or (eq $resource.MediaType.SubType "jpg") (eq $resource.MediaType.SubType "jpeg") }}
                                {{ if gt $resource.Width 568 }}
                                    {{ $resizedImg = $resource.Resize "568x jpeg Lanczos" }}
                                {{ else }}
                                    {{ $resizedImg = $resource.Resize (print $resource.Width "x jpeg") }}
                                {{ end }}
                            {{ else if (eq $resource.MediaType.SubType "png") }}
                                {{ if gt $resource.Width 568 }}
                                    {{ $resizedImg = $resource.Resize "568x png Lanczos" }}
                                {{ else }}
                                    {{ $resizedImg = $resource.Resize (print $resource.Width "x png") }}
                                {{ end }}
                            {{ end }}

                            <picture>
                                <source srcset="{{ $resizedImgNextGen.Permalink }}" type="image/webp">
                                <img loading="lazy" class="image" src="{{ $resizedImg.Permalink }}" alt="{{ .Params.topImg2Alt }}">
                            </picture>
                        {{ else }}
                            <img loading="lazy" class="image" src="{{ .Params.topImg2Src }}" alt="{{ .Params.topImg2Alt }}" />
                        {{ end }}
                    {{ end }}
                {{- end -}}
            {{ end }}
        </div>
    </div>

    {{ .Content }}
</section>
<section class="page-section">
    {{ partial "subscribe.html" (dict "context" .) }}
</section>


{{ end }}
