{{ define "main" }}
<section class="page-section">
    <a href="/profiles/" class="console-button-text console-button-triad-03 icon-left">
        {{ partial "icons/console-interview.html" }}
        <span>Developer interviews</span>
    </a>
    <h2 class="title title-1">Interview with {{ .Params.who }}</h2>
    <p class="description">{{ .Params.role }}, {{ .Params.org }} - {{ .Params.what }}</p>
    <div class="col-2">
        <div class="aspect-ratio aspect-ratio-1-1">

            {{ $nextGenImgSrc := partial "components/processed-img.html" (dict "src" .Params.topImg1Src "width" "568" "nextGen" "true") }}
            {{ $imgSrc := partial "components/processed-img.html" (dict "src" .Params.topImg1Src "width" "568") }}
            {{with $nextGenImgSrc }}<picture><source srcset="{{ . }}" type="image/webp">{{ end }}
                <img loading="lazy" class="image" src="{{ $imgSrc }}" alt="{{ .Params.topImg1Alt }}" />
            {{with $nextGenImgSrc }}</picture>{{ end }}

        </div>
        <div class="aspect-ratio aspect-ratio-1-1">

            {{ $nextGenImgSrc := partial "components/processed-img.html" (dict "src" .Params.topImg2Src "width" "568" "nextGen" "true") }}
            {{ $imgSrc := partial "components/processed-img.html" (dict "src" .Params.topImg2Src "width" "568") }}
            {{with $nextGenImgSrc }}<picture><source srcset="{{ . }}" type="image/webp">{{ end }}
                <img loading="lazy" class="image" src="{{ $imgSrc }}" alt="{{ .Params.topImg2Alt }}" />
            {{with $nextGenImgSrc }}</picture>{{ end }}
            
        </div>
    </div>

    {{ .Content }}
</section>
<section class="page-section">
    {{ partial "subscribe.html" (dict "context" .) }}
</section>


{{ end }}
