{{ define "main" }}
	{{ $CTATitle := "Interesting betas by email" }}
	{{ $CTADescription := "Our free weekly newsletter picks out the 2-3 most interesting new betas." }}

    <section class="page-section page-section-qa-root">
        <h2 class="title title-1">{{ .Title }}</h2>
        <p class="description">
            Interviews with the people behind the tools we feature in our weekly newsletter.
        </p>
        <div class="page-meta">
            <a onclick="blur();" href="/qa/rss.xml" class="console-button-text console-button-small icon-left submit-beta" title="Submit Beta">
                {{ partial "icons/rss.html" }}
                <span>Get Q&A feed</span>
            </a>
            <p class="small">&nbsp;&nbsp;—&nbsp;&nbsp;</p>
            <a onclick="blur();" href="/latest/" class="console-button-text console-button-small icon-left submit-beta" title="Submit Beta">
                {{ partial "icons/email.html" }}
                <span>See latest email</span>
            </a>
        </div>
    </section>
    <div class="qa-split">
        <div class="qa">
            <section class="page-section">
                <div class="qa-items">
                    {{ range .Pages.ByPublishDate.Reverse }}
                        {{ partial "components/qa/card.html" . }}
                    {{ end }}
                </div>
            </section>
        </div>
    </div>
	<section class="page-section page-section-qa-root">
		{{ partial "subscribe.html" (dict "context" . "layout" "wide" "size" "large" ) }}
        <div class="illustrated-text">
            {{ partial "illustrations/radar.html" }}
		    <p>We are always on the lookout for interesting tools to feature. Is there a something we should look at? <a href="mailto:hello@console.dev" class="link">Let us know</a></p>
        </div>
	</section>

{{ end }}
