<div class="podcasts-card">
    <a onclick="blur();" class="card-link" href="{{ .RelPermalink }}"><span>Read</span></a>
    <div class="podcasts-card-inner">
        <div class="podcasts-card-combo">
            <div class="podcasts-card-company-logo">
                <div class="logo aspect-ratio aspect-ratio-1-1">

                    {{ $nextGenImgSrc := partial "components/processed-img.html" (dict "src" .Params.topImg2Src "width" "216" "nextGen" "true") }}
                    {{ $imgSrc := partial "components/processed-img.html" (dict "src" .Params.topImg2Src "width" "216") }}
                    {{with $nextGenImgSrc }}<picture><source srcset="{{ . }}" type="image/webp">{{ end }}
                        <img loading="lazy" class="image" src="{{ $imgSrc }}" alt="{{ .Params.topImg2Alt }}" />
                    {{with $nextGenImgSrc }}</picture>{{ end }}
                    
                </div>
            </div>
            <div class="plane-picture">
                <img class="ratio" src="/img/ratio-plane.png" alt="">

                {{ $nextGenImgSrc := partial "components/processed-img.html" (dict "src" .Params.topImg1Src "width" "992" "nextGen" "true") }}
                {{ $imgSrc := partial "components/processed-img.html" (dict "src" .Params.topImg1Src "width" "992") }}
                {{with $nextGenImgSrc }}<picture><source srcset="{{ . }}" type="image/webp">{{ end }}
                    <img loading="lazy" class="image" src="{{ $imgSrc }}" alt="{{ .Params.topImg1Alt }}" />
                {{with $nextGenImgSrc }}</picture>{{ end }}
                
            </div>
        </div>
        <div class="podcasts-card-content">
            <div class="podcasts-card-heading">
                <div class="podcasts-card-title">{{ .Params.title }}</div>
                <div class="podcasts-card-people">
                    <p class="podcasts-card-people-names">with {{.Params.who }}</p>
                    <p class="podcasts-card-people-extra">{{ with .Params.role }}{{ . }}, {{end}}{{ .Params.org }}</p>
                </div>
            </div>
            <p class="small podcasts-card-description">{{ .Params.what }}</p>
            <div class="podcasts-card-meta">
                {{ $s := .Params.season }}
                {{ $e := .Params.episode }}
                <span class="episode-no">S{{ if lt $s 10 }}0{{ end }}{{ $s }} E{{ if lt $e 10 }}0{{ end }}{{ $e }}</span>
                <span>—</span>
                <span class="date">{{ .Date.Format "2006-01-02" }}</span>
            </div>
        </div>
    </div>
</div>
