<div class="combo-card">
    <a data-card-link onclick="blur();" class="card-link" href="{{ .content.RelPermalink }}"></a>
    <div class="combo-card-combo-box">
        <img class="ratio" src="/img/ratio-combo.png" alt="">
        <div class="combo-card-combo-box-visuals{{ with .visualsType }} {{ . }}{{ end }}">
            {{ if eq .visualsType "logo-profile" }}
                {{ partial "components/podcasts/combo-card-logo-profile.html" (dict "content" .content) }}
            {{ end }}
            {{ if eq .visualsType "logo-logo" }}
                {{ partial "components/podcasts/combo-card-logo-logo.html" (dict "content" .content) }}
            {{ end }}
        </div>
    </div>
    <div class="combo-card-content">
        <div class="combo-card-heading">
            <div class="combo-card-title">{{ .content.Params.title }}</div>
            <div class="combo-card-subtitle">
                <p class="combo-card-subtitle-main">with {{ .content.Params.who }}</p>
                <p class="combo-card-subtitle-extra">{{ with .content.Params.role }}{{ . }}, {{end}}{{ .content.Params.org }}</p>
            </div>
        </div>
        <p class="small combo-card-description">{{ .content.Params.what }}</p>
        <div class="combo-card-meta">
            {{ $s := .content.Params.season }}
            {{ $e := .content.Params.episode }}
            <span class="episode-no">S{{ if lt $s 10 }}0{{ end }}{{ $s }} E{{ if lt $e 10 }}0{{ end }}{{ $e }}</span>
            <span>—</span>
            <span class="date">{{ .content.Date.Format "2006-01-02" }}</span>
        </div>
    </div>
    <button data-play-button class="console-button round icon-only quiet play" tabindex="-1" aria-label="Play">
        {{ partial "icons/play.html" }}
        {{ $duration := printf "2000-01-01T%s%s" "00:" .content.Params.duration | time }}
        <span class="hover-content">Play · {{ $duration.Minute }}m {{ $duration.Second }}s</span>
    </button>
</div>