<div class="about-console-box">
    {{ partial "components/logo.html" }}
    <div class="about-console-box-content">
        <h6 class="title title-5">About Console</h3>
            <p class="small"><span class="console-name">Console</span> is the place developers go to find the best
                tools. Each week, our weekly newsletter picks out the most interesting tools and new releases. We keep
                track of everything - dev tools, devops, cloud, and APIs - so you don’t have to.</p>
    </div>
</div>