<div data-console-player-wrapper class="console-player">
    <audio data-console-player-audio style="display: none;" preload="none" src="{{ .src }}"></audio>
    <div class="console-player-top">
        <button data-play onclick="blur();" class="console-button-text play" aria-label="Play">{{ partial "icons/play.html" }}</button>
        <button data-pause onclick="blur();" class="console-button-text pause" aria-label="Pause">{{ partial "icons/pause.html" }}</button>
        <h6 class="title title-5" title="{{ .title }}">{{ .title }}</h6>
    </div>
    <div data-progress class="progress"><span class="bg"></span><span data-elapsed class="elapsed" style="width: 0%"></span></div>
</div>