<div class="box-collapsible{{ with .style}} color-{{ . }}{{ end }}{{ with .class }} {{ . }}{{ end }}">
	<button class="box-collapsible-top" data-onclickblur onclick="toggleCollapsible(event)">
		<div data-box-collapsible-title class="title title-4">{{ .title }}</div>
		{{ partial (printf "%s%s" "icons/" .icon ) }}
	</button>
	<p data-box-collapsible-info class="box-collapsible-info small"></p>
	<div class="box-collapsible-content" data-collapsible-content>
		{{ with .content }}{{ . | safeHTML }}{{ end }}
	</div>
</div>