<div class="notice-disclosure-item-popup">
    <div class="notice-disclosure-indicator" data-tooltip-handle>✦ Sponsored</div>
    <div class="tooltip-hook tooltip-top-down tooltip-small">
        <div data-tooltip class="tooltip">
            <div class="tooltip-content">
                <p class="x-small">All reviews are editorially independent, and partners must meet our <a href="https://console.dev/about/#selection-criteria" class="link">selection criteria</a>.</p>
            </div>
        </div>
    </div>
</div>