{{ $src := "" }}

{{ if .src }}
    {{ $resource := resources.Get .src }}
    {{ if $resource }}
        {{ if eq $resource.ResourceType "image" }}
            {{ $imgPermalink := $resource.Permalink }}
            {{ if or (eq $resource.MediaType.SubType "jpg") (eq $resource.MediaType.SubType "jpeg") (eq $resource.MediaType.SubType "png") }}

                {{ if .nextGen }} 

                    {{ $resizedImgNextGen := "" }}
                    {{ if gt $resource.Width .width }}
                        {{ $resizedImgNextGen = $resource.Resize (print .width "x webp Lanczos") }}
                    {{ else }}
                        {{ $resizedImgNextGen = $resource.Resize (print $resource.Width "x webp Lanczos") }}
                    {{ end }}

                    {{ $src = $resizedImgNextGen.Permalink }}

                {{ else }}

                    {{ $resizedImg := "" }}
                    {{ if or (eq $resource.MediaType.SubType "jpg") (eq $resource.MediaType.SubType "jpeg") }}
                        {{ if gt $resource.Width .width }}
                            {{ $resizedImg = $resource.Resize (print .width "x jpeg Lanczos") }}
                        {{ else }}
                            {{ $resizedImg = $resource.Resize (print $resource.Width "x jpeg Lanczos") }}
                        {{ end }}
                    {{ else if (eq $resource.MediaType.SubType "png") }}
                        {{ if gt $resource.Width .width }}
                            {{ $resizedImg = $resource.Resize (print .width "x png Lanczos") }}
                        {{ else }}
                            {{ $resizedImg = $resource.Resize (print $resource.Width "x png Lanczos") }}
                        {{ end }}
                    {{ end }}

                    {{ $src = $resizedImg.Permalink }}

                {{ end }}

            {{ else }}
                {{ if .nextGen }} 
                    {{ $src = "" }}
                {{ else }}
                    {{ $src = .src }}
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{ return $src }}