{{- $showDate := .Announced -}}
{{- $url := .URL }}
{{- if index . "Beta ended" -}}
{{- $showDate = index . "Beta ended" -}}
{{- $url = index . "GA URL" -}}
{{- end -}}
<div class="beta-card{{ with index . "Weekly Pick" }} beta-card-pick{{ end }}" data-card data-date="{{ $showDate }}" data-name="{{ index . "Tool/Product/Project" }}" data-pick="{{ index . "Weekly Pick" }}" data-taxonomy="{{ index . "Filter Taxonomy" }}">
	<a onclick="blur();" class="card-link" href="{{ $url }}" target="_blank" rel="noopener"><span>{{- if eq .Access "Open" -}}Details{{- else -}}{{- if index . "Beta ended" -}}Details{{- else -}}Apply{{- end -}}{{- end -}} {{ partial "icons/external-link.html" }}</span></a>
    {{ with index . "Weekly Pick" -}}
		{{ partial "icons/console-mini-filled.html" }}
	{{- end }}
    <span class="date">{{ $showDate }}</span>
	<div class="beta-card-content">
		<div class="left">
			{{- $favicon := index . "favicon" -}}
			{{- $faviconStatic := print "static/" $favicon -}}
			<div class="beta-card-thumbnail aspect-ratio aspect-ratio-1-1">
				{{- if $favicon -}}
					{{- if (fileExists $faviconStatic) -}}
						<img class="image" src="/{{ $favicon }}" alt="{{ index . "Company/Org" }} Logo" />
					{{- else -}}
						<div class="card-thumbnail-generic">{{ partial (print "icons/" (replace (lower .Category) " " "-") ".html") }}</div>
					{{- end -}}
				{{- else -}}
					<div class="card-thumbnail-generic">{{ partial (print "icons/" (replace (lower .Category) " " "-") ".html") }}</div>
				{{- end -}}
			</div>
			<h4 class="title title-3">
				{{- $org := index . "Company/Org" -}}
				{{- $name := index . "Tool/Product/Project" -}}
				{{- if in $name $org -}}{{ $name }}{{- else -}}{{ $name }}, from {{ $org }}{{- end -}}
			</h4>
		</div>
		<div class="right">
			<div class="left">
				<h4 class="title title-3">
					{{- $org := index . "Company/Org" -}}
					{{- $name := index . "Tool/Product/Project" -}}
					{{- if in $name $org -}}{{ $name }}{{- else -}}{{ $name }}, from {{ $org }}{{- end -}}
				</h4>
				<p class="beta-card-description">{{ index . "What is it?" }}</p>
			</div>
			<div class="taxonomy">
				<div class="categories">
					{{ partial (print "icons/" (replace (lower .Category) " " "-") ".html") }}
					<span class="category">{{ .Category }}</span>
				</div>
				<div class="tags">
					{{ partial "icons/tag.html" }}
					<span class="tag">{{ .Type }}</span>
				</div>
			</div>
		</div>
	</div>
</div>
