<div class="feature-filters">
	<form action="" class="console-filters is-showing-all" data-feature-filters>
		<div class="sort-by">
			<label for="sort-feature-items" class="console-label console-label-small">Sort by</label>
			<select class="console-select console-input-small" name="" id="sort-feature-items" data-sort-feature-items-select onchange="blur(); sortItems()">
				<option value="date" selected>Date</option>
				<option value="name">Name</option>
			</select>
		</div>
		<div class="show-by">
			<label class="console-label console-label-small">Show</label>
			{{ range .items }}
				{{ $details := merge . (dict "color" "blue") }}
				{{ if eq .name "weekly-pick" }}
					{{ $details = merge . (dict "color" "green") }}
				{{ end }}
				{{ partial "components/checkbutton.html" (dict "context" $details "action" "filtering.toggledCheck" ) }}
			{{ end }}
			<button onclick="blur(); filtering.selectedAllChecks(); return false" class="console-button-text console-button-small select-all" title="Select all">
				<span>Select all</span>
			</button>
			<button onclick="blur(); filtering.clearedAllChecks(); return false" class="console-button-text console-button-small clear-all" title="Clear all">
				<span>Clear all</span>
			</button>
		</div>
	</form>
</div>
