<div class="feature-filters" data-feature-filters>
	<form action="" class="console-filters is-showing-all" data-feature-filters-form>
		<div class="sort-by">
			<label for="sort-feature-items" class="console-label console-label-small">Sort by</label>
			<select class="console-select console-input-small" name="" id="sort-feature-items" data-sort-feature-items-select onchange="blur()">
				<option value="date" selected>Date</option>
				<option value="name">Name</option>
			</select>
		</div>
		<div class="show-by">
			<label class="console-label console-label-small">Category</label>
			{{ range .dot.categoryItems }}
				{{ $details := merge . (dict "color" "blue") }}
				{{ partial "components/checkbutton.html" (dict "context" $details "action" "filtering.toggledCheck" "dataFilter" "toggle" "dataFilterGroup" "tag" ) }}
			{{ end }}
		</div>
		<div class="show-by">
			<label class="console-label console-label-small">Tag</label>
			{{ range .dot.tagItems }}
				{{ $details := merge . (dict "color" "blue") }}
				{{ if eq .name "weekly-pick" }}
					{{ $details = merge . (dict "color" "green") }}
				{{ end }}
				{{ partial "components/checkbutton.html" (dict "context" $details "action" "filtering.toggledCheck" "dataFilter" "toggle" "dataFilterGroup" "tag" ) }}
			{{ end }}
		</div>
		<div>
			<button data-filter="select-all" onclick="blur()" class="console-button-text console-button-small select-all" title="Select all">
				<span>Select all</span>
			</button>
			<button data-filter="clear-all" onclick="blur()" class="console-button-text console-button-small clear-all" title="Clear all">
				<span>Clear all</span>
			</button>
		</div>
	</form>
</div>
