<div id="betas-filters" class="betas-filters">
	<form action="" class="console-filters">
		<select name="" id="">
			<option value="date">Date</option>
			<option value="date">Name</option>
			<option value="date">Weekly Pick</option>
		</select>
		{{ range .items }}
			{{ $details := merge . (dict "color" "blue") }}
			{{ if eq .name "weekly-pick" }}
				{{ $details = merge . (dict "color" "green") }}
			{{ end }}
			{{ partial "components/checkbutton.html" (dict "context" $details ) }}
		{{ end }}
	</form>
	<p class="small">Showing 27 results for: API, Cloud, Database, Developer Tool.</p>
</div>