/* Icons
   ================================================================================================================ */
.icon {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.icon-fill {
    fill: var(--theme-text-1);
}

.icon-stroke {
    fill: none;
    stroke-width: 1px;
    stroke: var(--theme-text-1);
}

.icon-fill-stroke {
    fill: var(--theme-text-1);
    stroke-width: 1px;
    stroke: var(--theme-text-1);
}

@media (max-width: 480px) {
    .icon {
        width: 16px;
        height: 16px;
    }
}

/* .icon-menu
    --------------------------------------------------------------- */
[class^="icon-menu-shape-"],
[class*=" icon-menu-shape-"] {
    position: absolute;
    height: 1px;
    background: var(--theme-text-1);
    width: 82%;
    top: calc(50% - 1px);
    left: 50%;
    transform: translateX(-50%);
    transition: var(--a-micro-active);
}

.icon-menu-shape-one {
    margin-top: -14%;
}

.icon-menu-shape-two {
    margin-top: 14%;
    width: 55%;
    margin-left: 13.5%;
}

.is-active .icon-menu .icon-menu-shape-one {
    margin-top: 0;
    transform: translateX(-50%) rotate(45deg);
    transition: var(--a-micro);
}

.is-active .icon-menu .icon-menu-shape-two {
    margin-top: 0;
    margin-left: 0;
    width: 82%;
    transform: translateX(-50%) rotate(-45deg);
    transition: var(--a-micro);
}

/* .icon-filter
    --------------------------------------------------------------- */
[class^="icon-filter-shape-"],
[class*=" icon-filter-shape-"] {
    position: absolute;
    height: 1px;
    background: var(--theme-text-1);
    width: 82%;
    top: calc(50% - 1px);
    left: 50%;
    transform: translateX(-50%);
    transition: var(--a-micro-active);
}

.icon-filter-shape-one {
    margin-top: -25%;
}

.icon-filter-shape-two {
    width: 50%;
}

.icon-filter-shape-three {
    margin-top: 25%;
    width: 20%;
}

.is-expanded .icon-filter-shape-one {
    margin-top: 0%;
    transform: translateX(-50%) rotate(45deg);
}

.is-expanded .icon-filter-shape-two {
    width: 0;
}

.is-expanded .icon-filter-shape-three {
    margin-top: 0%;
    width: 82%;
    transform: translateX(-50%) rotate(-45deg);
}

/* .icon-expand
    --------------------------------------------------------------- */
[class^="icon-expand-shape-"],
[class*=" icon-expand-shape-"] {
    position: absolute;
    height: 1px;
    background: var(--theme-text-1);
    width: 41%;
    top: 31.5%;
    transition: var(--a-micro-active);
}

.icon-expand-shape-one {
    left: 24%;
    transform-origin: top left;
    transform: rotate(45deg);
}

.icon-expand-shape-two {
    right: 24%;
    transform-origin: top right;
    transform: rotate(-45deg);
}

.is-expanded .icon-expand-shape-one {
    top: 21%;
    width: 82%;
}

.is-expanded .icon-expand-shape-two {
    top: 21%;
    width: 82%;
}

/* Illustrations
   ================================================================================================================ */
.illustration {
    position: relative;
    display: inline-block;
    width: 128px;
    height: 128px;
}

.theme .illustration [fill="white"] {
    fill: var(--theme-text-1);
}

.theme .illustration [stroke="white"] {
    stroke: var(--theme-text-1);
}

/* Collapsible Box
   ================================================================================================================ */
.box-collapsible {
    background: var(--theme-collapsible-bg-1);
}

.box-collapsible.color-blue {
    background: var(--theme-collapsible-bg-blue-1);
}

.box-collapsible .title[class^="title-"],
.box-collapsible .title[class*=" title-"] {
    margin-bottom: 0;
}

.box-collapsible .box-collapsible-top {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    outline: none;
    width: 100%;
    padding: var(--space2) var(--space3);
    text-align: left;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;
    background: rgba(255, 255, 255, 0);
    transition: var(--a-controls);
}

.box-collapsible.is-expanded .box-collapsible-top {
    padding: var(--space3) var(--space3);
    transition: var(--a-controls-active);
}

.box-collapsible .box-collapsible-top:hover,
.box-collapsible .box-collapsible-top:focus {
    background: rgba(255, 255, 255, 0.02);
    transition: var(--a-active);
}

.box-collapsible .box-collapsible-top:active {
    background: rgba(255, 255, 255, 0.03);
}

.box-collapsible .box-collapsible-top .title {
    flex: 1 1 auto;
}

.box-collapsible .box-collapsible-top .icon {
    flex: 0 0 auto;
    margin-left: var(--space3);
}

.box-collapsible .box-collapsible-content {
    padding: 0 var(--space3);
    max-height: 0;
    transition: var(--a-elements);
    overflow: hidden;
}

.box-collapsible.is-expanded .box-collapsible-content {
    padding: var(--space3);
    max-height: 200px;
    transition: var(--a-elements-active);
}

.box-collapsible .subscribe-cta {
    padding: 0;
    background: transparent;
}

.box-collapsible .subscribe-cta .title {
    display: none;
}

/* Links
   ================================================================================================================ */
.link:link,
.link:visited {
    color: var(--theme-text-1);
    text-decoration: underline;
    font-weight: 400;
    transition: var(--a-controls);
    outline: none;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.link:hover,
.link:focus {
    color: var(--c-blue-04);
    text-decoration: none;
}

.link:active {
    color: var(--c-blue-06-main);
    text-decoration: none;
    transition: var(--a-controls-active);
}

.link:link .icon,
.link:visited .icon {
    fill: var(--theme-text-1);
    transition: var(--a-controls);
    vertical-align: -0.2em;
    width: 1em;
    height: 1em;
}

.link:hover .icon,
.link:focus .icon {
    fill: var(--c-blue-04);
}

.link:active .icon {
    fill: var(--c-blue-06-main);
    transition: var(--a-controls-active);
}

/* Subscribe CTA
   ================================================================================================================ */
.subscribe-cta {
    padding: var(--space4);
    background: var(--theme-content-bg-2);
}

@media (max-width: 768px) {
    .subscribe-cta .console-form {
        margin: var(--space4) 0 0;
    }
}

@media (min-width: 769px) {
    .main-article .subscribe-cta {
        background: var(--theme-content-bg-2);
        border: var(--theme-border-1);
    }

    .subscribe-cta.layout-wide {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    .subscribe-cta.layout-wide .subscribe-copy {
        margin-right: calc(var(--space4) + var(--space2));
        flex: 1 1 auto;
    }

    .subscribe-cta.layout-wide .console-form {
        margin-top: 0;
        flex: 0 0 auto;
    }

    .subscribe-cta.layout-wide .console-form {
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        width: 35%;
    }

    .subscribe-cta.layout-wide .console-form .console-button {
        margin-left: 0;
        margin-top: var(--space3);
    }
}

/* Button
   ================================================================================================================ */
.console-button,
[class^="console-button"],
[class*=" console-button"] {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    outline: none;
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    font-size: var(--t-size0);
    line-height: var(--t-lH4);
    vertical-align: top;
    cursor: pointer;
    font-weight: 500;
    transition: var(--a-controls);
    text-decoration: none;
}

.console-button.console-button-medium,
[class^="console-button"].console-button-medium,
[class*=" console-button"].console-button-medium {
    font-size: var(--t-size-1);
}

.console-button.console-button-small,
[class^="console-button"].console-button-small,
[class*=" console-button"].console-button-small {
    font-size: var(--t-size-2);
}

.console-button:active,
[class^="console-button"]:active,
[class*=" console-button"]:active,
.console-button:focus,
[class^="console-button"]:focus,
[class*=" console-button"]:focus {
    transition: var(--a-controls-active);
}

.console-button span,
[class^="console-button"] span,
[class*=" console-button"] span {
    flex: 0 0 auto;
}

.console-button.icon-left span,
[class^="console-button"].icon-left span,
[class*=" console-button"].icon-left span {
    margin-left: 0.75em;
}

.console-button.icon-right span,
[class^="console-button"].icon-right span,
[class*=" console-button"].icon-right span {
    margin-right: 0.75em;
}

.console-button .icon,
[class^="console-button"] .icon,
[class*=" console-button"] .icon {
    flex: 0 0 auto;
    width: 1.2em;
    height: 1.2em;
    transition: var(--a-controls);
}

.console-button:active .icon,
[class^="console-button"]:active .icon,
[class*=" console-button"]:active .icon,
.console-button:focus .icon,
[class^="console-button"]:focus .icon,
[class*=" console-button"]:focus .icon {
    transition: var(--a-controls-active);
}

.console-button {
    margin-left: var(--space3);
    background: var(--c-blue-06-main);
    padding: calc(var(--space2) + var(--space1)) calc(var(--space3) + var(--space1));
    border-radius: var(--corners-x-small);
    color: var(--theme-cta-text);
}

.console-button:hover,
.console-button:focus {
    background: var(--c-blue-07);
}

.console-button:active {
    background: var(--c-blue-08);
}

.console-button .icon-fill {
    fill: var(--theme-cta-text);
}

.console-button .icon-stroke {
    stroke: var(--theme-cta-text);
}

.console-button.console-button-medium {
    padding: calc(var(--space2) + calc(var(--space1) / 2)) calc(var(--space3) + calc(var(--space1) / 2));
}

.console-button.console-button-small {
    padding: var(--space2) var(--space3);
}

/* Text Button
    --------------------------------------------------------------- */
/* Default */
.console-button-text {
    font-size: var(--t-size0);
    line-height: var(--t-lH4);
    color: var(--theme-cta-secondary-text-idle);
    text-decoration: none;
}
.console-button-text:hover {
    color: var(--theme-cta-secondary-text-hover);
}
.console-button-text:active,
.console-button-text:focus {
    color: var(--theme-cta-secondary-text-active);
}

.console-button-text .icon-fill {
    fill: var(--theme-cta-secondary-text-idle);
}
.console-button-text:hover .icon-fill {
    fill: var(--theme-cta-secondary-text-hover);
}
.console-button-text:active .icon-fill,
.console-button-text:focus .icon-fill {
    fill: var(--theme-cta-secondary-text-active);
}

.console-button-text .icon-stroke {
    stroke: var(--theme-cta-secondary-text-idle);
}
.console-button-text:hover .icon-stroke {
    stroke: var(--theme-cta-secondary-text-hover);
}
.console-button-text:active .icon-stroke,
.console-button-text:focus .icon-stroke {
    stroke: var(--theme-cta-secondary-text-active);
}

.console-button-text .icon-fill-stroke {
    stroke: var(--theme-cta-secondary-text-idle);
    fill: var(--theme-cta-secondary-text-idle);
}
.console-button-text:hover .icon-fill-stroke {
    stroke: var(--theme-cta-secondary-text-hover);
    fill: var(--theme-cta-secondary-text-hover);
}
.console-button-text:active .icon-fill-stroke,
.console-button-text:focus .icon-fill-stroke {
    stroke: var(--theme-cta-secondary-text-active);
    fill: var(--theme-cta-secondary-text-active);
}

/* Green */
.console-button-text.console-button-green {
    color: var(--theme-cta-secondary-green-text-idle);
}
.console-button-text.console-button-green:hover {
    color: var(--theme-cta-secondary-green-text-hover);
}
.console-button-text.console-button-green:active,
.console-button-text.console-button-green:focus {
    color: var(--theme-cta-secondary-green-text-active);
}

.console-button-text.console-button-green .icon-fill {
    fill: var(--theme-cta-secondary-green-text-idle);
}
.console-button-text.console-button-green:hover .icon-fill {
    fill: var(--theme-cta-secondary-green-text-hover);
}
.console-button-text.console-button-green:active .icon-fill,
.console-button-text.console-button-green:focus .icon-fill {
    fill: var(--theme-cta-secondary-green-text-active);
}

.console-button-text.console-button-green .icon-stroke {
    stroke: var(--theme-cta-secondary-green-text-idle);
}
.console-button-text.console-button-green:hover .icon-stroke {
    stroke: var(--theme-cta-secondary-green-text-hover);
}
.console-button-text.console-button-green:active .icon-stroke,
.console-button-text.console-button-green:focus .icon-stroke {
    stroke: var(--theme-cta-secondary-green-text-active);
}

.console-button-text.console-button-green .icon-fill-stroke {
    stroke: var(--theme-cta-secondary-green-text-idle);
    fill: var(--theme-cta-secondary-green-text-idle);
}
.console-button-text.console-button-green:hover .icon-fill-stroke {
    stroke: var(--theme-cta-secondary-green-text-hover);
    fill: var(--theme-cta-secondary-green-text-hover);
}
.console-button-text.console-button-green:active .icon-fill-stroke,
.console-button-text.console-button-green:focus .icon-fill-stroke {
    stroke: var(--theme-cta-secondary-green-text-active);
    fill: var(--theme-cta-secondary-green-text-active);
}

/* Control
   ================================================================================================================ */
.console-control {
    --paddingV: var(--space2);
    --paddingH: var(--space2);
    --lineHeightHalf: calc(var(--t-lH3) / 2);
    position: relative;
    display: inline-block;
    padding: 0;
    border: 0;
    outline: none;
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    background: transparent;
    color: var(--theme-control-text);
    padding: var(--paddingV) var(--paddingH);
    font-size: var(--t-size-3);
    line-height: var(--t-lH3);
    border-radius: calc(var(--paddingV) + var(--lineHeightHalf));
    cursor: pointer;
    font-weight: 500;
    transition: var(--a-controls);
}

body:not(.mobile) .console-control:hover {
    background: var(--theme-content-bg-4);
}

.console-control:active,
.console-control:focus {
    color: var(--theme-control-text-pressed);
    background: var(--theme-control-border);
    transition: var(--a-controls-active);
}

.console-control:before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: calc(var(--paddingV) + var(--lineHeightHalf));
    transition: var(--a-controls);
}

body:not(.mobile) .console-control:hover:before {
    border: 1px solid var(--theme-control-border);
}

.console-control:active:before,
.console-control:focus:before {
    transition: var(--a-controls-active);
}

.console-control span {
    display: inline-block;
    flex: 0 0 auto;
}

.console-control.icon-left span {
    margin-left: calc(var(--space2) + var(--space1));
    margin-right: var(--space1);
}

.console-control.icon-right span {
    margin-right: calc(var(--space2) + var(--space1));
    margin-left: var(--space1);
}

.console-control img,
.console-control svg {
    flex: 0 0 auto;
}

.console-control svg {
    fill: var(--theme-control-text);
    width: 16px;
    height: 16px;
    transition: var(--a-controls);
}

.console-control:active svg,
.console-control:focus svg {
    fill: var(--theme-control-text-pressed);
    transition: var(--a-controls-active);
}

/* Checkbutton
   ================================================================================================================ */
.console-checkbutton {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.console-checkbutton input {
    width: 0px;
    height: 0px;
    opacity: 0;
    position: absolute;
    overflow: hidden;
}

.console-checkbutton input + label {
    position: relative;
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;
    border-radius: var(--corners-x-small);
    border: var(--theme-control-button-inactive-border);
    color: var(--theme-control-button-inactive-text);
    margin: 0;
    padding: calc(var(--space1) - 2px) var(--space2);
    font-size: var(--t-size-2);
    line-height: var(--t-lH4);
    font-weight: 400;
    transition: var(--a-elements);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.console-checkbutton input + label:hover,
.console-checkbutton input:focus + label {
    border: var(--theme-control-button-inactive-border-hover);
    background: var(--theme-control-button-inactive-background-hover);
    color: var(--theme-control-button-inactive-text-hover);
    transition: var(--a-elements-active);
}

.console-checkbutton input + label .icon {
    flex: 0 0 auto;
    width: 1.2em;
    height: 1.2em;
    margin-right: var(--space1);
    fill: var(--theme-control-button-inactive-text);
    transition: var(--a-elements);
}

.console-checkbutton input + label:hover .icon,
.console-checkbutton input:focus + label .icon {
    fill: var(--theme-control-button-inactive-text-hover);
    transition: var(--a-elements-active);
}

.console-checkbutton input + label .icon-plus,
.console-checkbutton input + label .icon-checkmark,
.console-checkbutton input + label .icon-minus,
.console-checkbutton input + label .icon-x {
    margin-right: var(--space1);
    width: 1em;
    height: 1em;
}

.console-checkbutton input:not(:checked) + label .icon-checkmark,
.console-checkbutton input:checked + label .icon-plus {
    display: none;
}

.console-checkbutton.color-blue input:checked + label {
    color: var(--theme-control-button-active-blue-text);
    background: var(--theme-control-button-active-blue-background);
    border: 1px solid transparent;
}
.console-checkbutton.color-blue input:checked + label .icon {
    fill: var(--theme-control-button-active-blue-text);
}
.console-checkbutton.color-blue input:checked + label:hover,
.console-checkbutton.color-blue input:checked:focus + label {
    color: var(--theme-control-button-active-blue-text-hover);
    background: var(--theme-control-button-active-blue-background-hover);
}
.console-checkbutton.color-blue input:checked + label:hover .icon,
.console-checkbutton.color-blue input:checked:focus + label .icon {
    fill: var(--theme-control-button-active-blue-text-hover);
}

.console-checkbutton.color-fuchsia input:checked + label {
    color: var(--theme-control-button-active-fuchsia-text);
    background: var(--theme-control-button-active-fuchsia-background);
    border: 1px solid transparent;
}
.console-checkbutton.color-fuchsia input:checked + label .icon {
    fill: var(--theme-control-button-active-fuchsia-text);
}
.console-checkbutton.color-fuchsia input:checked + label:hover,
.console-checkbutton.color-fuchsia input:checked:focus + label {
    color: var(--theme-control-button-active-fuchsia-text-hover);
    background: var(--theme-control-button-active-fuchsia-background-hover);
}
.console-checkbutton.color-fuchsia input:checked + label:hover .icon,
.console-checkbutton.color-fuchsia input:checked:focus + label .icon {
    fill: var(--theme-control-button-active-fuchsia-text-hover);
}

.console-checkbutton.color-green input:checked + label {
    color: var(--theme-control-button-active-green-text);
    background: var(--theme-control-button-active-green-background);
    border: 1px solid transparent;
}
.console-checkbutton.color-green input:checked + label .icon {
    fill: var(--theme-control-button-active-green-text);
}
.console-checkbutton.color-green input:checked + label:hover,
.console-checkbutton.color-green input:checked:focus + label {
    color: var(--theme-control-button-active-green-text-hover);
    background: var(--theme-control-button-active-green-background-hover);
}
.console-checkbutton.color-green input:checked + label:hover .icon,
.console-checkbutton.color-green input:checked:focus + label .icon {
    fill: var(--theme-control-button-active-green-text-hover);
}

.console-checkbutton-master input + label,
.console-checkbutton-master.color-blue input:checked + label,
.console-checkbutton-master.color-fuchsia input:checked + label,
.console-checkbutton-master.color-green input:checked + label {
    background: none;
}

.console-checkbutton-master input + label,
.console-checkbutton-master input + label:hover,
.console-checkbutton-master input:focus + label {
    border: 1px solid transparent;
}

.console-checkbutton-master input:not(:checked):not(:indeterminate) + label .icon-minus,
.console-checkbutton-master input:not(:checked):not(:indeterminate) + label .icon-x,
.console-checkbutton-master input:checked:not(:indeterminate) + label .icon-minus,
.console-checkbutton-master input:checked:not(:indeterminate) + label .icon-plus,
.console-checkbutton-master input:not(:checked):indeterminate + label .icon-plus,
.console-checkbutton-master input:not(:checked):indeterminate + label .icon-x {
    display: none;
}

.console-checkbutton-master input:not(:checked):not(:indeterminate) + label .console-checkbutton-label-all,
.console-checkbutton-master input:checked:not(:indeterminate) + label .console-checkbutton-label-none,
.console-checkbutton-master input:not(:checked):indeterminate + label .console-checkbutton-label-all {
    display: block;
}

.console-checkbutton-master input:not(:checked):not(:indeterminate) + label .console-checkbutton-label-none,
.console-checkbutton-master input:checked:not(:indeterminate) + label .console-checkbutton-label-all,
.console-checkbutton-master input:not(:checked):indeterminate + label .console-checkbutton-label-none {
    display: none;
}

/* Tag / Category
   ================================================================================================================ */
.categories,
.tags {
    font-size: var(--t-size-3);
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    line-height: var(--t-lH4);
    white-space: nowrap;
}

.categories.inline,
.tags.inline {
    display: inline-flex;
}

.categories {
    color: var(--theme-categories-color-idle);
}

.tags {
    color: var(--theme-tag-color);
}

.tags > *:not(:first-of-type) {
    margin-left: var(--space1);
    display: inline-block;
}

.categories .icon,
.tags .icon {
    width: var(--t-size-2);
    height: var(--t-size-2);
    flex: 0 0 auto;
    margin-right: calc(var(--space2_5) / 2);
    margin-top: 0.15em;
}

.categories .icon-fill {
    fill: var(--theme-categories-color-idle);
}

.categories .icon-stroke {
    stroke: var(--theme-categories-color-idle);
}

.categories .icon-fill-stroke {
    fill: var(--theme-categories-color-idle);
    stroke: var(--theme-categories-color-idle);
}

.tags .icon-fill {
    fill: var(--theme-tag-color);
}

.tags .icon-stroke {
    stroke: var(--theme-tag-color);
}

.tags .icon-fill-stroke {
    fill: var(--theme-tag-color);
    stroke: var(--theme-tag-color);
}

.categories .category,
.tags .tag {
    white-space: normal;
}

.categories.clickable a:link,
.categories.clickable a:visited {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    line-height: var(--t-lH4);
    white-space: nowrap;
    color: var(--theme-categories-color-idle);
    text-decoration: none;
}

.categories.clickable a:hover,
.categories.clickable a:focus {
    color: var(--theme-categories-color-hover);
    outline: none;
}

.categories.clickable a:active {
    color: var(--theme-categories-color-active);
}

.categories.clickable a:link .icon-fill,
.categories.clickable a:visited .icon-fill {
    fill: var(--theme-categories-color-idle);
}

.categories.clickable a:hover .icon-fill,
.categories.clickable a:focus .icon-fill {
    fill: var(--theme-categories-color-hover);
}

.categories.clickable a:active .icon-fill {
    fill: var(--theme-categories-color-active);
}

.categories.clickable a:link .icon-stroke,
.categories.clickable a:visited .icon-stroke {
    stroke: var(--theme-categories-color-idle);
}

.categories.clickable a:hover .icon-stroke,
.categories.clickable a:focus .icon-stroke {
    stroke: var(--theme-categories-color-hover);
}

.categories.clickable a:active .icon-stroke {
    stroke: var(--theme-categories-color-active);
}

.categories.clickable a:link .icon-fill-stroke,
.categories.clickable a:visited .icon-fill-stroke {
    fill: var(--theme-categories-color-idle);
    stroke: var(--theme-categories-color-idle);
}

.categories.clickable a:hover .icon-fill-stroke,
.categories.clickable a:focus .icon-fill-stroke {
    fill: var(--theme-categories-color-hover);
    stroke: var(--theme-categories-color-hover);
}

.categories.clickable a:active .icon-fill-stroke {
    fill: var(--theme-categories-color-active);
    stroke: var(--theme-categories-color-active);
}

/* Separator
   ================================================================================================================ */
.separator {
    display: block;
    height: 1px;
    margin: var(--space4) 0 var(--space3);
    padding: 0;
    background: var(--theme-separator-1);
}

/* Badge
   ================================================================================================================ */
.badge {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-100%);
    background: var(--theme-badge-bg);
    color: var(--theme-badge-text);
    border-radius: var(--corners-xx-small);
    font-size: calc(var(--t-size-5) * 0.9);
    text-transform: uppercase;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.2em;
    padding: 0.1em 0.3em;
}

.badge.inline {
    position: relative;
    right: auto;
    top: auto;
    transform: none;
    font-size: inherit;
}

/* Popup
   ================================================================================================================ */
.popup {
    background-color: var(--theme-content-bg-4);
    border-radius: var(--corners-mid);
    padding: var(--space4);
    display: block;
    opacity: 0;
    box-shadow: var(--theme-shadow-3);
    transition: var(--a-elements);
    overflow: hidden;
    pointer-events: none;
}

.popup.is-visible {
    pointer-events: all;
    opacity: 1;
    transition: var(--a-elements-active);
}

.popup.popup-top-down,
.popup.popup-bottom-up.is-visible {
    transform: translateY(0);
}

.popup.popup-top-down.is-visible,
.popup.popup-bottom-up {
    transform: translateY(var(--space4));
}

/* Empty Card
   ================================================================================================================ */
.card-empty-placeholder {
    position: relative;
    background-color: var(--theme-empty-bg-1);
    border-radius: var(--corners-mid);
    padding: var(--space3) var(--space4);
    background-image: var(--theme-empty-dashed-border);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

/* Card
   ================================================================================================================ */
.console-card {
    position: relative;
    background-color: var(--theme-content-bg-0);
    box-shadow: var(--theme-shadow-1);
    border-radius: var(--corners-mid);
    padding: var(--space3) var(--space4);
}

.console-card.miniature-card {
    padding: var(--space2_5) var(--space3);
}

.card-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid transparent;
    background: transparent;
    border-radius: var(--corners-mid);
    z-index: 10;
    overflow: hidden;
    transition: var(--a-controls);
}

.card-link:hover,
.card-link:focus {
    transition: var(--a-controls-active);
    border: var(--theme-actionable-box-border-focus);
    background: var(--theme-actionable-box-bg-focus);
    outline: none;
}

.card-link:active {
    border: var(--theme-actionable-box-border-active);
    background: var(--theme-actionable-box-bg-active);
}

.card-link span {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: absolute;
    right: -1px;
    bottom: -1px;
    color: var(--theme-cta-text);
    font-size: var(--t-size-3);
    line-height: var(--t-lH4);
    font-weight: 500;
    padding: calc(var(--space1) / 2) calc(var(--space2) + var(--space1));
    border-top-left-radius: var(--corners-mid);
    letter-spacing: normal;
    opacity: 0;
    transition: var(--a-controls);
}

.card-link span .icon {
    width: 1em;
    height: 1em;
    margin-left: var(--space1);
    opacity: 0;
    transition: var(--a-controls);
}

.card-link span .icon.icon-fill {
    fill: var(--theme-cta-text);
}

.card-link span .icon-stroke {
    stroke: var(--theme-cta-text);
}

.card-link:hover span,
.card-link:focus span {
    background: var(--theme-actionable-box-label-bg-focus);
    opacity: 1;
    transition: var(--a-controls-active);
}

.card-link:active span {
    background: var(--theme-actionable-box-label-bg-active);
}

.card-link:hover span .icon,
.card-link:focus span .icon {
    opacity: 1;
    transition: var(--a-controls-active);
}

.card-thumbnail-generic {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--corners-mid);
    border: 1px solid var(--theme-text-5);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.card-thumbnail-generic .icon {
    width: var(--t-size4);
    height: var(--t-size4);
}

.card-thumbnail-generic .icon-fill {
    fill: var(--theme-text-5);
}

.card-thumbnail-generic .icon-stroke {
    stroke: var(--theme-text-5);
}

.card-thumbnail-generic .icon-fill-stroke {
    fill: var(--theme-text-5);
    stroke: var(--theme-text-5);
}

.console-card .title .link {
    text-decoration: none;
}

/* Illustrated Text
   ================================================================================================================ */
.illustrated-text {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.illustrated-text .illustration {
    width: 128px;
    height: 128px;
    flex: 0 0 auto;
    margin-right: var(--space4);
}

.illustrated-text p {
    flex: 1 1 auto;
    display: inline-block;
}

@media (max-width: 440px) {
    .illustrated-text {
        flex-flow: column nowrap;
        justify-content: center;
    }

    .illustrated-text .illustration {
        width: 60%;
        height: auto;
        margin-right: 0;
        margin-bottom: var(--space4);
    }

    .illustrated-text p {
        text-align: center;
    }
}

/* Feature Article Artwork
   ================================================================================================================ */
.artwork {
    position: relative;
    height: auto;
    left: 0;
    right: 0;
    margin-top: calc(calc(var(--space4) + var(--space2)) * -1);
    overflow: hidden;
    z-index: 10;
    margin: var(--space4_5) 0 var(--space5);
}

.artwork-background {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    height: 100%;
    object-fit: cover;
    transform: translateY(-50%);
    z-index: 10;
}

.artwork-story {
    position: relative;
    z-index: 20;
}

@media (max-width: 600px) {
    .artwork {
        margin-left: -12vw;
        margin-right: -12vw;
    }
}

@media (max-width: 768px) {
    @media (max-width: 400px) {
        .artwork {
            margin-left: -10vw;
            margin-right: -10vw;
        }
    }

    @media (max-width: 480px) {
        .artwork {
            margin-bottom: var(--space4_5);
        }
    }

    @media (min-width: 601px) {
        .artwork {
            margin-left: -14vw;
            margin-right: -14vw;
        }
    }
}

@media (min-width: 769px) {
    .artwork {
        margin-left: -6.25vw;
        margin-right: -6.25vw;
    }
}

@media (min-width: 1600px) {
    .artwork {
        margin-left: 0;
        margin-right: 0;
        width: 114%;
        margin-left: -7%;
    }
}

/* 1600px + left & right margin (6.25vw) */
@media (min-width: 1828px) {
    .artwork {
        margin-left: 0;
        width: 100%;
    }
}

/* Table of Contents
   ================================================================================================================ */
.toc {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    width: inherit;
}

.toc .title.title-4 {
    margin-bottom: var(--space3);
    color: var(--theme-text-4);
}

.toc ul {
    margin: 0;
    padding: 0;
    padding-right: var(--space3);
    border-right: 1px solid var(--theme-text-4);
}

.toc ul li {
    list-style: none;
}

.toc-item {
    line-height: var(--t-lH4);
    font-size: var(--t-size-2);
}

.toc-item:not(:first-child, .toc-item-sub) {
    margin-top: var(--space3_5);
}

.toc-item.toc-item-sub {
    font-size: var(--t-size-3);
    margin-top: var(--space2);
    margin-bottom: var(--space1);
}

.toc-link,
.toc-link {
    text-align: right;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    line-height: var(--t-lH4);
    transition: var(--a-micro);
    transform: translateX(0);
}

.toc-item-sub .toc-link {
    color: var(--c-grey-05);
}

.toc-link:link,
.toc-link:visited,
.toc-item-sub .toc-link:link,
.toc-item-sub .toc-link:visited {
    color: var(--theme-text-4);
}

.toc-link:focus,
.toc-link:hover,
.toc-item-sub .toc-link:focus,
.toc-item-sub .toc-link:hover {
    color: var(--theme-text-1);
    transform: translateX(calc(var(--space1) * -1));
    transition: var(--a-micro-active);
    outline: none;
}

.toc-link:active,
.toc-item-sub .toc-link:active {
    color: var(--theme-text-2);
}

.toc-link.is-active {
    color: var(--theme-text-1);
    font-weight: 400;
    margin: var(--space2) 0;
}

.toc-item-sub .toc-link.is-active {
    color: var(--theme-text-1);
}

@media (min-width: 1280px) {
    .toc-item {
        font-size: var(--t-size-1);
    }

    .toc-item.toc-item-sub {
        font-size: var(--t-size-2);
    }
}

@media (min-width: 1600px) {
    .toc-item {
        font-size: var(--t-size0);
    }

    .toc-item.toc-item-sub {
        font-size: var(--t-size-1);
    }
}

/* Plane Picture
    Only setting height is necessary, the width will be defined by the children ratio img  
   ================================================================================================================ */
.plane-picture {
    position: relative;
    display: inline-block;
    height: 100px;
    clip-path: polygon(30.9% 0%, 0% 100%, 69.1% 100%, 100% 0%);
}

.plane-picture .ratio {
    height: 100%;
    display: block;
    visibility: hidden;
}

.plane-picture .image {
    border-radius: 0;
    top: 0;
    left: 0;
}

.plane-picture.by-width {
    width: 100px;
    height: auto;
}

.plane-picture.by-width .ratio {
    width: 100%;
    display: block;
    visibility: hidden;
}

/* Author Box
   ================================================================================================================ */
.author-box {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}

.author-box .plane-picture {
    margin-right: var(--space3_5);
    width: 23.6%;
    flex: 1 0 auto;
}

/* About Console
   ================================================================================================================ */
.about-console-box {
    --theme-p1-stroke: var(--c-blue-06-main);
    --theme-p2-stroke: var(--c-fuchsia-05-main);
    --theme-p3-stroke: var(--c-green-05-main);
}

.about-console-box {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}

.about-console-box .logo {
    margin-right: var(--space3_5);
    width: 23.6%;
    flex: 1 0 auto;
}

.about-console-box .console-name {
    font-weight: 500;
}

.about-console-box .logo .plane-one,
.about-console-box .logo .plane-two,
.about-console-box .logo .plane-three {
    stroke-width: 2;
}

.about-console-box .logo .prompt-inverted {
    display: none;
}

.about-console-box .logo .prompt-normal {
    display: block;
}

/* Framed Section
   ================================================================================================================ */
.framed-section {
    border-radius: var(--corners-mid);
    padding: var(--space4) 0;
}

.framed-section > *:not(.framed-section-item) {
    margin-left: var(--space4);
    margin-right: var(--space4);
}

.framed-section-item > * {
    margin-left: var(--space4);
    margin-right: var(--space4);
}

.framed-section > .title {
    margin-bottom: var(--space4);
}

.framed-section.framed-section-default {
    border: var(--theme-framed-section-default-border);
    background: var(--theme-framed-section-default-bg);
}

.framed-section.framed-section-attention {
    border: var(--theme-framed-section-attention-border);
    background: var(--theme-framed-section-attention-bg);
}

.framed-section.framed-section-attention > .title {
    color: var(--theme-framed-section-attention-title);
}

.framed-section.framed-section-attention > .title .icon-fill {
    fill: var(--theme-framed-section-attention-title);
}

.framed-section.framed-section-attention > .title .icon-stroke {
    stroke: var(--theme-framed-section-attention-title);
}

.framed-section.framed-section-attention > p {
    color: var(--theme-framed-section-attention-text);
}

.framed-section-item {
    padding: var(--space4) 0;
}

.framed-section-item:first-of-type {
    margin-top: var(--space4);
}

.framed-section-item:last-child {
    padding-bottom: 0;
}

.framed-section.framed-section-default .framed-section-item {
    border-top: var(--theme-framed-section-default-item-border);
}

.framed-section.framed-section-attention .framed-section-item {
    border-top: var(--theme-framed-section-attention-item-border);
}

.framed-section-item .title.title-3 {
    margin-bottom: var(--space3);
}

.framed-section-item p {
    font-size: var(--t-size-1);
}

.framed-section-item.flat-lists ul {
    padding: 0;
}

.framed-section-item.flat-lists ul li {
    text-indent: 0;
    padding-left: 0;
    color: var(--theme-text-2);
}

.framed-section-item.flat-lists ul li:before {
    content: none;
}

/* Console Score
   ================================================================================================================ */
.console-score {
    color: var(--theme-text-2);
    font-size: var(--t-size-2);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.console-score .console-score-text {
    line-height: var(--t-lH4);
    vertical-align: top;
}

.console-score .score-bar {
    position: relative;
    display: inline-block;
    margin-left: var(--space2);
    height: 5px;
    width: 38px;
}

/* Score Bar
   ================================================================================================================ */
.score-bar {
    transform: skewX(-26.56deg);
}

.score-bar meter {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: none;
}

.score-bar .score-bar-background {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--theme-score-background);
    width: 100%;
    height: 100%;
    clip-path: path("M0 0H6V5H0V0Z M8 0H14V5H8V0Z M16 0H22V5H16V0Z M24 0H30V5H24V0Z M32 0H38V5H32V0Z");
}

.score-bar .score-bar-foreground {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--theme-score-foreground);
    width: 100%;
    height: 100%;
    clip-path: path("M0 0H6V5H0V0Z M8 0H14V5H8V0Z M16 0H22V5H16V0Z M24 0H30V5H24V0Z M32 0H38V5H32V0Z");
}

/* Media
   ================================================================================================================ */

.console-media {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 default */
}

.console-media > * {
    position: absolute;
    width: 100%;
    height: 100%;
}
