/* Defaults
   ========================================================================== */

:root {
    --c-white-00-absolute: #ffffff;
    --c-white-01-main: #f5f8fb;
    --c-white-02: #f1f2f6;

    --c-black-00-absolute: #000000;
    --c-black-01: #040404;
    --c-black-02-main: #0a0a0b;

    --c-grey-01-white-03: #e9eaef;
    --c-grey-02: #d1d3d9;
    --c-grey-03: #b5b6bf;
    --c-grey-04-whites-neutral: #95969f;
    --c-grey-05: #6f7078;
    --c-grey-06-blacks-neutral: #515158;
    --c-grey-07: #323237;
    --c-grey-08: #232327;
    --c-grey-09-black-03: #151517;

    --c-blue-01: #f4f8ff;
    --c-blue-02: #e4edff;
    --c-blue-03: #d4e2ff;
    --c-blue-04: #b5c9ff;
    --c-blue-05: #7e97ff;
    --c-blue-06-main: #5269ff;
    --c-blue-07: #3847f3;
    --c-blue-08: #252dd9;
    --c-blue-09: #14168b;
    --c-blue-10: #0e0f5f;
    --c-blue-11: #080833;

    --c-fuchsia-01: #fdf4ff;
    --c-fuchsia-02: #ffe1ff;
    --c-fuchsia-03: #ffceff;
    --c-fuchsia-04: #ffa6ff;
    --c-fuchsia-05-main: #f561f5;
    --c-fuchsia-06: #cd37ca;
    --c-fuchsia-07: #a51fa1;
    --c-fuchsia-08: #7d117a;
    --c-fuchsia-09: #550a53;
    --c-fuchsia-10: #3c083c;
    --c-fuchsia-11: #240524;

    --c-green-01: #dcfff7;
    --c-green-02: #abf7e7;
    --c-green-03: #7ceeda;
    --c-green-04: #43dec1;
    --c-green-05-main: #01bc90;
    --c-green-06: #009a64;
    --c-green-07: #007842;
    --c-green-08: #005629;
    --c-green-09: #003416;
    --c-green-10: #03230f;
    --c-green-11: #031208;

    --c-red: #ff4600;

    --border-dark-1: 1px solid rgba(255, 255, 255, 0.03);
    --border-dark-2: 1px solid #151515;
    --border-light-1: 1px solid rgba(0, 0, 0, 0.04);
    --border-light-2: 1px solid rgba(0, 0, 0, 0.1);

    --shadow-dark-3: 0 var(--space3) var(--space5) rgba(0, 0, 0, 0.8);
    --shadow-dark-2: 0 var(--space2) var(--space4) rgba(0, 0, 0, 0.8);
    --shadow-dark-1: 0 var(--space1) var(--space3) rgba(0, 0, 0, 0.6);

    --shadow-light-3: 0 var(--space3_5) var(--space5) rgba(0, 0, 0, 0.15);
    --shadow-light-2: 0 var(--space2_5) var(--space4) rgba(0, 0, 0, 0.2);
    --shadow-light-1: 0 var(--space1) var(--space3) rgba(0, 0, 0, 0.2);

    --translucent-dark: rgba(10, 10, 11, 0.6);
    --translucent-light: rgba(233, 234, 239, 0.6);

    --corners: 4px;

    --a-micro: all 0.08s ease-in-out;
    --a-micro-active: all 0.06s ease-in-out;

    --a-controls: all 0.15s ease-in-out;
    --a-controls-active: all 0.05s ease-in-out;

    --a-elements: all 0.2s cubic-bezier(0.09, 0.33, 0.12, 1.26);
    --a-elements-active: all 0.2s cubic-bezier(0.09, 0.33, 0.12, 1.26);

    --space1: 4px;
    --space2: 8px;
    --space2_5: 12px;
    --space3: 16px;
    --space3_5: 24px;
    --space4: 32px;
    --space5: 64px;
    --space6: 128px;
    --space7: 256px;

    /* Type Scale
        Maj 2nd - 16px
        9, 10, 11, 13, 14, 16, 18, 20, 23, 26, 29, 32, 36, 41, 46, 52, 58, 66, 74, 83, 94, 105
    */

    --t-size-5: 0.56rem; /* 9 */
    --t-size-4: 0.625rem; /* 10 */
    --t-size-3: 0.69rem; /* 11 */
    --t-size-2: 0.81rem; /* 13 */
    --t-size-1: 0.875rem; /* 14 */
    --t-size0: 1rem; /* 16 */
    --t-size1: 1.11rem; /* 18 */
    --t-size2: 1.25rem; /* 20 */
    --t-size3: 1.44rem; /* 23 */
    --t-size4: 1.625rem; /* 26 */
    --t-size5: 1.81rem; /* 29 */
    --t-size6: 2rem; /* 32 */
    --t-size7: 2.25rem; /* 36 */
    --t-size8: 2.56rem; /* 41 */
    --t-size9: 2.875rem; /* 46 */
    --t-size10: 3.25rem; /* 52 */
    --t-size11: 3.625rem; /* 58 */
    --t-size12: 4.125rem; /* 66 */
    --t-size13: 4.625rem; /* 74 */
    --t-size14: 5.19rem; /* 83 */
    --t-size15: 5.875rem; /* 94 */
    --t-size16: 6.56rem; /* 105 */
}

html,
body {
    height: 100%;
    font-size: 16px;
    line-height: 1.4em;
    min-width: 300px;
}

body {
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    letter-spacing: 0.06em;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.log {
    position: fixed;
    bottom: var(--space3);
    left: var(--space3);
    font-size: var(--t-size-5);
    display: none;
}

/* Themes
   ========================================================================== */

.theme-dark {
    --theme-content-bg-1: var(--c-black-01);
    --theme-content-bg-2: var(--c-black-02-main);
    --theme-content-bg-3: var(--c-grey-09-black-03);

    --theme-input-bg: var(--c-white-00-absolute);
    --theme-control-bg: var(--c-grey-06-blacks-neutral);
    --theme-control-border: var(--c-grey-01-white-03);
    --theme-control-active-text: var(--c-grey-09-black-03);
    --theme-control-text: var(--c-white-00-absolute);

    --theme-shadow-1: var(--shadow-dark-1);
    --theme-shadow-2: var(--shadow-dark-2);
    --theme-shadow-3: var(--shadow-dark-3);

    --theme-border-1: var(--border-dark-1);
    --theme-border-2: var(--border-dark-2);
    --theme-input-border: none;

    --theme-text-1: var(--c-white-00-absolute);
    --theme-text-2: var(--c-grey-03);
    --theme-cta-text: var(--c-white-00-absolute);
    --theme-input-text: var(--c-black-02-main);
    --theme-pre-code-text: var(--c-blue-04);

    --theme-translucent: var(--translucent-dark);
}

.theme-light {
    --theme-content-bg-1: var(--c-white-01-main);
    --theme-content-bg-2: var(--c-white-02);
    --theme-content-bg-3: var(--c-grey-01-white-03);

    --theme-input-bg: var(--c-white-00-absolute);
    --theme-control-bg: var(--c-grey-04-whites-neutral);
    --theme-control-border: var(--c-grey-09-black-03);
    --theme-control-active-text: var(--c-white-00-absolute);
    --theme-control-text: var(--c-grey-09-black-03);

    --theme-shadow-1: var(--shadow-light-1);
    --theme-shadow-2: var(--shadow-light-2);
    --theme-shadow-3: var(--shadow-light-3);

    --theme-border-1: var(--border-light-1);
    --theme-border-2: var(--border-light-2);
    --theme-input-border: var(--border-light-2);

    --theme-text-1: var(--c-black-02-main);
    --theme-text-2: var(--c-grey-09-black-03);
    --theme-cta-text: var(--c-white-00-absolute);
    --theme-input-text: var(--c-black-02-main);
    --theme-pre-code-text: var(--c-blue-08);

    --theme-translucent: var(--translucent-light);
}

@media (prefers-color-scheme: dark) {
    .theme-user:not(.theme-dark):not(.theme-light) {
        --theme-content-bg-1: var(--c-black-01);
        --theme-content-bg-2: var(--c-black-02-main);
        --theme-content-bg-3: var(--c-grey-09-black-03);

        --theme-input-bg: var(--c-white-00-absolute);
        --theme-control-bg: var(--c-grey-06-blacks-neutral);
        --theme-control-border: var(--c-grey-01-white-03);
        --theme-control-active-text: var(--c-grey-09-black-03);
        --theme-control-text: var(--c-white-00-absolute);

        --theme-shadow-1: var(--shadow-dark-1);
        --theme-shadow-2: var(--shadow-dark-2);
        --theme-shadow-3: var(--shadow-dark-3);

        --theme-border-1: var(--border-dark-1);
        --theme-border-2: var(--border-dark-2);
        --theme-input-border: none;

        --theme-text-1: var(--c-white-00-absolute);
        --theme-text-2: var(--c-grey-03);
        --theme-cta-text: var(--c-white-00-absolute);
        --theme-input-text: var(--c-black-02-main);
        --theme-pre-code-text: var(--c-blue-04);

        --theme-translucent: var(--translucent-dark);
    }
}

@media (prefers-color-scheme: light) {
    .theme-user:not(.theme-dark):not(.theme-light) {
        --theme-content-bg-1: var(--c-white-01-main);
        --theme-content-bg-2: var(--c-white-02);
        --theme-content-bg-3: var(--c-grey-01-white-03);

        --theme-input-bg: var(--c-white-00-absolute);
        --theme-control-bg: var(--c-grey-04-whites-neutral);
        --theme-control-border: var(--c-grey-09-black-03);
        --theme-control-active-text: var(--c-white-00-absolute);
        --theme-control-text: var(--c-grey-09-black-03);

        --theme-shadow-1: var(--shadow-light-1);
        --theme-shadow-2: var(--shadow-light-2);
        --theme-shadow-3: var(--shadow-light-3);

        --theme-border-1: var(--border-light-1);
        --theme-border-2: var(--border-light-2);
        --theme-input-border: var(--border-light-2);

        --theme-text-1: var(--c-black-02-main);
        --theme-text-2: var(--c-grey-09-black-03);
        --theme-cta-text: var(--c-white-00-absolute);
        --theme-input-text: var(--c-black-02-main);
        --theme-pre-code-text: var(--c-blue-08);

        --theme-translucent: var(--translucent-light);
    }
}

@media (max-width: 768px) {
    .theme-dark .main-page,
    .theme-dark.main-page {
        background: transparent;
        margin-top: calc(var(--space6) - var(--space4));
        margin-bottom: var(--space6);
    }
    .theme-dark .header-fixed + .main-page,
    .header-fixed + .theme-dark.main-page {
        margin-top: calc(var(--space6) - var(--space4) + 48px);
    }

    .theme-light .main-page,
    .theme-light.main-page {
        background: var(--theme-content-bg-1);
        margin-top: calc(var(--space2) + var(--space4));
        margin-bottom: calc(var(--space2) + var(--space4));
        padding-top: var(--space5);
        padding-bottom: var(--space5);
    }
    .theme-light .header-fixed + .main-page,
    .header-fixed + .theme-light.main-page {
        margin-top: calc(var(--space2) + var(--space4) + 48px);
    }

    @media (prefers-color-scheme: dark) {
        .theme-user:not(.theme-dark):not(.theme-light) .main-page,
        .theme-user:not(.theme-dark):not(.theme-light).main-page {
            background: transparent;
            margin-top: calc(var(--space6) - var(--space4));
            margin-bottom: var(--space6);
        }
        .theme-user:not(.theme-dark):not(.theme-light) .header-fixed + .main-page,
        .header-fixed + .theme-user:not(.theme-dark):not(.theme-light).main-page {
            margin-top: calc(var(--space6) - var(--space4) + 48px);
        }
    }

    @media (prefers-color-scheme: light) {
        .theme-user:not(.theme-dark):not(.theme-light) .main-page,
        .theme-user:not(.theme-dark):not(.theme-light).main-page {
            background: var(--theme-content-bg-1);
            margin-top: calc(var(--space2) + var(--space4));
            margin-bottom: calc(var(--space2) + var(--space4));
            padding-top: var(--space5);
            padding-bottom: var(--space5);
        }
        .theme-user:not(.theme-dark):not(.theme-light) .header-fixed + .main-page,
        .header-fixed + .theme-user:not(.theme-dark):not(.theme-light).main-page {
            margin-top: calc(var(--space2) + var(--space4) + 48px);
        }
    }
}

/* Hero
   ========================================================================== */

.hero {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.hero .lines {
    position: absolute;
    top: 0;
    transform: translateX(-10.1%);
    width: 153.7vw;
    height: 112vh;
    opacity: 0.1;
    z-index: 1;
}

.hero .grid {
    transform: translate(-24%, -48%);
    width: 219.8vw;
    height: auto;
    margin-top: 50vh;
    margin-left: max(600px, 40vw);
}

.hero.hero-hide-grid .grid {
    display: none;
}

/* Layout
   ========================================================================== */

body {
    background: var(--theme-content-bg-2);
    color: var(--theme-text-1);
}

.content {
    position: relative;
    padding: calc(var(--space2) + var(--space4)) 0;
    margin: 0 auto;
    width: 87.5%;
    display: flex;
    height: 100%;
    flex-flow: column nowrap;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 3;
}

.page-article .content {
    height: auto;
}

.header {
    display: flex;
    flex-flow: row nowrap;
}

.header.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: calc(var(--space2) + var(--space4)) 6.25vw;
    z-index: 30;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: var(--a-elements);
}

.is-scrolled .header.header-fixed {
    padding: var(--space3) 6.25vw;
    background: var(--theme-translucent);
    -webkit-backdrop-filter: saturate(180%) blur(40px);
    backdrop-filter: saturate(180%) blur(40px);
    border-bottom: var(--theme-border-1);
    transition: var(--a-elements-active);
}

.header .logo-wrapper {
    flex: 1 0 auto;
}

.header .main-nav {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.main-page {
    z-index: 20;
}

.page-section:not(:first-child) {
    margin-top: calc(var(--space4) + var(--space3));
}

.page-section ul {
    padding: 0 0 0 var(--space2);
    margin-top: var(--space3);
    margin-bottom: 0;
}

.page-section ul li {
    padding-bottom: var(--space3);
    list-style: none;
    padding-left: calc(10px + var(--space2));
    text-indent: calc(calc(10px + var(--space2)) * -1);
    color: var(--theme-text-1);
    font-size: var(--t-size-1);
    letter-spacing: 0.1em;
}

.page-section ul li:before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath d='M44.9007 33.0044L114 33L83.0993 94.8051L14 94.8095L44.9007 33.0044Z' fill='%235269ff'/%3E%3C/svg%3E");
    background-size: cover;
    width: 10px;
    height: 10px;
    margin-right: var(--space2);
    position: relative;
    display: inline-block;
}

.page-section ol {
    padding: 0 0 0 var(--space2);
    margin-top: var(--space3);
    margin-bottom: 0;
    counter-reset: ol-counter;
}

.page-section ol li {
    list-style: none;
    position: relative;
    counter-increment: ol-counter;
    padding-bottom: var(--space3);
    padding-left: calc(10px + var(--space2));
    text-indent: calc(calc(10px + var(--space2)) * -1);
    color: var(--theme-text-1);
    font-size: var(--t-size-1);
    letter-spacing: 0.1em;
}

.page-section ol li:before {
    content: counter(ol-counter);
    text-indent: initial;
    margin-right: calc(var(--space2) + var(--space1));
    font-size: var(--t-size-2);
    font-style: italic;
    color: var(--c-blue-06-main);
    position: relative;
    display: inline-block;
}

.page-section ol li:after {
    content: "/";
    text-indent: initial;
    left: 10px;
    top: 0;
    font-size: var(--t-size-4);
    position: absolute;
    display: inline-block;
    color: var(--c-blue-06-main);
}

.page-section-cta form {
    margin: var(--space4) 0 0;
}

.col-2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    margin-top: var(--space4);
}

.col-2 > * {
    width: calc(50% - var(--space3));
}

.col-2-css {
    columns: 1;
    column-gap: 0;
}

.col-2-css > p:first-of-type {
    margin-top: 0;
}

.center-aligned {
    text-align: center;
}

.right-aligned {
    text-align: right;
}

.aspect-ratio {
    position: relative;
}
.aspect-ratio::before {
    content: "";
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
}
.aspect-ratio::after {
    content: "";
    display: table;
    clear: both;
}

.aspect-ratio.aspect-ratio-1-1::before {
    padding-top: 100%;
}

.aspect-ratio.aspect-ratio-16-9::before {
    padding-top: 56.25%;
}

.aspect-ratio.aspect-ratio-4-3::before {
    padding-top: 75%;
}

.content-block {
    margin-top: var(--space4);
}

.content-block:not(:last-child) {
    margin-bottom: 1em;
}

.ruler {
    width: 96%;
    margin: var(--space4) auto;
    height: 1px;
    background: var(--theme-border-2);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 20%);
    gap: var(--space4) var(--space4);
}

/* Main Nav
   ========================================================================== */

.main-nav {
    position: relative;
}

.main-nav .menu-toggle {
    display: none;
    position: relative;
    margin-top: 4px; /* align to logo baseline */
    bottom: 0;
    width: 44px;
    height: 44px;
    border: 0;
    padding: 0;
    outline: none;
    background: transparent;
    pointer-events: all;
    cursor: pointer;
    z-index: 2;
}

.main-nav .menu-toggle .icon {
    width: 100%;
    height: 100%;
}

.main-nav .menu-toggle:hover [class^="icon-menu-shape-"],
.main-nav .menu-toggle:hover [class*=" icon-menu-shape-"] {
    background: var(--c-blue-04);
}

.main-nav .menu-toggle:active [class^="icon-menu-shape-"],
.main-nav .menu-toggle:active [class*=" icon-menu-shape-"],
.main-nav .menu-toggle:focus [class^="icon-menu-shape-"],
.main-nav .menu-toggle:focus [class*=" icon-menu-shape-"] {
    background: var(--c-blue-06-main);
}

.main-nav .menu-popup-wrapper {
    display: none;
    position: absolute;
    right: 0;
    height: 0;
    z-index: 30;
}

.main-nav .menu-popup-wrapper .popup {
    z-index: 1;
}

.main-nav ul {
    padding: 0;
    padding-top: 11px; /* align to logo baseline */
    display: flex;
    flex-flow: row wrap;
    margin: calc(var(--space2) * -1) calc(var(--space3) * -1);
}

.main-nav ul li {
    list-style: none;
    flex: 0 0 auto;
    margin: var(--space2) var(--space3);
    letter-spacing: 0.08em;
    font-size: var(--t-size0);
}

.main-nav a:link,
.main-nav a:visited {
    color: var(--theme-text-1);
    text-decoration: none;
    font-weight: 500;
    outline: none;
    transition: var(--a-controls);
}

.main-nav a:hover,
.main-nav a:focus {
    color: var(--c-blue-04);
    text-decoration: none;
}
.main-nav a:active {
    color: var(--c-blue-06-main);
    text-decoration: none;
    transition: var(--a-controls-active);
}

.main-nav li.is-selected a {
    color: var(--c-blue-04);
    cursor: default;
}

.main-nav .menu-popup-wrapper ul {
    flex-flow: column nowrap;
    align-items: flex-end;
}

.main-nav .menu-popup-wrapper ul li {
    margin: var(--space3) var(--space4);
}

/* Footer
   ========================================================================== */

.footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-nav {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.footer-nav ul {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    margin: 0 calc(var(--space3) * -1);
    font-size: var(--t-size-1);
}

.footer-nav ul:first-child {
    margin-right: var(--space3);
}

.footer-nav ul li {
    list-style: none;
    flex: 0 0 auto;
    letter-spacing: 0.08em;
    font-size: var(--t-size-1);
    line-height: 1.4em;
    padding: var(--space1) var(--space1);
}

.footer-nav ul li a {
    vertical-align: top;
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    outline: none;
    padding: var(--space1) var(--space2_5);
}

.footer-nav ul li a .icon {
    width: 20px;
    height: 20px;
}

.footer-nav ul li a:link,
.footer-nav ul li a:link .icon-fill,
.footer-nav ul li a:visited,
.footer-nav ul li a:visited .icon-fill {
    color: var(--theme-text-1);
    fill: var(--theme-text-1);
    transition: var(--a-controls);
}

.footer-nav ul li a:hover,
.footer-nav ul li a:hover .icon-fill,
.footer-nav ul li a:focus,
.footer-nav ul li a:focus .icon-fill {
    color: var(--c-blue-04);
    fill: var(--c-blue-04);
}

.footer-nav ul li a:active,
.footer-nav ul li a:active .icon-fill {
    color: var(--c-blue-06-main);
    fill: var(--c-blue-06-main);
    transition: var(--a-controls-active);
}

.footer-nav ul li a span {
    display: inline-block;
    margin-left: var(--space2);
    display: none;
}

/* Logo
   ========================================================================== */

.logo-wrapper {
    font-size: var(--t-size6);
    font-weight: 500;
    font-style: italic;
    display: inline-block;
    margin: 0;
    text-transform: lowercase;
    opacity: 0;
}

.logo-wrapper.is-static,
.logo-wrapper.is-animated {
    opacity: 1;
}

.logo-wrapper a {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
}

.logo-wrapper a:link,
.logo-wrapper a:visited {
    text-decoration: none;
    color: var(--theme-text-1);
}

.logo-wrapper a:hover {
    text-decoration: none;
    color: var(--theme-text-1);
}

.logo-wrapper a:active {
    text-decoration: none;
    color: var(--theme-text-1);
}

.page-home .logo-wrapper a {
    cursor: default;
}

.logo-wrapper a svg {
    flex: 0 0 auto;
    width: 46px;
    margin: 7px 0 6px;
}

.logo-wrapper a span {
    display: inline-block;
    flex: 0 0 auto;
    margin-left: calc(var(--space1) + var(--space2));
}

.logo-wrapper.is-animated a span {
    animation-name: type-hide, type-anim;
    animation-duration: 1.4s, 0.5s;
    animation-delay: 0s, 1.4s;
    animation-timing-function: linear, cubic-bezier(0.41, 0.14, 0.35, 0.99);
    animation-iteration-count: 1, 1;
    animation-fill-mode: forwards, forwards;
}
@keyframes type-hide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes type-anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.logo-svg-animated-explode {
    width: 400px;

    --p1-duration: 1.6s;
}

.logo-svg-animated-explode .plane {
    stroke-width: 4;
    stroke-dasharray: 379;
    clip-path: rect(0 0, 100% 0, 100% 100%, 0 100%);
}

.logo-svg-animated-explode .plane-one {
    transform: skewX(-26.56deg) translate(17.53px, 0);
}

.is-animated .logo-svg-animated-explode .plane-one {
    animation-name: p1-anim;
    animation-duration: var(--p1-duration);
    animation-delay: 0s;
    animation-timing-function: cubic-bezier(0.41, 0.14, 0.35, 0.99);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes p1-anim {
    0% {
        stroke: var(--theme-text-1);
        transform: skewX(-26.56deg) translate(0, 0);
        stroke-dashoffset: 379;
    }
    55% {
        stroke-dashoffset: 0;
    }
    55.1% {
        stroke-dasharray: 379;
    }
    55.101% {
        stroke-dasharray: 0;
    }
    60% {
        stroke: var(--theme-text-1);
        transform: skewX(-26.56deg) translate(0, 0);
    }
    100% {
        stroke-dasharray: 0;
        stroke: var(--c-blue-06-main);
        transform: skewX(-26.56deg) translate(17.53px, 0);
    }
}

.logo-svg-animated-explode .plane-two {
    transform: skewX(-26.56deg) translate(0, 15.68px);
}

.is-animated .logo-svg-animated-explode .plane-two {
    animation-name: p2-anim;
    animation-duration: var(--p1-duration);
    animation-delay: 0s;
    animation-timing-function: cubic-bezier(0.41, 0.14, 0.35, 0.99);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes p2-anim {
    0% {
        stroke: var(--theme-text-1);
        transform: skewX(-26.56deg) translate(0, 0);
        opacity: 0;
        stroke-dashoffset: 379;
    }
    55% {
        opacity: 0;
        stroke-dashoffset: 0;
    }
    55.1% {
        stroke-dasharray: 379;
    }
    55.101% {
        stroke-dasharray: 0;
    }
    60% {
        stroke: var(--theme-text-1);
        opacity: 1;
        transform: skewX(-26.56deg) translate(0, 0);
    }
    100% {
        stroke-dasharray: 0;
        stroke: var(--c-fuchsia-05-main);
        opacity: 1;
        transform: skewX(-26.56deg) translate(0, 15.68px);
    }
}

.logo-svg-animated-explode .plane-three {
    transform: skewX(-26.56deg) translate(-17.53px, -15.68px);
}

.is-animated .logo-svg-animated-explode .plane-three {
    animation-name: p3-anim;
    animation-duration: var(--p1-duration);
    animation-delay: 0s;
    animation-timing-function: cubic-bezier(0.41, 0.14, 0.35, 0.99);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes p3-anim {
    0% {
        stroke: var(--theme-text-1);
        transform: skewX(-26.56deg) translate(0, 0);
        opacity: 0;
        stroke-dashoffset: 379;
    }
    55% {
        opacity: 0;
        stroke-dashoffset: 0;
    }
    55.1% {
        stroke-dasharray: 379;
    }
    55.101% {
        stroke-dasharray: 0;
    }
    60% {
        stroke: var(--theme-text-1);
        opacity: 1;
        transform: skewX(-26.56deg) translate(0, 0);
    }
    100% {
        stroke-dasharray: 0;
        stroke: var(--c-green-05-main);
        opacity: 1;
        transform: skewX(-26.56deg) translate(-17.53px, -15.68px);
    }
}
@keyframes exit {
    0% {
        stroke-dasharray: 379;
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dasharray: 379;
        stroke-dashoffset: -379;
    }
}

.is-animated .logo-svg-animated-explode .prompt {
    animation-name: prompt-hide, prompt-in;
    animation-duration: calc(var(--p1-duration) - 1s), 0.25s;
    animation-delay: 0s, calc(var(--p1-duration) - 1s);
    animation-timing-function: linear, cubic-bezier(0.41, 0.14, 0.35, 0.99);
    animation-iteration-count: 1, 1;
    animation-fill-mode: forwards, forwards;
}

@keyframes prompt-hide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes prompt-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes prompt-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Titles
   ========================================================================== */

.title {
    font-weight: 300;
    margin: 0;
    line-height: 1.2em;
    color: var(--theme-text-1);
}

.title.title-1 {
    font-size: var(--t-size8);
    margin-bottom: var(--space4);
}

.title.title-1:not(:first-child) {
    margin-top: var(--space4);
}

.title.title-2 {
    font-size: var(--t-size5);
    margin-bottom: var(--space4);
}

.title.title-2:not(:first-child) {
    margin-top: var(--space4);
}

.title.title-3 {
    font-size: var(--t-size2);
    font-weight: 500;
    margin-bottom: var(--space3);
}

.title.title-3:not(:first-child) {
    margin-top: var(--space3);
}

.title.title-4 {
    font-size: var(--t-size0);
    text-transform: uppercase;
    font-style: italic;
    font-weight: 500;
    margin-bottom: var(--space3);
    letter-spacing: 0.15em;
}

.title.title-4:not(:first-child) {
    margin-top: var(--space3);
}

/* Text
   ========================================================================== */

p {
    line-height: 1.5em;
    margin: 0;
    color: var(--theme-text-2);
}

p em {
    color: var(--theme-text-1);
    font-style: normal;
}

p.description {
    margin-top: var(--space4);
}

p:not(:last-child) {
    margin-bottom: 1em;
}

.description {
    color: var(--theme-text-1);
    line-height: 1.3em;
    font-size: var(--t-size2);
}

.caption {
    margin-top: var(--space4);
    margin-bottom: var(--space4);
    background-color: var(--theme-content-bg-3);
    border: var(--theme-border-1);
    padding: var(--space2) var(--space3);
}

.caption p {
    margin-top: 0;
    color: var(--theme-text-2);
    font-size: var(--t-size-2);
    letter-spacing: 0.1em;
}

.quote {
    margin: calc(var(--space3) + var(--space2)) var(--space2);
    padding: var(--space2) var(--space3);
    border-left: var(--theme-border-2);
    font-size: var(--t-size-1);
    color: var(--theme-text-2);
    background: var(--theme-content-bg-2);
}

.pre {
    overflow-x: auto;
    max-width: 100%;
    margin: calc(var(--space3) + var(--space2)) var(--space2);
    padding: var(--space3) var(--space3);
    border-left: var(--theme-border-2);
    font-size: var(--t-size-2);
    color: var(--theme-pre-code-text);
    tab-size: 4;
    background: var(--theme-content-bg-2);
}

/* Links
   ========================================================================== */

.link:link,
.link:visited {
    color: var(--theme-text-1);
    text-decoration: underline;
    font-weight: 400;
    transition: var(--a-controls);
    outline: none;
}
.link:hover,
.link:focus {
    color: var(--c-blue-04);
    text-decoration: none;
}
.link:active {
    color: var(--c-blue-06-main);
    text-decoration: none;
    transition: var(--a-controls-active);
}

.link:link .icon,
.link:visited .icon {
    fill: var(--theme-text-1);
    transition: var(--a-controls);
}
.link:hover .icon,
.link:focus .icon {
    fill: var(--c-blue-04);
}
.link:active .icon {
    fill: var(--c-blue-06-main);
    transition: var(--a-controls-active);
}

/* Form
   ========================================================================== */

.console-form {
    margin: var(--space5) 0;
    font-size: var(--t-size0);
    line-height: 1.5em;
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-start;
    align-items: center;
}

.console-input-text {
    margin: 0;
    padding: 0;
    border: var(--theme-input-border);
    outline: none;
    flex: 1 0 auto;
    background: var(--theme-input-bg);
    color: var(--theme-input-text);
    padding: calc(var(--space2) + var(--space1)) calc(var(--space3) + var(--space1));
    border-radius: var(--corners);
    font-size: var(--t-size0);
    line-height: 1.5em;
    transition: var(--a-controls);
}

.console-input-text:hover {
    box-shadow: 0 0 0 2px var(--c-blue-04);
}

.console-input-text:active,
.console-input-text:focus {
    box-shadow: 0 0 0 2px var(--c-blue-06-main);
    border: none;
    transition: var(--a-controls-active);
}

input.console-input-text::placeholder {
    color: var(--theme-input-text);
    opacity: 0.3;
}
input.console-input-text::-webkit-input-placeholder /* Chrome/Opera/Safari */ {
    color: var(--theme-input-text);
    opacity: 0.3;
}
input.console-input-text::-moz-placeholder /* Firefox 19+ */ {
    color: var(--theme-input-text);
    opacity: 0.3;
}
input.console-input-text:-ms-input-placeholder /* IE 10+ */ {
    color: var(--theme-input-text);
    opacity: 0.3;
}
input.console-input-text:-moz-placeholder /* Firefox 18- */ {
    color: var(--theme-input-text);
    opacity: 0.3;
}

/* Controls
   ========================================================================== */

.console-button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin-left: var(--space3);
    background: var(--c-blue-06-main);
    color: var(--theme-cta-text);
    padding: calc(var(--space2) + var(--space1)) calc(var(--space3) + var(--space1));
    border-radius: var(--corners);
    font-size: var(--t-size0);
    line-height: 1.5em;
    vertical-align: top;
    cursor: pointer;
    font-weight: 500;
    box-sizing: border-box;
    transition: var(--a-controls);
}

.console-button:hover {
    background: var(--c-blue-07);
}

.console-button:active,
.console-button:focus {
    background: var(--c-blue-08);
    transition: var(--a-controls-active);
}

.console-button span {
    flex: 0 0 auto;
    margin-left: calc(var(--space2) + var(--space1));
}

.console-button .icon {
    flex: 0 0 auto;
}

.console-button .icon-fill {
    fill: var(--c-white-00-absolute);
}

.console-button .icon-stroke {
    stroke: var(--c-white-00-absolute);
}

.console-control {
    --paddingV: var(--space2);
    --paddingH: var(--space2);
    --lineHeight: 1.4em;
    --lineHeightHalf: 0.7em;
    position: relative;
    display: inline-block;
    margin: 0 0 2px;
    padding: 0;
    border: 0;
    outline: none;
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin-left: var(--space3);
    background: transparent;
    color: var(--theme-control-text);
    padding: var(--paddingV) var(--paddingH);
    font-size: var(--t-size-3);
    line-height: var(--lineHeight);
    border-radius: calc(var(--paddingV) + var(--lineHeightHalf));
    vertical-align: top;
    cursor: pointer;
    font-weight: 500;
    transition: var(--a-controls);
}

.console-control:hover {
    background: var(--theme-content-bg-3);
}

.console-control:active,
.console-control:focus {
    color: var(--theme-control-active-text);
    background: var(--theme-control-border);
    transition: var(--a-controls-active);
}

.console-control:before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: calc(var(--paddingV) + var(--lineHeightHalf));
    transition: var(--a-controls);
}

.console-control:hover:before {
    border: 1px solid var(--theme-control-border);
}

.console-control:active:before,
.console-control:focus:before {
    transition: var(--a-controls-active);
}

.console-control span {
    flex: 0 0 auto;
    margin-left: calc(var(--space2) + var(--space1));
}

.console-control img,
.console-control svg {
    flex: 0 0 auto;
}

.console-control svg {
    fill: var(--theme-control-text);
    width: 16px;
    height: 16px;
    transition: var(--a-controls);
}

.console-control:active svg,
.console-control:focus svg {
    fill: var(--theme-control-active-text);
    transition: var(--a-controls-active);
}

/* Icons
   ========================================================================== */

a .icon {
    vertical-align: -0.3em;
}

/* Popup
   ========================================================================== */

.popup {
    background-color: var(--theme-content-bg-3);
    border-radius: var(--space2);
    padding: var(--space4);
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    opacity: 0;
    box-shadow: var(--theme-shadow-3);
    transition: var(--a-elements);
    overflow: hidden;
    pointer-events: none;
}

.popup.is-visible {
    pointer-events: all;
    opacity: 1;
    transition: var(--a-elements-active);
}

.popup.popup-top-down,
.popup.popup-bottom-up.is-visible {
    transform: translateY(0);
}

.popup.popup-top-down.is-visible,
.popup.popup-bottom-up {
    transform: translateY(var(--space4));
}

/* Media
   ========================================================================== */

.image {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
    border-radius: var(--space2);
}

/* Design Library
   ========================================================================== */

.icon-grid .icon-display {
    text-align: center;
}

.icon-grid .icon {
    width: 64px;
    height: 64px;
}

.icon-grid .icon-label {
    font-size: var(--t-size-3);
}

.colors .neutrals {
    position: relative;
    background: var(--c-black-00-absolute);
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 400px;
    padding: var(--space4);
    box-sizing: border-box;
}

.colors .neutrals .neutrals-dark {
    background: var(--c-black-01);
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: var(--space4);
    padding: var(--space4);
    padding-right: calc(var(--space6) - var(--space4));
}

.colors .neutrals .neutrals-light {
    background: var(--c-white-01-main);
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: var(--space4);
    padding: var(--space4);
    padding-left: calc(var(--space6) - var(--space4));
}

.colors .neutrals .neutrals-greys {
    position: absolute;
    top: var(--space5);
    bottom: var(--space5);
    left: 50%;
    width: var(--space6);
    transform: translateX(-50%);
    display: grid;
}

.colors .triad {
    background: var(--c-black-00-absolute);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 400px;
    padding: var(--space4);
    box-sizing: border-box;
}

.colors .triad .triad-item {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.colors .triad .triad-item .left {
    background: var(--c-black-02-main);
}

.colors .triad .triad-item .right {
    background: var(--c-white-01-main);
}

.colors .triad .triad-item-colors {
    position: absolute;
    top: var(--space4);
    bottom: var(--space4);
    left: 50%;
    width: var(--space6);
    transform: translateX(-50%);
    display: grid;
}

/* Media Queries
   ========================================================================== */

@media (prefers-reduced-motion) {
    .logo-wrapper.is-animated a span,
    .is-animated .logo-svg-animated-explode .plane-one,
    .is-animated .logo-svg-animated-explode .plane-two,
    .is-animated .logo-svg-animated-explode .plane-three,
    .is-animated .logo-svg-animated-explode .prompt {
        animation: none;
    }
}

@media (max-width: 768px) {
    .hero {
        min-height: 680px;
    }

    .page-article .hero .grid {
        display: none;
    }

    .hero .grid {
        transform: translate(-24%, -36%);
        margin-left: 30vw;
        margin-top: max(80%, 50vh);
        min-width: 1600px;
    }

    .content {
        min-height: 680px;
    }

    .main {
        min-height: 60vh;
    }

    .main-nav > ul {
        display: none;
    }

    .main-nav .menu-toggle,
    .main-nav .menu-popup-wrapper {
        display: block;
    }

    .page-section-cta {
        border-top: 1px solid var(--c-blue-04);
        padding-top: var(--space4);
    }

    @media (max-width: 540px) {
        .hero .grid {
            transform: translate(-28%, -32%);
        }

        .main {
            min-height: 0;
            margin-top: -4vh;
        }

        .console-form {
            flex-flow: column nowrap;
            align-items: stretch;
        }

        .console-button {
            margin-left: 0;
            margin-top: var(--space4);
        }

        .footer-nav {
            flex-flow: column nowrap;
            align-items: flex-start;
        }

        .footer-nav ul:first-child {
            margin-right: 0;
            margin-bottom: var(--space2);
        }
    }

    @media (max-width: 480px) {
        html,
        body {
            font-size: 14px;
        }

        .content {
            width: 76%;
        }

        .header.header-fixed,
        .is-scrolled .header.header-fixed {
            padding-left: 12vw;
            padding-right: 12vw;
        }

        .main-page {
            margin-left: -12vw;
            margin-right: -12vw;
            padding-left: 12vw;
            padding-right: 12vw;
        }

        .title.title-1 {
            font-size: var(--t-size7);
        }

        .title.title-2 {
            font-size: var(--t-size4);
        }

        .description {
            margin: var(--space3) 0 0;
        }

        .console-form {
            margin: var(--space4) 0;
        }

        .main-nav .menu-popup-wrapper ul li {
            font-size: var(--t-size1);
        }

        .footer-nav ul li {
            font-size: var(--t-size0);
        }
    }

    @media (max-width: 400px) {
        .content {
            width: 80%;
        }

        .header.header-fixed,
        .is-scrolled .header.header-fixed {
            padding-left: 10vw;
            padding-right: 10vw;
        }

        .main-page {
            margin-left: -10vw;
            margin-right: -10vw;
            padding-left: 10vw;
            padding-right: 10vw;
        }

        .console-button {
            margin-top: var(--space3);
        }
    }

    @media (min-width: 481px) {
        .content {
            width: 76%;
        }

        .header.header-fixed,
        .is-scrolled .header.header-fixed {
            padding-left: 12vw;
            padding-right: 12vw;
        }

        .main-page {
            margin-left: -12vw;
            margin-right: -12vw;
            padding-left: 12vw;
            padding-right: 12vw;
        }
    }

    @media (min-width: 601px) {
        .content {
            width: 72%;
        }

        .header.header-fixed,
        .is-scrolled .header.header-fixed {
            padding-left: 14vw;
            padding-right: 14vw;
        }

        .main-page {
            margin-left: -14vw;
            margin-right: -14vw;
            padding-left: 14vw;
            padding-right: 14vw;
        }
    }
}

@media (min-width: 769px) {
    .hero {
        min-height: 760px;
    }

    .page-article .header:not(.header-fixed) {
        position: fixed;
        left: 6.25vw;
        right: 6.25vw;
        z-index: 10;
    }

    .content {
        min-height: 760px;
    }

    .main {
        width: 440px;
        height: 60vh;
    }

    .main-page {
        margin: max(calc(var(--space6) - var(--space3)), 10vh) 0 calc(var(--space6) - var(--space2));
        width: min(600px, 55vw);
        margin-left: -6.25vw;
        padding: var(--space5) 6.25vw;
        background: var(--theme-content-bg-1);
        box-shadow: var(--theme-shadow-2);
        border-radius: 0 var(--space2) var(--space2) 0;
        border: var(--theme-border-1);
        border-left: 0px;
    }

    .page-section-cta {
        margin: calc(var(--space6) + var(--space5)) 0 0;
        padding: var(--space4);
        background: var(--theme-content-bg-2);
        border: var(--theme-border-1);
    }

    .hero .grid {
        margin-left: max(550px, 40vw);
    }

    @media (max-aspect-ratio: 9/10) {
        .hero .grid {
            transform: translate(-24%, -43%);
            margin-top: max(65%, 50vh);
            margin-left: 42vw;
        }
    }
}

@media (min-width: 1025px) {
    .main {
        height: auto;
        min-height: 40vh;
    }

    .col-2-css {
        columns: 2;
        column-gap: 32px;
    }
}

/* 1600px + left & right margin (6.25vw) */
@media (min-width: 1828px) {
    .header.header-fixed,
    .is-scrolled .header.header-fixed {
        padding-left: calc(calc(100vw - 1600px) / 2);
        padding-right: calc(calc(100vw - 1600px) / 2);
    }

    .page-article .header:not(.header-fixed) {
        max-width: 1600px;
        margin: 0 auto;
    }

    .content {
        max-width: 1600px;
    }

    .main-page {
        border-radius: var(--space2);
    }
}
