/* Theme Light
	Use the .theme class to override regular styles from this theme file.
	The class is assigned to body so using it as prefix in your rules
	will always ensure the highest specificity.
   ========================================================================== */

:root {
    --theme-text-1: var(--c-black-02-main);
    --theme-text-2: var(--c-grey-07);
    --theme-text-3: var(--c-grey-05);
    --theme-input-text: var(--c-black-02-main);
    --theme-pre-code-text: var(--c-blue-08);
    --theme-cta-text: var(--c-white-00-absolute);
    --theme-cta-secondary-text-idle: var(--c-black-02-main);
    --theme-cta-secondary-text-hover: var(--c-blue-06-main);
    --theme-cta-secondary-text-active: var(--c-blue-08);

    --theme-content-bg-0: var(--c-white-00-absolute);
    --theme-content-bg-1: var(--c-white-02);
    --theme-content-bg-2: var(--c-white-01-main);
    --theme-content-bg-3: var(--c-grey-01-white-03);
    --theme-content-bg-4: var(--c-grey-01-white-03);

    --theme-hero-fade-top: linear-gradient(180deg, rgba(245, 248, 251, 0.4) 0%, rgba(245, 248, 251, 0) 100%);
    --theme-hero-fade-bottom: linear-gradient(0deg, rgba(245, 248, 251, 0.4) 0%, rgba(245, 248, 251, 0) 100%);

    --theme-content-pick-border-1: 2px solid rgba(1, 188, 144, 0.4);

    --theme-translucent: rgba(245, 248, 251, 0.6);

    --theme-translucent-firefox: rgba(238, 241, 246, 0.95);

    --theme-shadow-1: 0 var(--space1) var(--space3) rgba(0, 0, 0, 0.07);
    --theme-shadow-2: 0 var(--space2_5) var(--space4) rgba(0, 0, 0, 0.1);
    --theme-shadow-3: 0 var(--space3_5) var(--space5) rgba(0, 0, 0, 0.15);

    --theme-border-0: none;
    --theme-border-1: 1px solid rgba(0, 0, 0, 0.04);
    --theme-border-2: 1px solid rgba(0, 0, 0, 0.08);

    --theme-separator-1: var(--c-grey-04-whites-neutral);

    --theme-input-bg: var(--c-white-00-absolute);
    --theme-input-border: rgba(0, 0, 0, 0.2);

    --theme-nav-primary-link-text-idle: var(--c-black-02-main);
    --theme-nav-primary-link-text-focus: var(--c-blue-06-main);
    --theme-nav-primary-link-text-active: var(--c-blue-08);
    --theme-nav-primary-link-text-selected: var(--c-blue-06-main);

    --theme-nav-secondary-link-text-idle: var(--c-grey-05);
    --theme-nav-secondary-link-text-focus: var(--c-blue-06-main);
    --theme-nav-secondary-link-text-active: var(--c-blue-08);
    --theme-nav-secondary-link-text-selected: var(--c-blue-06-main);

    --theme-control-bg: var(--c-grey-04-whites-neutral);
    --theme-control-border: var(--c-grey-09-black-03);
    --theme-control-active-text: var(--c-white-00-absolute);
    --theme-control-text: var(--c-grey-09-black-03);

    --theme-control-button-inactive-border: 1px solid rgba(0, 0, 0, 0.1);
    --theme-control-button-inactive-border-hover: 1px solid rgba(0, 0, 0, 0.2);
    --theme-control-button-inactive-background-hover: rgba(0, 0, 0, 0.03);
    --theme-control-button-inactive-text: var(--c-grey-07);
    --theme-control-button-inactive-text-hover: var(--c-grey-09-black-03);

    --theme-control-button-active-blue-background: rgba(82, 105, 255, 0.1);
    --theme-control-button-active-blue-text: var(--c-blue-07);
    --theme-control-button-active-blue-background-hover: rgba(82, 105, 255, 0.2);
    --theme-control-button-active-blue-text-hover: var(--c-blue-08);

    --theme-control-button-active-fuchsia-background: rgba(245, 97, 245, 0.1);
    --theme-control-button-active-fuchsia-text: var(--c-fuchsia-07);
    --theme-control-button-active-fuchsia-background-hover: rgba(245, 97, 245, 0.2);
    --theme-control-button-active-fuchsia-text-hover: var(--c-fuchsia-08);

    --theme-control-button-active-green-background: rgba(1, 188, 144, 0.11);
    --theme-control-button-active-green-text: var(--c-green-07);
    --theme-control-button-active-green-background-hover: rgba(1, 188, 144, 0.21);
    --theme-control-button-active-green-text-hover: var(--c-green-08);

    --theme-actionable-box-border-focus: 1px solid var(--c-blue-06-main);
    --theme-actionable-box-border-active: 1px solid var(--c-blue-07);
    --theme-actionable-box-bg-focus: rgba(82, 105, 255, 0.03);
    --theme-actionable-box-bg-active: rgba(82, 105, 255, 0.06);
    --theme-actionable-box-label-bg-focus: var(--c-blue-06-main);
    --theme-actionable-box-label-bg-active: var(--c-blue-07);

    --theme-p1-stroke: var(--c-black-02-main);
    --theme-p2-stroke: var(--c-black-02-main);
    --theme-p3-stroke: var(--c-black-02-main);

    --theme-lines-color: var(--c-black-00-absolute);

    --theme-planes-background: var(--c-white-00-absolute);
    --theme-planes-background-2: var(--c-white-01-main);
    --theme-planes-off-stroke: var(--c-black-00-absolute);

    --theme-empty-bg-1: var(--c-white-01-main);
    --theme-empty-dashed-border: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23b5b6bf' stroke-width='2' stroke-dasharray='6%2c 6' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");

    --theme-collapsible-bg-1: var(--c-grey-01-white-03);
    --theme-collapsible-bg-blue-1: var(--c-blue-03);

    --theme-badge-text: var(--c-white-00-absolute);
    --theme-badge-bg: var(--c-fuchsia-05-main);
}

.theme .hero .lines {
    opacity: 0.06;
}

.theme .hero .planes > rect[stroke] {
    stroke-opacity: 0.1;
}

.theme .hero .planes .dark {
    display: none;
}

.theme .logo-svg-animated-explode .plane {
    stroke-width: 3;
}

.theme .logo-svg-animated-explode .prompt-inverted {
    display: block;
}

.theme .logo-svg-animated-explode .prompt-normal {
    display: none;
}

body:not(.is-same-origin).theme .logo-svg-animated-explode .prompt {
    animation-duration: var(--p1-duration), 0.25s;
    animation-delay: 0s, var(--p1-duration);
}

.theme .popup {
    background-color: var(--theme-content-bg-2);
}

.theme .subscribe-cta {
    background: var(--theme-content-bg-3);
}

.theme .interviews-card {
    background-color: var(--theme-content-bg-0);
}

@media (max-width: 768px) {
    .theme .main-article .subscribe-cta {
        background: transparent;
    }
}
