{{ define "main" }}
<section class="page-section grid icon-grid">
	<div class="icon-display">
		{{ partial "icons/send.html" }}
		<p class="icon-label">send</p>
	</div>
	<div class="icon-display">
		{{ partial "icons/cancel.html" }}
		<p class="icon-label">cancel</p>
	</div>
	<div class="icon-display">
		{{ partial "icons/email.html" }}
		<p class="icon-label">email</p>
	</div>
	<div class="icon-display">
		{{ partial "icons/github.html" }}
		<p class="icon-label">github</p>
	</div>
	<div class="icon-display">
		{{ partial "icons/tag.html" }}
		<p class="icon-label">tag</p>
	</div>
	<div class="icon-display">
		{{ partial "icons/theme.html" }}
		<p class="icon-label">theme</p>
	</div>
	<div class="icon-display">
		{{ partial "icons/console-plane.html" }}
		<p class="icon-label">console-plane</p>
	</div>
	<div class="icon-display">
		{{ partial "icons/external-link.html" }}
		<p class="icon-label">external-link</p>
	</div>
	<div class="icon-display">
		{{ partial "icons/select.html" }}
		<p class="icon-label">select</p>
	</div>
	<div class="icon-display">
		{{ partial "icons/checkmark.html" }}
		<p class="icon-label">checkmark</p>
	</div>
	<div class="icon-display">
		{{ partial "icons/plus.html" }}
		<p class="icon-label">plus</p>
	</div>
	<div class="icon-display">
		{{ partial "icons/console-mini.html" }}
		<p class="icon-label">console-mini</p>
	</div>
	<div class="icon-display">
		{{ partial "icons/console-mini-filled.html" }}
		<p class="icon-label">console-mini-filled</p>
	</div>
	<div class="icon-display">
		{{ partial "icons/menu.html" }}
		<p class="icon-label">menu</p>
	</div>
	<div class="icon-display">
		{{ partial "icons/expand.html" }}
		<p class="icon-label">expand</p>
	</div>
	<div class="icon-display">
		{{ partial "icons/filter.html" }}
		<p class="icon-label">filter</p>
	</div>
</section>
<section class="page-section colors">
	<div class="neutrals">
		<div class="neutrals-dark">
			<div style="background: var(--c-black-00-absolute)"></div>
			<div style="background: var(--c-black-02-main)"></div>
		</div>
		<div class="neutrals-light">
			<div style="background: var(--c-white-00-absolute)"></div>
			<div style="background: var(--c-white-02)"></div>
		</div>
		<div class="neutrals-greys">
			<div style="background: var(--c-grey-01-white-03)"></div>
			<div style="background: var(--c-grey-02)"></div>
			<div style="background: var(--c-grey-03)"></div>
			<div style="background: var(--c-grey-04-whites-neutral)"></div>
			<div style="background: var(--c-grey-05)"></div>
			<div style="background: var(--c-grey-06-blacks-neutral)"></div>
			<div style="background: var(--c-grey-07)"></div>
			<div style="background: var(--c-grey-08)"></div>
			<div style="background: var(--c-grey-09-black-03)"></div>
		</div>
	</div>
	<div class="triad">
		<div class="triad-item">
			<div style="background: var(--c-black-02-main)"></div>
			<div style="background: var(--c-white-01-main)"></div>
			<div class="triad-item-colors">
				<div style="background: var(--c-blue-01)"></div>
				<div style="background: var(--c-blue-02)"></div>
				<div style="background: var(--c-blue-03)"></div>
				<div style="background: var(--c-blue-04)"></div>
				<div style="background: var(--c-blue-05)"></div>
				<div style="background: var(--c-blue-06-main)"></div>
				<div style="background: var(--c-blue-07)"></div>
				<div style="background: var(--c-blue-08)"></div>
				<div style="background: var(--c-blue-09)"></div>
				<div style="background: var(--c-blue-10)"></div>
				<div style="background: var(--c-blue-11)"></div>
			</div>
		</div>
		<div class="triad-item">
			<div style="background: var(--c-black-02-main)"></div>
			<div style="background: var(--c-white-01-main)"></div>
			<div class="triad-item-colors">
				<div style="background: var(--c-fuchsia-01)"></div>
				<div style="background: var(--c-fuchsia-02)"></div>
				<div style="background: var(--c-fuchsia-03)"></div>
				<div style="background: var(--c-fuchsia-04)"></div>
				<div style="background: var(--c-fuchsia-05-main)"></div>
				<div style="background: var(--c-fuchsia-06)"></div>
				<div style="background: var(--c-fuchsia-07)"></div>
				<div style="background: var(--c-fuchsia-08)"></div>
				<div style="background: var(--c-fuchsia-09)"></div>
				<div style="background: var(--c-fuchsia-10)"></div>
				<div style="background: var(--c-fuchsia-11)"></div>
			</div>
		</div>
		<div class="triad-item">
			<div style="background: var(--c-black-02-main)"></div>
			<div style="background: var(--c-white-01-main)"></div>
			<div class="triad-item-colors">
				<div style="background: var(--c-green-01)"></div>
				<div style="background: var(--c-green-02)"></div>
				<div style="background: var(--c-green-03)"></div>
				<div style="background: var(--c-green-04)"></div>
				<div style="background: var(--c-green-05-main)"></div>
				<div style="background: var(--c-green-06)"></div>
				<div style="background: var(--c-green-07)"></div>
				<div style="background: var(--c-green-08)"></div>
				<div style="background: var(--c-green-09)"></div>
				<div style="background: var(--c-green-10)"></div>
				<div style="background: var(--c-green-11)"></div>
			</div>
		</div>
	</div>
</section>
{{ end }}
