{{ define "main" }}
<section class="page-section grid icon-grid">
	{{ $url := "icons" }}
	{{ $files := readDir "/themes/console-home/layouts/partials/icons" }}
	{{ range $files }}
		{{ if .IsDir }}
		{{ else }}
			<div class="icon-display">
				{{ $parts := split .Name "." }}
				{{ $name := index $parts 0 }}
					{{ partial (printf "%s/%s" $url $name ) }}
					<p class="icon-label">{{$url}}/{{.Name | urlize }}</p>
			</div>
		{{ end }}
	{{ end }}
</section>
<section class="page-section colors">
	<div class="neutrals">
		<div class="neutrals-dark">
			<div style="background: var(--c-black-00-absolute)"></div>
			<div style="background: var(--c-black-02-main)"></div>
		</div>
		<div class="neutrals-light">
			<div style="background: var(--c-white-00-absolute)"></div>
			<div style="background: var(--c-white-02)"></div>
		</div>
		<div class="neutrals-greys">
			<div style="background: var(--c-grey-01-white-03)"></div>
			<div style="background: var(--c-grey-02)"></div>
			<div style="background: var(--c-grey-03)"></div>
			<div style="background: var(--c-grey-04-whites-neutral)"></div>
			<div style="background: var(--c-grey-05)"></div>
			<div style="background: var(--c-grey-06-blacks-neutral)"></div>
			<div style="background: var(--c-grey-07)"></div>
			<div style="background: var(--c-grey-08)"></div>
			<div style="background: var(--c-grey-09-black-03)"></div>
		</div>
	</div>
	<div class="triad">
		<div class="triad-item">
			<div style="background: var(--c-black-02-main)"></div>
			<div style="background: var(--c-white-01-main)"></div>
			<div class="triad-item-colors">
				<div style="background: var(--c-blue-01)"></div>
				<div style="background: var(--c-blue-02)"></div>
				<div style="background: var(--c-blue-03)"></div>
				<div style="background: var(--c-blue-04)"></div>
				<div style="background: var(--c-blue-05)"></div>
				<div style="background: var(--c-blue-06-main)"></div>
				<div style="background: var(--c-blue-07)"></div>
				<div style="background: var(--c-blue-08)"></div>
				<div style="background: var(--c-blue-09)"></div>
				<div style="background: var(--c-blue-10)"></div>
				<div style="background: var(--c-blue-11)"></div>
			</div>
		</div>
		<div class="triad-item">
			<div style="background: var(--c-black-02-main)"></div>
			<div style="background: var(--c-white-01-main)"></div>
			<div class="triad-item-colors">
				<div style="background: var(--c-fuchsia-01)"></div>
				<div style="background: var(--c-fuchsia-02)"></div>
				<div style="background: var(--c-fuchsia-03)"></div>
				<div style="background: var(--c-fuchsia-04)"></div>
				<div style="background: var(--c-fuchsia-05-main)"></div>
				<div style="background: var(--c-fuchsia-06)"></div>
				<div style="background: var(--c-fuchsia-07)"></div>
				<div style="background: var(--c-fuchsia-08)"></div>
				<div style="background: var(--c-fuchsia-09)"></div>
				<div style="background: var(--c-fuchsia-10)"></div>
				<div style="background: var(--c-fuchsia-11)"></div>
			</div>
		</div>
		<div class="triad-item">
			<div style="background: var(--c-black-02-main)"></div>
			<div style="background: var(--c-white-01-main)"></div>
			<div class="triad-item-colors">
				<div style="background: var(--c-green-01)"></div>
				<div style="background: var(--c-green-02)"></div>
				<div style="background: var(--c-green-03)"></div>
				<div style="background: var(--c-green-04)"></div>
				<div style="background: var(--c-green-05-main)"></div>
				<div style="background: var(--c-green-06)"></div>
				<div style="background: var(--c-green-07)"></div>
				<div style="background: var(--c-green-08)"></div>
				<div style="background: var(--c-green-09)"></div>
				<div style="background: var(--c-green-10)"></div>
				<div style="background: var(--c-green-11)"></div>
			</div>
		</div>
	</div>
</section>
{{ end }}