<div class="toc toc-right" data-toc>
    <h5 class="title title-4">Contents</h5>
    <ul>
        <li class="toc-item"><a data-toc-link class="toc-link" data-toc-wrapper="wrapper-0" href="#tldr">tl;dr</a></li>
        <li class="toc-item"><a data-toc-link class="toc-link" data-toc-wrapper="wrapper-1" href="#requirements-above">Requirements</a></li>
        <li class="toc-item"><a data-toc-link class="toc-link" data-toc-wrapper="wrapper-2" href="#codetogether">CodeTogether</a></li>
        <li class="toc-item"><a data-toc-link class="toc-link" data-toc-wrapper="wrapper-3" href="#visual-studio-live-share">Visual Studio Live Share</a></li>
        <li class="toc-item"><a data-toc-link class="toc-link" data-toc-wrapper="wrapper-4" href="#code-with-me">Code With Me</a></li>
        <li class="toc-item"><a data-toc-link class="toc-link" data-toc-wrapper="wrapper-5" href="#gitlive">GitLive</a></li>
        <li class="toc-item"><a data-toc-link class="toc-link" data-toc-wrapper="wrapper-6" href="#duckly">Duckly</a></li>
        <li class="toc-item"><a data-toc-link class="toc-link" data-toc-wrapper="wrapper-7" href="#aws-cloud9">AWS Cloud9</a></li>
        <li class="toc-item toc-item-sub"><a data-toc-link class="toc-link" data-toc-wrapper="wrapper-8" href="#also-considered">Also considered</a></li>
        <li class="toc-item toc-item-sub"><a data-toc-link class="toc-link" data-toc-wrapper="wrapper-9" href="#faq">FAQ</a></li>
        <li class="toc-item"><a data-toc-link class="toc-link" data-toc-wrapper="wrapper-10" href="#editorial-policy">Our editorial policy</a></li>
    </ul>
</div>