<!DOCTYPE html>
<html lang="en" class="h-screen">
  {{template "head" "Advertise with console.dev"}}
  <body class="bg-black text-white">
    {{template "header"}}
    <main>
      <div class="container mx-auto max-w-7xl px-4 lg:px-8 py-8">
        <h1 class="text-3xl lg:text-4xl">Advertise with console.dev</h1>

        <p class="text-lg lg:text-xl text-gray-300 mt-4">
          Planning a new release or product launch? Looking to reach new
          customers? We can put you in front of experienced developers
          specifically looking to try new tools.
        </p>

        <div class="mt-8">
          <h2 class="text-2xl lg:text-3xl">Audience</h2>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            Launched in early 2021, Console has quickly become a trusted
            resource for CTOs, engineering managers, technical architects and
            experienced developers.
          </p>
          <ul
            class="list-disc list-inside text-base lg:text-lg text-gray-400 mt-4"
          >
            <li>
              68% of our readers have signed-up to a tool featured by Console.
            </li>
            <li>77% of our readers have been coding for 5+ years.</li>
            <li>
              36% of our readers are in the US, 30% in Europe, 12% in the UK,
              and 22% in the rest of the world.
            </li>
          </ul>
        </div>

        <div class="mt-8">
          <h2 class="text-2xl lg:text-3xl">Newsletter sponsor</h2>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            Sponsor one or more editions of the weekly newsletter to promote
            your product, tool, release, or announcement. We'll help you write
            the right ad text (max 100 characters) which appears underneath the
            issue contents before the main reviews.
          </p>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            We don't do sponsored reviews and partners must meet our
            <a href="/selection-criteria" class="underline hover:text-gray-200"
              >selection criteria</a
            >.
          </p>
        </div>

        <div class="mt-8">
          <h2 class="text-2xl lg:text-3xl">Reach out</h2>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            Email
            <a
              href="mailto:hello@console.dev"
              class="underline hover:text-gray-200"
              >hello@console.dev</a
            >
            to discuss your campaign.
          </p>
        </div>
      </div>
    </main>
    {{template "footer"}}
  </body>
</html>
