{{define "head"}}
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{.}}</title>
  <link href="/static/css/output.css" rel="stylesheet" />
  <meta
    name="description"
    content="A free weekly devtools newsletter. Reviews of the most interesting devtools and latest beta releases."
  />
  <link rel="canonical" href="https://console.dev" />
  <meta property="og:title" content="{{.}}" />
  <meta
    property="og:description"
    content="A free weekly devtools newsletter. Reviews of the most interesting devtools and latest beta releases."
  />
  <meta property="og:url" content="https://console.dev" />
  <meta property="og:site_name" content="console.dev" />
  <meta
    property="og:image"
    content="https://console.dev/static/img/console-mark.png"
  />
  <meta property="og:image:width" content="200" />
  <meta property="og:image:height" content="200" />
  <meta property="og:image:alt" content="console.dev" />
  <meta property="og:type" content="website" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@consoledotdev" />
  <meta name="twitter:creator" content="@consoledotdev" />
  <meta name="twitter:title" content="{{.}}" />
  <meta
    name="twitter:description"
    content="A free weekly devtools newsletter. Reviews of the most interesting devtools and latest beta releases."
  />
  <meta
    name="twitter:image"
    content="https://console.dev/static/img/console-mark.png"
  />
  <meta name="twitter:image:width" content="200" />
  <meta name="twitter:image:height" content="200" />
  <meta name="twitter:image:alt" content="console.dev" />
  <link
    rel="icon"
    href="/static/img/favicon.ico"
    type="image/x-icon"
    sizes="192x192"
  />
  <link rel="icon" href="/static/img/favicon.svg" type="image/svg+xml" />
  <link rel="icon" href="/static/img/favicon.png" type="image/png" />

  <link
    rel="alternate"
    type="application/rss+xml"
    title="Console - Full feed"
    href="https://console.dev/rss.xml"
  />
  <link
    rel="alternate"
    type="application/rss+xml"
    title="Console - Betas feed"
    href="https://console.dev/betas/rss.xml"
  />
  <link
    rel="alternate"
    type="application/rss+xml"
    title="Console - Tools feed"
    href="https://console.dev/tools/rss.xml"
  />
  <link
    rel="alternate"
    type="application/rss+xml"
    title="Console - Podcast"
    href="https://feeds.simplecast.com/T80CJwln"
  />
  <script
    defer
    data-domain="console.dev"
    src="https://plausible.io/js/script.outbound-links.tagged-events.js"
  ></script>
</head>
{{end}}
