<!DOCTYPE html>
<html lang="en" class="h-screen">
  {{template "head" "console.dev Privacy Policy"}}
  <body class="bg-black text-white">
    {{template "header"}}
    <main>
      <div class="container mx-auto max-w-7xl px-4 lg:px-8 py-8">
        <h1 class="text-3xl lg:text-4xl">Privacy Policy</h1>

        <p class="text-lg lg:text-xl text-gray-300 mt-4">
          Our goal is to track as little as possible, only collecting what is
          essential for running Console.
        </p>

        <div class="mt-8">
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            On our websites, this means we collect metrics about the number of
            visitors, where they have come from, which pages they visit on our
            website, and whether they sign up to our products. Knowing browser
            and device type helps us ensure we test on the right platforms.
          </p>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            If you click through one of our ads, such as on Reddit or Twitter,
            we track whether you then sign up using their tracking. We
            don&apos;t need or want to track website visitors on an individual
            level and we especially want to avoid mass tracking across the
            internet e.g. Google Analytics, Facebook Pixel, etc.
          </p>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            To enable this, we use
            <a
              href="https://plausible.io/"
              class="underline hover:text-gray-200"
              >Plausible</a
            >, a privacy-first analytics product that
            <a
              href="https://plausible.io/data-policy"
              class="underline hover:text-gray-200"
              >does not set any cookies</a
            >
            and only uses anonymous metrics. We also use Vercel Analytics, which
            has a similar privacy-first approach without cookies.
          </p>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            If you sign up to our newsletter then we collect your email and may
            link a referrer reference to help us track our marketing efforts. We
            don&apos;t track whether our emails are opened, but are interested
            in which links get clicked so we can improve our selection criteria.
            We also track which links are clicked on our website.
          </p>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            You can unsubscribe from all our emails at any time using the link
            in each email or by contacting us.
          </p>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            Our newsletter and website contains links to websites and
            third-parties. If you follow a link to any of these websites, please
            note that these websites have their own privacy policies. Please
            check these policies before you submit any personal data to these
            websites.
          </p>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            That&apos;s the plain English version. Here are the extra details.
          </p>
        </div>
        <div class="mt-8">
          <h2 class="text-2xl lg:text-3xl">Data Processing Purposes</h2>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            If you sign up to our devtools newsletter, we collect your personal
            data for the purpose of sending you the newsletter. We do not use
            this information for any automated decision-making or profiling
            based on personal data.
          </p>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            We will never sell your personal data under any circumstances. We do
            not provide your data to third-parties for marketing purposes.
          </p>
        </div>
        <div class="mt-8">
          <h2 class="text-2xl lg:text-3xl">Lawful purposes for processing</h2>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            <strong>Consent</strong>. By signing up to our devtools newsletter
            you are consenting to receive that newsletter by email. We use
            double opt-in to ensure we have your consent. You can withdraw your
            consent at any time by clicking the unsubscribe link in each email
            or by contacting us by email.
          </p>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            <strong>Legitimate interests</strong>. We track the links you click
            within our emails to help us improve our selection criteria.
          </p>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            We do not knowingly collect information from children. If you are
            under the age of 16, please do not submit any personal data.
          </p>
        </div>
        <div class="mt-8">
          <h2 class="text-2xl lg:text-3xl">Recipients of personal data</h2>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            We work with the following third-party vendors to help us run
            Console. We may transfer personal data to or through these services
            for the following purposes:
          </p>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            Cloudflare: Where we run some of our websites and infrastructure.
          </p>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            DocuSign: If you are a customer, we manage contracts using DocuSign.
          </p>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            Google: We use Google Workspace for our email, docs and general
            business collaboration/productivity. We also use Google Cloud
            services for some of our websites and infrastructure.
          </p>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            Mailchimp: Used for mailing list management and sending emails.
          </p>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            Notion: Used for internal collaboration and tracking of customer
            contacts.
          </p>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            Plausible: We track website visits with Plausible Analytics which
            does not use cookies and is designed privacy-first.
          </p>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            Railway: Where we run some of our websites and infrastructure.
          </p>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            Reddit: If you click through from a Reddit ad, we use Reddit&apos;s
            tools to track if you then sign up to Console.
          </p>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            Twitter: If you click through from a Twitter ad, we use
            Twitter&apos;s tools to track if you then sign up to Console.
          </p>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            Vercel: Where we run some of our websites and infrastructure.
          </p>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            Xero: Used for invoices and financial management if you are a
            supplier or customer.
          </p>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            Our websites and infrastructure run in the United States by default,
            but we also use content delivery, caching, and other optimizations
            across global infrastructure to make our services faster. As such we
            may transfer your personal data on the basis that there are
            appropriate safeguards in place. This includes transferring data
            outside of the EU and UK.
          </p>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            We do not provide your data to any of these third-parties for
            marketing purposes.
          </p>
        </div>
        <div class="mt-8">
          <h2 class="text-2xl lg:text-3xl">Data retention</h2>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            We will only keep your personal data whilst we have a use for it.
          </p>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            If you unsubscribe from our devtools newsletter, we will stop
            sending you emails, but will keep your data for 1 year to help us
            track unsubscribe rates over time. If you wish to delete all your
            data immediately, please email us.
          </p>
        </div>
        <div class="mt-8">
          <h2 class="text-2xl lg:text-3xl">Cookies</h2>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            We use cookies only for essential purposes.
          </p>
        </div>
        <div class="mt-8">
          <h2 class="text-2xl lg:text-3xl">Your rights</h2>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            You have the right to access, rectify, erase, restrict, and object
            to our use of your data. You can also request a portable version of
            your data. We extend these rights to all users globally. Email us to
            request any of these rights.
          </p>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            You can withdraw your consent at any time by clicking the
            unsubscribe link in each email or by contacting us by email.
          </p>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            For devtools newsletter subscribers, you can also exercise your
            rights by
            <a
              href="https://mailchimp.com/about/privacy-rights/"
              class="underline hover:text-gray-200"
              >contacting Mailchimp directly</a
            >.
          </p>
        </div>
        <div class="mt-8">
          <h2 class="text-2xl lg:text-3xl">Your California privacy rights</h2>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            If you are a California resident, you have specific rights under the
            California Civil Code Section 1798.83. These are covered in the
            “Your rights” section above and can be exercised by emailing us.
          </p>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            We do not sell your personal information and do not disclose it to
            any third parties for marketing purposes.
          </p>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            The list of companies that we use to store, process, or transmit
            your personal information is provided above. None of these are for
            marketing purposes.
          </p>
        </div>
        <div class="mt-8">
          <h2 class="text-2xl lg:text-3xl">Who are we?</h2>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            Console Ltd is registered in England and Wales at 60 Grays Inn Road,
            GI 404, London, WC1X 7RJ, UK. Our company number is 13016709 and our
            UK Data Protection registration number is ZA837052.
          </p>
        </div>
        <div class="mt-8">
          <h2 class="text-2xl lg:text-3xl">How do I contact you?</h2>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            Our Data Protection Officer is David Mytton who can be contacted by
            email: david@console.dev.
          </p>
          <p class="text-base lg:text-lg text-gray-400 mt-4">
            If you are unhappy with our use of your data you can complain to the
            <a href="https://ico.org.uk/" class="underline hover:text-gray-200"
              >UK Information Commissioner&apos;s Office</a
            >.
          </p>
        </div>
      </div>
    </main>
    {{template "footer"}}
  </body>
</html>
