/* Console Advertise
   ========================================================================== */

html {
    scroll-behavior: smooth;
}

body {
    transition: var(--a-layout-active);
}

body:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(82,105,255);
    background: radial-gradient(ellipse at 0% 65%, rgba(82,105,255,0.095) 0%, rgba(82,105,255,0) 70%), radial-gradient(ellipse at 100% 65%, rgba(255,51,85,0.15) 0%, rgba(255,51,85,0) 70%);
    z-index: 0;
    opacity: 0;
    transition: var(--a-layout-active);
}

body.page-advertise.checkpoint-site {
    background: var(--theme-content-bg-1);
    transition: var(--a-layout);
}

body.page-advertise.checkpoint-site .hero .lines {
    opacity: 0;
}

body.page-advertise.checkpoint-podcast:before {
    transition: var(--a-layout);
    opacity: 1;
}

body.page-advertise.checkpoint-podcast.checkpoint-work-with-us:before {
    opacity: 0;
}

body.page-advertise.checkpoint-campaigns {
    background: var(--theme-content-bg-3);
    transition: var(--a-layout);
}

/* body.page-advertise.checkpoint-contact {
    background: var(--theme-content-bg-1);
    transition: var(--a-layout);
} */

.main-advertise p.intro {
    font-size: var(--t-size1);
    line-height: var(--t-lH4);
}

.framed-section-item p:not(.small) {
    font-size: var(--t-size0);
}

p, quote {
    max-width: 760px;
}

@media (max-width: 768px) {
    .main-advertise {
        margin-top: var(--space6);
        margin-bottom: calc(var(--space6) - var(--space4));
    }
}

@media (min-width: 769px) {
    .main-advertise {
        margin: max(calc(var(--space6) - var(--space3)), 10vh) 0 calc(var(--space6) - var(--space2));
    }
}

@media (min-width: 1280px) {
    .main-advertise .framed-section-item p {
        font-size: var(--t-size0);
    }

    .main-advertise .framed-section-item p:not(.small) {
        font-size: var(--t-size1);
    }

    .main-advertise p,
    .main-advertise .work-with-us .framed-section > p,
    .main-advertise .work-with-us .framed-section-item p,
    .main-advertise .quote,
    .main-advertise .page-section-advertise.campaigns .framed-section .quote,
    .main-advertise .page-section-advertise.campaigns .framed-section-item p {
        font-size: var(--t-size1);
    }

    .main-advertise .page-section-advertise.social .quote {
        font-size: var(--t-size2);
        margin-top: 0.4em;
    }

    .main-advertise .page-section-advertise.social .quote .icon {
        margin-top: 0.3em;
    }

    .main-advertise .work-with-us .framed-section-item p.small {
        font-size: var(--t-size0);
    }

    .main-advertise p.intro {
        font-size: var(--t-size2);
    }

    .main-advertise p.description {
        font-size: var(--t-size3);
    }

    .main-advertise p.small {
        font-size: var(--t-size0);
    }

    .main-advertise p.x-small {
        font-size: var(--t-size-1);
    }

    .main-advertise-content ul li {
        font-size: var(--t-size0);
    }

    .main-advertise .title-1 {
        font-size: var(--t-size9);
    }

    .main-advertise .title-2 {
        font-size: var(--t-size6);
    }

    .main-advertise .title-3 {
        font-size: var(--t-size3);
    }

    .main-advertise .title-4 {
        font-size: var(--t-size1);
    }

    .main-advertise .title-5 {
        font-size: var(--t-size0);
    }

    .main-advertise .title-6 {
        font-size: var(--t-size1);
    }

    .main-advertise .console-button,
    .main-advertise [class^="console-button"],
    .main-advertise [class*=" console-button"] {
        font-size: var(--t-size1);
    }


    .main-advertise .console-button.console-button-medium,
    .main-advertise [class^="console-button"].console-button-medium,
    .main-advertise [class*=" console-button"].console-button-medium {
        font-size: var(--t-size0);
    }

    .main-advertise .console-button.console-button-small,
    .main-advertise [class^="console-button"].console-button-small,
    .main-advertise [class*=" console-button"].console-button-small {
        font-size: var(--t-size-1);
    }
    
    .main-advertise input.console-input-text,
    .main-advertise select.console-select {
        font-size: var(--t-size1);
    }

    .main-advertise input.console-input-text.console-input-medium,
    .main-advertise select.console-select.console-input-medium {
        font-size: var(--t-size0);
    }

    .main-advertise input.console-input-text.console-input-small,
    .main-advertise select.console-select.console-input-small {
        font-size: var(--t-size-1);
    }
}

.page-section-advertise {
    z-index: 1;
}

/* Opening */
.page-section-advertise.opening .top {
    z-index: 1;
}

.page-section-advertise.opening .title-1 {
    margin-top: var(--space3);
}

.page-section-advertise.opening .title-4 {
    color: var(--theme-text-attention-1);
}

.page-section-advertise.opening .title-4 span {
    color: var(--theme-text-attention-2);
}

.page-section-advertise.opening p.description {
    margin-bottom: var(--space3);
}

.page-section-advertise.opening p b {
    font-weight: 500;
}

.page-section-advertise.opening a {
    margin-top: var(--space3);
}

@media (min-width: 769px) {
    .page-section-advertise.opening {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .page-section-advertise.opening .top {
        width: 46%;
        min-width: calc(var(--space7) + var(--space6) + var(--space4));
    }
}

.page-section-advertise.opening .bottom {
    z-index: 0;
    height: 0;
    margin-top: var(--space4_5);
    margin-right: -10vw;
}

.page-section-advertise.opening .artwork-wrapper {
    transform-origin: 0 0;
    transform: scale(1.28);
}

.advertise-artwork {
    --plane-size: var(--space6);
    display: flex;
    flex-flow: row nowrap;
    transform-origin: 0 0;
    transform: scaleY(0.8945) skew(-24.4deg);
}

.advertise-artwork > * {
    flex: 0 0 auto;
}

.advertise-artwork .col:not(:first-child) {
    margin-left: calc(var(--space4) + var(--space1));
}

.advertise-artwork .plane {
    position: relative;
    width: var(--plane-size);
    height: var(--plane-size);
    border: 1px solid;
    z-index: 1;
}

.advertise-artwork .plane:before {
    position: absolute;
    content: "";
    left: 30%;
    width: 40%;
    height: 40%;
    z-index: 1;
}

.advertise-artwork .plane:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--theme-artwork-plane-bg);
    z-index: 1;
}

.advertise-artwork .triad-01 .plane {
    border-color: var(--theme-artwork-triad-01-plane-border);
}

.advertise-artwork .triad-01 .plane:before {
    top: calc(30% + 14px);
    background: var(--theme-artwork-triad-01-glow);
    box-shadow: 0 0 38px 38px var(--theme-artwork-triad-01-glow);
}

.advertise-artwork .triad-02 .plane {
    border-color: var(--theme-artwork-triad-02-plane-border);
    margin-top: calc(var(--plane-size) * 0.5);
    width: calc(var(--plane-size) * 0.67);
    height: calc(var(--plane-size) * 0.67);
}

.advertise-artwork .triad-02 .plane:before {
    top: calc(30% + 9px);
    background: var(--theme-artwork-triad-02-glow);
    box-shadow: 0 0 26px 26px var(--theme-artwork-triad-02-glow);
}

.advertise-artwork .triad-03 .plane {
    border-color: var(--theme-artwork-triad-03-plane-border);
    margin-top: calc(var(--plane-size) * 1.4);
    width: calc(var(--plane-size) * 0.5);
    height: calc(var(--plane-size) * 0.5);
}

.advertise-artwork .triad-03 .plane:before {
    top: calc(30% + 7px);
    background: var(--theme-artwork-triad-03-glow);
    box-shadow: 0 0 20px 20px var(--theme-artwork-triad-03-glow);
}

.advertise-artwork .triad-01 .plane .icon {
    position: relative;
    z-index: 2;
    margin-top: calc(var(--plane-size) * 0.2);
    margin-left: calc(var(--plane-size) * 0.15);
    width: calc(var(--plane-size) * 0.5);
    height: calc(var(--plane-size) * 0.5);
}

.advertise-artwork .trail {
    position: relative;
    width: 100%;
    height: 500px;
    z-index: 0;
}

.advertise-artwork .triad-01 .trail {
    background: var(--theme-artwork-triad-01-trail-bg);
}

.advertise-artwork .triad-02 .trail {
    background: var(--theme-artwork-triad-02-trail-bg);
}

.advertise-artwork .triad-03 .trail {
    background: var(--theme-artwork-triad-03-trail-bg);
}

/* Newsletter */
.page-section-advertise.newsletter {
    margin-top: var(--space6);
}

.page-section-advertise.newsletter .intro b {
    color: var(--theme-text-1);
    font-weight: 500;
}

.page-section-advertise.newsletter .title span span {
    font-weight: 500;
    font-style: italic;
    text-transform: lowercase;
}

.page-section-advertise.newsletter .title.rich-title {
    align-items: flex-start;
}

.page-section-advertise.newsletter .title.rich-title .icon {
    margin-top: 0.26em;
    margin-right: var(--space2);
}

.page-section-advertise.newsletter img {
    display: block;
}

@media (max-width: 768px) {
    .page-section-advertise.newsletter .bottom {
        margin-top: calc(var(--space4) + var(--space3_5));
    }

    .page-section-advertise.newsletter .bottom img {
        width: 100%;
    }
}

@media (min-width: 769px) {
    .page-section-advertise.newsletter {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    .page-section-advertise.newsletter .top {
        min-width: calc(var(--space7) + var(--space4));
        width: 36%;
        flex: 0 0 auto;
        margin-right: calc(var(--space5) + var(--space3));
    }

    .page-section-advertise.newsletter .bottom img {
        width: 762px;
    }
}

/* Site */
.page-section-advertise.site {
    z-index: 0;
    margin-top: calc(var(--space6) + var(--space4));
}

.page-section-advertise.site .intro {
    color: var(--theme-text-1);
}

.page-section-advertise.site .neon-planes-wrapper {
    position: absolute;
    z-index: 0;
    width: 100%;
    margin-top: calc(calc(var(--space7) + var(--space6)) * -1);
    transform-origin: top center;
}

.page-section-advertise.site .neon-planes {
    position: relative;
    width: calc(100% * 1.78);
    padding-bottom: calc(78% * 1.78);
    left: 50%;
    transform: translateX(-50%);
}

.page-section-advertise.site > *:not(.neon-planes-wrapper) {
    position: relative;
    z-index: 1;
}

.advertise-site-item .rich-title .icon {
    width: var(--space4_5);
    height: var(--space4_5);
}

.advertise-site-item a {
    margin-top: var(--space3);
}

.advertise-site-item img {
    display: block;
}

@media (max-width: 768px) {
    .advertise-site-item:not(:first-child) {
        margin-top: var(--space5);
    }

    .advertise-site-item .bottom {
        margin-top: var(--space4);
    }

    .advertise-site-item img {
        width: 100%;
    }
}

@media (min-width: 769px) {
    .advertise-site-item {
        display: flex;
        flex-flow: row nowrap;
    }

    .advertise-site-item:not(:first-child) {
        margin-top: var(--space6);
    }

    .advertise-site-item .top {
        width: 36%;
        flex: 0 0 auto;
        margin-right: calc(var(--space5) + var(--space3));
        padding-top: var(--space4);
    }

    .advertise-site-item img {
        width: 145%;
        max-width: 720px;
    }
}

/* Podcast */
.page-section-advertise.podcast {
    margin-top: calc(var(--space7) + var(--space5));
    margin-bottom: calc(var(--space6) + var(--space5));
}

.page-section-advertise.podcast .top {
    margin-top: calc(calc(var(--space3) + var(--space1)) * -1);
}

.page-section-advertise.podcast .icon-podcast {
    width: var(--space6);
    height: var(--space6);
}

.page-section-advertise.podcast .bottom {
    position: relative;
    border-radius: var(--corners-mid);
    height: 460px;
    overflow: hidden;
}

.page-section-advertise.podcast .bottom iframe {
    width: calc(100% + 4px);
    margin-left: -2px;
    margin-top: -2px;
}

@media (max-width: 768px) {
    .page-section-advertise.podcast .bottom {
        margin-top: calc(var(--space4) + var(--space3_5));
    }
}

@media (min-width: 769px) {
    .page-section-advertise.podcast {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    .page-section-advertise.podcast .top {
        min-width: calc(var(--space7) + var(--space4));
        width: 36%;
        flex: 0 0 auto;
        margin-right: calc(var(--space5) + var(--space3));
    }

    .page-section-advertise.podcast .bottom {
        flex: 1 1 auto;
    }
}

/* Audience */
.page-section-advertise.audience {
    padding: calc(var(--space6) + var(--space3)) 0 calc(var(--space6) + var(--space4));
}

.advertise-audience-facts {
    margin: calc(var(--space5) + var(--space3)) 0;
}

.audience-fact-number {
    font-size: var(--t-size10);
    line-height: var(--t-lH1);
    flex: 0 0 auto;
    margin-right: var(--space3);
}

.advertise-audience-fact-head p {
    flex: 1 1 auto;
    color: var(--theme-text-1);
}

.advertise-audience-fact.converting .advertise-audience-fact-head {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.advertise-audience-fact.converting .advertise-audience-fact-body span {
    color: var(--theme-text-1);
}

.advertise-audience-fact.converting .future-heads {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-top: var(--space1);
}

.advertise-audience-fact.converting .future-heads .future-head {
    position: relative;
    width: var(--space4);
    height: var(--space4);
    margin-right: var(--space1);
}

.advertise-audience-fact.converting .future-heads .future-head .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    stroke: var(--c-grey-06-blacks-neutral);
}

.advertise-audience-fact.converting .future-heads .future-head .future-head-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 128px;
    height: 128px;
    clip-path: path(
        "M59.7462 112.842L59.7307 112.868L59.7162 112.893C56.7932 118.096 55.7718 120.689 55.1365 122.307C54.8168 123.121 54.65 123.534 54.422 123.91C54.2292 124.228 53.964 124.562 53.4349 125.07C51.1061 126.222 47.9049 126.553 44.2112 126.097C40.4486 125.633 36.3264 124.37 32.4091 122.528C28.4923 120.687 24.8354 118.293 21.9839 115.61C19.194 112.985 17.2621 110.167 16.5144 107.398C16.6588 105.853 17.3662 104.172 18.3835 102.094C18.5639 101.726 18.7533 101.347 18.9481 100.956C19.8615 99.1264 20.8923 97.0614 21.6608 94.804C23.536 89.2963 24.5329 85.6696 24.6898 82.0261C24.8467 78.3841 24.1591 74.828 22.8943 69.4898C21.6079 64.0606 20.4313 60.5496 19.4844 57.7239C19.097 56.5678 18.748 55.5264 18.4457 54.5153C17.4116 51.0567 16.7895 47.5969 16.795 40.1764V40.1753C16.795 32.8117 21.1292 22.1889 29.3351 14.069C37.479 6.01034 49.3215 0.530343 64.2997 3.17137C86.3877 7.06608 98.5326 17.7501 103.837 30.7398C103.946 31.0063 104.052 31.2658 104.157 31.52C104.961 33.475 105.636 35.1164 106.131 37.1899C106.687 39.5163 107.024 42.4326 106.951 46.8859C106.906 49.6017 106.675 51.2247 106.21 53.3468C106.035 54.1489 105.769 54.679 105.405 55.4044C105.365 55.4834 105.324 55.5648 105.282 55.649C104.843 56.5304 104.368 57.5742 104.078 59.2171C103.793 60.8335 104.288 62.4705 104.873 63.8909C105.174 64.6223 105.528 65.3597 105.876 66.0701C105.936 66.1937 105.996 66.3163 106.056 66.4381C106.346 67.0296 106.626 67.6025 106.887 68.1784C107.011 68.4521 107.136 68.729 107.263 69.0085C107.909 70.4375 108.587 71.9365 109.286 73.4373C109.692 74.3942 110.078 75.2159 110.418 75.9348L110.459 76.0228C110.789 76.7191 111.061 77.2952 111.283 77.8366C111.729 78.9234 111.93 79.7682 111.858 80.8039C111.859 80.8015 111.858 80.802 111.857 80.8053C111.851 80.8286 111.808 80.992 111.566 81.2798C111.309 81.5864 110.91 81.9325 110.386 82.2587C109.329 82.9175 107.961 83.3757 106.675 83.3633C105.612 83.353 104.783 83.8036 104.222 84.3466C103.693 84.8586 103.348 85.5003 103.22 86.0631C102.995 87.0474 103.138 87.9158 103.242 88.5487C103.251 88.6002 103.259 88.6501 103.267 88.6983C103.373 89.3595 103.449 89.949 103.307 90.751C103.258 91.0341 103.086 91.2612 102.48 91.6703C102.425 91.7069 102.359 91.7501 102.286 91.7981C102.043 91.9573 101.718 92.1702 101.466 92.3749C101.112 92.662 100.621 93.1411 100.428 93.8813C100.185 94.8148 100.332 95.5169 100.423 95.9548L100.431 95.9922C100.507 96.3576 100.511 96.4331 100.456 96.6071C100.223 97.3413 99.8407 97.528 98.7284 98.0709C98.6771 98.0959 98.6244 98.1216 98.57 98.1482C97.9929 98.4305 97.2511 98.8188 96.5871 99.4835C95.9013 100.17 95.3716 101.073 95.0539 102.294C94.961 102.651 94.8637 103.082 94.7562 103.559C94.7274 103.687 94.6978 103.818 94.6674 103.952C94.5199 104.601 94.3419 105.363 94.1056 106.257C93.2165 109.623 90.0027 111.27 87.5043 111.023C84.2437 110.7 81.2231 110.28 78.3839 109.885C77.4932 109.761 76.6203 109.639 75.7635 109.524C72.2074 109.046 68.9133 108.674 65.9224 108.736C64.8135 108.759 63.6978 109.029 62.6169 109.721C61.5556 110.4 60.614 111.431 59.7462 112.842Z"
    );
    background: var(--c-blue-06-main);
    transform-origin: top left;
    transform: scale(0.25);
}

.advertise-audience-fact.converting .future-heads .future-head:last-child .future-head-fill {
    background: transparent;
    background: linear-gradient(118deg, var(--c-blue-06-main) 28%, rgba(82, 105, 255, 0) 28%);
}

.advertise-audience-fact.qualified .advertise-audience-fact-head div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.advertise-audience-fact.qualified .advertise-audience-fact-body span {
    color: var(--theme-text-1);
}

.advertise-audience-fact.engaged .advertise-audience-fact-head {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.advertise-audience-fact.engaged .advertise-audience-fact-head .icon {
    width: calc(var(--space4) + var(--space2));
    height: calc(var(--space4) + var(--space2));
    margin-right: var(--space3);
}

.advertise-audience-fact.engaged .advertise-audience-fact-body {
    display: flex;
    flex-flow: row nowrap;
}

.advertise-audience-fact.engaged .advertise-audience-fact-body span {
    margin-right: var(--space3);
    display: flex;
    flex-flow: row nowrap;
    padding-top: 0.1em;
}

.advertise-audience-fact.engaged .advertise-audience-fact-body span .icon {
    width: calc(var(--space3) + var(--space1));
    height: calc(var(--space3) + var(--space1));
    fill: var(--theme-signaling-positive);
}

@media (max-width: 1024px) {
    .advertise-audience-fact:not(:first-child) {
        margin-top: var(--space4_5);
    }
}

@media (max-width: 768px) {
    .advertise-audience-fact-body {
        margin-top: var(--space3);
    }

    .advertise-audience-fact.qualified .console-bar-chart {
        margin-top: var(--space3);
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .advertise-audience-fact {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 var(--space4);
        align-items: center;
    }

    .advertise-audience-fact.qualified .console-bar-chart {
        margin-top: var(--space3);
    }
}

@media (min-width: 1025px) {
    .advertise-audience-facts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0 var(--space4_5);
    }

    .advertise-audience-fact-body {
        margin-top: var(--space3);
    }

    .advertise-audience-fact.qualified .console-bar-chart {
        margin-top: var(--space3_5);
    }
}

/* Work with us */
.page-section-advertise.work-with-us {
    margin: var(--space6) 0;
}

.page-section-advertise.work-with-us .title-1 {
    color: var(--theme-text-attention-2);
}

.page-section-advertise.work-with-us .title-3 {
    margin-top: var(--space3_5);
}

.page-section-advertise.work-with-us .title-3 span:nth-child(1),
.page-section-advertise.work-with-us .title-3 span:nth-child(2) {
    font-style: italic;
    font-weight: 400;
    color: var(--c-blue-06-main);
}

.page-section-advertise.work-with-us .title-3 span:nth-child(1) {
    font-size: var(--t-size1);
}

.page-section-advertise.work-with-us .title-3 span:nth-child(2) {
    font-size: var(--t-size0);
    margin-right: var(--space1);
}

.work-with-us-packages {
    margin-top: var(--space5);
}

@media (min-width: 769px) {
    .work-with-us-packages {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 var(--space5);
        align-items: flex-start;
    }
}

.work-with-us-packages .neon-planes-wrapper {
    position: absolute;
    z-index: 0;
    width: 100%;
    margin-top: calc(var(--space3_5) + var(--space2));
    transform-origin: top center;
}

.work-with-us-packages .neon-planes {
    position: relative;
    width: calc(100% * 1.62);
    padding-bottom: calc(65.43% * 1.62);
    left: 50%;
    transform: translateX(-50%);
}

.work-with-us-packages > *:not(.neon-planes-wrapper) {
    position: relative;
    z-index: 1;
}

.work-with-us-packages .framed-section-item .title {
    margin-bottom: var(--space1);
}

.work-with-us-packages .framed-section-item .title .icon {
    width: var(--space3_5);
    height: var(--space3_5);
    margin-right: var(--space2);
}

.work-with-us-packages .framed-section-item p.small {
    margin-left: var(--space4);
}

.work-with-us-packages .framed-section-item p.small:not(:last-child) {
    margin-bottom: var(--space3_5);
}

.work-with-us-packages .framed-section-item .separator {
    margin-top: var(--space4);
    margin-bottom: var(--space4);
}

.work-with-us-packages .framed-section-item > p {
    margin-top: var(--space4);
    margin-bottom: var(--space4);
}

.work-with-us-packages .illustrated-title {
    margin-top: 0;
    margin-bottom: var(--space3);
}

.work-with-us-packages .framed-section-triad-01 .illustrated-title .illustration .background {
    stroke: var(--c-blue-06-main);
    stroke-opacity: 0.5;
}

.work-with-us-packages .framed-section-triad-03 .illustrated-title .illustration .background {
    stroke: var(--c-green-06);
    stroke-opacity: 0.5;
}

/* Campaigns */
.page-section-advertise.campaigns .framed-section {
    margin-top: var(--space4_5);
}

@media (min-width: 769px) {
    .page-section-advertise.campaigns .framed-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 0;
        align-items: stretch;
        padding: 0;
    }

    .page-section-advertise.campaigns .top,
    .page-section-advertise.campaigns .framed-section-item {
        padding-top: var(--space4);
        padding-bottom: var(--space4);
    }

    .page-section-advertise.campaigns .framed-section-item {
        padding-top: var(--space4_5);
        border: none;
        border-left: var(--theme-framed-section-default-item-border);
    }
}

.page-section-advertise.campaigns .framed-section .top .title {
    margin-bottom: var(--space4);
}

.page-section-advertise.campaigns .framed-section .case-study-thumbnail {
    width: var(--space4_5);
    margin-right: var(--space3_5);
}

.page-section-advertise.campaigns .framed-section p.intro {
    color: var(--theme-text-1);
}

.page-section-advertise.campaigns .framed-section .quote {
    font-size: var(--t-size0);
}

.page-section-advertise.campaigns .framed-section-item .title {
    margin-top: 0;
    margin-bottom: var(--space1);
}

.page-section-advertise.campaigns .framed-section-item > .title {
    margin-bottom: var(--space4);
    color: var(--theme-text-attention-2);
}

.page-section-advertise.campaigns .framed-section-item .title .icon {
    width: var(--space3_5);
    height: var(--space3_5);
    margin-right: var(--space2);
}

.page-section-advertise.campaigns .framed-section-item .title .icon-plus {
    width: var(--space3);
    height: var(--space3);
    margin-left: var(--space3);
    margin-right: 0;
}

.page-section-advertise.campaigns .framed-section-item p {
    margin-left: var(--space4);
    font-size: var(--t-size0);
}

.page-section-advertise.campaigns .framed-section-item p:not(:last-child) {
    margin-bottom: var(--space3_5);
}

/* Contact */
.page-section-advertise.contact {
    margin: var(--space7) 0;
}

.page-section-advertise.contact .bottom {
    margin-top: var(--space4_5);
}

.page-section-advertise.contact .bottom p .console-button-text {
    vertical-align: middle;
}

@media (max-width: 700px) {
    .page-section-advertise.contact .bottom p {
        margin-top: var(--space4);
    }
}

@media (min-width: 701px) {
    .page-section-advertise.contact .bottom {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    .page-section-advertise.contact .bottom p {
        margin-left: var(--space4);
    }
}

.page-section-advertise.contact .neon-planes-wrapper {
    position: absolute;
    z-index: 0;
    width: 100%;
    margin-top: calc(var(--space6) * -1);
    transform-origin: top center;
}

.page-section-advertise.contact .neon-planes {
    position: relative;
}

.page-section-advertise.contact > *:not(.neon-planes-wrapper) {
    position: relative;
    z-index: 1;
}

/* Social */
.page-section-advertise.social {
    margin: var(--space7) 0 calc(var(--space5) + var(--space3));
}

.page-section-advertise.social .neon-planes-wrapper {
    position: absolute;
    z-index: 0;
    width: 100%;
    margin-top: calc(var(--space6) + var(--space5));
    transform-origin: top center;
}

.page-section-advertise.social .neon-planes {
    position: relative;
}

.page-section-advertise.social > *:not(.neon-planes-wrapper) {
    position: relative;
    z-index: 1;
}

.page-section-advertise.social .title {
    z-index: 2;
}

.page-section-advertise.social .quotes {
    margin-top: var(--space4_5);
    width: 85%;
    max-width: 760px;
}

.page-section-advertise.social .quote {
    position: relative;
    font-size: var(--t-size1);
    z-index: 1;
}

.page-section-advertise.social .quote .icon {
    margin-top: 0.2em;
}

.page-section-advertise.social .future-heads {
    --headSize: calc(var(--space7) + var(--space6));
    position: absolute;
    top: calc(calc(var(--space6) + var(--space4)) * -1);
    left: calc(100% - calc(var(--headSize) * 0.45));
    display: flex;
    flex-flow: row nowrap;
    z-index: 0;
}

.page-section-advertise.social .future-heads .icon {
    flex: 0 0 auto;
    width: var(--headSize);
    height: var(--headSize);
    margin-right: calc(calc(var(--headSize) * 0.83) * -1);
    stroke: var(--theme-text-5);
}

.page-section-advertise.social .future-heads .icon:nth-child(2) {
    opacity: 0.4;
}

.page-section-advertise.social .future-heads .icon:nth-child(3) {
    opacity: 0.3;
}

.page-section-advertise.social .future-heads .icon:nth-child(4) {
    opacity: 0.2;
}

@media (max-width: 768px) {
    .page-section-advertise.social .future-heads  {
        margin-left: -38px;
    }

    .page-section-advertise.social .future-heads .icon {
        width: calc(var(--headSize) - 25px);
        height: calc(var(--headSize) - 25px);
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .page-section-advertise.social .future-heads  {
        --leftMove: calc(calc(1024px - 100vw) * 0.15);
        margin-left: calc(var(--leftMove) * -1);
    }

    .page-section-advertise.social .future-heads .icon {
        --shrink: calc(calc(1024px - 100vw) * 0.1);
        width: calc(var(--headSize) - var(--shrink));
        height: calc(var(--headSize) - var(--shrink));
    }
}

@media (min-width: 1025px) and (max-width: 1370px) {
    .page-section-advertise.social .future-heads .icon {
        --leftMove: calc(calc(1025px - 100vw) * 0.1);
        margin-right: calc(calc(calc(var(--headSize) * 0.83) * -1) - var(--leftMove));
    }
}

@media (min-width: 1370px) {
    .page-section-advertise.social .future-heads .icon {
        margin-right: calc(calc(calc(var(--headSize) * 0.83) * -1) + 35px);
    }
}