/* Console Advertise
   ========================================================================== */

html {
    scroll-behavior: smooth;
}

.main-advertise p.intro {
    font-size: var(--t-size1);
    line-height: var(--t-lH4);
}

@media (max-width: 768px) {
    .main-advertise {
        margin-top: var(--space6);
        margin-bottom: calc(var(--space6) - var(--space4));
    }
}

@media (min-width: 769px) {
    .main-advertise {
        margin: max(calc(var(--space6) - var(--space3)), 10vh) 0 calc(var(--space6) - var(--space2));
    }
}

@media (min-width: 1280px) {
    .main-advertise p,
    .main-advertise .quote {
        font-size: var(--t-size1);
    }

    .main-advertise p.description {
        font-size: var(--t-size3);
    }

    .main-advertise p.small {
        font-size: var(--t-size0);
    }

    .main-advertise p.x-small {
        font-size: var(--t-size-1);
    }

    .main-advertise-content ul li {
        font-size: var(--t-size0);
    }

    .main-advertise .title-1 {
        font-size: var(--t-size9);
    }

    .main-advertise .title-2 {
        font-size: var(--t-size6);
    }

    .main-advertise .title-3 {
        font-size: var(--t-size3);
    }

    .main-advertise .title-4 {
        font-size: var(--t-size1);
    }

    .main-advertise .title-5 {
        font-size: var(--t-size0);
    }

    .main-advertise .title-6 {
        font-size: var(--t-size1);
    }
}

.page-section-advertise.opening p b {
    font-weight: 500;
}

.page-section-advertise.newsletter .intro b {
    color: var(--theme-text-1);
    font-weight: 500;
}

.page-section-advertise.newsletter .title span span {
    font-weight: 500;
    font-style: italic;
    text-transform: lowercase;
}

.page-section-advertise.newsletter .title.rich-title {
    align-items: flex-start;
}

.page-section-advertise.newsletter .title.rich-title .icon {
    margin-top: 0.26em;
    margin-right: var(--space2);
}

.page-section-advertise.site .intro {
    color: var(--theme-text-1);
}

.page-section-advertise.podcast .icon-podcast {
    width: var(--space6);
    height: var(--space6);
}

.advertise-audience-fact-body {
    margin-top: var(--space3);
}

.audience-fact-number {
    font-size: var(--t-size10);
    line-height: var(--t-lH1);
}

.advertise-audience-fact.converting .advertise-audience-fact-body span,
.advertise-audience-fact.qualified .advertise-audience-fact-body span {
    color: var(--theme-text-1);
}
