/* Console Badges
   ========================================================================== */

html {
    scroll-behavior: smooth;
}

body {
    transition: var(--a-layout-active);
}

@media (max-width: 768px) {
    .main-badges {
        margin-top: var(--space6);
        margin-bottom: calc(var(--space6) - var(--space4));
    }
}

@media (min-width: 769px) {
    .main-badges {
        margin: max(calc(var(--space6) - var(--space3)), 10vh) 0 calc(var(--space6) - var(--space2));
    }
}

.page-section-badges {
    max-width: 600px;
}

@media (min-width: 1280px) {
    .page-section-badges {
        max-width: 760px;
    }
}

.page-section:not(:first-child).page-section-badges {
    margin-top: calc(var(--space5) + var(--space3));
}

/* Opening */
.page-section-badges.opening p.description {
    margin-bottom: var(--space3_5);
}

.page-section-badges.opening p span {
    color: var(--theme-text-1);
}

.page-section-badges.opening p span .icon {
    width: calc(var(--space2) + var(--space1));
    height: calc(var(--space2) + var(--space1));
}

/* Selector */
.page-section-badges.selector {
    max-width: none;
}

.page-section-badges.page-section-plane.selector {
    padding: calc(var(--space5) + var(--space3)) 0;
}

.page-section-badges.selector .selector-ctas {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.page-section-badges.selector .selector-ctas > * {
    flex: 0 0 auto;
}

.page-section-badges.selector .selector-ctas > *:not(:last-child) {
    margin-right: var(--space3);
}

.selector-ui {
    margin: var(--space5) 0 var(--space4_5);
}

@media (min-width: 980px) {
    .selector-ui {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }
}

.selector-ui .top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 calc(var(--space4) + var(--space2));
    align-items: stretch;
    margin-bottom: calc(var(--space4) * -1);
    z-index: 20;
}

@media (min-width: 380px) {
    .selector-ui .top {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 980px) {
    .selector-ui .top {
        grid-template-columns: repeat(2, 1fr);
        margin-right: var(--space4);
    }

    .selector-ui .top {
        flex: 0 0 auto;
        width: 24%;
    }
}

.selector-ui .bottom {
    position: relative;
    z-index: 10;
}

@media (min-width: 769px) {
    .selector-ui .bottom {
        flex: 1 1 auto;
    }
}

.selector-ui-group {
    margin-bottom: var(--space4);
}

.selector-ui-group .title {
    margin-bottom: var(--space3);
}

.selector-ui-options div {
    margin-bottom: var(--space1);
}

.split-planes {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 50%;
}

.split-planes .section-plane {
    width: auto;
    left: 25%;
    right: 25%;
}

.selector-ui .split-planes {
    padding-bottom: 36%;
}

.selector-ui .split-planes .section-plane {
    left: 18%;
    right: 18%;
}

.split-planes .section-plane.left {
    background: var(--c-black-00-absolute);
}

.split-planes .section-plane.left:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 126 256'%3E%3Cpath d='M126 0V256H0L126 0Z' fill='%23000000'/%3E%3C/svg%3E");
}

.split-planes .section-plane.left:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 126 256'%3E%3Cpath d='M0 256L2.23802e-05 0L126 1.10153e-05L0 256Z' fill='%23000000'/%3E%3C/svg%3E%0A");
}

.split-planes .section-plane.right {
    background: var(--c-white-02);
}

.split-planes .section-plane.right:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 126 256'%3E%3Cpath d='M126 0V256H0L126 0Z' fill='%23f1f2f6'/%3E%3C/svg%3E");
}

.split-planes .section-plane.right:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 126 256'%3E%3Cpath d='M0 256L2.23802e-05 0L126 1.10153e-05L0 256Z' fill='%23f1f2f6'/%3E%3C/svg%3E%0A");
}

.split-planes.is-split .section-plane.left,
.split-planes.is-split .section-plane.right {
    width: 23.4%;
}

.split-planes.is-split .section-plane.right {
    margin-left: 40.8%;
}

.split-planes.is-black .section-plane.left {
    width: auto;
}

.split-planes.is-black .section-plane.right {
    display: none;
}

.split-planes.is-white .section-plane.left {
    display: none;
}

.split-planes.is-white .section-plane.right {
    width: auto;
}

.selector-ui-preview {
    position: absolute;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: var(--space2_5);
    transform: translateY(-100%);
}

.selector-ui-preview p {
    margin: 0;
}

.selector-ui-preview .console-segmented-control {
    margin-left: var(--space2);
}

.page-section-badges .console-badge {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
