/* Design Library
   ========================================================================== */

.icon-grid .icon-display {
    text-align: center;
}

.icon-grid .icon {
    width: 64px;
    height: 64px;
}

.icon-grid .icon-label {
    font-size: var(--t-size-3);
}

.colors .neutrals {
    position: relative;
    background: var(--c-black-00-absolute);
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 400px;
    padding: var(--space4);
}

.colors .neutrals .neutrals-dark {
    background: var(--c-black-01);
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: var(--space4);
    padding: var(--space4);
    padding-right: calc(var(--space6) - var(--space4));
}

.colors .neutrals .neutrals-light {
    background: var(--c-white-01-main);
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: var(--space4);
    padding: var(--space4);
    padding-left: calc(var(--space6) - var(--space4));
}

.colors .neutrals .neutrals-greys {
    position: absolute;
    top: var(--space5);
    bottom: var(--space5);
    left: 50%;
    width: var(--space6);
    transform: translateX(-50%);
    display: grid;
}

.colors .triad {
    background: var(--c-black-00-absolute);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 400px;
    padding: var(--space4);
}

.colors .triad .triad-item {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.colors .triad .triad-item .left {
    background: var(--c-black-02-main);
}

.colors .triad .triad-item .right {
    background: var(--c-white-01-main);
}

.colors .triad .triad-item-colors {
    position: absolute;
    top: var(--space4);
    bottom: var(--space4);
    left: 50%;
    width: var(--space6);
    transform: translateX(-50%);
    display: grid;
}
