/* Console Tools
   ========================================================================== */

.tool-card {
    position: relative;
    background-color: var(--theme-content-bg-0);
    box-shadow: var(--theme-shadow-1);
    border-radius: var(--corners-mid);
    border-left: 2px solid transparent;
    transition: var(--a-micro);
}

.tool-card.is-hidden {
    display: none;
}

.tool-card .card-link {
    left: -2px;
    margin-right: 0;
}

.tool-card-content .top {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    padding: var(--space3) var(--space4);
}

.tool-card-content .top > .left {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.tool-card-content .top > .left .title {
    display: none;
}

.tool-card-content .top > .right {
    flex-grow: 1;
}

.tool-card-thumbnail {
    flex-shrink: 0;
    width: calc(var(--space4) + var(--space3));
    margin-right: var(--space4);
}

.tool-card .title {
    margin-bottom: var(--space2);
}

p.tool-card-description {
    margin: 0;
}

.tool-card .like-dont-like p span {
    color: var(--theme-text-1);
    font-weight: 500;
}

.tool-card .bottom {
    background: var(--theme-content-bg-1);
    padding: var(--space3) var(--space4);
}

@media (max-width: 768px) {
    .tool-card > *:not(:last-child):not(:first-child) {
        margin-bottom: var(--space2_5);
    }

    .tool-card .date {
        margin-left: calc(var(--space4) + var(--space2) + var(--space4));
    }

    .tool-card-content .top {
        align-items: flex-start;
    }

    .tool-card-content .top > *:not(:last-child) {
        margin-bottom: var(--space2_5);
    }

    p.tool-card-description {
        margin-bottom: var(--space2_5);
    }

    @media (max-width: 480px) {
        .tool-card .date {
            margin-left: 0;
        }

        .tool-card-content .top {
            flex-flow: column nowrap;
        }

        .tool-card-content .top > .right > *:not(:last-child) {
            margin-bottom: var(--space2_5);
        }

        .tool-card-thumbnail {
            margin-right: var(--space3);
        }

        .tool-card-content .top > .left .title {
            display: block;
        }

        .tool-card-content .top > .right .title {
            display: none;
        }
    }

    @media (min-width: 601px) {
        .tool-card > *:not(:last-child) {
            margin-bottom: 0;
        }

        .tool-card .date {
            margin-bottom: var(--space2_5);
        }
    }
}

@media (min-width: 769px) {
    .tool-card {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    .tool-card > *:not(:last-child):not(:first-child) {
        margin-right: var(--space4);
    }

    .tool-card .date {
        width: 7em;
        flex: 0 0 auto;
    }

    .tool-card-content .top {
        align-items: center;
        flex: 1 1 auto;
    }

    p.tool-card-description {
        margin-bottom: var(--space1);
    }

    @media (min-width: 1500px) {
        .tool-card-content .top > .right {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
        }

        .tool-card-content .top > .right > .left {
            flex: 1 1 auto;
            margin-right: var(--space4);
            max-width: 60%;
        }

        .tool-card-content .top > .right > .tags {
            flex: 0 0 auto;
            max-width: 40%;
            justify-content: flex-end;
        }

        .tool-card-content .top > .right > .tags > * {
            text-align: right;
        }
    }
}