<svg class="icon icon-stroke icon-broadcast" viewBox="0 0 128 128">
    <g clip-path="url(#clip0)">
        <path d="M68 64C68 66.2091 66.2092 68 64 68C61.7909 68 60 66.2091 60 64C60 61.7909 61.7909 60 64 60C66.2092 60 68 61.7909 68 64Z" stroke="white" stroke-width="8"/>
        <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="128" height="128">
            <path d="M64 64L128 -5.59506e-06L128 128L64 64Z" fill="#C4C4C4"/>
            <path d="M64 64L-5.59506e-06 0L0 128L64 64Z" fill="#C4C4C4"/>
        </mask>
        <g mask="url(#mask0)">
            <circle cx="64" cy="64" r="22.5" stroke="white" stroke-width="3"/>
            <circle cx="64" cy="64" r="62.5" stroke="white" stroke-width="3"/>
            <circle cx="64" cy="64" r="41.5" stroke="white" stroke-width="3"/>
        </g>
    </g>
    <defs>
        <clipPath id="clip0">
            <rect width="128" height="128" fill="white"/>
        </clipPath>
    </defs>
</svg>
