<svg class="icon icon-fill-stroke icon-data-science" viewBox="0 0 128 128">
    <circle cx="14" cy="39" r="14" />
    <circle cx="114" cy="64" r="14" />
    <circle cx="64" cy="14" r="14" />
    <circle cx="14" cy="89" r="14" />
    <circle cx="64" cy="64" r="14" />
    <circle cx="64" cy="114" r="14" />
    <path d="M14 39L64 14" stroke-width="0.5" vector-effect="non-scaling-stroke"/>
    <path d="M14 89L64 64" stroke-width="0.5" vector-effect="non-scaling-stroke"/>
    <path d="M14 89L64 14" stroke-width="0.5" vector-effect="non-scaling-stroke"/>
    <path d="M14 89L64 114" stroke-width="0.5" vector-effect="non-scaling-stroke"/>
    <path d="M14 39L64 64" stroke-width="0.5" vector-effect="non-scaling-stroke"/>
    <path d="M14 39L64 114" stroke-width="0.5" vector-effect="non-scaling-stroke"/>
    <path d="M114 64H64" stroke-width="0.5" vector-effect="non-scaling-stroke"/>
    <path d="M114 64L64 14" stroke-width="0.5" vector-effect="non-scaling-stroke"/>
    <path d="M114 64L64 114" stroke-width="0.5" vector-effect="non-scaling-stroke"/>
</svg>