<div class="artwork">
    <img class="artwork-background" src="/img/mars/artwork-bg.jpg">
    <div class="artwork-story">
        {{ partial "components/mars/earth-large.html" }}
        <div class="artwork-satellite-move artwork-satellite-move-left">
            <img class="move1" src="/img/mars/artwork-satellite-outline.png">
            <img class="move2" src="/img/mars/artwork-satellite-outline.png">
            <img class="move3" src="/img/mars/artwork-satellite-outline.png">
            <img class="move4" src="/img/mars/artwork-satellite-outline.png">
            <img class="move5" src="/img/mars/artwork-satellite-outline.png">
        </div>
        <div class="mars-artwork-satellite">
            <img class="back2" src="/img/mars/artwork-satellite-backdrop2.png">
            <img class="back1" src="/img/mars/artwork-satellite-backdrop1.png">
            <img class="front" src="/img/mars/artwork-satellite.png">
        </div>
        {{ partial "components/mars/mars-large.html" }}
    </div>
</div>