<div class="mars-illustration habitat-distance">
    <div class="left">
        {{ partial "components/mars/earth.html" }}
        <div class="mars-illustration-caption">
            <span class="mars-illustration-text-small">Earth</span>
            <span class="mars-illustration-text">Warm, O<sub>2</sub></span>
            <span class="mars-illustration-text-emoji">😊</span>
        </div>
    </div>
    <div class="link-1">
        {{ partial "components/mars/link.html" }}
        <div class="mars-illustration-caption">
            <span><span class="mars-illustration-text-large">3-6</span> <span class="mars-illustration-text">months</span></span>
            <span class="mars-illustration-icon-text">{{ partial "icons/halt-hand.html" }} <span class="mars-illustration-text">every 2.2 years</span></span>
        </div>
    </div>
    <div class="mid">
        {{ partial "components/mars/mars.html" }}
        <div class="mars-illustration-caption">
            <span class="mars-illustration-text-small">Mars</span>
            <span class="mars-illustration-text">Cold, CO<sub>2</sub></span>
            <span class="mars-illustration-text-emoji">😐</span>
        </div>
    </div>
    <div class="link-2">
        {{ partial "components/mars/link.html" }}
    </div>
    <div class="right">
        {{ partial "components/mars/habitat-distance/no-wifi.html" }}
        <div class="mars-illustration-caption">
            <span class="mars-illustration-text-small"></span>
            <span class="mars-illustration-text">No internet</span>
            <span class="mars-illustration-text-emoji">😬</span>
        </div>
    </div>
</div>