<div class="mars-illustration handshake">
    <div class="left">
        {{ partial "components/mars/shared/earth.html" }}
    </div>
    <div class="mid">
        <div class="mars-illustration-title">
            {{ partial "icons/handshake.html" }}<br/>
            <span class="mars-illustration-text">Earth — Mars<br/>TCP 3-Way Handshake</span>
        </div>
        <div class="handshake-packets">
            <div class="packet packet-1">
                {{ partial "components/mars/shared/link.html" }}
                <span class="mars-illustration-text">SYN</span>
            </div>
            <div class="packet packet-2">
                {{ partial "components/mars/shared/link.html" }}
                <span class="mars-illustration-text">SYN, ACK</span>
            </div>
            <div class="packet packet-3">
                {{ partial "components/mars/shared/link.html" }}
                <span class="mars-illustration-text">ACK</span>
            </div>
        </div>
        <div class="mars-illustration-closing">
            <div class="mars-illustration-closing-separator">
                <div class="mars-illustration-closing-line"></div>
                <span class="mars-illustration-text-emoji">⚠️</span>
            </div>
            <span class="mars-illustration-text-large">9-66 mins</span>
            <span class="mars-illustration-text">3 × 3-22 mins</span>
        </div>
    </div>
    <div class="right">
        {{ partial "components/mars/shared/mars.html" }}
    </div>
</div>