<div class="mars-illustration space-networks">
    <div class="top">
        <div class="mars-illustration-caption">
            <span class="mars-illustration-text network-near-earth">Near Earth Network</span>
            <span class="mars-illustration-text network-space">Space Network</span>
            <span class="mars-illustration-text network-deep-space">Deep Space Network</span>
            <span class="mars-illustration-text network-other">Other orbiting</span>
        </div>
        <div class="space-networks-earth-top">
            {{ partial "components/mars/shared/earth.html" }}
            {{ partial "components/mars/space-networks/earth-network-small.html" }}
            <span class="space-networks-orbit-name space-networks-orbit-name-leo mars-illustration-text">LEO<br>&lt;2K km</span>
            <span class="space-networks-orbit-name space-networks-orbit-name-geo mars-illustration-text">GEO<br>~36K km</span>
        </div>
    </div>
    <div class="left">
        <div class="space-networks-earth-top">
            {{ partial "components/mars/shared/earth.html" }}
            {{ partial "components/mars/space-networks/earth-network.html" }}
            <span class="space-networks-orbit-name space-networks-orbit-name-leo mars-illustration-text">LEO<br>&lt;2K km</span>
            <span class="space-networks-orbit-name space-networks-orbit-name-geo mars-illustration-text">GEO<br>~36K km</span>
        </div>
        <div class="mars-illustration-caption">
            <span class="mars-illustration-text network-near-earth">Near Earth Network</span>
            <span class="mars-illustration-text network-space">Space Network</span>
            <span class="mars-illustration-text network-deep-space">Deep Space Network</span>
            <span class="mars-illustration-text network-other">Other orbiting</span>
        </div>
    </div>
    <div class="mid">
        {{ partial "components/mars/shared/link.html" }}
    </div>
    <div class="right">
        <div class="space-networks-mars-top">
            {{ partial "components/mars/shared/mars.html" }}
            {{ partial "components/mars/space-networks/mars-network.html" }}
        </div>
        <div class="mars-illustration-caption">
            <span class="mars-illustration-text network-missions">Mars missions</span>
        </div>
    </div>
    <div class="bottom">
        <div class="space-networks-mars-top">
            {{ partial "components/mars/shared/mars.html" }}
            {{ partial "components/mars/space-networks/mars-network-small.html" }}
        </div>
        <div class="mars-illustration-caption">
            <span class="mars-illustration-text network-missions">Mars missions</span>
        </div>
    </div>
</div>