/* Theme Dark
	Use the .theme class to override regular styles from this theme file.
	The class is assigned to body so using it as prefix in your rules
	will always ensure the highest specificity.
   ========================================================================== */

:root {
    --theme-text-1: var(--c-white-00-absolute);
    --theme-text-2: var(--c-grey-03);
    --theme-text-3: var(--c-grey-05);
    --theme-text-4: var(--c-grey-04-whites-neutral);
    --theme-text-5: var(--c-grey-06-blacks-neutral);
    --theme-text-attention-1: var(--c-yellow-02);
    --theme-text-attention-2: var(--c-yellow-04-main);
    --theme-input-text: var(--c-black-02-main);
    --theme-brand-accent-text-idle: var(--c-blue-04);
    --theme-brand-accent-text-hover: var(--c-blue-05);
    --theme-pre-code-text: var(--c-blue-04);
    --theme-cta-text: var(--c-white-00-absolute);
    --theme-cta-secondary-text-idle: var(--c-white-00-absolute);
    --theme-cta-secondary-text-hover: var(--c-blue-04);
    --theme-cta-secondary-text-active: var(--c-blue-06-main);

    --theme-cta-secondary-green-text-idle: var(--c-green-05-main);
    --theme-cta-secondary-green-text-hover: var(--c-green-06);
    --theme-cta-secondary-green-text-active: var(--c-green-07);

    --theme-cta-secondary-yellow-text-idle: var(--c-yellow-04-main);
    --theme-cta-secondary-yellow-text-hover: var(--c-yellow-05);
    --theme-cta-secondary-yellow-text-active: var(--c-yellow-06);

    --theme-content-bg-0: var(--c-black-00-absolute);
    --theme-content-bg-1: var(--c-black-01);
    --theme-content-bg-2: var(--c-black-02-main);
    --theme-content-bg-3: var(--c-grey-09-black-03);
    --theme-content-bg-4: var(--c-grey-08);

    --theme-shading-RGB: var(--c-white-00-absolute-RGB);

    --theme-hero-fade-top: linear-gradient(180deg, rgba(10, 10, 11, 0.4) 0%, rgba(10, 10, 11, 0) 100%);
    --theme-hero-fade-bottom: linear-gradient(0deg, rgba(10, 10, 11, 0.4) 0%, rgba(10, 10, 11, 0) 100%);

    --theme-content-pick-border-1: 2px solid rgba(1, 188, 144, 0.25);

    --theme-translucent: rgba(10, 10, 11, 0.6);
    --theme-translucent-firefox: rgba(16, 16, 18, 0.95);

    --theme-translucent-footer: rgba(0, 0, 0, 0.6);
    --theme-translucent-footer-firefox: rgba(4, 4, 4, 0.93);

    --theme-shadow-1: 0 var(--space1) var(--space3) rgba(0, 0, 0, 0.4);
    --theme-shadow-2: 0 var(--space2) var(--space4) rgba(0, 0, 0, 0.8);
    --theme-shadow-3: 0 var(--space3) var(--space5) rgba(0, 0, 0, 0.8);

    --theme-border-0: 1px solid rgba(255, 255, 255, 0.03);
    --theme-border-1: 1px solid rgba(255, 255, 255, 0.03);
    --theme-border-2: 1px solid rgba(255, 255, 255, 0.06);
    --theme-border-3: 1px solid rgba(255, 255, 255, 0.16);
    --theme-border-3-color: rgba(255, 255, 255, 0.16);
    --theme-border-4-color: rgba(255, 255, 255, 0.24);

    --theme-separator-1: var(--c-grey-06-blacks-neutral);
    --theme-separator-2: var(--c-grey-07);

    --theme-input-bg: var(--c-white-00-absolute);
    --theme-input-border: transparent;

    --theme-link-text-idle: var(--theme-text-1);
    --theme-link-text-focus: var(--c-blue-04);
    --theme-link-text-active: var(--c-blue-06-main);

    --theme-nav-primary-link-text-idle: var(--c-white-00-absolute);
    --theme-nav-primary-link-text-focus: var(--c-blue-04);
    --theme-nav-primary-link-text-active: var(--c-blue-06-main);
    --theme-nav-primary-link-text-selected: var(--c-blue-04);

    --theme-nav-secondary-link-text-idle: var(--c-grey-04-whites-neutral);
    --theme-nav-secondary-link-text-focus: var(--c-blue-04);
    --theme-nav-secondary-link-text-active: var(--c-blue-06-main);
    --theme-nav-secondary-link-text-selected: var(--c-blue-04);

    --theme-nav-tertiary-link-text-idle: var(--c-grey-05);
    --theme-nav-tertiary-link-text-focus: var(--c-blue-04);
    --theme-nav-tertiary-link-text-active: var(--c-blue-06-main);
    --theme-nav-tertiary-link-text-selected: var(--c-blue-04);

    --theme-input-checkable-off: var(--c-grey-04-whites-neutral);
    --theme-input-checkable-on: var(--c-white-00-absolute);
    --theme-input-checkable-on-hover: var(--c-white-00-absolute);
    --theme-input-checkable-off-bg-hover: rgba(255, 255, 255, 0.08);
    --theme-input-checkable-on-bg-hover: rgba(255, 255, 255, 0.12);

    --theme-input-checkable-triad-01-on: var(--c-blue-06-main);
    --theme-input-checkable-triad-01-on-hover: var(--c-blue-05);
    --theme-input-checkable-triad-01-on-bg-hover: rgba(126, 151, 255, 0.14);

    --theme-input-checkable-triad-02-on: var(--c-fuchsia-05-main);
    --theme-input-checkable-triad-02-on-hover: var(--c-fuchsia-04);
    --theme-input-checkable-triad-02-on-bg-hover: rgba(255, 166, 255, 0.14);

    --theme-input-checkable-triad-03-on: var(--c-green-05-main);
    --theme-input-checkable-triad-03-on-hover: var(--c-green-04);
    --theme-input-checkable-triad-03-on-bg-hover: rgba(67, 222, 193, 0.14);

    --theme-input-checkable-disabled: var(--c-grey-06-blacks-neutral);

    --theme-control-bg: var(--c-grey-06-blacks-neutral);
    --theme-control-border: var(--c-grey-01-white-03);
    --theme-control-active-text: var(--c-grey-09-black-03);
    --theme-control-text-pressed: var(--c-grey-03);
    --theme-control-text: var(--c-white-00-absolute);

    --theme-control-button-inactive-border: 1px solid rgba(255, 255, 255, 0.1);
    --theme-control-button-inactive-border-hover: 1px solid rgba(255, 255, 255, 0.2);
    --theme-control-button-inactive-background-hover: rgba(255, 255, 255, 0.05);
    --theme-control-button-inactive-text: var(--c-grey-01-white-03);
    --theme-control-button-inactive-text-hover: var(--c-white-01-main);

    --theme-control-button-active-blue-background: rgba(82, 105, 255, 0.15);
    --theme-control-button-active-blue-text: var(--c-blue-05);
    --theme-control-button-active-blue-background-hover: rgba(82, 105, 255, 0.25);
    --theme-control-button-active-blue-text-hover: var(--c-blue-04);

    --theme-control-button-active-fuchsia-background: rgba(245, 97, 245, 0.13);
    --theme-control-button-active-fuchsia-text: var(--c-fuchsia-05-main);
    --theme-control-button-active-fuchsia-background-hover: rgba(245, 97, 245, 0.23);
    --theme-control-button-active-fuchsia-text-hover: var(--c-fuchsia-04);

    --theme-control-button-active-green-background: rgba(1, 188, 144, 0.11);
    --theme-control-button-active-green-text: var(--c-green-05-main);
    --theme-control-button-active-green-background-hover: rgba(1, 188, 144, 0.21);
    --theme-control-button-active-green-text-hover: var(--c-green-04);

    --theme-actionable-box-border-focus: 1px solid var(--c-blue-07);
    --theme-actionable-box-border-active: 1px solid var(--c-blue-08);
    --theme-actionable-box-bg-focus: rgba(37, 45, 217, 0.04);
    --theme-actionable-box-bg-active: rgba(37, 45, 217, 0.02);
    --theme-actionable-box-label-bg-focus: var(--c-blue-07);
    --theme-actionable-box-label-bg-active: var(--c-blue-08);

    --theme-p1-stroke: var(--c-blue-06-main);
    --theme-p2-stroke: var(--c-fuchsia-05-main);
    --theme-p3-stroke: var(--c-green-05-main);

    --theme-lines-color: var(--c-white-00-absolute);

    --theme-planes-background: var(--c-grey-09-black-03);
    --theme-planes-background-2: var(--c-black-02-main);
    --theme-planes-off-stroke: var(--c-white-00-absolute);
    --theme-planes-triad-01-shadow: 0 var(--space2) var(--space4) rgba(82, 105, 255, 0.24), inset 0 0 var(--space7) rgba(82, 105, 255, 0.16);
    --theme-planes-triad-02-shadow: 0 var(--space2) var(--space4) rgba(245, 97, 245, 0.24), inset 0 0 var(--space7) rgba(245, 97, 245, 0.16);
    --theme-planes-triad-03-shadow: 0 var(--space2) var(--space4) rgba(1, 188, 144, 0.24), inset 0 0 var(--space7) rgba(1, 188, 144, 0.16);

    --theme-neon-planes-blend-mode: lighten;
    --theme-neon-planes-triad-01-body: var(--c-blue-10);
    --theme-neon-planes-triad-01-glow: var(--c-blue-09);
    --theme-neon-planes-triad-02-body: var(--c-fuchsia-10);
    --theme-neon-planes-triad-02-glow: var(--c-fuchsia-09);
    --theme-neon-planes-triad-03-body: #002e13;
    --theme-neon-planes-triad-03-glow: rgba(0, 86, 41, 0.68);

    --theme-neon-planes-triad-01-stroke: var(--c-blue-07);
    --theme-neon-planes-triad-02-stroke: var(--c-fuchsia-06);
    --theme-neon-planes-triad-03-stroke: var(--c-green-06);

    --theme-empty-bg-1: var(--c-grey-09-black-03);
    --theme-empty-dashed-border: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23515158' stroke-width='2' stroke-dasharray='6%2c 6' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");

    --theme-collapsible-bg-1: var(--c-black-02-main);
    --theme-collapsible-bg-2: var(--c-grey-09-black-03);
    --theme-collapsible-bg-blue-1: var(--c-blue-10);

    --theme-badge-text: var(--c-white-00-absolute);
    --theme-badge-bg: var(--c-fuchsia-06);

    --theme-categories-color-idle: var(--c-fuchsia-04);
    --theme-categories-color-hover: var(--c-fuchsia-03);
    --theme-categories-color-active: var(--c-fuchsia-05-main);
    --theme-tag-color: var(--c-fuchsia-05-main);

    --theme-signaling-positive: var(--c-signaling-positive-01);
    --theme-signaling-warning: var(--c-signaling-warning-01);
    --theme-signaling-error: var(--c-signaling-error-01);

    --theme-framed-section-default-border: 1px solid var(--c-grey-06-blacks-neutral);
    --theme-framed-section-default-item-border: 1px solid var(--c-grey-07);
    --theme-framed-section-default-bg: rgba(111, 112, 120, 0.05);
    --theme-framed-section-attention-border: 1px solid rgba(255, 204, 85, 0.4);
    --theme-framed-section-attention-item-border: 1px solid rgba(255, 204, 85, 0.1);
    --theme-framed-section-attention-bg: #161514;
    --theme-framed-section-attention-bg-2: #0e0c07;
    --theme-framed-section-attention-title: var(--c-yellow-04-main);
    --theme-framed-section-attention-text: var(--c-yellow-03);
    --theme-framed-section-overlay-bg: var(--c-grey-08);
    --theme-framed-section-blue-border: 1px solid var(--c-blue-06-main);
    --theme-framed-section-blue-item-border: 1px solid rgba(82, 102, 255, 0.5);
    --theme-framed-section-blue-bg: #15161f;
    --theme-framed-section-green-border: 1px solid var(--c-green-06);
    --theme-framed-section-green-item-border: 1px solid rgba(1, 188, 144, 0.4);
    --theme-framed-section-green-bg: #141717;

    --theme-score-background: var(--c-grey-07);
    --theme-score-foreground: var(--c-white-00-absolute);

    --theme-datavis-axis: var(--c-grey-06-blacks-neutral);

    --theme-datavis-blue-item0: var(--c-blue-06-main);
    --theme-datavis-blue-item-1: var(--c-blue-07);
    --theme-datavis-blue-item-2: var(--c-blue-08);
    --theme-datavis-blue-item-3: var(--c-blue-09);

    --theme-page-section-plane: var(--c-black-02-main);
    --theme-page-section-plane-left: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 126 256'%3E%3Cpath d='M126 0V256H0L126 0Z' fill='%230A0A0B'/%3E%3C/svg%3E");
    --theme-page-section-plane-right: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 126 256'%3E%3Cpath d='M0 256L2.23802e-05 0L126 1.10153e-05L0 256Z' fill='%230A0A0B'/%3E%3C/svg%3E%0A");

    --theme-section-plane: var(--c-black-00-absolute);
    --theme-section-plane-left: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 126 256'%3E%3Cpath d='M126 0V256H0L126 0Z' fill='%23000000'/%3E%3C/svg%3E");
    --theme-section-plane-right: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 126 256'%3E%3Cpath d='M0 256L2.23802e-05 0L126 1.10153e-05L0 256Z' fill='%23000000'/%3E%3C/svg%3E%0A");

    --theme-vapor-globe-blue-1: linear-gradient(180deg, var(--c-blue-10), var(--c-blue-11));

    --theme-interviewer-name: var(--theme-text-1);
    --theme-interviewee-name: var(--c-green-05-main);

    /* Vendor Review page specific */
    --theme-vendor-review-page-bg: var(--theme-content-bg-1);
    --theme-rating-summary-overall-border: 1px solid var(--c-grey-04-whites-neutral);
    --theme-rating-summary-overall-bg: var(--theme-framed-section-default-bg);
    --theme-rating-summary-overall-item-border: var(--theme-framed-section-default-item-border);
    --theme-rating-summary-features-border: var(--theme-framed-section-attention-border);
    --theme-rating-summary-features-bg: var(--theme-framed-section-attention-bg-2);
    --theme-rating-summary-features-item-border: var(--theme-framed-section-attention-item-border);

    /* Mars Internet page specific */
    --theme-mars-earth-halo: 0 0 0.25em rgba(0, 0, 255, 0.3);
    --theme-mars-earth-shading: inset 0.2em 0 0.34em rgba(0, 0, 255, 0.1), inset 0 0 0.04em rgba(0, 0, 255, 0.3);
    --theme-mars-earth-texture: url("/img/research/mars/earth-texture-dark.png");

    --theme-mars-mars-halo: 0 0 0.25em rgba(255, 0, 0, 0.3);
    --theme-mars-mars-halo-large: 0 0 1em 1em rgba(255, 50, 50, 0.3);
    --theme-mars-mars-halo-large-white: 0 0 1em 0.6em rgba(255, 100, 100, 0.3);
    --theme-mars-mars-shading: inset 0.2em 0 0.34em rgba(255, 0, 0, 0.1), inset 0 0 0.04em rgba(255, 0, 0, 0.3);
    --theme-mars-mars-texture: url("/img/research/mars/mars-texture-dark.png");
    --theme-mars-text-link-hover: rgba(255, 205, 135, 1);
    --theme-mars-text-link-active: rgba(255, 100, 30, 1);

    --theme-mars-connector-green: #00ff00;
    --theme-mars-masking-bg: var(--c-grey-09-black-03);
    --theme-mars-snowball-color: var(--c-grey-02);
    --theme-mars-orbit-opacity: 0.3;

    /* Advertise page specific */
    --theme-artwork-plane-bg: rgba(10, 10, 11, 0.7);
    --theme-artwork-triad-01-plane-border: var(--c-blue-06-main);
    --theme-artwork-triad-02-plane-border: var(--c-fuchsia-07);
    --theme-artwork-triad-03-plane-border: var(--c-green-07);
    --theme-artwork-triad-01-trail-bg: var(--c-blue-10);
    --theme-artwork-triad-02-trail-bg: var(--c-fuchsia-10);
    --theme-artwork-triad-03-trail-bg: var(--c-green-10);
    --theme-artwork-triad-01-glow: rgba(82, 105, 255, 0.28);
    --theme-artwork-triad-02-glow: rgba(245, 97, 245, 0.24);
    --theme-artwork-triad-03-glow: rgba(1, 188, 144, 0.24);
}

.theme.page-article,
.theme.page-feature,
.theme.page-feature-article,
.theme.page-category-review,
.theme.page-advertise,
.theme.page-badges,
.theme.page-landing {
    background: var(--theme-content-bg-3);
}

.theme.page-article:before,
.theme.page-feature:before {
    background: linear-gradient(180deg, rgba(21, 21, 23, 0.4) 0%, rgba(21, 21, 23, 0) 100%);
}

.theme.page-article:after,
.theme.page-feature:after {
    background: linear-gradient(0deg, rgba(21, 21, 23, 0.4) 0%, rgba(21, 21, 23, 0) 100%);
}

.theme.page-vendor-review,
.theme.page-podcast-episode {
    background: var(--theme-content-bg-1);
}

.theme .hero .lines {
    opacity: 0.06;
}

.page-article.theme .hero .lines,
.page-feature.theme .hero .lines {
    opacity: 0.04;
}

.page-article.theme .hero .dynamic-planes .dynamic-planes-item .dynamic-planes-item-bg,
.page-feature.theme .hero .dynamic-planes .dynamic-planes-item .dynamic-planes-item-bg,
.page-article.theme .hero .dynamic-planes .dynamic-planes-item .dynamic-planes-item-bg-selected,
.page-feature.theme .hero .dynamic-planes .dynamic-planes-item .dynamic-planes-item-bg-selected {
    background: var(--theme-planes-background-2);
}

.theme .logo-svg-animated-explode .prompt-inverted {
    display: none;
}

.theme .logo-svg-animated-explode .prompt-normal {
    display: block;
}

/* Category Review page specific */
.theme .category-review-artwork.light {
    display: none;
}

.theme .category-review-artwork.dark {
    display: initial;
}

/* Advertise page specific */
.theme .main-advertise img.light {
    display: none;
}

.theme .main-advertise img.dark {
    display: initial;
}

/* Landing page specific */
.theme .main-landing img.light {
    display: none;
}

.theme .main-landing img.dark {
    display: initial;
}
