/* Defaults
   ================================================================================================================ */

html,
body {
    font-size: 16px;
    line-height: var(--t-lH3);
    min-width: 300px;
    height: 100%;
}

body {
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    letter-spacing: 0.06em;
}

body.lock-select {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /*
     Introduced in Internet Explorer 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
    -ms-user-select: none;
    user-select: none;
}

body.lock-pointer {
    pointer-events: none;
}

body.lock-scroll {
    overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.log {
    position: fixed;
    bottom: var(--space3);
    left: var(--space3);
    font-size: var(--t-size-5);
    display: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

p,
quote,
li {
    max-width: 700px;
}

.text-light {
  font-weight: 300;
}

.text-regular {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-italic {
  font-style: italic;
}

.text-default {
  color: var(--theme-text-2);
}

.text-accent {
  color: var(--theme-text-1);
}

.text-quiet {
  color: var(--theme-text-3);
}

.text-uppercase {
  text-transform: uppercase;
}

/* Hero
   ================================================================================================================ */

.hero {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 10;
}

.hero .lines {
    position: absolute;
    top: 0;
    transform: translateX(-10.1%);
    width: 153.7vw;
    height: 112vh;
    opacity: 0.08;
    z-index: 1;
}

body:not(.is-same-origin) [id^="line-"] {
    animation-duration: 1.2s;
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier(0.41, 0.14, 0.35, 0.99);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

body:not(.is-same-origin) #line-01 {
    stroke-dasharray: 1348;
    stroke-dashoffset: 1348;
    animation-name: line-01-in;
}

@keyframes line-01-in {
    0% {
        stroke-dashoffset: 1348;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

body:not(.is-same-origin) #line-02 {
    stroke-dasharray: 1348;
    stroke-dashoffset: -1348;
    animation-name: line-02-in;
}

@keyframes line-02-in {
    0% {
        stroke-dashoffset: -1348;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

body:not(.is-same-origin) #line-03 {
    stroke-dasharray: 1348;
    stroke-dashoffset: 1348;
    animation-name: line-03-in;
}

@keyframes line-03-in {
    0% {
        stroke-dashoffset: 1348;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

body:not(.is-same-origin) #line-04 {
    stroke-dasharray: 1348;
    stroke-dashoffset: -1348;
    animation-name: line-04-in;
}

@keyframes line-04-in {
    0% {
        stroke-dashoffset: -1348;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

body:not(.is-same-origin) #line-05 {
    stroke-dasharray: 562.672;
    stroke-dashoffset: 562.672;
    animation-name: line-05-in;
}

@keyframes line-05-in {
    0% {
        stroke-dashoffset: 562.672;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

body:not(.is-same-origin) #line-06 {
    stroke-dasharray: 802.328;
    stroke-dashoffset: 802.328;
    animation-name: line-06-in;
}

@keyframes line-06-in {
    0% {
        stroke-dashoffset: 802.328;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

body:not(.is-same-origin) #line-07 {
    stroke-dasharray: 975.992;
    stroke-dashoffset: 975.992;
    animation-name: line-07-in;
}

@keyframes line-07-in {
    0% {
        stroke-dashoffset: 975.992;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

body:not(.is-same-origin) #line-08 {
    stroke-dasharray: 389.008;
    stroke-dashoffset: 389.008;
    animation-name: line-08-in;
}

@keyframes line-08-in {
    0% {
        stroke-dashoffset: 389.008;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

body:not(.is-same-origin) #line-09 {
    stroke-dasharray: 736.336;
    stroke-dashoffset: 736.336;
    animation-name: line-09-in;
}

@keyframes line-09-in {
    0% {
        stroke-dashoffset: 736.336;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

body:not(.is-same-origin) #line-10 {
    stroke-dasharray: 1348;
    stroke-dashoffset: 1348;
    animation-name: line-10-in;
}

@keyframes line-10-in {
    0% {
        stroke-dashoffset: 1348;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

.hero .lines animate {
    display: none;
}

.hero .lines line {
    stroke: var(--theme-lines-color);
}

.hero .dynamic-planes-wrapper {
    position: relative;
    width: 111vw;
    z-index: 2;
    top: 50vh;
    left: 60%;
    transform: translate(-6.5%, -49%);
}

body:not(.is-same-origin) .hero .dynamic-planes-wrapper {
    animation-name: dynamic-planes-fade-in;
    animation-duration: 0.5s;
    animation-delay: 1.8s;
    animation-timing-function: cubic-bezier(0.41, 0.14, 0.35, 0.99);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes dynamic-planes-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .hero .dynamic-planes-wrapper {
        min-width: 820px;
    }
}

@media (max-height: 1300px) {
    .hero .dynamic-planes-wrapper {
        --totVDist: calc(1300 - 600);
        --currVDist: calc(1300px - 100vh);
    }

    @media (max-width: 768px) {
        .hero .dynamic-planes-wrapper {
            --totVMove: 400;
            --vMoveRatio: calc(var(--totVMove) / var(--totVDist));
            margin-top: calc(var(--currVDist) * var(--vMoveRatio));

            --totHMoveAdd: -250;
            --hMoveAddRatio: calc(var(--totHMoveAdd) / var(--totVDist));
            --hMoveAdd: calc(var(--currVDist) * var(--hMoveAddRatio));
        }
    }

    @media (min-width: 769px) and (max-width: 1024px) {
        .hero .dynamic-planes-wrapper {
            --totHMoveAdd: 250;
            --hMoveAddRatio: calc(var(--totHMoveAdd) / var(--totVDist));
            --hMoveAdd: calc(var(--currVDist) * var(--hMoveAddRatio));
        }
    }
}

@media (min-height: 1301px) {
    @media (min-width: 1025px) {
        .hero .dynamic-planes-wrapper {
            --hMoveAdd: 0;
        }
    }
}

@media (max-width: 1280px) {
    .hero .dynamic-planes-wrapper {
        --totHDist: calc(1280 - 320);
        --currHDist: calc(1280px - 100vw);
        --totHMove: 100;
        --hMoveRatio: calc(var(--totHMove) / var(--totHDist));
        margin-left: calc(calc(var(--currHDist) * var(--hMoveRatio)) + var(--hMoveAdd));
    }
}

/* Layout
   ================================================================================================================ */

body {
    background: var(--theme-content-bg-2);
    color: var(--theme-text-1);
}

body.show-planes:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 30vh;
    background: var(--theme-hero-fade-top);
    z-index: 20;
}

body.show-planes:after {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30vh;
    background: var(--theme-hero-fade-bottom);
    z-index: 20;
}

.main-article .console-form {
    margin: var(--space4) 0 0;
}

.overflow-wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    z-index: 30;
}

.content {
    position: relative;
    padding: var(--headerTopPadding) 0 0;
    margin: 0 auto;
    width: 87.5%;
    min-height: 960px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    z-index: 30;
}

.overflow-wrapper.full-height .content {
    height: 100vh;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .content {
        min-height: 1030px;
    }
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    z-index: 20;
}

.header.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: var(--headerTopPadding) 6.25vw;
    z-index: 40;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition-property: padding-top, padding-bottom, background, backdrop-filter, -webkit-backdrop-filter, border-bottom;
    transition-duration: var(--a-elements-time);
    transition-timing-function: var(--a-elements-easing);
}

.is-scrolled .header.header-fixed {
    padding: var(--headerTopPaddingCompact) 6.25vw;
    background: var(--theme-translucent);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    border-bottom: var(--theme-border-1);
}
@-moz-document url-prefix() {
    .is-scrolled .header.header-fixed {
        background: var(--theme-translucent-firefox);
    }
}

.header .logo-wrapper {
    flex: 0 0 auto;
}

.header .main-nav {
    flex: 0 1 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.main-article,
.main-feature {
    z-index: 30;
}

.page-section {
    position: relative;
}

.page-section:not(:first-child) {
    margin-top: calc(var(--space4) + var(--space3));
}

.page-section:first-of-type {
    margin-top: 0;
}

.page-section.full-width {
    width: 100vw;
    margin-left: -6.25vw;
    margin-right: -6.25vw;
    padding-left: 6.25vw;
    padding-right: 6.25vw;
}

@media (min-width: 481px) and (max-width: 768px) {
    .page-section.full-width {
        margin-left: -8vw;
        margin-right: -8vw;
        padding-left: 8vw;
        padding-right: 8vw;
    }
}

@media (min-width: 1371px) {
    .page-section.full-width {
        margin-left: calc((100vw - 1200px) / 2 * -1);
        margin-right: calc((100vw - 1200px) / 2 * -1);
        padding-left: calc((100vw - 1200px) / 2);
        padding-right: calc((100vw - 1200px) / 2);
    }
}

.page-section-plane {
    background: var(--theme-page-section-plane);
    padding: var(--space6) 0;
}

.page-section-plane * {
    z-index: 1;
}

.page-section-plane:before,
.page-section-plane:after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    z-index: 0;
}

.page-section-plane:before {
    left: -100%;
    background-position: calc(100% + 0.5px);
    background-image: var(--theme-page-section-plane-left);
}

.page-section-plane:after {
    left: 100%;
    background-position: left;
    background-image: var(--theme-page-section-plane-right);
}

.page-section-heading {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--space4);
}

.page-section-sub .page-section-heading {
    margin-bottom: 0;
}

.page-section-heading .left {
    flex: 1 1 auto;
    margin-right: var(--space3);
}

.page-section-heading .title.title-1,
.page-section-heading .title.title-2 {
    margin-bottom: 0;
}

.page-section-heading .right {
    flex: 0 0 auto;
}

.page-section ul {
    padding: 0 0 0 var(--space2);
    margin-top: var(--space3);
    margin-bottom: 0;
}

.page-section ul li {
    padding-bottom: var(--space3);
    list-style: none;
    padding-left: calc(10px + var(--space2));
    text-indent: calc(calc(10px + var(--space2)) * -1);
    color: var(--theme-text-1);
    font-size: var(--t-size-1);
    letter-spacing: 0.1em;
}

.page-section ul li * {
    text-indent: initial;
}

.page-section ul li:before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath d='M44.9007 33.0044L114 33L83.0993 94.8051L14 94.8095L44.9007 33.0044Z' fill='%235269ff'/%3E%3C/svg%3E");
    background-size: cover;
    width: 10px;
    height: 10px;
    margin-right: var(--space2);
    position: relative;
    display: inline-block;
}

.page-section ol {
    padding: 0 0 0 var(--space2);
    margin-top: var(--space3);
    margin-bottom: 0;
    counter-reset: ol-counter;
}

.page-section ol li {
    list-style: none;
    position: relative;
    counter-increment: ol-counter;
    padding-bottom: var(--space3);
    padding-left: calc(10px + var(--space2));
    text-indent: calc(calc(10px + var(--space2)) * -1);
    color: var(--theme-text-1);
    font-size: var(--t-size-1);
    letter-spacing: 0.1em;
}

.page-section ol li:before {
    content: counter(ol-counter);
    text-indent: initial;
    margin-right: calc(var(--space2) + var(--space1));
    font-size: var(--t-size-2);
    font-style: italic;
    color: var(--c-blue-06-main);
    position: relative;
    display: inline-block;
}

.page-section ol li:after {
    content: "/";
    text-indent: initial;
    left: 10px;
    top: 0;
    font-size: var(--t-size-4);
    position: absolute;
    display: inline-block;
    color: var(--c-blue-06-main);
}

.page-section .notice-disclosure:not(:first-child) {
    margin-top: var(--space3);
}

.col-2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    margin-top: var(--space4);
}

.col-2 > * {
    width: calc(50% - var(--space3));
}

.col-2-css {
    columns: 1;
    column-gap: 0;
}

.col-2-css > p:first-of-type {
    margin-top: 0;
}

.center-aligned {
    text-align: center;
}

.right-aligned {
    text-align: right;
}

.aspect-ratio {
    position: relative;
}
.aspect-ratio::before {
    content: "";
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
}
.aspect-ratio::after {
    content: "";
    display: table;
    clear: both;
}

.aspect-ratio.aspect-ratio-1-1::before {
    padding-top: 100%;
}

.aspect-ratio.aspect-ratio-16-9::before {
    padding-top: 56.25%;
}

.aspect-ratio.aspect-ratio-4-3::before {
    padding-top: 75%;
}

.content-block {
    margin-top: var(--space4);
}

.content-block:not(:last-child) {
    margin-bottom: 1em;
}

.ruler {
    width: 96%;
    margin: var(--space4) auto;
    height: 1px;
    background: var(--theme-border-2);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 20%);
    gap: var(--space4) var(--space4);
}

.nav-wrapper {
    position: relative;
}

.nav-wrapper-anchor {
    position: absolute;
    margin-top: calc(var(--space6) * -1);
}

[class^="clamp-"],
[class*=" clamp-"] {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
}

.clamp-1 {
    -webkit-line-clamp: 1;
}

.clamp-2 {
    -webkit-line-clamp: 2;
}

.clamp-6 {
    -webkit-line-clamp: 6;
}

.main-article .framed-section {
    margin: var(--space4_5) 0 var(--space3_5);
}

/* Main Nav
   ================================================================================================================ */

.main-nav {
    position: relative;
}

.main-nav .menu-toggle {
    display: none;
    position: relative;
    margin-top: 4px; /* align to logo baseline */
    bottom: 0;
    width: 44px;
    height: 44px;
    border: 0;
    padding: 0;
    outline: none;
    background: transparent;
    pointer-events: all;
    cursor: pointer;
    z-index: 2;
}

.main-nav .menu-toggle .icon {
    width: 100%;
    height: 100%;
}

body:not(.mobile) .main-nav .menu-toggle:hover [class^="icon-menu-shape-"],
body:not(.mobile) .main-nav .menu-toggle:hover [class*=" icon-menu-shape-"] {
    background: var(--c-blue-04);
}

.main-nav .menu-toggle:active [class^="icon-menu-shape-"],
.main-nav .menu-toggle:active [class*=" icon-menu-shape-"],
.main-nav .menu-toggle:focus [class^="icon-menu-shape-"],
.main-nav .menu-toggle:focus [class*=" icon-menu-shape-"] {
    background: var(--c-blue-06-main);
}

.main-nav ul {
    padding: 0;
    padding-top: 11px; /* align to logo baseline */
    display: flex;
    flex-flow: row nowrap;
    flex: 0 1 auto;
    margin: 0;
}

.main-nav-item {
    position: relative;
    list-style: none;
    flex: 0 0 auto;
    padding: var(--space1) var(--space1);
}

.main-nav-item.is-hidden {
    display: none;
}

.main-nav .popup ul {
    flex-flow: column nowrap;
    align-items: flex-end;
    padding-top: 0;
    margin: 0;
}

.main-nav .popup .main-nav-item {
    padding: var(--space1) var(--space1);
    width: 100%;
    text-align: right;
}

.main-nav .popup ul .main-nav-item:not(:last-child) {
    margin-bottom: var(--space3);
}

.main-nav .popup .theme-switcher {
    margin: var(--space3) var(--space2) 0;
}

.main-nav .popup .separator {
    margin: var(--space3) 0;
}

.main-nav-item .badge {
    margin-right: -4px;
}

.main-nav .theme-switcher {
    margin-left: var(--space3_5);
    margin-top: 10px; /* align to logo baseline */
    flex: 0 0 auto;
}
/* Show More Control */
.show-more-nav {
    opacity: 0;
}

.show-more-nav-control {
    display: none;
}

.show-more-nav-control .menu-item {
    cursor: pointer;
}

.show-more-nav-control.is-visible {
    display: initial;
}

.show-more-nav-control .icon,
.show-more-nav-control .menu-item .icon {
    width: 1.25em;
    height: 1.25em;
    vertical-align: -0.3em;
}

.show-more-nav-control .menu-item.menu-item-primary.is-active .icon.icon-fill {
    fill: var(--theme-nav-primary-link-text-focus);
}

/* Mobile icon menu switch */
@media (max-width: 640px) {
    .main-nav > ul,
    .main-nav > .theme-switcher {
        display: none;
    }

    .main-nav .menu-toggle {
        display: block;
    }

    @media (max-width: 480px) {
        .main-nav .popup ul li {
            font-size: var(--t-size1);
        }
    }
}

/* Menu Item: Mars */
.main-nav .no-popup .menu-item-mars {
    margin-right: calc(var(--space2) * -1.4);
}

.main-nav .menu-item-mars .mars-illustration-mars {
    font-size: var(--t-size-1);
    display: inline-block;
    vertical-align: -0.1em;
    transition: var(--a-controls);
}

.main-nav .menu-item-mars:hover .mars-illustration-mars,
.main-nav .menu-item-mars:focus .mars-illustration-mars {
    box-shadow: var(--theme-mars-mars-halo-large-white);
    transition: var(--a-controls-active);
}

.main-nav .menu-item-mars:active .mars-illustration-mars {
    box-shadow: var(--theme-mars-mars-halo-large);
}

.main-nav .no-popup .menu-item-mars > span {
    display: none;
}

.main-nav .menu-item-mars.icon-right > span {
    margin-right: 0.5em;
}

.main-nav .menu-item-mars:hover > span,
.main-nav .menu-item-mars:focus > span {
    color: var(--theme-mars-text-link-hover);
}

.main-nav .menu-item-mars:active > span {
    color: var(--theme-mars-text-link-active);
}

/* Footer
   ================================================================================================================ */
.footer-block {
    background: var(--theme-translucent-footer);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    border-top: var(--theme-border-1);
    z-index: 30;
}

@-moz-document url-prefix() {
    .footer-block {
        background: var(--theme-translucent-footer-firefox);
    }
}

.footer-block > .footer {
    margin-top: var(--space3_5);
    margin-bottom: var(--space3_5);
}

.footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: var(--space3_5);
    margin-bottom: var(--space3_5);
}

@media (min-width: 1371px) {
    .footer {
        max-width: 1200px;
    }
}

@media (max-width: 768px) {
    .footer {
        --hSpacing: 3vw;
    }
}

@media (max-width: 640px) {
    .footer {
        --hSpacing: 5vw;
    }
}

@media (max-width: 511px) {
    .footer {
        --hSpacing: 6vw;
    }
}

@media (max-width: 360px) {
    .footer {
        --hSpacing: 3.5vw;
    }
}

@media (min-width: 769px) {
    .footer {
        --hSpacing: var(--space4_5);
    }
}

.footer-nav-left {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}

.footer-nav-left > .icon-console-mini {
    margin-top: 0.04em;
    margin-right: var(--hSpacing);
}

.footer-nav-right {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}

.footer-pages,
.footer-phatic,
.footer-social {
    margin: 0 0 calc(var(--space2) * -1);
    padding: 0;
    list-style: none;
}

.footer-pages li,
.footer-phatic li,
.footer-social li {
    margin-bottom: var(--space2);
}

.footer-nav-left .footer-phatic {
    margin-left: var(--hSpacing);
}

.footer-pages {
    flex: 0 0 auto;
    columns: 3;
    column-gap: var(--hSpacing);
}

@media (max-width: 640px) {
    .footer-pages {
        columns: 2;
    }
}

@media (max-width: 511px) {
    .footer-pages {
        columns: 1;
    }
}

.footer-phatic {
    margin-right: var(--hSpacing);
}

.footer-social {
    margin-left: calc(var(--space2_5) * -1);
    margin-right: calc(var(--space2_5) * -1);
}

.footer-social .menu-item {
    padding-top: var(--space0);
    padding-bottom: var(--space0);
}

.footer-social .menu-item span {
    display: none;
}

.footer-social .menu-item .icon {
    width: calc(var(--space3) + var(--space1));
    height: calc(var(--space3) + var(--space1));
    vertical-align: middle;
}

@media (max-width: 511px) {
    .footer-nav-left > .icon-console-mini {
        width: var(--space3_5);
        height: var(--space3_5);
    }

    .footer-pages,
    .footer-phatic,
    .footer-social {
        margin-top: calc(var(--space1) * 1);
    }

    .footer-pages li,
    .footer-phatic li,
    .footer-social li {
        margin-bottom: calc(var(--space2) + var(--space0));
    }

    .footer ul li .menu-item,
    .footer ul li .menu-item:link,
    .footer ul li .menu-item:visited {
        font-size: var(--t-size0);
    }
}

/* Logo
   ================================================================================================================ */

.logo-wrapper {
    font-size: var(--t-size6);
    font-weight: 500;
    font-style: italic;
    display: inline-block;
    margin: 0;
    text-transform: lowercase;
    opacity: 1;
}

.logo-wrapper a {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
}

.logo-wrapper a:link,
.logo-wrapper a:visited {
    text-decoration: none;
    color: var(--theme-text-1);
}

.logo-wrapper a:hover {
    text-decoration: none;
    color: var(--theme-text-1);
}

.logo-wrapper a:active {
    text-decoration: none;
    color: var(--theme-text-1);
}

.logo-wrapper a svg {
    flex: 0 0 auto;
    width: 46px;
    margin: 7px 0 6px;
}

.logo-wrapper a span {
    display: inline-block;
    flex: 0 0 auto;
    margin-left: calc(var(--space1) + var(--space2));
}

body:not(.is-same-origin) .logo-wrapper a span {
    animation-name: type-hide, type-anim;
    animation-duration: 1.4s, 0.5s;
    animation-delay: 0s, 1.4s;
    animation-timing-function: linear, cubic-bezier(0.41, 0.14, 0.35, 0.99);
    animation-iteration-count: 1, 1;
    animation-fill-mode: forwards, forwards;
}
@keyframes type-hide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes type-anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.logo-svg-animated-explode {
    width: 400px;

    --p1-duration: 1.6s;
}

.logo-svg-animated-explode .plane {
    stroke-width: 4;
    stroke-dasharray: 379;
    clip-path: rect(0 0, 100% 0, 100% 100%, 0 100%);
}

.logo-svg-animated-explode .plane-one {
    stroke: var(--theme-p1-stroke);
}

.logo-svg-animated-explode .plane-two {
    stroke: var(--theme-p2-stroke);
}

.logo-svg-animated-explode .plane-three {
    stroke: var(--theme-p3-stroke);
}

.logo-svg-animated-explode .plane-one {
    transform: skewX(-26.56deg) translate(17.53px, 0);
}

body:not(.is-same-origin) .logo-svg-animated-explode .plane-one {
    animation-name: p1-anim;
    animation-duration: var(--p1-duration);
    animation-delay: 0s;
    animation-timing-function: cubic-bezier(0.41, 0.14, 0.35, 0.99);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes p1-anim {
    0% {
        stroke: var(--theme-text-1);
        transform: skewX(-26.56deg) translate(0, 0);
        stroke-dashoffset: 379;
    }
    55% {
        stroke-dashoffset: 0;
    }
    55.1% {
        stroke-dasharray: 379;
    }
    55.101% {
        stroke-dasharray: 0;
    }
    60% {
        stroke: var(--theme-text-1);
        transform: skewX(-26.56deg) translate(0, 0);
    }
    100% {
        stroke-dasharray: 0;
        stroke: var(--theme-p1-stroke);
        transform: skewX(-26.56deg) translate(17.53px, 0);
    }
}

.logo-svg-animated-explode .plane-two {
    transform: skewX(-26.56deg) translate(0, 15.68px);
}

body:not(.is-same-origin) .logo-svg-animated-explode .plane-two {
    animation-name: p2-anim;
    animation-duration: var(--p1-duration);
    animation-delay: 0s;
    animation-timing-function: cubic-bezier(0.41, 0.14, 0.35, 0.99);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes p2-anim {
    0% {
        stroke: var(--theme-text-1);
        transform: skewX(-26.56deg) translate(0, 0);
        opacity: 0;
        stroke-dashoffset: 379;
    }
    55% {
        opacity: 0;
        stroke-dashoffset: 0;
    }
    55.1% {
        stroke-dasharray: 379;
    }
    55.101% {
        stroke-dasharray: 0;
    }
    60% {
        stroke: var(--theme-text-1);
        opacity: 1;
        transform: skewX(-26.56deg) translate(0, 0);
    }
    100% {
        stroke-dasharray: 0;
        stroke: var(--theme-p2-stroke);
        opacity: 1;
        transform: skewX(-26.56deg) translate(0, 15.68px);
    }
}

.logo-svg-animated-explode .plane-three {
    transform: skewX(-26.56deg) translate(-17.53px, -15.68px);
}

body:not(.is-same-origin) .logo-svg-animated-explode .plane-three {
    animation-name: p3-anim;
    animation-duration: var(--p1-duration);
    animation-delay: 0s;
    animation-timing-function: cubic-bezier(0.41, 0.14, 0.35, 0.99);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes p3-anim {
    0% {
        stroke: var(--theme-text-1);
        transform: skewX(-26.56deg) translate(0, 0);
        opacity: 0;
        stroke-dashoffset: 379;
    }
    55% {
        opacity: 0;
        stroke-dashoffset: 0;
    }
    55.1% {
        stroke-dasharray: 379;
    }
    55.101% {
        stroke-dasharray: 0;
    }
    60% {
        stroke: var(--theme-text-1);
        opacity: 1;
        transform: skewX(-26.56deg) translate(0, 0);
    }
    100% {
        stroke-dasharray: 0;
        stroke: var(--theme-p3-stroke);
        opacity: 1;
        transform: skewX(-26.56deg) translate(-17.53px, -15.68px);
    }
}

.logo-svg-animated-explode .prompt {
    fill: var(--theme-text-1);
}

body:not(.is-same-origin) .logo-svg-animated-explode .prompt {
    animation-name: prompt-hide, prompt-in;
    animation-duration: calc(var(--p1-duration) - 1s), 0.25s;
    animation-delay: 0s, calc(var(--p1-duration) - 1s);
    animation-timing-function: linear, cubic-bezier(0.41, 0.14, 0.35, 0.99);
    animation-iteration-count: 1, 1;
    animation-fill-mode: forwards, forwards;
}

@keyframes prompt-hide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes prompt-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Titles
   ================================================================================================================ */

.title {
    --sizeMult: 1;
    font-weight: 300;
    margin: 0;
    line-height: var(--t-lH1);
    color: var(--theme-text-1);
    transition: var(--a-micro);
}

.title.rich-title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.title.rich-title .icon {
    flex: 0 0 auto;
}

/* title 1 */
.title.title-1 {
    font-size: calc(var(--t-size8) * var(--sizeMult));
    margin-bottom: var(--space4);
}

.title.title-1:not(:first-child) {
    margin-top: var(--space4);
}

.title-1.rich-title .icon {
    width: var(--space4);
    height: var(--space4);
    margin-right: var(--space3);
}

/* title 2 */
.title.title-2 {
    font-size: calc(var(--t-size5) * var(--sizeMult));
    margin-bottom: var(--space3);
}

.title.title-2:not(:first-child) {
    margin-top: var(--space4_5);
}

.title-2.rich-title .icon {
    width: var(--space3_5);
    height: var(--space3_5);
    margin-right: var(--space3);
}

.title-2.rich-title .logo {
    width: calc(var(--space4) + var(--space2_5));
    margin-right: var(--space3);
}

/* title 3 */
.title.title-3 {
    font-size: calc(var(--t-size2) * var(--sizeMult));
    font-weight: 500;
    margin-bottom: var(--space3);
    line-height: var(--t-lH3);
}

.title.title-3:not(:first-child) {
    margin-top: var(--space3);
}

.title-3.rich-title .icon {
    width: var(--space3);
    height: var(--space3);
    margin-right: var(--space3);
}

/* title 4 */
.title.title-4 {
    font-size: calc(var(--t-size0) * var(--sizeMult));
    text-transform: uppercase;
    font-style: italic;
    font-weight: 500;
    margin-bottom: var(--space3);
    letter-spacing: 0.15em;
    line-height: var(--t-lH2);
}

.title.title-4:not(:first-child) {
    margin-top: var(--space3);
}

.title-4.rich-title .icon {
    width: var(--space3);
    height: var(--space3);
    margin-right: var(--space3);
}

/* title 5 */
.title.title-5 {
    font-size: calc(var(--t-size-1) * var(--sizeMult));
    text-transform: uppercase;
    font-style: italic;
    font-weight: 400;
    margin-bottom: var(--space2_5);
}

.title.title-5:not(:first-child) {
    margin-top: var(--space2_5);
}

.title-5.rich-title .icon {
    width: var(--space3);
    height: var(--space3);
    margin-right: var(--space2_5);
}

/* title 6 */
.title.title-6 {
    font-size: calc(var(--t-size0) * var(--sizeMult));
    font-weight: 500;
    margin-bottom: var(--space2_5);
}

.title.title-6:not(:first-child) {
    margin-top: var(--space2_5);
}

.title-6.rich-title .icon {
    width: var(--space3);
    height: var(--space3);
    margin-right: var(--space2_5);
}

@media (max-width: 480px) {
    .title.title-1,
    .title.title-2 {
        --sizeMult: 0.9;
    }
    .title.title-3 {
        --sizeMult: 0.95;
    }
}

/* Text
   ================================================================================================================ */

p {
    line-height: var(--t-lH4);
    margin: 0;
    color: var(--theme-text-2);
    transition: var(--a-micro);
    font-weight: 300;
    letter-spacing: 0.06em;
}

p em {
    color: var(--theme-text-1);
    font-style: normal;
}

p b {
    font-weight: 500;
}

p.description {
    margin-top: var(--space4);
}

p:not(:last-child) {
    margin-bottom: var(--space3);
}

.description {
    color: var(--theme-text-1);
    line-height: var(--t-lH2);
    font-size: var(--t-size2);
}

p.small {
    font-size: var(--t-size-1);
}

p.x-small {
    font-size: var(--t-size-2);
}

.caption {
    margin-top: var(--space4);
    margin-bottom: var(--space4);
    background-color: var(--theme-content-bg-4);
    border: var(--theme-border-0);
    padding: var(--space2) var(--space3);
}

.caption p {
    margin-top: 0;
    color: var(--theme-text-2);
    font-size: var(--t-size-2);
    letter-spacing: 0.1em;
}

.quote {
    margin: calc(var(--space3) + var(--space2)) var(--space2);
    padding: var(--space2) var(--space3);
    border-left: var(--theme-border-2);
    font-size: var(--t-size-1);
    font-style: italic;
    color: var(--theme-text-2);
    background: var(--theme-content-bg-2);
}

.quote:last-child {
    margin-bottom: 0;
}

.quote span span {
    font-style: normal;
    color: var(--theme-text-1);
}

.quote.icon-left {
    display: flex;
    flex-flow: row nowrap;
}

.quote.icon-left .icon {
    margin-right: var(--space3);
    margin-top: 0.1em;
    flex: 0 0 auto;
    width: var(--space3);
    height: var(--space3);
}

.pre {
    overflow-x: auto;
    max-width: 100%;
    margin: calc(var(--space3) + var(--space2)) var(--space2);
    padding: var(--space3) var(--space3);
    border-left: var(--theme-border-2);
    font-size: var(--t-size-2);
    color: var(--theme-pre-code-text);
    tab-size: 4;
    background: var(--theme-content-bg-2);
}

.date {
    display: inline-block;
    font-size: var(--t-size-2);
    line-height: var(--t-lH3);
    color: var(--theme-text-3);
}

/* Media
   ================================================================================================================ */

.image {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
    border-radius: var(--corners-mid);
}

.content-image {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
    border-radius: var(--corners-mid);
}

/* Media Queries
   ================================================================================================================ */

@media (prefers-reduced-motion: reduce) {
    body:not(.is-same-origin) .logo-wrapper a span,
    body:not(.is-same-origin) .logo-svg-animated-explode .plane-one,
    body:not(.is-same-origin) .logo-svg-animated-explode .plane-two,
    body:not(.is-same-origin) .logo-svg-animated-explode .plane-three,
    body:not(.is-same-origin) .logo-svg-animated-explode .prompt,
    body:not(.is-same-origin) [id^="line-"] {
        animation: none;
    }
    body:not(.is-same-origin) #line-01,
    body:not(.is-same-origin) #line-02,
    body:not(.is-same-origin) #line-03,
    body:not(.is-same-origin) #line-04,
    body:not(.is-same-origin) #line-05,
    body:not(.is-same-origin) #line-06,
    body:not(.is-same-origin) #line-07,
    body:not(.is-same-origin) #line-08,
    body:not(.is-same-origin) #line-09,
    body:not(.is-same-origin) #line-10 {
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
    }
    body:not(.is-same-origin) .hero .dynamic-planes-wrapper {
        opacity: 1;
    }

    body .hero .dynamic-planes-column {
        animation: none;
    }
}

@media (max-width: 768px) {
    .hero {
        min-height: 680px;
    }

    .page-article .hero .dynamic-planes-wrapper {
        display: none;
    }

    .page-article .header {
        z-index: 40;
    }

    .main-article {
        margin-top: var(--space6);
        margin-bottom: calc(var(--space6) - var(--space4));
    }

    .main-feature {
        margin-top: var(--space6);
        margin-bottom: var(--space6);
    }

    .main-article .subscribe-cta {
        border: none;
        padding: 0;
        background: transparent;
        border-top: var(--theme-border-3);
        padding-top: var(--space4);
    }

    @media (min-width: 481px) {
        .content {
            width: 84%;
        }

        .header.header-fixed,
        .is-scrolled .header.header-fixed {
            padding-left: 8vw;
            padding-right: 8vw;
        }

        .main-article {
            margin-left: -8vw;
            margin-right: -8vw;
            padding-left: 8vw;
            padding-right: 8vw;
        }
    }
}

@media (min-width: 769px) {
    .page-article .header:not(.header-fixed) {
        position: fixed;
        left: 6.25vw;
        right: 6.25vw;
    }

    .main-article {
        margin: max(calc(var(--space6) - var(--space3)), 10vh) 0 calc(var(--space6) - var(--space2));
        width: min(calc(600px + 12.5vw), 80vw);
        margin-left: -6.25vw;
        padding: var(--space5) 6.25vw;
        background: var(--theme-content-bg-0);
        box-shadow: var(--theme-shadow-2);
        border-radius: 0 var(--corners-mid) var(--corners-mid) 0;
        border-left: 0px;
    }

    .main-feature {
        margin: max(calc(var(--space6) - var(--space3)), 10vh) 0 calc(var(--space6) - var(--space2));
    }
}

@media (min-width: 1025px) {
    .col-2-css {
        columns: 2;
        column-gap: 32px;
    }
}

/* Font size increase on screen > 1280px */
@media (min-width: 1280px) {
    .xl-viewport-large-text p,
    .xl-viewport-large-text .quote {
        font-size: var(--t-size1);
    }

    .xl-viewport-large-text p.description {
        font-size: var(--t-size3);
    }

    .xl-viewport-large-text p.small {
        font-size: var(--t-size0);
    }

    .xl-viewport-large-text p.x-small {
        font-size: var(--t-size-1);
    }

    .xl-viewport-large-text ul li {
        font-size: var(--t-size0);
    }

    .xl-viewport-large-text .title-1 {
        font-size: var(--t-size9);
    }

    .xl-viewport-large-text .title-2 {
        font-size: var(--t-size6);
    }

    .xl-viewport-large-text .title-3 {
        font-size: var(--t-size3);
    }

    .xl-viewport-large-text .title-4 {
        font-size: var(--t-size1);
    }

    .xl-viewport-large-text .title-5 {
        font-size: var(--t-size0);
    }

    .xl-viewport-large-text .title-6 {
        font-size: var(--t-size0);
    }

    .xl-viewport-large-text .framed-section-item p {
        font-size: var(--t-size0);
    }

    .xl-viewport-large-text .console-button,
    .xl-viewport-large-text [class^="console-button"],
    .xl-viewport-large-text [class*=" console-button"] {
        font-size: var(--t-size1);
    }

    .xl-viewport-large-text .console-button.console-button-medium,
    .xl-viewport-large-text [class^="console-button"].console-button-medium,
    .xl-viewport-large-text [class*=" console-button"].console-button-medium {
        font-size: var(--t-size0);
    }

    .xl-viewport-large-text .console-button.console-button-small,
    .xl-viewport-large-text [class^="console-button"].console-button-small,
    .xl-viewport-large-text [class*=" console-button"].console-button-small {
        font-size: var(--t-size-1);
    }

    .xl-viewport-large-text input.console-input-text,
    .xl-viewport-large-text select.console-select {
        font-size: var(--t-size1);
    }

    .xl-viewport-large-text input.console-input-text.console-input-medium,
    .xl-viewport-large-text select.console-select.console-input-medium {
        font-size: var(--t-size0);
    }

    .xl-viewport-large-text input.console-input-text.console-input-small,
    .xl-viewport-large-text select.console-select.console-input-small {
        font-size: var(--t-size-1);
    }
}

/* 1200px + left & right margin (6.25vw) */
@media (min-width: 1371px) {
    .header.header-fixed,
    .is-scrolled .header.header-fixed {
        padding-left: calc(calc(100vw - 1200px) / 2);
        padding-right: calc(calc(100vw - 1200px) / 2);
    }

    .page-article .header:not(.header-fixed) {
        max-width: 1200px;
        margin: 0 auto;
    }

    .content {
        max-width: 1200px;
    }

    .main-article {
        border-radius: var(--corners-mid);
    }
}
