<div class="interviews-card">
    <a onclick="blur();" class="card-link" href="{{ .RelPermalink }}"><span>Read</span></a>
    <div class="interviews-card-inner">
        <div class="interviews-card-combo">
            <div class="interviews-card-company-logo">
                <div class="logo aspect-ratio aspect-ratio-1-1">

                    {{ $nextGenImgSrc := partial "components/processed-img.html" (dict "src" .Params.topImg2Src "width" "216" "nextGen" "true") }}
                    {{ $imgSrc := partial "components/processed-img.html" (dict "src" .Params.topImg2Src "width" "216") }}
                    {{with $nextGenImgSrc }}<picture><source srcset="{{ . }}" type="image/webp">{{ end }}
                        <img loading="lazy" class="image" src="{{ $imgSrc }}" alt="{{ .Params.topImg2Alt }}" />
                    {{with $nextGenImgSrc }}</picture>{{ end }}
                    
                </div>
            </div>
            <div class="plane-picture">
                <img class="ratio" src="/img/ratio-plane.png" alt="">

                {{ $nextGenImgSrc := partial "components/processed-img.html" (dict "src" .Params.topImg1Src "width" "992" "nextGen" "true") }}
                {{ $imgSrc := partial "components/processed-img.html" (dict "src" .Params.topImg1Src "width" "992") }}
                {{with $nextGenImgSrc }}<picture><source srcset="{{ . }}" type="image/webp">{{ end }}
                    <img loading="lazy" class="image" src="{{ $imgSrc }}" alt="{{ .Params.topImg1Alt }}" />
                {{with $nextGenImgSrc }}</picture>{{ end }}
                
            </div>
        </div>
        <div class="interviews-card-content">
            <div class="interviews-card-heading">
                <div class="interviews-card-person">
                    <p class="interviews-card-person-name">{{.Params.who }}</p>
                    <p class="interviews-card-person-role">{{ .Params.role }}</p>
                </div>
                <div class="interviews-card-company">
                    <p class="interviews-card-company-name">{{ .Params.org }}</p>
                    <div class="tags">
                        {{ partial "icons/tag.html" }}
                    <span class="tag">{{ delimit .Params.tags ", " }}</span>
                    </div>
                </div>
            </div>
            <p class="small interviews-card-description">{{ .Params.what }}</p>
            <span class="date bottom">{{ .Date.Format "2006-01-02" }}</span>
        </div>
    </div>
</div>
