{{ define "main" }}
    {{ $dynamicArtwork := true }}

    <section class="page-section page-section-home opening">
        {{ if eq $dynamicArtwork false }}
            <div class="artwork-wrapper-static">
                <img class="dark" src="/img/home/artwork-static-opening-dark.png" alt="" />
                <img class="light" src="/img/home/artwork-static-opening-light.png" alt="" />
            </div>
        {{ else }}
            <div class="artwork-wrapper-dynamic">
                {{ partial "components/console-rays.html" (dict "type" "triad-01") }}
            </div>
        {{ end }}
        <div class="artwork-wrapper">
            <div class="plane-dust-wrapper one">
                <div class="plane-dust plane-dust-big"></div>
                <div class="plane-dust plane-dust-small"></div>
            </div>
            <div class="plane-dust-wrapper one dupe">
                <div class="plane-dust plane-dust-big"></div>
                <div class="plane-dust plane-dust-small"></div>
            </div>
            <div class="plane-dust-wrapper two">
                <div class="plane-dust plane-dust-big"></div>
                <div class="plane-dust plane-dust-small"></div>
            </div>
            <div class="plane-dust-wrapper two dupe">
                <div class="plane-dust plane-dust-big"></div>
                <div class="plane-dust plane-dust-small"></div>
            </div>
            <div class="plane-dust-wrapper four">
                <div class="plane-dust plane-dust-big"></div>
                <div class="plane-dust plane-dust-small"></div>
            </div>
            <div class="slim-plane one"></div>
            <div class="slim-plane two"></div>
            <div class="slim-plane three"></div>
            <div class="slim-plane four"></div>
            <div class="slim-plane five"></div>
            <div class="slim-plane six"></div>
        </div>
        <div class="top">
            <h2 class="title title-1">Discover the best tools for developers</h2>
            <p class="description">A free weekly email digest of the best tools and beta releases for developers.</p>
        </div>
        <div class="bottom">
            <p class="small subscribers-count">{{partial "icons/console-mini-filled.html" }}{{ $.Site.Params.consoleSubscribers }} subscribers</p>
            <form action="https://dev.us7.list-manage.com/subscribe/post?u=f8c3cd14ee8d63c53d0986a48&amp;id=267911a165" method="post" id="console-subscribe" name="console-subscribe" class="console-form">
                <div class="form-email-input">
                    <input id="form-email" name="EMAIL" class="console-input-text" type="email" placeholder="Your email" title="Email" required />
                    <span onmousedown="event.preventDefault(); input = this.previousElementSibling; input.focus(); input.value = ''; input.dispatchEvent(new Event('change'));" class="console-input-text-cancel">{{ partial "icons/cancel.html"}}</span>
                </div>
                <input type="hidden" value="/" name="REFERRER" id="mc-referrer" />
                <div style="position: absolute; left: -5000px" aria-hidden="true"><input type="text" name="b_f8c3cd14ee8d63c53d0986a48_267911a165" tabindex="-1" value="" /><!-- Anti spam field --></div>

                <button data-onclickblur class="console-button icon-left" type="submit" title="Signup">
                    {{ partial "icons/send.html" }}
                    <span>Sign Up</span>
                </button>
            </form>

            {{ `<!-- Plausible Analytics goal tracking for signups -->` | safeHTML }}
            <script>
                var registerForm = document.querySelector("#console-subscribe");
                registerForm.addEventListener("submit", function (e) {
                    e.preventDefault();
                    setTimeout(submitForm, 1000);
                    var formSubmitted = false;

                    function submitForm() {
                        if (!formSubmitted) {
                            formSubmitted = true;
                            registerForm.submit();
                        }
                    }

                    plausible("Newsletter Subscribe", {
                        callback: submitForm,
                    });
                });
            </script>
            <p class="small">
                Every Thursday.
                <a class="link" data-onclickblur href="/latest/">See latest email</a>
            </p>
        </div>
    </section>

    <section class="page-section page-section-home podcast full-width">
        {{ if eq $dynamicArtwork false }}
            <div class="artwork-wrapper-static">
                <img class="dark" src="/img/home/artwork-static-podcast-dark.png" alt="" />
                <img class="light" src="/img/home/artwork-static-podcast-light.png" alt="" />
            </div>
        {{ else }}
            <div class="artwork-wrapper-dynamic">
                {{ partial "components/console-rays.html" (dict "type" "triad-03") }}
            </div>
        {{ end }}
        <div class="artwork-wrapper">
            <div class="plane-dust-wrapper one">
                <div class="plane-dust plane-dust-big"></div>
                <div class="plane-dust plane-dust-small"></div>
            </div>
            <div class="plane-dust-wrapper two">
                <div class="plane-dust plane-dust-big"></div>
                <div class="plane-dust plane-dust-small"></div>
            </div>
            <div class="wave-word mid">
                <div class="el el1"></div>
                <div class="el el2"></div>
                <div class="el el3"></div>
            </div>
            <div class="wave-word small">
                <div class="el el1"></div>
                <div class="el el2"></div>
                <div class="el el3"></div>
            </div>
        </div>
        <div class="top">
            <h3 class="title title-2 rich-title">{{ partial "icons/podcast.html" }}<span>DevTools Podcast</span></h3>
        </div>
        <div class="mid">
            <div class="left">
                <h4 class="title title-3">Getting technical about devtools.</h4>
                <p class="description">Security, infrastructure, encryption, privacy... all the technical details around devtools.</p>
            </div>
            <div class="right">
                <!-- Podcast embed -->
                {{ $section := .Site.GetPage "section" "podcast" }}
                {{ $pages := $section.Pages }}
                {{ $podcast := index (where $pages.ByPublishDate.Reverse "Params.season" 3) 4 }}

                {{ $playerTitle := print $podcast.Title ", with " $podcast.Params.who }}
                {{ with $podcast.Params.org }}{{ $playerTitle = print $playerTitle " (" $podcast.Params.org ")" }}{{ end }}
                {{ $playerAttrs := (dict "title" $playerTitle ) }}

                {{ partial "components/podcast-widget.html" (dict "style" "alt" "podcast" $podcast "art" "header" "hideLinks" "true" "playerAttrs" $playerAttrs) }}
                <!-- end -->
            </div>
        </div>
        <div class="bottom">
            <a class="link" data-onclickblur href="/podcast/">See all episodes</a>
            {{ partial "components/podcast-links.html" (dict "apple" "true" "spotify" "true" "google" "true" "overcast" "true" "title" "Listen & subscribe") }}
        </div>
    </section>

    <section class="page-section page-section-home jobs full-width">
        {{ if eq $dynamicArtwork false }}
            <div class="artwork-wrapper-static">
                <img class="dark" src="/img/home/artwork-static-jobs-dark.png" alt="" />
                <img class="light" src="/img/home/artwork-static-jobs-light.png" alt="" />
            </div>
        {{ else }}
            <div class="artwork-wrapper-dynamic">
                {{ partial "components/console-rays.html" (dict "type" "jobs-triad-02") }}
            </div>
        {{ end }}
        <div class="artwork-wrapper">
            <div class="plane-dust-wrapper three">
                <div class="plane-dust plane-dust-big"></div>
                <div class="plane-dust plane-dust-small"></div>
            </div>
            <div class="plane-dust-wrapper five">
                <div class="plane-dust plane-dust-big"></div>
                <div class="plane-dust plane-dust-small"></div>
            </div>
        </div>
        <div class="top">
            <h3 class="title title-2 rich-title">{{ partial "icons/jobs.html" }}<span class="text-italic"><span class="text-medium">jobs</span>.console</span></h3>
            <h4 class="title title-3">The best developer jobs in devtools</h4>
        </div>
        <div class="bottom">
            <div class="left">
                {{ partial "illustrations/jobs-abstract-landscape-dark.html" }}
                {{ partial "illustrations/jobs-abstract-landscape-light.html" }}
            </div>
            <div class="right">
                <p class="description">Want to work in devtools, cloud or infra? Jobs Console features <span class="text-accent">the best developer jobs</span> at devtools companies, with engineering profiles &amp; salaries.</p>
                <div class="ctas">
                    <a data-onclickblur href="https://jobs.console.dev" target="_blank" rel="noopener" class="console-button icon-right" title="Sign Up for Jobs">
                        <span>Find devtools jobs</span>
                        {{ partial "icons/arrow-right.html" }}
                    </a>
                </div>
            </div>
        </div>
    </section>

    <script src="/js/vendor/perlin.js"></script>

    {{ $js := resources.Get "/js/console-rays.js" }}
    {{ if hugo.IsProduction }}{{ $js = $js | resources.Minify | resources.Fingerprint }}{{ end }}
    <script src="{{ $js.Permalink }}"></script>

    {{ $js := resources.Get "/js/home.js" }}
    {{ if hugo.IsProduction }}{{ $js = $js | resources.Minify | resources.Fingerprint }}{{ end }}
    <script src="{{ $js.Permalink }}"></script>
    
{{ end }}