{{ define "main" }}
<h2 class="title title-1">Discover the best tools for developers</h2>
<p class="description">A free weekly email digest of the best tools and beta releases for developers.</p>
<form action="https://dev.us7.list-manage.com/subscribe/post?u=f8c3cd14ee8d63c53d0986a48&amp;id=267911a165" method="post" id="console-subscribe" name="console-subscribe" class="console-form">
    <input id="form-email" name="EMAIL" class="console-input-text" type="email" placeholder="Your email" title="Email" required />
    <input type="hidden" value="/" name="REFERRER" id="mc-referrer" />
    <div style="position: absolute; left: -5000px" aria-hidden="true"><input type="text" name="b_f8c3cd14ee8d63c53d0986a48_267911a165" tabindex="-1" value="" /><!-- Anti spam field --></div>

    <button onclick="blur()" class="console-button icon-left" type="submit" title="Signup">
        {{ partial "icons/send.html" }}
        <span>Sign Up</span>
    </button>
</form>

{{ `<!-- Plausible Analytics goal tracking for signups -->` | safeHTML }}
<script>
    var registerForm = document.querySelector("#console-subscribe");
    registerForm.addEventListener("submit", function (e) {
        e.preventDefault();
        setTimeout(submitForm, 1000);
        var formSubmitted = false;

        function submitForm() {
            if (!formSubmitted) {
                formSubmitted = true;
                registerForm.submit();
            }
        }

        plausible("Newsletter Subscribe", {
            callback: submitForm,
        });
    });
</script>
<p>
    Every Thursday.
    <a class="link" onclick="blur()" href="/latest/">See the latest email</a>.
</p>
<div class="framed-section mid framed-section-overlay podcast-embed">
    <h5 class="title title-4">Console DevTools Podcast</h5>
    <div class="podcast-embed-content">
        <div data-podcast-player-wrapper class="podcast-embed-player">
            <audio data-podcast-player style="display: none;" preload="none" src="https://cdn.simplecast.com/audio/10488ddf-3ca4-4300-9391-c2967d806334/episodes/83f81c73-ed78-42d9-a9fd-fc2f7631b2d0/audio/a4290c30-c886-4891-881e-c29b991b1e6e/default_tc.mp3?aid=rss_feed&amp;feed=T80CJwln"></audio>
            <div class="podcast-embed-player-top">
                <button onclick="playEpisode(); blur();" class="console-button-text play" aria-label="Play">{{ partial "icons/play.html" }}</button>
                <button onclick="stopEpisode(); blur();" class="console-button-text pause" aria-label="Pause">{{ partial "icons/pause.html" }}</button>
                <h6 class="title title-5" title="EP10 - How do developers pick tools? (Cue & Leapp)">EP10 - How do developers pick tools? (Cue & Leapp)</h5>
            </div>
            <div data-elapsed-indicator class="elapsed-indicator"><span class="bg"></span><span class="elapsed" style="width: 0%"></span></div>
        </div>
        <div class="podcast-links">
            <a class="link" onclick="blur();" target="_blank" rel="noopener" href="https://podcasts.apple.com/us/podcast/console-devtools/id1572448316" title="Listen on Apple Podcasts"><img src="/img/icon-podcast-apple.svg" alt="Apple Podcasts" width="32" height="33"></a>
            <a class="link" onclick="blur();" target="_blank" rel="noopener" href="https://open.spotify.com/show/1yec5zbVfGPQUlH80tDIOW" title="Listen on Spotify"><img src="/img/icon-podcast-spotify.svg" alt="Spotify" width="32" height="33"></a>
        </div>
    </div>
</div>
<div class="framed-section mid framed-section-overlay">
    <p>
        <span class="badge inline">New</span>&nbsp;&nbsp;Read our latest review of the <a class="link" onclick="blur()" href="/tools/code-collaboration-pair-programming/">best code collaboration and pair programming tools for developers</a>.
    </p>
</div>
<script src="/js/podcast-player.js"></script>
{{ end }}
