/* Console Category Review page
   ========================================================================== */

html {
    scroll-behavior: smooth;
}

.page-category-review .content {
    height: auto;
}

.main-category-review > .main-category-review-content {
    max-width: none;
    display: grid;
    grid-template-columns: 600px 1fr;
}

@media (min-width: 1280px) {
    .main-category-review > .main-category-review-content {
        grid-template-columns: 700px 1fr;
    }
}

.main-category-review > .main-category-review-content .left {
    position: relative;
    z-index: 20;
}

.main-category-review > .main-category-review-content .right {
    position: relative;
    z-index: 10;
}

.category-review-artwork {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 78vw;
    transform: translate(-46%, -48%);
    z-index: 0;
    max-width: 1200px;
}

.main-category-review-aside + .page-section {
    margin-top: 0;
}

.main-category-review-content-split {
    position: relative;
    z-index: 20;
}

.page-category-review .title.title-1 {
    margin-top: 0;
}

.page-category-review .title-1 span {
    color: var(--theme-categories-color-idle);
}

.page-category-review .title-1 .icon {
    display: none;
    width: calc(var(--space4) + var(--space2));
    height: calc(var(--space4) + var(--space2));
    vertical-align: -0.14em;
    margin-right: var(--space2);
}

.page-category-review .title-1 .icon-stroke {
    stroke: var(--theme-categories-color-idle);
}

.page-category-review .title-1 .icon-fill {
    fill: var(--theme-categories-color-idle);
}

.page-category-review .title-1 .icon-fill-stroke {
    fill: var(--theme-categories-color-idle);
    stroke: var(--theme-categories-color-idle);
}

.page-category-review .title.title-2:not(:first-child) {
    margin-top: var(--space5);
}

.page-category-review .nav-wrapper:first-child .title.title-2 {
    margin-top: 0;
}

.page-category-review .title.title-3 {
    margin-bottom: var(--space3_5);
}

.page-category-review .title.title-3:not(:first-child) {
    margin-top: var(--space4_5);
}

.page-category-review .title.title-4 {
    margin-bottom: var(--space3_5);
}

.page-category-review .title.title-4:not(:first-child) {
    margin-top: var(--space4_5);
}

.page-category-review .title.title-5 {
    margin-bottom: var(--space3);
}

.page-category-review .title.title-5:not(:first-child) {
    margin-top: var(--space4);
}

.page-category-review .quote {
    background: transparent;
    font-size: var(--t-size0);
    line-height: var(--t-lH4);
    border-left: var(--theme-border-3);
}

.main-category-review > .page-section:first-child {
    margin-bottom: var(--space4_5);
}

.main-category-review .framed-section {
    margin-top: var(--space4_5);
}

.main-category-review .nav-wrapper > .framed-section {
    margin-left: calc(var(--space3_5) * -1);
    margin-right: calc(var(--space3_5) * -1);
}

.main-category-review .author-box {
    margin: var(--space5) 0 var(--space4_5);
}

.main-category-review .about-console-box {
    margin: var(--space4_5) 0 var(--space5);
}

.main-category-review .category-review-tldr-list {
    padding: 0;
    margin: var(--space4) 0;
}

.category-review-tldr-list li.console-card {
    list-style: none;
    text-indent: initial;
    padding-left: var(--space3);
    margin-left: calc(var(--space3) * -1);
    margin-right: calc(var(--space3) * -1);
}

.category-review-tldr-list li.console-card:not(:first-child) {
    margin-top: var(--space3);
}

.category-review-tldr-list li.console-card:before {
    content: none;
}

.category-review-tldr-list .console-card {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.category-review-tldr-list .console-card .left,
.category-review-tldr-list .console-card .right {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.category-review-tldr-list .console-card .right {
    flex-flow: row wrap;
}

.category-review-tldr-list .console-card .right .actions {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.category-review-tldr-list .console-card .left {
    flex: 0 1 auto;
}

.category-review-tldr-list .console-card .right {
    flex: 0 0 auto;
}

.category-review-tldr-list .console-card .left > *,
.category-review-tldr-list .console-card .right > * {
    flex: 0 0 auto;
}

.category-review-tldr-list .console-card .vendor-thumbnail {
    width: var(--space4);
    height: var(--space4);
    margin-right: var(--space3);
}

.category-review-tldr-list .console-card .title.title-3 {
    margin: 0 var(--space3) 0 0;
    flex: 1 1 auto;
    font-size: var(--t-size0);
    word-break: break-word;
}

.category-review-tldr-list .console-card .console-score,
.category-review-tldr-list .console-card .console-button-text:not(:last-child) {
    margin-right: var(--space4);
}

.category-review-tldr-list .console-card .title-score {
    flex: 1 1 auto;
}

.category-review-tldr-list .console-card .title-score .console-score {
    display: none;
    margin-top: var(--space1);
    margin-bottom: -0.2em;
}

.category-review-tool-card {
    margin: var(--space4_5) calc(var(--space3_5) * -1) var(--space4_5);
    padding: 0;
}

.category-review-tool-card .tool-card-top {
    border-bottom: var(--theme-border-2);
    padding: var(--space3) var(--space3_5);
}

.category-review-tool-card .tool-card-top > p {
    margin-top: var(--space3_5);
    font-size: var(--t-size1);
    color: var(--theme-text-1);
}

.page-category-review .tool-card-heading {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.page-category-review .tool-card-heading .left,
.page-category-review .tool-card-heading .right {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.page-category-review .tool-card-heading .left > *,
.page-category-review .tool-card-heading .right > * {
    flex: 0 0 auto;
}

.page-category-review .tool-card-heading .left .title-score {
    flex: 0 1 auto;
}

.page-category-review .tool-card-heading .vendor-thumbnail {
    width: calc(var(--space3) + var(--space4));
    height: calc(var(--space3) + var(--space4));
    margin-right: var(--space3_5);
}

.page-category-review .tool-card-heading .title.title-3 {
    margin: 0;
    flex: 1 1 auto;
}

.page-category-review .tool-card-heading .title-score .console-score {
    display: none;
    margin-top: var(--space1);
    margin-bottom: -0.2em;
}

.page-category-review .tool-card-heading .right .console-score,
.page-category-review .tool-card-heading .right .console-button {
    margin-left: var(--space3_5);
}

.category-review-tool-card .console-media {
    width: 100%;
    margin-top: var(--space3_5);
}

.category-review-tool-card .tool-card-bottom {
    padding: var(--space3) var(--space3_5);
}

.category-review-tool-card .tool-card-cost > p:not(.tool-card-cost-highlight) {
    font-size: var(--t-size-1);
}

.category-review-tool-card .tool-card-cost-highlight {
    color: var(--theme-text-1);
}

.category-review-tool-card .framed-section {
    padding-top: var(--space3);
    margin-top: var(--space4);
}

.category-review-tool-card .framed-section:first-child {
    margin-top: 0;
}

.category-review-tool-card .framed-section-attention {
    background: var(--theme-framed-section-attention-bg-2);
}

.page-category-review .framed-section > .title {
    margin-bottom: var(--space4);
}

.page-category-review .framed-section-item .title.title-3 {
    margin-bottom: var(--space3);
}

.page-category-review .framed-section-item .title.title-4 {
    margin-bottom: var(--space3);
}

.category-review-tool-card .framed-section-item:first-of-type {
    margin-top: 0;
}

.category-review-tool-card .tool-card-like,
.category-review-tool-card .tool-card-dislike {
    margin-top: var(--space4);
}

.category-review-tool-card .tool-card-like > .title .icon {
    stroke: var(--theme-signaling-positive);
}

.category-review-tool-card .tool-card-dislike > .title .icon {
    stroke: var(--theme-signaling-warning);
}

.category-review-tool-card .tool-card-feature-title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: var(--space2);
}

.category-review-tool-card .tool-card-feature-title .title {
    flex: 1 1 auto;
    margin-bottom: 0;
}

.category-review-tool-card .tool-card-feature-title .console-score {
    flex: 0 0 auto;
}

.category-review-tool-card .framed-section .title.title-4 {
    margin-bottom: var(--space3);
}

.main-category-review-content .nav-wrapper > .tool-card-heading {
    border-top: var(--theme-border-2);
    padding-top: var(--space4_5);
    margin-top: var(--space4_5);
    margin-bottom: var(--space3_5);
}

.main-category-review .pros-cons ul li:last-child {
    padding-bottom: 0;
}

.main-category-review .pros-cons.pros ul li strong {
    color: var(--theme-signaling-positive);
}

.main-category-review .pros-cons.cons ul li strong {
    color: var(--theme-signaling-warning);
}

.main-category-review .framed-section-attention .flat-lists ul li strong {
    color: var(--theme-text-1);
}

.main-category-review .framed-section-attention .flat-lists ul li:last-child {
    padding-bottom: 0;
}

.main-category-review .related-categories {
    gap: var(--space3) var(--space4);
    display: grid;
    grid-template-columns: repeat(auto-fill, 14em);
}

.main-category-review .related-categories .categories {
    font-size: var(--t-size-1);
}

.main-category-review .main-category-review-aside {
    margin-top: 0;
}

@media (max-width: 1024px) {
    .main-category-review > .main-category-review-content {
        grid-template-columns: 550px 1fr;
    }

    .category-review-artwork {
        width: 84vw;
        transform: translate(-47%, -49%);
    }
}

@media (max-width: 920px) {
    .main-category-review > .main-category-review-content {
        grid-template-columns: 500px 1fr;
    }

    .category-review-artwork {
        width: 88vw;
        transform: translate(-48%, -50%);
    }
}

@media (max-width: 840px) {
    .main-category-review > .main-category-review-content {
        grid-template-columns: 450px 1fr;
    }

    .category-review-artwork {
        width: 95vw;
        transform: translate(-48%, -52%);
    }
}

@media (max-width: 768px) {
    .main-category-review > .main-category-review-content {
        grid-template-columns: 65% 1fr;
    }

    .category-review-artwork {
        transform: translate(-48%, -54%);
    }
}

@media (max-width: 640px) {
    .main-category-review > .main-category-review-content {
        grid-template-columns: 1fr 0fr;
    }

    .category-review-artwork {
        width: 130vw;
        transform: translate(calc(-50% - 42vw), -50%);
    }

    .category-review-artwork-plane,
    .category-review-artwork-icon {
        display: none;
    }

    .page-category-review .title-1 .icon {
        display: inline-block;
    }

    @media (max-width: 540px) {
        .category-review-artwork {
            width: 150vw;
        }

        @media (max-width: 480px) {
            .category-review-artwork {
                width: 174vw;
            }

            @media (max-width: 420px) {
                .category-review-artwork {
                    width: 230vw;
                }

                @media (max-width: 380px) {
                    .category-review-artwork {
                        width: 260vw;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .main-category-review {
        margin-top: var(--space6);
        margin-bottom: calc(var(--space6) - var(--space4));
    }

    .main-category-review .subscribe-cta {
        border: none;
        padding: 0;
        background: transparent;
        border-top: 1px solid var(--c-blue-04);
        padding-top: var(--space4);
    }

    .main-category-review-content-split aside {
        display: none;
    }

    .category-review-tldr-list .console-card {
        flex-flow: column nowrap;
        align-items: flex-start;
    }

    .category-review-tldr-list .console-card .right {
        margin-left: var(--space4_5);
        margin-top: var(--space2);
        justify-content: space-between;
    }

    .category-review-tldr-list .console-card .console-score {
        min-width: 7em;
    }

    .category-review-tldr-list .console-card .console-score,
    .category-review-tldr-list .console-card .console-button-text:not(:last-child) {
        margin-right: var(--space4_5);
    }

    @media (max-width: 600px) {
        .category-review-tldr-list .console-card .console-score,
        .category-review-tldr-list .console-card .console-button-text:not(:last-child) {
            margin-right: var(--space4);
        }
    }

    @media (max-width: 520px) {
        .category-review-tldr-list .console-card .console-score,
        .category-review-tldr-list .console-card .console-button-text:not(:last-child) {
            margin-right: var(--space3_5);
        }

        .page-category-review .tool-card-heading .title-score .console-score {
            display: flex;
        }

        .page-category-review .tool-card-heading .right .console-score {
            display: none;
        }
    }

    @media (max-width: 500px) {
        .category-review-tldr-list .console-card .console-score,
        .category-review-tldr-list .console-card .console-button-text:not(:last-child) {
            margin-right: var(--space3);
        }
    }

    @media (max-width: 480px) {
        .main-category-review .nav-wrapper > .framed-section {
            margin-left: calc(var(--space3) * -1);
            margin-right: calc(var(--space3) * -1);
        }

        .main-category-review .category-review-tool-card .framed-section {
            margin-left: calc(var(--space1) * -1);
            margin-right: calc(var(--space1) * -1);
        }

        .category-review-tool-card {
            margin-left: calc(var(--space3) * -1);
            margin-right: calc(var(--space3) * -1);
        }

        .category-review-tool-card .tool-card-top,
        .category-review-tool-card .tool-card-bottom {
            padding-left: var(--space3);
            padding-right: var(--space3);
        }

        .framed-section > *:not(.framed-section-item) {
            margin-left: var(--space3);
            margin-right: var(--space3);
        }

        .framed-section-item > * {
            margin-left: var(--space3);
            margin-right: var(--space3);
        }

        .category-review-tldr-list .console-card .console-score,
        .category-review-tldr-list .console-card .console-button-text:not(:last-child) {
            margin-right: var(--space3_5);
        }
    }

    @media (max-width: 400px) {
        .category-review-tldr-list li.console-card {
            margin-left: calc(var(--space2_5) * -1);
            margin-right: calc(var(--space2_5) * -1);
        }

        .category-review-tldr-list .console-card .title-score .console-score {
            display: block;
        }

        .category-review-tldr-list .console-card .right .console-score {
            display: none;
        }

        .category-review-tldr-list .console-card .right {
            margin-top: var(--space3);
        }

        .main-category-review .nav-wrapper > .framed-section {
            margin-left: calc(var(--space2_5) * -1);
            margin-right: calc(var(--space2_5) * -1);
        }

        .category-review-tool-card {
            margin-left: calc(var(--space2_5) * -1);
            margin-right: calc(var(--space2_5) * -1);
        }
    }

    @media (max-width: 380px) {
        .page-category-review .tool-card-heading,
        .page-category-review .tool-card-heading {
            flex-flow: column nowrap;
            align-items: flex-start;
        }

        .page-category-review .tool-card-heading .right {
            margin-top: var(--space3);
        }

        .page-category-review .tool-card-heading .right .console-button {
            margin-left: 0;
        }

        .category-review-tool-card .tool-card-feature-title {
            flex-flow: column nowrap;
            align-items: flex-start;
            margin-bottom: var(--space3);
        }

        .category-review-tool-card .tool-card-feature-title .console-score {
            margin-top: var(--space2);
        }
    }
}

@media (min-width: 769px) {
    .main-category-review {
        margin: max(calc(var(--space6) - var(--space3)), 10vh) 0 calc(var(--space6) - var(--space2));
    }

    .main-category-review-content {
        max-width: 600px;
    }

    .main-category-review-content-split {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .main-category-review-content-split > *:not(aside) {
        flex: 1 1 auto;
    }

    .main-category-review-content-split aside {
        flex: 0 0 auto;
        width: 120px;
        max-width: 380px;
    }

    @media (max-width: 940px) {
        .main-category-review-content-split aside {
            margin-left: 7.25vw;
        }
    }
}

@media (min-width: 920px) {
    .main-category-review-content-split aside {
        width: 16vw;
    }
}

@media (min-width: 1025px) {
    .main-category-review-content-split aside {
        width: 20vw;
    }
}

@media (min-width: 1152px) {
    .main-category-review-content-split aside {
        width: 24vw;
    }
}

@media (min-width: 1280px) {
    .main-category-review-content-split aside {
        width: 26vw;
    }

    .main-category-review-content {
        max-width: 700px;
    }

    .category-review-tool-card {
        margin-top: var(--space4_5);
        margin-bottom: var(--space5);
    }

    .category-review-tool-card .tool-card-top > p {
        font-size: var(--t-size2);
        line-height: var(--t-lH2);
    }

    .main-category-review-content .nav-wrapper > .tool-card-heading {
        padding-top: calc(var(--space4_5) + var(--space2));
        margin-top: calc(var(--space4_5) + var(--space2));
    }

    .category-review-tool-card .tool-card-cost > p:not(.tool-card-cost-highlight) {
        font-size: var(--t-size0);
    }

    .page-category-review .framed-section-item p {
        font-size: var(--t-size0);
    }

    .page-category-review .page-meta-detail p {
        font-size: var(--t-size-1);
    }

    .main-category-review .title-6 {
        font-size: var(--t-size1);
    }

    .page-category-review .title.title-2:not(:first-child) {
        margin-top: calc(var(--space5) + var(--space3));
    }
}
