/* Page Type Stylesheet - Console Landing for DevTools Jobs
   ========================================================================== */
html {
    scroll-behavior: smooth;
}

.page-landing-jobs .content {
    height: auto;
    min-height: 100vh;
}

.main-landing-jobs {
    margin-top: var(--space4_5);
    margin-bottom: var(--space4_5);
    height: calc(100vh - var(--space4_5) - var(--space4_5) - (calc(var(--space2) + var(--space4))));
}

@media (min-width: 769px) {
    .page-section-landing-jobs {
        max-width: 600px;
    }
}

@media (min-width: 1280px) {
    .page-section-landing-jobs {
        max-width: 700px;
    }
}

.page-landing-jobs .title.title-1 {
    margin-top: var(--space4);
    margin-bottom: var(--space2);
}

/* Opening -------------------------------------------------------------------- */
.main-landing-jobs .page-section.opening {
    max-width: none;
    margin-bottom: calc(var(--space5) + var(--space3));
    display: grid;
    gap: var(--space5);
    height: calc(100%);
    background: linear-gradient(180deg, rgba(14, 15, 95, 0) 0%, rgba(14, 15, 95, 0.3) 78%), #0a0a0b;

    width: 100vw;
    margin: 0 -6.25vw;
    padding: 0 6.25vw;
}

@media (min-width: 481px) and (max-width: 768px) {
    .main-landing-jobs .page-section.opening {
        margin: 0 -8vw;
        padding: 0 8vw;
    }
}

@media (min-width: 1371px) {
    .main-landing-jobs .page-section.opening {
        margin: 0 calc((100vw - 1200px) / 2 * -1);
        padding: 0 calc((100vw - 1200px) / 2);
    }
}

@media (max-width: 768px) {
    .main-landing-jobs .page-section.opening {
        gap: var(--space4_5);
    }
}

@media (max-width: 480px) {
    .main-landing-jobs .page-section.opening {
        gap: var(--space4);
    }
}

@media (min-width: 769px) and (max-width: 1160px) {
    .main-landing-jobs .page-section.opening {
        grid-auto-flow: column;
        grid-auto-columns: 45% 1fr;
        align-items: center;
    }
}

@media (min-width: 1161px) {
    .main-landing-jobs .page-section.opening {
        grid-auto-flow: column;
        grid-auto-columns: 50% 1fr;
        align-items: center;
    }
}

.main-landing-jobs .page-section.opening .left {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.main-landing-jobs .page-section.opening .left > *,
.main-landing-jobs .page-section.opening .right > * {
    margin-top: calc(var(--space5) * -1);
}

@media (max-width: 768px) {
    @media (max-width: 414px) {
        .main-landing-jobs .page-section.opening .title-1,
        .main-landing-jobs .page-section.opening .description {
            width: 100%;
            max-width: none;
        }
    }
}

.main-landing-jobs .page-section.opening .console-button {
    display: flex;
    margin-top: var(--space4_5);
}

.main-landing-jobs .ownership {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    font-style: italic;
    text-transform: uppercase;
    font-size: var(--t-size-2);
    color: var(--theme-text-2);
    bottom: var(--space4);
    left: 0;
    width: 100%;
}

.main-landing-jobs .ownership .icon {
    fill: var(--theme-text-2);
    margin-right: var(--space1);
}
