<div class="col-2">
    <div class="aspect-ratio aspect-ratio-1-1">

        {{ $nextGenImgSrc := partial "components/processed-img.html" (dict "src" (.Get "src1") "width" "700" "nextGen" "true") }}
        {{ $imgSrc := partial "components/processed-img.html" (dict "src" (.Get "src1") "width" "700") }}
        {{with $nextGenImgSrc }}<picture><source srcset="{{ . }}" type="image/webp">{{ end }}
            <img loading="lazy" class="image" src="{{ $imgSrc }}" alt="{{ .Get "alt1" }}" />
        {{with $nextGenImgSrc }}</picture>{{ end }}

    </div>
    <div class="aspect-ratio aspect-ratio-1-1">

        {{ $nextGenImgSrc := partial "components/processed-img.html" (dict "src" (.Get "src2") "width" "700" "nextGen" "true") }}
        {{ $imgSrc := partial "components/processed-img.html" (dict "src" (.Get "src2") "width" "700") }}
        {{with $nextGenImgSrc }}<picture><source srcset="{{ . }}" type="image/webp">{{ end }}
            <img loading="lazy" class="image" src="{{ $imgSrc }}" alt="{{ .Get "alt2" }}" />
        {{with $nextGenImgSrc }}</picture>{{ end }}

    </div>
</div>
