<div class="content-block center-aligned">

    {{ $nextGenImgSrc := partial "components/processed-img.html" (dict "src" (.Get "src") "width" "1400" "nextGen" "true") }}
    {{ $imgSrc := partial "components/processed-img.html" (dict "src" (.Get "src") "width" "1400") }}
    {{with $nextGenImgSrc }}<picture><source srcset="{{ . }}" type="image/webp">{{ end }}
        <img loading="lazy" class="content-image" src="{{ $imgSrc }}" alt="{{ .Get "alt" }}" width="{{ .Get "width" }}" />
    {{with $nextGenImgSrc }}</picture>{{ end }}
    
</div>
{{- if .Get "caption" -}}
<div class="caption center-aligned">
    <p>{{ .Get "caption" }}</p>
</div>
{{- end -}}
