{{ $name := .Get "name" }}
{{ $dataKey := replace ($name | title) "-" "" }}
{{ $first := substr $dataKey 0 1 | lower }}
{{ $last := substr $dataKey 1 }}
{{ $dataKey = (print $first $last) }}
{{ $pathFragments := split (.Get "data-file") "/" }}

{{ $.Scratch.Set "data" $.Site.Data }}
{{ range $pathFragments }}
    {{ $.Scratch.Set "data" (index ($.Scratch.Get "data") . ) }}
{{ end }}
{{ $data := $.Scratch.Get "data" }}

<div class="{{ $name }}-table simple-table marked-scrollable-h{{ with .Get "class" }} {{ . }}{{ end }}"
    data-marked-scrollable-h
    {{ with (.Get "fixed") }}data-table-fixed="{{ . }}"{{ end }}
    {{ with (.Get "fixed-count") }}data-table-fixed-count="{{ . }}"{{ end }}>
    <div data-table-fixed-inner class="simple-table-grid">
        {{ range (index $data $dataKey ) }}
            {{ $.Scratch.Set "start" 0 }}
            {{ if eq (index . 0) "H" }}
                {{ $.Scratch.Set "start" 1 }}
            {{ end }}

            <div data-table-row class="row{{ if eq (index . 0) "H" }} header{{ end }}">
                {{ range $i, $item := after ( $.Scratch.Get "start" ) . }}
                    {{ if eq $i 0 }}
                        <span data-table-cell class="cell cell-meta">{{ $item }}</span>
                    {{ else }}
                        <span data-table-cell class="cell">
                            {{- range $item -}}
                                {{- if reflect.IsMap . -}}
                                        {{- with .links -}}
                                            {{- range . -}}
                                                    <a class="link link-icon" title="{{ .href }}" href="{{ .href }}" target="_blank" rel="noopener">
                                                        {{- with .iconLeft }}
                                                            {{ partial (print "icons/" . ".html") }}
                                                        {{ end -}}
                                                        <span>{{ .text | markdownify }}</span>
                                                        {{- with .iconRight }}
                                                            {{ partial (print "icons/" . ".html") }}
                                                        {{ end -}}
                                                    </a>
                                            {{- end -}}
                                        {{- end -}}
                                        {{- with .icon -}}
                                            {{ partial (print "icons/" . ".html") }}
                                        {{- end -}}
                                {{- else -}}
                                    {{ . | markdownify }}
                                {{- end -}}
                            {{- end -}}
                        </span>
                    {{ end }}
                {{ end }}
            </div>
        {{ end }}
    </div>
</div>