    <footer class="footer">
        <nav class="footer-nav">
            <ul>
                <li>
                    <a onclick="blur()" href="mailto:hello@console.dev">Contact</a>
                </li>
                <li>
                    <a onclick="blur()" href="/privacy/">Privacy Policy</a>
                </li>
            </ul>
        </nav>
        {{- if ne .Params.bodyClass "home" }}
            <button onclick="blur(); toggleTheme()" class="console-control">
                {{ partial "icons/theme.html" }}
            </button>
        {{ end }}
    </footer>
</div> <!-- END .content -->
