        <div class="hero">
            {{ with .hideLines }}{{ else }}
                <svg class="lines" width="1969" height="1206" viewBox="0 0 1969 1206" preserveAspectRatio="xMinYMin slice">
                    <line id="line-01" y1="-0.5" x2="1348" y2="-0.5" transform="matrix(-0.447197 0.894436 -1 6.93446e-05 603.503 0.0947266)" stroke="white" />
                    <line id="line-02" y1="-0.5" x2="1348" y2="-0.5" transform="matrix(-0.447197 0.894436 -1 6.93077e-05 992.511 0.067749)" stroke="white" />
                    <line id="line-03" y1="-0.5" x2="1348" y2="-0.5" transform="matrix(-0.447197 0.894436 -1 6.93077e-05 1166.17 0.0556641)" stroke="white" />
                    <line id="line-04" y1="-0.5" x2="1348" y2="-0.5" transform="matrix(-0.447197 0.894436 -1 6.93077e-05 1447.51 0.0361328)" stroke="white" />
                    <line id="line-10" y1="-0.5" x2="1348" y2="-0.5" transform="matrix(-0.447197 0.894436 -1 6.93077e-05 1621.17 0.0240479)" stroke="white" />
                    <line id="line-05" y1="-0.5" x2="562.672" y2="-0.5" transform="matrix(-1 6.93927e-05 0.447197 -0.894436 1038.02 256.385)" stroke="white" />
                    <line id="line-06" y1="-0.5" x2="802.328" y2="-0.5" transform="matrix(1 -6.93927e-05 -0.447197 0.894436 785.241 414.626)" stroke="white" />
                    <line id="line-07" y1="-0.5" x2="975.992" y2="-0.5" transform="matrix(1 -6.94377e-05 -0.447197 0.894436 498.861 987.412)" stroke="white" />
                    <line id="line-08" y1="-0.5" x2="389.008" y2="-0.5" transform="matrix(-1 6.93927e-05 0.447197 -0.894436 706.131 572.854)" stroke="white" />
                    <line id="line-09" y1="-0.5" x2="736.336" y2="-0.5" transform="matrix(1 -6.93927e-05 -0.447197 0.894436 800.685 731.07)" stroke="white" />
                </svg>
            {{end}}
            {{ with .hidePlanes }}{{ else }}
                <svg class="planes" width="2814" height="2778" viewBox="0 0 2814 2778" fill="none" preserveAspectRatio="xMinYMin slice">
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1388.53 1.09668)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1388.53 1.09668)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1257.71 262.75)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1257.71 262.75)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1126.89 524.402)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1126.89 524.402)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 996.066 786.056)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 996.066 786.056)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 865.246 1047.71)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 865.246 1047.71)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <g class="dark" opacity="0.7" filter="url(#filter0_d_dark)">
                        <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 734.427 1309.36)" fill="#151517"/>
                        <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 734.427 1309.36)" stroke="#5269FF" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    </g>
                    <g class="light" opacity="0.7" filter="url(#filter0_d_light)">
                        <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 734.427 1309.36)" fill="#151517"/>
                        <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 734.427 1309.36)" stroke="#5269FF" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    </g>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 603.607 1571.01)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 603.607 1571.01)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 472.787 1832.67)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 472.787 1832.67)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 341.967 2094.32)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 341.967 2094.32)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 211.147 2355.97)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 211.147 2355.97)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="121.248" height="121.248" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1642.62 77.9668)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="121.248" height="121.248" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1642.62 77.9668)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="121.248" height="121.248" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1566.02 231.171)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="121.248" height="121.248" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1566.02 231.171)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="121.248" height="121.248" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1489.42 384.376)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="121.248" height="121.248" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1489.42 384.376)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="121.248" height="121.248" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1412.82 537.58)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="121.248" height="121.248" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1412.82 537.58)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="121.248" height="121.248" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1336.22 690.785)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="121.248" height="121.248" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1336.22 690.785)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="121.248" height="121.248" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1259.62 843.989)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="121.248" height="121.248" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1259.62 843.989)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="121.248" height="121.248" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1183.03 997.194)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="121.248" height="121.248" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1183.03 997.194)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <g class="dark" opacity="0.7" filter="url(#filter1_d_dark)">
                        <rect width="121.248" height="121.248" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1106.43 1150.4)" fill="#151517"/>
                        <rect width="121.248" height="121.248" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1106.43 1150.4)" stroke="#01BC90" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    </g>
                    <g class="light" opacity="0.7" filter="url(#filter1_d_light)">
                        <rect width="121.248" height="121.248" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1106.43 1150.4)" fill="#151517"/>
                        <rect width="121.248" height="121.248" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1106.43 1150.4)" stroke="#01BC90" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    </g>
                    <rect width="121.248" height="121.248" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1029.83 1303.6)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="121.248" height="121.248" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1029.83 1303.6)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="121.248" height="121.248" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 953.231 1456.81)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="121.248" height="121.248" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 953.231 1456.81)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="121.248" height="121.248" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 876.632 1610.01)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="121.248" height="121.248" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 876.632 1610.01)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="121.248" height="121.248" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 800.034 1763.22)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="121.248" height="121.248" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 800.034 1763.22)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="121.248" height="121.248" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 723.436 1916.42)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="121.248" height="121.248" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 723.436 1916.42)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="121.248" height="121.248" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 646.837 2069.63)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="121.248" height="121.248" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 646.837 2069.63)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="121.248" height="121.248" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 570.239 2222.83)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="121.248" height="121.248" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 570.239 2222.83)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="121.248" height="121.248" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 493.64 2376.04)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="121.248" height="121.248" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 493.64 2376.04)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="121.248" height="121.248" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 417.042 2529.24)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="121.248" height="121.248" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 417.042 2529.24)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1774.89 155.991)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1774.89 155.991)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1644.07 417.645)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1644.07 417.645)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1513.25 679.297)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1513.25 679.297)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1382.43 940.95)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1382.43 940.95)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1251.61 1202.6)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1251.61 1202.6)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <g class="dark" opacity="0.7" filter="url(#filter2_d_dark)">
                        <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1120.79 1464.26)" fill="#151517"/>
                        <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1120.79 1464.26)" stroke="#F561F5" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    </g>
                    <g class="light" opacity="0.7" filter="url(#filter2_d_light)">
                        <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1120.79 1464.26)" fill="#151517"/>
                        <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1120.79 1464.26)" stroke="#F561F5" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    </g>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 989.968 1725.91)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 989.968 1725.91)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 859.148 1987.56)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 859.148 1987.56)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 728.328 2249.21)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 728.328 2249.21)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 597.508 2510.87)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 597.508 2510.87)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 2067.42 155.971)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 2067.42 155.971)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1972.17 346.473)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1972.17 346.473)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1876.93 536.975)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1876.93 536.975)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1781.68 727.476)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1781.68 727.476)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1686.44 917.978)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1686.44 917.978)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1591.19 1108.48)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1591.19 1108.48)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1495.94 1298.98)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1495.94 1298.98)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1400.7 1489.48)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1400.7 1489.48)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1305.45 1679.98)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1305.45 1679.98)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <g class="dark" opacity="0.7" filter="url(#filter3_d_dark)">
                        <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1210.21 1870.49)" fill="#151517"/>
                        <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1210.21 1870.49)" stroke="#5269FF" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    </g>
                    <g class="light" opacity="0.7" filter="url(#filter3_d_light)">
                        <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1210.21 1870.49)" fill="#151517"/>
                        <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1210.21 1870.49)" stroke="#5269FF" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    </g>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1114.96 2060.99)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1114.96 2060.99)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1019.71 2251.49)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1019.71 2251.49)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 924.469 2441.99)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 924.469 2441.99)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 829.222 2632.49)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 829.222 2632.49)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 2319.42 77.9209)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 2319.42 77.9209)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 2188.6 339.573)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 2188.6 339.573)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 2057.78 601.227)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 2057.78 601.227)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1926.96 862.879)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1926.96 862.879)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1796.14 1124.53)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1796.14 1124.53)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <g class="dark" opacity="0.7" filter="url(#filter4_d_dark)">
                        <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1665.32 1386.18)" fill="#151517"/>
                        <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1665.32 1386.18)" stroke="#01BC90" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    </g>
                    <g class="light" opacity="0.7" filter="url(#filter4_d_light)">
                        <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1665.32 1386.18)" fill="#151517"/>
                        <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1665.32 1386.18)" stroke="#01BC90" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    </g>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1534.5 1647.84)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1534.5 1647.84)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1403.68 1909.49)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1403.68 1909.49)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1272.86 2171.14)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1272.86 2171.14)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1142.04 2432.8)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="242.495" height="242.495" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1142.04 2432.8)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 2650.4 1.01074)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 2650.4 1.01074)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 2555.15 191.513)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 2555.15 191.513)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 2459.91 382.014)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 2459.91 382.014)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 2364.66 572.516)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 2364.66 572.516)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 2269.41 763.018)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 2269.41 763.018)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 2174.17 953.519)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 2174.17 953.519)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 2078.92 1144.02)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 2078.92 1144.02)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1983.68 1334.52)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1983.68 1334.52)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1888.43 1525.02)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1888.43 1525.02)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <g class="dark" opacity="0.7" filter="url(#filter5_d_dark)">
                        <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1793.18 1715.53)" fill="#151517"/>
                        <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1793.18 1715.53)" stroke="#F561F5" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    </g>
                    <g class="light" opacity="0.7" filter="url(#filter5_d_light)">
                        <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1793.18 1715.53)" fill="#151517"/>
                        <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1793.18 1715.53)" stroke="#F561F5" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    </g>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1697.94 1906.03)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1697.94 1906.03)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1602.69 2096.53)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1602.69 2096.53)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1507.45 2287.03)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1507.45 2287.03)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1412.2 2477.53)" fill="#151517" fill-opacity="0.5"/>
                    <rect width="162.946" height="162.946" transform="matrix(1 -6.77879e-05 -0.447195 0.894436 1412.2 2477.53)" stroke="white" stroke-opacity="0.1" stroke-width="1.2" vector-effect="non-scaling-stroke"/>
                    <defs>
                        <filter id="filter0_d_dark" x="597.08" y="1290.78" width="408.746" height="274.058" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                            <feOffset dy="10.0128"/>
                            <feGaussianBlur stdDeviation="14.018"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0.32 0 0 0 0 0.410667 0 0 0 0 1 0 0 0 0.24 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                        </filter>
                        <filter id="filter1_d_dark" x="1037.32" y="1140.84" width="205.242" height="137.566" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                            <feOffset dy="5.00642"/>
                            <feGaussianBlur stdDeviation="7.00899"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0.00462502 0 0 0 0 0.735375 0 0 0 0 0.564866 0 0 0 0.24 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                        </filter>
                        <filter id="filter2_d_dark" x="983.441" y="1445.68" width="408.746" height="274.058" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                            <feOffset dy="10.0128"/>
                            <feGaussianBlur stdDeviation="14.018"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0.9604 0 0 0 0 0.3796 0 0 0 0 0.9604 0 0 0 0.24 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                        </filter>
                        <filter id="filter3_d_dark" x="1117.63" y="1857.83" width="275.23" height="184.508" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                            <feOffset dy="6.72821"/>
                            <feGaussianBlur stdDeviation="9.41949"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0.32 0 0 0 0 0.410667 0 0 0 0 1 0 0 0 0.24 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                        </filter>
                        <filter id="filter4_d_dark" x="1527.98" y="1367.61" width="408.746" height="274.058" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                            <feOffset dy="10.0128"/>
                            <feGaussianBlur stdDeviation="14.018"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0.00462502 0 0 0 0 0.735375 0 0 0 0 0.564866 0 0 0 0.24 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                        </filter>
                        <filter id="filter5_d_dark" x="1700.61" y="1702.87" width="275.23" height="184.508" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                            <feOffset dy="6.72821"/>
                            <feGaussianBlur stdDeviation="9.41949"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0.9604 0 0 0 0 0.3796 0 0 0 0 0.9604 0 0 0 0.24 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                        </filter>
                        <filter id="filter0_d_light" x="597.08" y="1290.78" width="408.746" height="274.058" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                            <feOffset dy="10.0128"/>
                            <feGaussianBlur stdDeviation="14.018"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0.32 0 0 0 0 0.410667 0 0 0 0 1 0 0 0 0.14 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                        </filter>
                        <filter id="filter1_d_light" x="1037.32" y="1140.84" width="205.242" height="137.566" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                            <feOffset dy="5.00642"/>
                            <feGaussianBlur stdDeviation="7.00899"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0.00462502 0 0 0 0 0.735375 0 0 0 0 0.564866 0 0 0 0.14 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                        </filter>
                        <filter id="filter2_d_light" x="983.441" y="1445.68" width="408.746" height="274.058" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                            <feOffset dy="10.0128"/>
                            <feGaussianBlur stdDeviation="14.018"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0.9604 0 0 0 0 0.3796 0 0 0 0 0.9604 0 0 0 0.14 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                        </filter>
                        <filter id="filter3_d_light" x="1117.63" y="1857.83" width="275.23" height="184.508" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                            <feOffset dy="6.72821"/>
                            <feGaussianBlur stdDeviation="9.41949"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0.32 0 0 0 0 0.410667 0 0 0 0 1 0 0 0 0.14 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                        </filter>
                        <filter id="filter4_d_light" x="1527.98" y="1367.61" width="408.746" height="274.058" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                            <feOffset dy="10.0128"/>
                            <feGaussianBlur stdDeviation="14.018"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0.00462502 0 0 0 0 0.735375 0 0 0 0 0.564866 0 0 0 0.14 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                        </filter>
                        <filter id="filter5_d_light" x="1700.61" y="1702.87" width="275.23" height="184.508" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                            <feOffset dy="6.72821"/>
                            <feGaussianBlur stdDeviation="9.41949"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0.9604 0 0 0 0 0.3796 0 0 0 0 0.9604 0 0 0 0.14 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                        </filter>
                    </defs>
                </svg>
            {{end}}
        </div>
        <div class="content">
            <header class="header{{ with .headerType }} header-{{ . }}{{end}}">
                <h1 id="logo-wrapper" class="logo-wrapper">
                    <a href="/">
                        <svg class="logo logo-svg-animated-explode" viewBox="-84 -64 175 128" fill="none" preserveAspectRatio="xMinYMin slice">
                            <path
                                id="plane-one"
                                class="plane plane-one"
                                transform="skewX(-26.56) translate(17.53 0)"
                                d="
                                    M
                                    -50 -44.725
                                    L
                                    50 -44.725
                                    L
                                    50 44.725
                                    L
                                    -50 44.725
                                    L
                                    -50 -44.725
                                Z"
                                stroke="#5269FF"
                            />
                            <path
                                id="plane-two"
                                class="plane plane-two"
                                transform="skewX(-26.56) translate(0 17.53)"
                                d="
                                    M
                                    50 44.725
                                    L
                                    -50 44.725
                                    L
                                    -50 -44.725
                                    L
                                    50 -44.725
                                    L
                                    50 44.725
                                Z"
                                stroke="#F561F5"
                            />
                            <path
                                id="plane-three"
                                class="plane plane-three"
                                transform="skewX(-26.56) translate(-17.53 -17.53)"
                                d="
                                    M
                                    50 44.725
                                    L
                                    -50 44.725
                                    L
                                    -50 -44.725
                                    L
                                    50 -44.725
                                    L
                                    50 44.725
                                Z"
                                stroke="#01BC90"
                            />
                            <path class="prompt prompt-inverted" transform="translate(-80.5 -64)" fill-rule="evenodd" clip-rule="evenodd" d="M98.0473 91.9954L126.001 36.0845L63.4909 36.0885L35.5371 91.9994L98.0473 91.9954ZM78.7529 62.1993L63.7291 69.104L59.7918 76.9727L88.8982 63.5959L73.1724 50.232L70.6357 55.3013L78.7529 62.1993Z" fill="#ffffff"/>
                            <path class="prompt prompt-normal" transform="translate(-86 -63)" d="M65.3609 69.4288L81.14 62.17L72.6147 54.9183L75.2789 49.589L91.7954 63.6382L61.2256 77.701L65.3609 69.4288Z" fill="#ffffff" />
                        </svg>
                        <span>Console</span>
                    </a>
                </h1>
                <nav class="main-nav">
                    {{ partial "components/menu-toggle.html" }}
                    <ul class="no-popup">
                        <li{{ if eq .context.Params.isSelected "betas" }} class="is-selected"{{ end }}>
                            <a onclick="blur();" href="/betas/">Betas</a>
                        </li>
                        <li{{ if eq .context.Params.isSelected "interviews" }} class="is-selected"{{ end }}>
                            <a onclick="blur();" href="/interviews/">Interviews</a>
                        </li>
                        <li{{ if eq .context.Params.isSelected "newsletter" }} class="is-selected"{{ end }}>
                            <a onclick="blur();" href="/latest/">Newsletter</a>
                        </li>
                        <li{{ if eq .context.Params.isSelected "mars" }} class="is-selected"{{ end }}>
                            <a onclick="blur();" href="/research/mars/">Mars</a>
                        </li>
                    </ul>
                    <button onclick="blur(); toggleTheme()" class="console-control theme-switcher no-popup">
                        {{ partial "icons/theme.html" }}
                    </button>
                    <div class="menu-popup-wrapper">
                        <div id="menu-popup" class="popup popup-top-down">
                            <ul>
                                <li{{ if eq .context.Params.isSelected "betas" }} class="is-selected"{{ end }}>
                                    <a onclick="blur(); toggleMenuPopup()" href="/betas/">Betas</a>
                                </li>
                                <li{{ if eq .context.Params.isSelected "interviews" }} class="is-selected"{{ end }}>
                                    <a onclick="blur(); toggleMenuPopup()" href="/interviews/">Interviews</a>
                                </li>
                                <li{{ if eq .context.Params.isSelected "newsletter" }} class="is-selected"{{ end }}>
                                    <a onclick="blur(); toggleMenuPopup()" href="/latest/">Newsletter</a>
                                </li>
                                <li{{ if eq .context.Params.isSelected "mars" }} class="is-selected"{{ end }}>
                                    <a onclick="blur(); toggleMenuPopup()" href="/research/mars/">Mars</a>
                                </li>
                            </ul>
                            <div class="separator"></div>
                            <button onclick="blur(); toggleTheme(); toggleMenuPopup()" class="console-control icon-right theme-switcher">
                                <span>Switch theme</span>{{ partial "icons/theme.html" }}
                            </button>
                        </div>
                    </div>
                </nav>
            </header>
