        <div class="hero">
            {{ with .hideLines }}{{ else }}
                {{ partial "visuals/lines.html" }}
            {{end}}
            {{ with .hidePlanes }}{{ else }}
                {{ partial "visuals/dynamic-planes.html" }}
            {{end}}
        </div>
        <div class="content" data-content-wrapper>
            <header data-show-more-nav-space-width="main-nav" class="header{{ with .headerType }} header-{{ . }}{{end}}">
                <h1 data-show-more-nav-sibling="main-nav" id="logo-wrapper" class="logo-wrapper">
                    <a href="/">
                        {{ partial "components/logo-full.html" }}
                    </a>
                </h1>
                <nav class="main-nav">
                    {{ partial "components/menu-toggle.html" }}
                    <ul data-show-more-nav="main-nav" class="show-more-nav no-popup">
                        <li class="main-nav-item{{ if eq .context.Params.isPage "latest" }} is-selected{{ end }}">
                            <a data-popup-toggle-noactive="more-nav" class="menu-item menu-item-primary" onclick="blur();" href="/latest/">Newsletter</a>
                        </li>  
                        <li class="main-nav-item{{ if eq .context.Params.isPage "tools" }} is-selected{{ end }}">
                            <a data-popup-toggle-noactive="more-nav" class="menu-item menu-item-primary" onclick="blur();" href="/tools/">Tools</a>
                        </li>
                        <li class="main-nav-item{{ if eq .context.Params.isPage "betas" }} is-selected{{ end }}">
                            <a data-popup-toggle-noactive="more-nav" class="menu-item menu-item-primary" onclick="blur();" href="/betas/">Betas</a>
                        </li>
                        <li class="main-nav-item{{ if eq .context.Params.isPage "interviews" }} is-selected{{ end }}">
                            <a data-popup-toggle-noactive="more-nav" class="menu-item menu-item-primary" onclick="blur();" href="/interviews/">Interviews</a>
                        </li>
                        <li class="main-nav-item{{ if eq .context.Params.isPage "podcast" }} is-selected{{ end }}">
                            <a data-popup-toggle-noactive="more-nav" class="menu-item menu-item-primary" onclick="blur();" href="/podcast/">Podcast</a>
                        </li>
                        <li data-show-more-nav-sibling="main-nav" data-show-more-nav-control class="main-nav-item show-more-nav-control">
                            <a data-popup-toggle="more-nav" class="menu-item menu-item-primary icon-left" onclick="blur();">{{ partial "icons/console-more.html" }}</a>
                            <div data-popup-wrapper class="popup-wrapper right bottom">
                                <div data-popup="more-nav" class="popup popup-top-down">
                                    <ul data-show-more-nav-popup-container>                        
                                    </ul>
                                </div>
                            </div>
                        </li>   
                        <li data-show-more-nav-sibling="main-nav" class="main-nav-item{{ if eq .context.Params.isPage "research" }} is-hidden{{ end }}">
                            <a class="menu-item menu-item-primary icon-right menu-item-mars" onclick="blur();" href="/research/mars/"><span>Mars</span>{{ partial "components/research/mars/shared/the-mars.html" }}</a>
                        </li>             
                    </ul>
                    <button data-show-more-nav-sibling="main-nav" onclick="blur(); toggleTheme()" class="console-control theme-switcher no-popup" aria-label="Switch theme">
                        {{ partial "icons/theme.html" }}
                    </button>
                    <div data-popup-wrapper class="popup-wrapper right bottom">
                        <div data-popup="mobile-nav" class="popup popup-top-down">
                            <ul>
                                <li class="main-nav-item{{ if eq .context.Params.isPage "latest" }} is-selected{{ end }}">
                                    <a data-popup-toggle-noactive="mobile-nav" class="menu-item menu-item-primary" onclick="blur();" href="/latest/">Newsletter</a>
                                </li>    
                                <li class="main-nav-item{{ if eq .context.Params.isPage "tools" }} is-selected{{ end }}">
                                    <a data-popup-toggle-noactive="mobile-nav" class="menu-item menu-item-primary" onclick="blur();" href="/tools/">Tools</a>
                                </li>
                                <li class="main-nav-item{{ if eq .context.Params.isPage "betas" }} is-selected{{ end }}">
                                    <a data-popup-toggle-noactive="mobile-nav" class="menu-item menu-item-primary" onclick="blur();" href="/betas/">Betas</a>
                                </li>
                                <li class="main-nav-item{{ if eq .context.Params.isPage "interviews" }} is-selected{{ end }}">
                                    <a data-popup-toggle-noactive="mobile-nav" class="menu-item menu-item-primary" onclick="blur();" href="/interviews/">Interviews</a>
                                </li>  
                                <li class="main-nav-item{{ if eq .context.Params.isPage "podcast" }} is-selected{{ end }}">
                                    <a data-popup-toggle-noactive="mobile-nav" class="menu-item menu-item-primary" onclick="blur();" href="/podcast/">Podcast</a>
                                </li>  
                                <li class="main-nav-item{{ if eq .context.Params.isPage "research" }} is-hidden{{ end }}">
                                    <a data-popup-toggle-noactive="mobile-nav" class="menu-item menu-item-primary icon-right menu-item-mars" onclick="blur();" href="/research/mars/"><span>Mars</span>{{ partial "components/research/mars/shared/the-mars.html" }}</a>
                                </li>                             
                            </ul>
                            <div class="separator"></div>
                            <button data-popup-toggle-noactive="mobile-nav" onclick="blur(); toggleTheme();" class="console-control icon-right theme-switcher" aria-label="Switch theme">
                                <span>Switch theme</span>{{ partial "icons/theme.html" }}
                            </button>
                        </div>
                    </div>
                </nav>
            </header>
