<head>
    <title>{{ .Title }}</title>
    <meta charset="utf-8" />
    <meta name="description" content="{{ .Summary }}" />

    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/fonts.css" />
    <link rel="stylesheet" href="/css/vars.css" />
    <script src="/js/head-scripts.js"></script>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/components.css" />

    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="icon" href="/favicon.png" type="image/png" />

    <link rel="canonical" href="{{ .Permalink }}" />
    <link rel="alternate" type="application/rss+xml" title="Beta Console - developer tool beta releases" href="https://console.dev/betas/rss.xml" />
    <link rel="alternate" type="application/rss+xml" title="Console - Blog" href="https://blog.console.dev/rss/" />
    <link rel="alternate" type="application/rss+xml" title="Console - Developer Q&amp;A interviews" href="https://console.dev/qa/rss.xml" />
    <link rel="alternate" type="application/rss+xml" title="Console - Reviews" href="https://console.dev/reviews/rss.xml" />

    {{ $iso8601 := "2006-01-02T15:04:05-07:00" -}}
    <meta name="viewport" content="width=device-width, user-scalable=no" />

    {{ if not .PublishDate.IsZero -}}
    <meta property="article:published_time" {{ .PublishDate.Format $iso8601 | printf "content=%q" | safeHTMLAttr }}>
    {{ else if not .Date.IsZero -}}
    <meta property="article:published_time" {{ .Date.Format $iso8601 | printf "content=%q" | safeHTMLAttr }}>
    {{ end -}}
    <!--
        If this is /latest/ 
        The modified_time needs to match the date of he latest newsletter.
    -->
    {{- $lastmod := false -}}
    {{- if eq $.Page.RelPermalink "/latest/" -}}
        {{- if $.Site.Data.toolslatest.items -}}
            {{- range first 1 $.Site.Data.toolslatest.items -}}
                {{- $lastmod = index . "Scheduled for" -}}
                {{- $lastmod = dateFormat $iso8601 $lastmod -}}
            {{- end -}}
        {{- end -}}
    {{- else if eq $.Page.RelPermalink "/betas/" -}}
    <!--
        If this is /betas/
        Pull out the "last checked" timestamp from the first live beta and
        GA beta. Compare the times, and pick the latest time as the "last
        updated" timestamp.
    -->
        {{- $liveChecked := false -}}
        {{- $gaChecked := false -}}
        {{- range first 1 $.Site.Data.betaslive.items -}}{{- $liveChecked = time (index . "Last checked") -}}{{- end -}}
        {{- range first 1 $.Site.Data.betasga.items -}}{{- $gaChecked = time (index . "Last checked") -}}{{- end -}}
        {{- $updated := "" -}}
        {{- if $gaChecked.After $liveChecked -}}{{- $lastmod = $gaChecked.Format $iso8601 -}}{{- else -}}{{- $lastmod = $liveChecked.Format $iso8601 -}}{{- end -}}
    {{- else if not .Lastmod.IsZero -}}
    <!--
        Otherwise, every other page use the last mod attribute
    -->
        {{- $lastmod = .Lastmod.Format $iso8601 -}}
    {{- end  -}}
    {{ if $lastmod }}<meta property="article:modified_time" {{ $lastmod | printf "content=%q" | safeHTMLAttr }}>
    {{ end -}}
    <!-- https://developer.yoast.com/features/opengraph/functional-specification -->
    <meta property="og:site_name" content="Console" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ .Summary }}" />
    {{- $ogImg := "/img/console-mark-256.png" -}}
    {{- if .Params.ogImg }}
    {{- $ogImg = .Params.ogImg -}}
    {{- end }}
    <meta property="og:image" itemprop="image" content="https://console.dev{{ $ogImg }}" />
    <meta property="og:image:secure_url" itemprop="image" content="https://console.dev{{ $ogImg }}" />
    {{- $ogType := "article" -}}
    {{- if .Params.ogType }}
    {{- $ogType = .Params.ogType -}}
    {{- end }}
    <meta property="og:type" content="{{ $ogType }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta name="twitter:site" content="@consoledotdev" />
    {{ range .Params.tags }}
    <meta property="article:section" content="{{ . }}">{{ end }}
    {{ if .Params.robotsDisallow }}
    <meta name="robots" content="noindex,follow,noarchive">
    {{end -}}

    {{ `<!-- Plausible Analytics: https://blog.console.dev/picking-privacy-first-analytics/ -->` | safeHTML }}
    <script async defer data-domain="console.dev" src="https://stats.console.dev/js/index.js"></script>
    <script>
        window.plausible =
            window.plausible ||
            function () {
                (window.plausible.q = window.plausible.q || []).push(arguments);
            };
    </script>
</head>
