        <div class="hero">
            {{ with .hideLines }}{{ else }}
                {{ partial "visuals/lines.html" }}
            {{end}}
            {{ with .hidePlanes }}{{ else }}
                {{ partial "visuals/dynamic-planes.html" }}
            {{end}}
        </div>
        <div class="content" data-content-wrapper>
            <header class="header{{ with .headerType }} header-{{ . }}{{end}}">
                <h1 id="logo-wrapper" class="logo-wrapper">
                    <a href="/">
                        {{ partial "components/logo-full.html" }}
                    </a>
                </h1>
                <nav class="main-nav">
                    {{ partial "components/menu-toggle.html" }}
                    <ul class="no-popup">
                        <li{{ if eq .context.Params.isPage "latest" }} class="is-selected"{{ end }}>
                            <a class="menu-item menu-item-primary" onclick="blur();" href="/latest/">Newsletter</a>
                        </li>  
                        <li{{ if eq .context.Params.isPage "tools" }} class="is-selected"{{ end }}>
                            <a class="menu-item menu-item-primary" onclick="blur();" href="/tools/">Tools</a>
                        </li>
                        <li{{ if eq .context.Params.isPage "betas" }} class="is-selected"{{ end }}>
                            <a class="menu-item menu-item-primary" onclick="blur();" href="/betas/">Betas</a>
                        </li>
                        <li{{ if eq .context.Params.isPage "jobs" }} class="is-selected"{{ end }}>
                            <a class="menu-item menu-item-primary" onclick="blur();" href="/jobs/">Jobs</a>
                        </li>
                        <li{{ if eq .context.Params.isPage "interviews" }} class="is-selected"{{ end }}>
                            <a class="menu-item menu-item-primary" onclick="blur();" href="/interviews/">Interviews</a>
                        </li>
                        <li{{ if eq .context.Params.isPage "podcast" }} class="is-selected"{{ end }}>
                            <a class="menu-item menu-item-primary" onclick="blur();" href="/podcast/">Podcast</a>
                        </li>
                        <li>
                            <a data-popup-toggle="more-nav" class="menu-item menu-item-primary icon-left" onclick="blur();" href="#">{{ partial "icons/console-more.html" }}</a>
                            <div data-popup-wrapper class="popup-wrapper right bottom">
                                <div data-popup="more-nav" class="popup popup-top-down">
                                    <ul>                        
                                    </ul>
                                </div>
                            </div>
                        </li>   
                        <li{{ if eq .context.Params.isPage "research" }} class="is-hidden"{{ end }}>
                            <a class="menu-item menu-item-primary icon-right menu-item-mars" onclick="blur();" href="/research/mars/"><span>Mars</span>{{ partial "components/research/mars/shared/the-mars.html" }}</a>
                        </li>             
                    </ul>
                    <button onclick="blur(); toggleTheme()" class="console-control theme-switcher no-popup" aria-label="Switch theme">
                        {{ partial "icons/theme.html" }}
                    </button>
                    <div data-popup-wrapper class="popup-wrapper right bottom">
                        <div data-popup="mobile-nav" class="popup popup-top-down">
                            <ul>
                                <li{{ if eq .context.Params.isPage "tools" }} class="is-selected"{{ end }}>
                                    <a data-popup-toggle-noactive="mobile-nav" class="menu-item menu-item-primary" onclick="blur();" href="/tools/">Tools</a>
                                </li>
                                <li{{ if eq .context.Params.isPage "betas" }} class="is-selected"{{ end }}>
                                    <a data-popup-toggle-noactive="mobile-nav" class="menu-item menu-item-primary" onclick="blur();" href="/betas/">Betas</a>
                                </li>
                                <li{{ if eq .context.Params.isPage "interviews" }} class="is-selected"{{ end }}>
                                    <a data-popup-toggle-noactive="mobile-nav" class="menu-item menu-item-primary" onclick="blur();" href="/interviews/">Interviews</a>
                                </li>
                                <li{{ if eq .context.Params.isPage "latest" }} class="is-selected"{{ end }}>
                                    <a data-popup-toggle-noactive="mobile-nav" class="menu-item menu-item-primary" onclick="blur();" href="/latest/">Newsletter</a>
                                </li>      
                                <li{{ if eq .context.Params.isPage "research" }} class="is-hidden"{{ end }}>
                                    <a data-popup-toggle-noactive="mobile-nav" class="menu-item menu-item-primary icon-right menu-item-mars" onclick="blur();" href="/research/mars/"><span>Mars</span>{{ partial "components/research/mars/shared/the-mars.html" }}</a>
                                </li>                             
                            </ul>
                            <div class="separator"></div>
                            <button data-popup-toggle-noactive="mobile-nav" onclick="blur(); toggleTheme();" class="console-control icon-right theme-switcher" aria-label="Switch theme">
                                <span>Switch theme</span>{{ partial "icons/theme.html" }}
                            </button>
                        </div>
                    </div>
                </nav>
            </header>
