<div class="subscribe-cta{{ with .layout }} layout-{{ . }}{{ end }}{{ with .size }} size-{{ . }}{{else}} size-large{{ end }}">
    <div class="subscribe-copy">
        {{ if ne .flow "inline" }}
            {{ if or (eq .size "medium") (eq .size "small") }}<h3 class="title title-4">{{ else }}<h4 class="title title-3">{{ end }}
                {{- with .title -}}
                    {{ . }}
                {{- else -}}
                    Subscribe to the weekly Console newsletter
                {{- end -}}
            {{ if or (eq .size "medium") (eq .size "small") }}</h3>{{ else }}</h4>{{ end }}
        {{ end }}
        <p{{ if (eq .size "medium") }} class="small"{{ end }} {{ if (eq .size "small") }} class="x-small"{{ end }}>
            {{- with .description -}}
                {{ . }}
            {{- else -}}
                An email digest of the best tools and beta releases for developers. Every Thursday.
            {{- end -}}
            {{ if ne .context.Page.RelPermalink "/latest/" }} <a href="/latest/" class="link">See the latest email</a>.{{- end -}}
        </p>
    </div>

    <form action="https://dev.us7.list-manage.com/subscribe/post?u=f8c3cd14ee8d63c53d0986a48&amp;id=267911a165" method="post" id="console-subscribe" name="console-subscribe" class="console-form">
        <div class="form-email-input">
            <input id="form-email" name="EMAIL" class="console-input-text{{ with .size}} console-input-{{ . }}{{ end }}" type="email" placeholder="Your email" required />
            <span onmousedown="event.preventDefault(); input = this.previousElementSibling; input.focus(); input.value = ''; input.dispatchEvent(new Event('change'));" class="console-input-text-cancel">{{ partial "icons/cancel.html"}}</span>
        </div>
        <input type="hidden" name="REFERRER" value="{{ .context.Page.RelPermalink }}" id="mc-referrer" />
        <div style="position: absolute; left: -5000px" aria-hidden="true"><input type="text" name="b_f8c3cd14ee8d63c53d0986a48_267911a165" tabindex="-1" value="" /><!-- Anti spam field --></div>

        <button data-onclickblur class="console-button{{ with .size}} console-button-{{ . }}{{ end }} icon-left" type="submit" title="Sign Up">
            {{ partial "icons/send.html" }}
            <span>Sign Up</span>
        </button>
    </form>

    {{ if .copyAfter -}}
        <div class="subscribe-copy-after">
            <p{{ if (eq .size "medium") }} class="small"{{ end }} {{ if (eq .size "small") }} class="x-small"{{ end }}>
                {{ .copyAfter }}
            </p>
        </div>
    {{- end }}

    {{ `<!-- Plausible Analytics goal tracking for signups -->` | safeHTML }}
    <script>
        var registerForm = document.querySelector("#console-subscribe");
        registerForm.addEventListener("submit", function (e) {
            e.preventDefault();
            setTimeout(submitForm, 1000);
            var formSubmitted = false;

            function submitForm() {
                if (!formSubmitted) {
                    formSubmitted = true;
                    registerForm.submit();
                }
            }

            plausible("Newsletter Subscribe", {
                callback: submitForm,
            });
        });
    </script>
</div>
