/* Console Betas
   ========================================================================== */

.beta-card {
    position: relative;
    background-color: var(--theme-content-bg-0);
    box-shadow: var(--theme-shadow-1);
    border-radius: var(--corners-mid);
    padding: var(--space3) var(--space4);
    border-left: 2px solid transparent;
    transition: var(--a-micro);
}

.beta-card.is-hidden-by-buttons {
    display: none;
}

.beta-card.is-hidden-by-search {
    display: none;
}

.beta-card:not(:hover).beta-card-pick {
    border-left: var(--theme-content-pick-border-1);
}

.beta-card .card-link {
    left: -2px;
    margin-right: 0;
}

.beta-card .icon-console-mini-filled {
    position: absolute;
    left: -1px;
    transform: translateX(-50%);
    fill: var(--c-green-06);
    width: var(--t-size3);
    height: var(--t-size3);
    z-index: 20;
}

.beta-card .icon-console-mini-filled .alt-prompt {
    fill: var(--c-white-00-absolute);
}

.beta-card-content {
    display: flex;
    flex-flow: row nowrap;
}

.beta-card-content > .left {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.beta-card-content > .left .title {
    display: none;
}

.beta-card-content > .right {
    flex-grow: 1;
}

.vendor-thumbnail {
    flex-shrink: 0;
    width: calc(var(--space4) + var(--space3));
    margin-right: var(--space4);
}

.beta-card .title {
    margin-bottom: var(--space1);
}

p.beta-card-description {
    margin: 0;
}

.beta-card-content .right > .taxonomy {
    display: flex;
    margin-top: var(--space2);
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: calc(var(--space2) * -1);
}

.beta-card-content .right > .taxonomy > * {
    margin-bottom: var(--space2);
}

@media (max-width: 1359px) {
    .beta-card-content .right > .taxonomy > *:not(:last-child) {
        margin-right: var(--space3);
    }
}

@media (max-width: 768px) {
    .beta-card > *:not(:last-child):not(:first-child) {
        margin-bottom: var(--space2_5);
    }

    .beta-card .icon-console-mini-filled {
        top: calc(var(--space5) + var(--space2));
        transform: translate(-50%, -50%);
    }

    .beta-card .date {
        margin-left: calc(var(--space4) + var(--space3) + var(--space4));
    }

    .beta-card-content {
        align-items: flex-start;
    }

    .beta-card-content > *:not(:last-child) {
        margin-bottom: var(--space2_5);
    }

    p.beta-card-description {
        margin-bottom: var(--space2_5);
    }

    .vendor-thumbnail {
        margin-top: calc(var(--space1) / 2);
    }

    @media (max-width: 600px) {
        .beta-card {
            padding-left: var(--space3_5);
            padding-right: var(--space3_5);
        }
    }

    @media (max-width: 480px) {
        .beta-card .date {
            margin-left: 0;
        }

        .beta-card-content {
            flex-flow: column nowrap;
        }

        .beta-card-content > .right > *:not(:last-child) {
            margin-bottom: var(--space2_5);
        }

        .vendor-thumbnail {
            margin-right: var(--space3);
        }

        .beta-card-content > .left .title {
            display: block;
            margin: 0;
            word-break: break-word;
        }

        .beta-card-content > .right .title {
            display: none;
        }
    }

    @media (min-width: 601px) {
        .beta-card > *:not(:last-child) {
            margin-bottom: 0;
        }

        .beta-card .date {
            margin-bottom: var(--space2_5);
        }
    }
}

@media (min-width: 769px) {
    .beta-card {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    .beta-card > *:not(:last-child):not(:first-child) {
        margin-right: var(--space4);
    }

    .beta-card .date {
        width: 7em;
        flex: 0 0 auto;
    }

    .beta-card-content {
        align-items: center;
        flex: 1 1 auto;
    }

    p.beta-card-description {
        margin-bottom: var(--space1);
    }

    @media (min-width: 1360px) {
        .beta-card-content > .right {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
        }

        .beta-card-content > .right > .left {
            flex: 1 1 auto;
            margin-right: var(--space4);
            max-width: 60%;
        }

        .beta-card-content .right > .taxonomy {
            flex: 0 0 auto;
            max-width: 40%;
            flex-flow: column nowrap;
            align-items: flex-end;
            justify-content: center;
        }

        .beta-card-content .right > .taxonomy > *:not(:first-child) {
            margin-top: var(--space1);
        }

        p.beta-card-description {
            margin-bottom: 0;
        }
    }
}
