/* Design Library
   ========================================================================== */

.page-confirm-jobs .title.title-5 {
    margin-top: var(--space4_5);
}

.page-confirm-jobs .simple-table {
    margin: var(--space3_5) 0;
}

.page-confirm-jobs .simple-table-grid .row {
    grid-template-columns: 200px 1fr;
}
