/* Console Home
   ========================================================================== */
.page-home .main {
    width: 440px;
}

@media (max-width: 540px) {
    .page-home .main {
        width: 100%;
        min-height: 0;
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    .page-home .main {
        margin-top: calc(var(--space6) - var(--space4_5));
        margin-bottom: calc(var(--space6) - var(--space4_5));
    }
}

.page-home .logo-wrapper a {
    cursor: default;
}

.page-home .console-form {
    margin: var(--space4_5) 0;
}

@media (max-width: 480px) {
    .page-home .main .console-form {
        margin: var(--space4) 0;
    }
}

.page-home .subscribers-count {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-style: italic;
    text-transform: uppercase;
    font-size: var(--t-size-2);
    color: var(--theme-text-2);
    margin-top: var(--space4);
    margin-bottom: calc(var(--space4) * -1);
}

.page-home .subscribers-count .icon {
    fill: var(--theme-text-2);
    margin-right: var(--space1);
}

@media (max-width: 480px) {
    .page-home .subscribers-count {
        margin-bottom: calc(var(--space3) * -1);
    }
}

.page-home .podcast-widget {
    margin-top: var(--space4_5);
}

@media (max-width: 420px) {
    .page-home .podcast-widget .podcast-widget-header .title span:before {
        content: "Podcast";
    }

    .page-home .podcast-widget .podcast-widget-links > .link:before {
        content: "See all";
    }

    @media (max-width: 380px) {
        .page-home .podcast-widget .date {
            display: none;
        }
    }
}