/* Console Home
   ========================================================================== */
.page-home .main {
    z-index: 30;
    margin: var(--mTop) 0 0;
}

@media (max-width: 768px) {
    .page-home .main {
        --mTop: var(--space6);
        --mBottom: var(--space6);
    }
}

@media (min-width: 769px) {
    .page-home .main {
        --mTop: max(calc(var(--space6) - var(--space3)), 10vh);
        --mBottom: calc(var(--space6) - var(--space2));
    }
}

.page-home .logo-wrapper a {
    cursor: default;
}

.page-home .page-section {
    --sectH: 800px;
    --sectHMax: 120vh;
    --sectHMin: 650px;
    height: var(--sectH);
    min-height: var(--sectHMin) !important;
    max-height: var(--sectHMax);
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin-top: 0;
    margin-bottom: 0;
}

.page-home .description {
    color: var(--theme-text-2);
    font-size: var(--t-size1);
    line-height: var(--t-lH4);
}

/* Decorations -------------------------------------------------------------------- */
.page-home .page-section .artwork-wrapper-static,
.page-home .page-section .artwork-wrapper-dynamic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.page-home .page-section .artwork-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

.page-home .page-section > *:not(.artwork-wrapper-static) {
    z-index: 10;
}

/* Plane Dust */
.plane-dust-wrapper {
    position: absolute;
    display: inline-block;
    z-index: 100;
}

.plane-dust-wrapper > * {
    position: absolute;
}

.plane-dust {
    display: inline-block;
    background: var(--theme-dust-color);
    border-radius: 2px;
    transform: scaleY(0.8945) skewX(-24.1deg);
}

@media (max-width: 768px) {
    .plane-dust {
        background: var(--theme-dust-color-light);
    }
}

.plane-dust-big {
    width: calc(var(--space2) + var(--space0) + 1px);
    height: calc(var(--space2) + var(--space0) + 1px);
}

.plane-dust-small {
    width: calc(var(--space1) + var(--space0) + 1px);
    height: calc(var(--space1) + var(--space0) + 1px);
}

.plane-dust-wrapper.one .plane-dust-big {
    display: none;
}

.plane-dust-wrapper.two .plane-dust-big {
    margin-left: 20px;
}

.plane-dust-wrapper.two .plane-dust-small {
    margin-top: 13px;
}

.plane-dust-wrapper.three .plane-dust-big {
    margin-left: 49px;
}

.plane-dust-wrapper.three .plane-dust-small {
    margin-top: 21px;
}

.plane-dust-wrapper.four .plane-dust-big {
    margin-top: 11px;
}

.plane-dust-wrapper.four .plane-dust-small {
    margin-left: 22px;
}

.plane-dust-wrapper.five .plane-dust-big {
    margin-top: 22px;
}

.plane-dust-wrapper.five .plane-dust-small {
    margin-left: 33px;
}

/* Slim plane */
.slim-plane {
    --w: 32px;
    display: inline-block;
    position: absolute;
    background: var(--theme-slim-plane-color);
    width: var(--w);
    height: calc(var(--w) * 2.2);
    transform: scaleY(0.8945) skewX(-24.1deg);
    opacity: 0.5;
    box-shadow: 0 0 var(--theme-slim-plane-glow);
}

/* Wave word */
.wave-word {
    --w: 32px;
    display: inline-block;
    position: absolute;
    width: var(--w);
    transform: scaleY(0.8945) skewX(-24.1deg);
    opacity: 0.5;
}

.wave-word .el {
    --w: 15%;
    background: var(--theme-wave-word-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10%;
    box-shadow: 0 0 var(--theme-wave-word-glow);
}

.wave-word.mid {
    height: calc(var(--w) * 1.7);
}

.wave-word.small {
    height: calc(var(--w) * 1.15);
}

.wave-word.mid .el1,
.wave-word.small .el1 {
    left: 0;
    height: 50%;
}

.wave-word.mid .el2,
.wave-word.small .el2 {
    left: calc(50% - var(--w) / 2);
    height: 100%;
}

.wave-word.small .el3 {
    right: 0;
    height: 50%;
}

.wave-word.mid .el3 {
    right: 0;
    height: 75%;
}

/* Opening -------------------------------------------------------------------- */
.page-home .page-section.opening {
    justify-content: center;
    height: calc(var(--sectH) - var(--mTop) - var(--headerTopPadding));
    max-height: calc(var(--sectHMax) - var(--mTop) - var(--headerTopPadding));
    z-index: 10;
}

.page-home .page-section.opening .description {
    font-size: var(--t-esize4);
}

@media (max-width: 768px) {
    .page-home .page-section.opening .bottom {
        margin-top: var(--space5);
        width: 100%;
    }
}

@media (min-width: 769px) {
    .page-home .page-section.opening {
        display: grid;
        align-items: center;
        gap: var(--space5_5);
    }
}

@media (min-width: 769px) {
    .page-home .page-section.opening {
        grid-template-columns: auto 42%;
    }
}

@media (min-width: 1024px) {
    .page-home .page-section.opening {
        grid-template-columns: auto 46%;
    }
}

@media (min-width: 1140px) {
    .page-home .page-section.opening {
        grid-template-columns: auto 50%;
    }
}

.page-home .console-form {
    margin: var(--space3) 0;
}

.page-home .subscribers-count {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-style: italic;
    text-transform: uppercase;
    font-size: var(--t-size-2);
    color: var(--theme-text-2);
}

.page-home .subscribers-count .icon {
    fill: var(--theme-text-2);
    margin-right: var(--space1);
}

@media (min-width: 769px) and (max-width: 1024px) {
    .page-home .page-section.opening .console-form {
        flex-flow: column nowrap;
        align-items: stretch;
    }

    .page-home .page-section.opening .console-form .console-button {
        margin: 0;
        margin-top: var(--space3_5);
    }
}

@media (max-width: 768px) {
    .page-home .page-section.opening .console-form {
        max-width: var(--space8);
    }
}

/* Opening artwork */
.page-home .page-section.opening .artwork-wrapper-static img {
    position: absolute;
    height: 120%;
    width: auto;
    top: 50%;
    left: -8%;
    transform: translateY(-50%);
}

.page-home .page-section.opening .artwork-wrapper .plane-dust-wrapper.one {
    top: calc(50% - 51%);
    left: calc(50% - 28%);
}

.page-home .page-section.opening .artwork-wrapper .plane-dust-wrapper.one.dupe {
    top: calc(50% + 50%);
    left: calc(50% - 50%);
}

.page-home .page-section.opening .artwork-wrapper .plane-dust-wrapper.two {
    top: calc(50% - 51%);
    left: calc(50% + 43%);
}

.page-home .page-section.opening .artwork-wrapper .plane-dust-wrapper.two.dupe {
    top: calc(50% + 44%);
    left: calc(50% + 5%);
}

.page-home .page-section.opening .artwork-wrapper .plane-dust-wrapper.four {
    top: calc(50% + 44%);
    left: calc(50% - 46%);
}

.slim-plane.one {
    --w: 24px;
    top: calc(50% - 50%);
    left: calc(50% - 32%);
}

.slim-plane.two {
    --w: 56px;
    top: calc(50% - 48%);
    left: calc(50% - 15%);
}

.slim-plane.three {
    --w: 20px;
    top: calc(50% - 46%);
    left: calc(50% + 44%);
}

.slim-plane.four {
    --w: 44px;
    top: calc(50% + 31%);
    left: calc(50% - 12%);
}

.slim-plane.five {
    --w: 36px;
    top: calc(50% + 26%);
    left: calc(50% + 29.4%);
}

.slim-plane.six {
    --w: 44px;
    top: calc(50% - 12%);
    left: calc(50% + 69%);
}

@media (max-width: 540px) {
    .page-home .page-section.opening .artwork-wrapper .plane-dust-wrapper.one.dupe {
        top: calc(50% + 55%);
    }

    .page-home .page-section.opening .artwork-wrapper .plane-dust-wrapper.two.dupe {
        top: calc(50% + 49%);
    }

    .page-home .page-section.opening .artwork-wrapper .plane-dust-wrapper.four {
        top: calc(50% + 49%);
    }
}

@media (max-width: 400px) {
    .page-home .page-section.opening .artwork-wrapper .plane-dust-wrapper.one {
        top: calc(50% - 53%);
    }

    .page-home .page-section.opening .artwork-wrapper .plane-dust-wrapper.two {
        top: calc(50% - 53%);
    }
}

/* Podcast -------------------------------------------------------------------- */
.page-home .page-section.podcast {
    --sectH: 1050px;
    --sectHMin: 1000px;
    justify-content: space-between;
    padding-top: calc(var(--space6) + var(--space6));
    padding-bottom: calc(var(--space6) + var(--space4));
    background: linear-gradient(transparent 0%, var(--theme-content-bg-1) 70%), transparent;
    z-index: 30;
}

@media (max-width: 1100px) {
    .page-home .page-section.podcast {
        --sectH: 1000px;
        padding-bottom: var(--space6);
    }
}

.page-home .page-section.podcast .top .title {
    margin-bottom: 0;
    color: var(--theme-text-accent-triad-03-light);
}

.page-home .page-section.podcast .top .title .icon {
    width: calc(var(--space4) + var(--space2));
    height: calc(var(--space4) + var(--space2));
}

.page-home .page-section.podcast .top .title .icon-fill-stroke {
    fill: var(--theme-text-accent-triad-03-light);
    stroke: var(--theme-text-accent-triad-03-light);
}

@media (max-width: 768px) {
    .page-home .page-section.podcast > .mid {
        margin-top: var(--space5);
        width: 100%;
    }

    .page-home .page-section.podcast > .mid > .right {
        margin-top: var(--space4);
    }
}

@media (min-width: 769px) {
    .page-home .page-section.podcast > .mid {
        display: grid;
        width: 100%;
        align-items: center;
        gap: calc(var(--space5) + var(--space3));
    }
}

@media (min-width: 769px) {
    .page-home .page-section.podcast > .mid {
        grid-template-columns: auto 42%;
    }
}

@media (min-width: 1024px) {
    .page-home .page-section.podcast > .mid {
        grid-template-columns: auto 46%;
    }
}

@media (min-width: 1140px) {
    .page-home .page-section.podcast > .mid {
        grid-template-columns: auto 50%;
    }
}

@media (max-width: 768px) {
    .page-home .page-section.podcast .bottom {
        margin-top: var(--space5);
    }
}

.page-home .podcast-widget {
    box-shadow: var(--theme-shadow-1);
}

@media (max-width: 768px) {
    .page-home .podcast-widget {
        margin-top: var(--space4_5);
        max-width: var(--space8);
    }
}

.page-home .podcast-widget .podcast-widget-header .title {
    display: none;
}

.page-home .page-section.podcast .bottom {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: calc(var(--space4) * -1);
}

@media (max-width: 768px) {
    .page-home .page-section.podcast .bottom {
        margin-top: calc(var(--space5) + (var(--space4) * -1));
    }
}

.page-home .page-section.podcast .bottom > * {
    margin-top: var(--space4);
}

.page-home .page-section.podcast .bottom > .link {
    margin-right: var(--space4);
}

.page-home .page-section.podcast .podcast-links-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-top: calc(var(--space4) + (var(--space3) * -1));
}

.page-home .page-section.podcast .podcast-links-wrapper > * {
    margin-top: var(--space3);
}

.page-home .page-section.podcast .podcast-links-wrapper .title {
    margin-bottom: 0;
    margin-right: var(--space3_5);
}

.page-home .page-section.podcast .podcast-links-wrapper img {
    width: calc(var(--space3) + var(--space2_5));
    height: calc(var(--space3) + var(--space2_5));
}

/* Podcast artwork */
.page-home .page-section.podcast .artwork-wrapper-static img {
    position: absolute;
    height: 86%;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -53%);
}

.page-home .page-section.podcast .artwork-wrapper .plane-dust-wrapper.one {
    top: calc(50% - 38%);
    left: calc(50% - 10%);
}

.page-home .page-section.podcast .artwork-wrapper .plane-dust-wrapper.two {
    top: calc(50% + 27%);
    left: calc(50% + 6%);
}

.wave-word.mid {
    --w: 36px;
    top: calc(50% - 32%);
    left: calc(50% + 15%);
}

.wave-word.small {
    --w: 36px;
    top: calc(50% + 33%);
    left: calc(50% - 9.2%);
}

@media (max-width: 860px) {
    .wave-word.mid {
        top: calc(50% - 36%);
        left: calc(50% + 25%);
    }

    .wave-word.small {
        top: calc(50% + 38%);
        left: calc(50% - 16.2%);
    }
}

/* Jobs -------------------------------------------------------------------- */
.page-home .page-section.jobs {
    --sectHMin: 850px;
    justify-content: space-between;
    padding-top: var(--space6);
    padding-bottom: var(--mBottom);
    background: linear-gradient(var(--theme-content-bg-1) 0%, var(--theme-content-bg-2) 60%), transparent;
    z-index: 20;
}

@media (max-width: 840px) {
    .page-home .page-section.jobs {
        --sectHMin: 800px;
        height: auto;
        max-height: auto;
    }
}

.page-home .page-section.jobs {
    align-items: center;
}

.page-home .page-section.jobs:before {
    content: "";
    position: absolute;
    top: 0;
    height: 1px;
    width: 100%;
    background: var(--theme-content-bg-3);
}

.page-home .page-section.jobs .top {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.page-home .page-section.jobs .top .title:first-child {
    font-size: var(--t-size6);
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.page-home .page-section.jobs .top .title:last-child {
    margin-top: var(--space3_5);
    margin-bottom: 0;
    text-align: center;
}

.page-home .page-section.jobs .top .title .icon {
    margin-top: 2px;
    width: var(--space4);
    height: var(--space4);
}

.page-home .page-section.jobs .top .title .icon circle {
    fill: var(--theme-jobs-triad-01);
}

.page-home .page-section.jobs .bottom .right > *:first-child {
    margin-top: 0;
}

@media (max-width: 840px) {
    .page-home .page-section.jobs .bottom {
        margin-top: var(--space5);
    }
}

@media (min-width: 841px) {
    .page-home .page-section.jobs .bottom {
        display: grid;
        width: 100%;
        grid-template-columns: auto 40%;
        align-items: center;
        gap: calc(var(--space5) + var(--space3));
        margin-bottom: var(--space6);
    }
}

@media (min-width: 920px) {
    .page-home .page-section.jobs .bottom {
        grid-template-columns: auto 42%;
        gap: var(--space5_5);
    }
}

@media (min-width: 980px) {
    .page-home .page-section.jobs .bottom {
        grid-template-columns: auto 42%;
    }
}

@media (min-width: 1080px) {
    .page-home .page-section.jobs .bottom {
        grid-template-columns: auto 45%;
    }
}

@media (min-width: 1280px) {
    .page-home .page-section.jobs .bottom {
        grid-template-columns: auto 50%;
    }
}

@media (max-width: 840px) {
    .page-home .page-section.jobs .bottom .left {
        text-align: center;
    }

    .page-home .page-section.jobs .bottom .right {
        margin-top: var(--space5);
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;
    }

    .page-home .page-section.jobs .bottom .right .description {
        width: 90%;
    }
}

.page-home .page-section.jobs .illustration {
    width: 92%;
    height: auto;
    vertical-align: top;
}

@media (max-width: 840px) {
    .page-home .page-section.jobs .illustration {
        width: 60%;
    }
}

@media (max-width: 700px) {
    .page-home .page-section.jobs .illustration {
        width: 65%;
    }
}

@media (max-width: 640px) {
    .page-home .page-section.jobs .illustration {
        width: 72%;
    }
}

@media (max-width: 540px) {
    .page-home .page-section.jobs .illustration {
        width: 80%;
    }
}

@media (max-width: 380px) {
    .page-home .page-section.jobs .illustration {
        width: 90%;
    }
}

@media (min-width: 841px) {
    .page-home .page-section.jobs .illustration {
        width: 100%;
    }
}

.page-home .page-section.jobs .ctas {
    margin-top: var(--space3);
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

@media (max-width: 840px) {
    .page-home .page-section.jobs .ctas {
        margin-top: var(--space4);
    }
}

.page-home .page-section.jobs .ctas p {
    margin-top: var(--space4);
}

.page-home .page-section.jobs .ctas p .console-button-text {
    margin-left: var(--space2);
}

.page-home .page-section.jobs .console-button-text {
    color: var(--theme-cta-secondary-yellow-text-idle);
}

.page-home .page-section.jobs .console-button-text:hover {
    color: var(--theme-cta-secondary-yellow-text-hover);
}

.page-home .page-section.jobs .console-button-text:active {
    color: var(--theme-cta-secondary-yellow-text-active);
}

.page-home .page-section.jobs .console-button-text .icon-fill {
    fill: var(--theme-cta-secondary-yellow-text-idle);
}

.page-home .page-section.jobs .console-button-text:hover .icon-fill {
    fill: var(--theme-cta-secondary-yellow-text-hover);
}

.page-home .page-section.jobs .console-button-text:active .icon-fill {
    fill: var(--theme-cta-secondary-yellow-text-active);
}

/* Jobs artwork -------------------------------------------------------------------------------------------------------------- */
.page-home .page-section.jobs .artwork-wrapper-static img {
    position: absolute;
    height: 66%;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -38%);
}

.page-home .page-section.jobs .artwork-wrapper .plane-dust-wrapper.three {
    top: calc(50% - 31%);
    left: calc(50% - 30%);
}

@media (max-width: 1280px) {
    .page-home .page-section.jobs .artwork-wrapper .plane-dust-wrapper.three {
        left: calc(50% - 35%);
    }
}

@media (max-width: 1024px) {
    .page-home .page-section.jobs .artwork-wrapper .plane-dust-wrapper.three {
        left: calc(50% - 40%);
    }
}

@media (max-width: 768px) {
    .page-home .page-section.jobs .artwork-wrapper .plane-dust-wrapper.three {
        top: calc(50% - 41%);
    }
}

.page-home .page-section.jobs .artwork-wrapper .plane-dust-wrapper.five {
    top: calc(50% + 33%);
    left: calc(50% + 24%);
}

@media (max-width: 768px) {
    .page-home .page-section.jobs .artwork-wrapper .plane-dust-wrapper.five {
        top: calc(50% + 36.5%);
    }
}

/* Rays -------------------------------------------- */
.page-home .console-rays.triad-01 {
    left: 146px;
}

.page-home .console-rays.triad-03 {
    left: -250px;
}

.page-home .console-rays.jobs-triad-02 {
    --global-rays-translate: translateY(-22%);
    left: 256px;
}

.page-home .console-rays.jobs-triad-02 .ray {
    opacity: 0.9;
}

/* Rays controls */
.console-rays-controls.triad-01 {
    top: 100px;
}

.console-rays-controls.triad-03 {
    top: 350px;
}

.console-rays-controls.jobs-triad-02 {
    top: 600px;
}
