/* Interview Index
   ========================================================================== */

.page-section-interviews-root {
    margin-right: min(26vw, 400px);
}

.interviews-split {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: calc(var(--space4) + var(--space3));
}

.interviews-split .interviews {
    flex: 1 1 auto;
}

.interviews-items > *:not(:last-child) {
    margin-bottom: var(--space4);
}

.interviews-card {
    --logoWidth: 56%;
    position: relative;
    background-color: var(--theme-content-bg-1);
    box-shadow: var(--theme-shadow-1);
    border-radius: var(--corners-mid);
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    overflow: hidden;
}

.interviews-card-inner {
    flex: 1 1 auto;
}

.interviews-card-combo {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    max-width: 252px;
}

.interviews-card-company-logo {
    position: absolute;
    width: var(--logoWidth);
    height: 100%;
    background-color: var(--theme-content-bg-0);
    top: 0;
    left: 0;
}

.interviews-card-company-logo .logo {
    margin: 17.64% 0 0 17.64%;
    width: 35.29%;
    border-radius: var(--corners-x-small);
    overflow: hidden;
}

.interviews-card-company-logo .logo .image {
    object-fit: contain;
}

.interviews-card-combo .plane-picture {
    display: block;
    height: 100%;
    margin-left: calc(var(--logoWidth) / 2);
    margin-right: calc(var(--logoWidth) / 2 * -1);
}

.interviews-card-content {
    padding: var(--space3) var(--space4);
    margin-left: 320px;
}

.interviews-card-content > :not(:last-child) {
    margin-bottom: calc(var(--space1) + var(--space2));
}

.interviews-card-heading > :not(:last-child) {
    margin-bottom: calc(var(--space1) / 2);
}

.interviews-card-person p,
.interviews-card-company p {
    margin-bottom: 0;
}

.interviews-card-person {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}

.interviews-card-person-name {
    flex: 0 0 auto;
    margin-right: calc(var(--space2));
    font-weight: 500;
    font-size: var(--t-size0);
    color: var(--theme-text-4);
    flex: 0 1 auto;
}

.interviews-card-person-role {
    flex: 0 0 auto;
    color: var(--theme-text-4);
    font-size: var(--t-size-3);
    font-style: italic;
    flex: 0 1 auto;
}

.interviews-card-company {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.interviews-card-company-name {
    flex: 0 0 auto;
    margin-right: calc(var(--space1) + var(--space2));
    font-weight: 500;
    font-size: var(--t-size1);
    color: var(--theme-text-1);
    flex: 0 1 auto;
}

.interviews-card-company .tags {
    flex: 0 0 auto;
}

p.interviews-card-description {
    color: var(--theme-text-2);
    margin: 0;
}

.page-section-interviews-root .illustrated-text {
    margin-top: calc(var(--space4) + var(--space3));
}

@media (max-width: 768px) {
    @media (max-width: 600px) {
        .interviews-card-company-logo .logo {
            margin: 14% 0 0 14%;
        }

        .interviews-card-content {
            padding-left: var(--space3_5);
            padding-right: var(--space3_5);
        }
    }
}

@media (max-width: 768px), (min-width: 1025px) {
    .interviews-card {
        --logoWidth: 47.33%;
    }

    .interviews-card-combo {
        position: relative;
        height: auto;
        max-width: none;
        width: 100%;
        border-bottom: var(--theme-border-2);
    }

    .interviews-card-combo .plane-picture {
        margin: 0;
        clip-path: polygon(30.9% 0%, 0% 100%, 100% 100%, 100% 0%);
        width: 76.33%;
        margin-left: 23.67%;
    }

    .interviews-card-combo .plane-picture .ratio {
        width: 100%;
        height: auto;
    }

    .interviews-card-content {
        margin-left: 0;
    }
}

@media (max-width: 1280px) {
    .page-section-interviews-root {
        margin-right: 0;
    }
}

@media (min-width: 769px) {
    @media (min-width: 1025px) {
        .interviews-items {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0 calc(var(--space4) + var(--space2));
        }

        .interviews-items > :nth-last-child(2):nth-child(odd),
        .interviews-items > :nth-last-child(1):nth-child(even),
        .interviews-items > :nth-last-child(1):nth-child(odd) {
            margin-bottom: 0;
        }
    }
}

.page-section-interviews-root.podcast-launch {
    margin-right: 0;
}

.podcast-launch {
    margin-top: var(--space4);
}

.podcast-launch .podcast-widget {
    margin-bottom: var(--space4_5);
}

.podcast-launch .podcast-widget.large,
.podcast-launch .podcast-widget.mid,
.podcast-launch .podcast-widget.small {
    display: none;
}

@media (min-width: 769px) {
    .podcast-launch .podcast-widget.large {
        display: block;
    }

    @media (max-width: 1024px) {
        .podcast-launch .podcast-widget .podcast-widget-links > .link {
            display: none;
        }
    }
}

@media (min-width: 541px) and (max-width: 768px) {
    .podcast-launch .podcast-widget.mid {
        display: block;
    }
}

@media (max-width: 540px) {
    .podcast-launch .podcast-widget.small {
        display: block;
    }

    .podcast-launch .podcast-widget.small .podcast-widget-heading .title {
        display: none;
    }

    @media (max-width: 420px) {
        .podcast-launch .podcast-widget .podcast-widget-links > .link:before {
            content: "See all";
        }

        @media (max-width: 380px) {
            .podcast-launch .podcast-widget .date {
                display: none;
            }
        }
    }
}
