/* Page Stylesheet - Console Zero page
   ========================================================================== */
html {
    scroll-behavior: smooth;
}

.page-zero .content {
    height: auto;
    min-height: 100vh;
}

.main-zero {
    position: relative;
    margin-top: var(--space4_5);
}

@media (min-width: 769px) {
    .page-section-zero {
        max-width: 600px;
    }
}

@media (min-width: 1280px) {
    .page-section-zero {
        max-width: 700px;
    }
}

.main-zero .page-section .separator {
    margin: var(--space4_5) 0 var(--space5);
}

.horizon-lines {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
}

.horizon-line-ghost {
    background: transparent;
}

@media (min-width: 1280px) {
    .main-zero p,
    .main-zero .quote {
        font-size: var(--t-size1);
    }

    .main-zero p.intro {
        font-size: var(--t-size2);
    }

    .main-zero p.description {
        font-size: var(--t-size3);
    }

    .main-zero p.small {
        font-size: var(--t-size0);
    }

    .main-zero p.x-small {
        font-size: var(--t-size-1);
    }

    .main-zero ul li {
        font-size: var(--t-size0);
    }

    .main-zero .title-1 {
        font-size: var(--t-size9);
    }

    .main-zero .title-2 {
        font-size: var(--t-size6);
    }

    .main-zero .title-3 {
        font-size: var(--t-size3);
    }

    .main-zero .title-4 {
        font-size: var(--t-size1);
    }

    .main-zero .title-5 {
        font-size: var(--t-size0);
    }

    .main-zero .title-6 {
        font-size: var(--t-size1);
    }

    .main-zero .console-button,
    .main-zero [class^="console-button"],
    .main-zero [class*=" console-button"] {
        font-size: var(--t-size1);
    }

    .main-zero .console-button.console-button-medium,
    .main-zero [class^="console-button"].console-button-medium,
    .main-zero [class*=" console-button"].console-button-medium {
        font-size: var(--t-size0);
    }

    .main-zero .console-button.console-button-small,
    .main-zero [class^="console-button"].console-button-small,
    .main-zero [class*=" console-button"].console-button-small {
        font-size: var(--t-size-1);
    }

    .main-zero input.console-input-text,
    .main-zero select.console-select {
        font-size: var(--t-size1);
    }

    .main-zero input.console-input-text.console-input-medium,
    .main-zero select.console-select.console-input-medium {
        font-size: var(--t-size0);
    }

    .main-zero input.console-input-text.console-input-small,
    .main-zero select.console-select.console-input-small {
        font-size: var(--t-size-1);
    }

    .main-zero input.console-input-radio + label,
    .main-zero input.console-input-toggle + label {
        font-size: var(--t-size-1);
    }

    .main-zero .selector-ui-preview p.small,
    .main-zero .selector-actions-embed-type p.small {
        font-size: var(--t-size-1);
    }

    .main-zero .embed-code-wrapper .pre {
        font-size: var(--t-size-2);
    }
}

/* Opening -------------------------------------------------------------------- */
.main-zero .page-section.opening {
    position: relative;
    display: grid;
    max-width: none;
    gap: var(--space5);
    height: calc(100vh - var(--space4_5));
    margin-top: calc((var(--space4_5) + var(--space4) + var(--space2)) * -1);
    overflow: hidden;
    z-index: 10;
}

@media (max-width: 1024px) {
    .main-zero .page-section.opening {
        gap: 0;
    }
}

@media (min-width: 1025px) {
    .main-zero .page-section.opening {
        grid-auto-flow: column;
        grid-auto-columns: 1fr 1fr;
        align-items: center;
        min-height: 800px;
    }

    .main-zero .page-section.opening {
        max-height: 100vw;
    }

    @media (max-width: 1180px) {
        .main-zero .page-section.opening {
            grid-auto-flow: column;
            grid-auto-columns: 1fr 1fr;
            align-items: center;
        }
    }

    @media (min-width: 1181px) {
        .main-zero .page-section.opening {
            grid-auto-columns: 1fr 1fr;
        }
    }
}

@media (max-width: 1024px) {
    .main-zero .page-section.opening {
        padding-top: calc(var(--space6_5) + var(--space2));
        padding-bottom: var(--space5);
        height: auto;
        display: flex;
        flex-flow: column-reverse nowrap;
        align-items: center;
    }

    @media (max-width: 700px) {
        .main-zero .page-section.opening {
            padding-top: calc(var(--space6) + var(--space4_5));
        }
    }
}

.main-zero .page-section.opening .left,
.main-zero .page-section.opening .right {
    z-index: 50;
}

.main-zero .page-section.opening .left {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

@media (max-width: 1024px) {
    .main-zero .page-section.opening .left {
        margin-top: var(--space5);
    }
}

@media (max-width: 768px) {
    .main-zero .page-section.opening .left {
        margin-top: var(--space4_5);
    }
}

@media (max-width: 1024px) {
    .main-zero .page-section.opening .left {
        text-align: center;
        justify-content: center;
    }

    .main-zero .page-section.opening .left div {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    .main-zero .page-section.opening .right {
        width: 44%;
        min-height: 44%;
    }

    @media (max-width: 700px) {
        .main-zero .page-section.opening .right {
            width: 54%;
            min-height: 54%;
        }
    }
}

.main-zero .page-section.opening .title-1 {
    margin-top: var(--space3);
    margin-bottom: var(--space2);
}

.main-zero .page-section.opening .title-1 .icon {
    width: 0.73em;
    height: 0.73em;
    margin-left: var(--space1);
}

.main-zero .page-section.opening .title-4 {
    color: var(--theme-text-accent-sunset-light);
}

.main-zero .page-section.opening .title-4 span {
    color: var(--theme-text-accent-sunset-strong);
}

.main-zero .page-section.opening .description {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    @media (max-width: 414px) {
        .main-zero .page-section.opening .title-1,
        .main-zero .page-section.opening .description {
            width: 100%;
            max-width: none;
        }
    }
}

.main-zero .page-section.opening .left .console-button-text {
    margin-top: var(--space4_5);
}

@media (max-width: 600px) {
    .main-zero .page-section.opening .left .console-button-text {
        margin-top: var(--space3_5);
    }
}

/* Horizon Lines */
.page-section-zero.opening .horizon-lines {
    bottom: 0;
    height: 55%;
    transform: scaleY(-1);
}

.page-section-zero.opening .horizon-line:not(.horizon-line-ghost) {
    background: var(--theme-horizon-lines-color);
}

/* Artwork */
.main-zero .artwork-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    z-index: 0;
}

@media (max-width: 1024px) {
    .main-zero .artwork-wrapper {
        margin: 0 auto;
    }

    @media (max-width: 650px) {
        .main-zero .artwork-wrapper {
            width: 100%;
            padding-bottom: 100%;
        }
    }
}

.main-zero .artwork {
    --artworkSize: 75.54%;
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--artworkSize);
    height: var(--artworkSize);
    transform: translate(-50%, -50%);
    margin: 0;
    z-index: 50;
}

@media (max-width: 1024px) {
    .main-zero .artwork {
        --artworkSize: 100%;
    }
}

.main-zero .artwork .icon-console-mini-filled {
    position: absolute;
    width: 42%;
    height: 42%;
    left: 25.56%;
    top: 30.37%;
}

.main-zero .artwork .zero-circle {
    --zeroCircleWidth: 84.96%;
    position: absolute;
    width: var(--zeroCircleWidth);
    height: var(--zeroCircleWidth);
    border-radius: 50%;
    border: 1px solid;
}

.main-zero .artwork .zero-circle-01 {
    border-color: var(--c-blue-06-main);
    top: calc((100% - var(--zeroCircleWidth)) / 2);
    left: calc(100% - var(--zeroCircleWidth));
}

.main-zero .artwork .zero-circle-02 {
    border-color: var(--c-fuchsia-05-main);
}

.main-zero .artwork .zero-circle-03 {
    border-color: var(--c-green-05-main);
    top: calc(100% - var(--zeroCircleWidth));
}

/* Features -------------------------------------------------------------------- */
.page-section-zero.features {
    max-width: none;
    padding-top: calc(var(--space6_5) - var(--space4));
    padding-bottom: var(--space6_5);
    background: var(--theme-horizon-lines-color);
    margin-top: 0;
}

@media (max-width: 1024px) {
    .page-section-zero.features {
        padding-top: var(--space6_5);
        padding-bottom: var(--space6);
    }
}

@media (max-width: 768px) {
    .page-section-zero.features {
        padding-top: var(--space6);
        padding-bottom: calc(var(--space6) - var(--space3));
    }
}

@media (max-width: 520px) {
    .page-section-zero.features {
        padding-top: var(--space5_5);
        padding-bottom: var(--space5_5);
    }
}

@media (max-width: 440px) {
    .page-section-zero.features {
        padding-top: var(--space5);
        padding-bottom: var(--space5);
    }
}

.page-section-zero.features .page-section-heading {
    margin: 0;
}

.page-section-zero.features .page-section-heading .title b {
    color: var(--theme-text-accent-sunset-strong);
}

@media (max-width: 540px) {
    .page-section-zero.features .page-section-heading .title {
        text-align: center;
    }
}

.page-section-zero.features .cols {
    display: grid;
    gap: var(--space5);
}

@media (max-width: 768px) {
    .page-section-zero.features .cols {
        gap: var(--space4_5);
    }
}

@media (min-width: 901px) {
    .page-section-zero.features .cols {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        align-items: start;
    }
}

@media (min-width: 481px) and (max-width: 900px) {
    .page-section-zero.features .cols .col {
        display: flex;
        flex-flow: row nowrap;
    }

    .page-section-zero.features .cols .col > *:first-child {
        flex: 0 0 auto;
        margin-right: var(--space4);
    }

    .page-section-zero.features .cols .col > *:not(:first-child) {
        flex: 1 1 auto;
    }
}

@media (max-width: 480px) {
    .page-section-zero.features .cols {
        gap: var(--space5);
    }

    .page-section-zero.features .cols .col {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;
    }
}

.page-section-zero.features .cols .col .icon,
.page-section-zero.features .cols .col .illustration {
    width: var(--space5);
    height: var(--space5);
}

.page-section-zero.features .cols .col .title {
    margin-top: var(--space4);
}

@media (min-width: 481px) and (max-width: 900px) {
    .page-section-zero.features .cols .col .title {
        margin-top: calc(var(--space3) + var(--space1));
    }
}

@media (max-width: 480px) {
    .page-section-zero.features .cols .col .title {
        margin-bottom: var(--space4);
    }
}

.page-section-zero.features .cols .col p {
    font-size: var(--t-size1);
    margin-top: var(--space4);
}

@media (max-width: 768px) {
    .page-section-zero.features .cols .col p {
        margin-top: var(--space3);
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .page-section-zero.features .cols .col p {
        margin-top: var(--space3_5);
    }
}

.page-section-zero.features .special {
    font-weight: 400;
    font-size: 1.6em;
    color: var(--theme-text-1);
}

.page-section-zero.features .illustration-invest .foreground-stroke {
    stroke: var(--theme-text-accent-sunset-strong);
}

.page-section-zero.features .illustration-invest .foreground-fill {
    fill: var(--theme-text-accent-sunset-strong);
}

.page-section-zero.features .icon-broadcast path:first-child {
    fill: var(--theme-text-1);
    stroke-width: 0px;
}

.page-section-zero.features .icon-broadcast path:not(:first-child) {
    stroke: var(--theme-text-accent-sunset-strong);
}

.page-section-zero.features .icon-rating path:last-child {
    fill: var(--theme-text-accent-yellow-strong);
    stroke-width: 0px;
}

.page-section-zero.features .icon-rating path:not(:last-child) {
    stroke: var(--theme-text-5);
}

/* Investors -------------------------------------------------------------------- */
.page-section-zero.investors {
    position: relative;
    max-width: none;
    padding-top: calc(var(--space6_5) - var(--space3));
    padding-bottom: calc(var(--space6_5) - var(--space3));
    margin-top: 0;
}

@media (max-width: 480px) {
    .page-section-zero.investors {
        padding-top: calc(var(--space6) - var(--space4));
        padding-bottom: calc(var(--space6) + var(--space3_5));
    }
}

/* Horizon Lines */
.page-section-zero.investors .horizon-lines.upper,
.page-section-zero.investors .horizon-lines.lower {
    height: 26%;
    z-index: 10;
}

@media (max-width: 700px) {
    .page-section-zero.investors .horizon-lines.upper,
    .page-section-zero.investors .horizon-lines.lower {
        height: 20%;
    }
}

.page-section-zero.investors .horizon-lines.upper {
    top: 0;
}

.page-section-zero.investors .horizon-lines.lower {
    bottom: 0;
    transform: scaleY(-1);
}

.page-section-zero.investors .horizon-lines.upper .horizon-line:not(.horizon-line-ghost) {
    background: var(--theme-horizon-lines-color);
}

.page-section-zero.investors .horizon-lines.lower .horizon-line:not(.horizon-line-ghost) {
    background: var(--theme-content-bg-3);
}

.page-section-zero.investors .top,
.page-section-zero.investors .middle,
.page-section-zero.investors .bottom {
    position: relative;
    z-index: 30;
}

.page-section-zero.investors .top {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

@media (max-width: 1070px) {
    .page-section-zero.investors .top {
        flex-flow: column nowrap;
        align-items: flex-start;
    }
}

.page-section-zero.investors .top .left {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-right: var(--space4_5);
    flex: 0 0 auto;
}

@media (min-width: 401px) {
    @media (max-width: 1070px) {
        .page-section-zero.investors .top .left {
            flex-flow: row-reverse nowrap;
            margin-bottom: var(--space4_5);
            margin-right: 0;
        }
    }
}

@media (max-width: 400px) {
    .page-section-zero.investors .top .left {
        flex-flow: column-reverse nowrap;
        align-items: flex-start;
        margin-bottom: var(--space4_5);
    }
}

.page-section-zero.investors .page-section-heading {
    flex-flow: column nowrap;
    align-items: flex-start;
    margin-bottom: 0;
    margin-right: var(--space4_5);
}

@media (max-width: 1070px) {
    .page-section-zero.investors .page-section-heading {
        margin-right: 0;
        margin-left: var(--space4_5);
    }
}

@media (max-width: 560px) {
    .page-section-zero.investors .page-section-heading {
        margin-left: var(--space4);
    }
}

@media (max-width: 400px) {
    .page-section-zero.investors .page-section-heading {
        margin-left: 0;
        margin-top: var(--space4);
    }
}

.page-section-zero.investors .page-section-heading .title-2 {
    margin-top: var(--space3);
}

.page-section-zero.investors .page-section-heading .title-4 {
    margin: 0;
}

.page-section-zero.investors .top .left .plane-picture {
    width: var(--space6_5);
}

@media (min-width: 401px) {
    @media (max-width: 560px) {
        .page-section-zero.investors .top .left .plane-picture {
            width: calc(var(--space6_5) - var(--space4));
        }
    }

    @media (max-width: 460px) {
        .page-section-zero.investors .top .left .plane-picture {
            width: calc(var(--space5_5) + var(--space3));
        }
    }
}

@media (max-width: 400px) {
    .page-section-zero.investors .top .left .plane-picture {
        width: calc(var(--space6) + var(--space3));
    }
}

.page-section-zero.investors .middle {
    margin: var(--space5_5) 0;
}

@media (max-width: 580px) {
    .page-section-zero.investors .middle {
        margin: var(--space5) 0;
    }
}

.page-section-zero.investors .middle .col-2-css {
    margin-top: var(--space4_5);
}

.page-section-zero.investors .middle .link {
    display: block;
    font-size: var(--t-esize2);
    margin-bottom: var(--space4);
}

.page-section-zero.investors .bottom .console-button-text {
    margin-left: var(--space2_5);
}

br.wrap {
    display: none;
}

@media (max-width: 580px) {
    br.wrap {
        display: initial;
    }

    .page-section-zero.investors .bottom .console-button-text {
        margin-top: var(--space3_5);
        margin-left: 0;
    }
}

/* Portfolio -------------------------------------------------------------------- */
.page-section-zero.portfolio {
    max-width: none;
    padding-top: calc(var(--space6) - var(--space4));
    padding-bottom: var(--space6);
    margin-top: 0;
    background: var(--theme-content-bg-3);
}

@media (max-width: 480px) {
    .page-section-zero.portfolio {
        padding-top: calc(var(--space6) - var(--space5));
        padding-bottom: var(--space6);
    }
}

.page-section-zero.portfolio .grid {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: var(--space4) var(--space5);
}

@media (max-width: 1150px) {
    .page-section-zero.portfolio .grid {
        gap: var(--space4) var(--space4_5);
    }
}

@media (max-width: 768px) {
    .page-section-zero.portfolio .grid {
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: var(--space4) var(--space4);
    }
}

.page-section-zero.portfolio .grid + p {
    margin-top: var(--space4_5);
}

.page-section-zero.portfolio .portfolio-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.page-section-zero.portfolio .portfolio-item .vendor-thumbnail {
    width: var(--space4_5);
    height: var(--space4_5);
    flex: 0 0 auto;
}

.page-section-zero.portfolio .portfolio-item .title {
    margin: 0;
    flex: 1 1 auto;
    font-size: var(--t-size1);
}

/* Get in touch -------------------------------------------------------------------- */
.page-section-zero.get-in-touch {
    max-width: none;
    padding-top: var(--space6);
    padding-bottom: var(--space6);
    margin-top: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.page-section-zero.get-in-touch .top {
    flex: 0 0 auto;
    margin-right: var(--space5_5);
}

@media (max-width: 1024px) {
    .page-section-zero.get-in-touch .top {
        margin-right: var(--space5);
    }
}

.page-section-zero.get-in-touch .top .illustration {
    width: 20vw;
    max-width: var(--space7);
    height: auto;
}

.page-section-zero.get-in-touch .illustration-new-zero .background-fill {
    fill: var(--theme-zero-moon-color);
}

.page-section-zero.get-in-touch .illustration-new-zero .foreground {
    fill: var(--c-sunset-05-main);
}

.page-section-zero.get-in-touch .page-section-heading {
    margin-bottom: 0;
}

.page-section-zero.get-in-touch .console-button {
    margin-top: var(--space5);
}

@media (max-width: 900px) {
    .page-section-zero.get-in-touch .console-button {
        margin-top: var(--space4_5);
    }
}

@media (max-width: 768px) {
    .page-section-zero.get-in-touch {
        flex-flow: column nowrap;
        align-items: center;
    }

    .page-section-zero.get-in-touch .top {
        margin-right: 0;
    }

    .page-section-zero.get-in-touch .bottom {
        margin-top: var(--space5);
        text-align: center;
    }

    .page-section-zero.get-in-touch .top .illustration {
        width: 34vw;
        max-width: var(--space7);
        height: auto;
    }

    .page-section-zero.get-in-touch .console-button {
        margin-top: var(--space4_5);
    }
}

@media (max-width: 580px) {
    .page-section-zero.get-in-touch {
        padding-top: var(--space5_5);
        padding-bottom: var(--space5_5);
    }

    .page-section-zero.get-in-touch .top .illustration {
        width: 42vw;
    }
}

@media (max-width: 400px) {
    .page-section-zero.get-in-touch .bottom {
        margin-top: var(--space4_5);
    }
}
