{{- $showDate := .Date.Format "2006-01-02" -}}
{{- $name := .Params.title -}}
{{- $url := "url" }}
{{- $topcategory := .Params.companyInfo.topCategory -}}
{{- $subcategory := .Params.companyInfo.subCategory -}}
{{- $tag := .Params.companyInfo.type -}}
{{- $filterTaxonomy := .Params.companyInfo.filterTaxonomy -}}
{{- $defaultGroup := "dsa" -}}
<div class="jobs-card" data-card data-date="{{ $showDate }}" data-name="{{ $name }}" data-taxonomy="{{ $filterTaxonomy }}" data-category="{{ $topcategory }}" data-default-group="all-companies">
	<div class="jobs-card-content">
		<div class="top">
            <a onclick="blur();" class="card-link" href="{{ .RelPermalink }}"><span>View</span></a>
            <div class="left">
            	{{ partial "components/thumbnail-vendor.html" (dict "name" $name "image" .Params.companyInfo.favicon "category" (replace (lower $topcategory) " " "-") ) }}
                <div class="title-location"><h4 data-searchable class="title title-3">{{ $name }}</h4><p class="jobs-card-location">{{ .Params.companyInfo.location }}</p></div>
			</div>
			<div class="right">
				<div class="left">
                    <div class="title-location"><h4 data-searchable class="title title-3">{{ $name }}</h4><p class="jobs-card-location">{{ .Params.companyInfo.location }}</p></div>
					<p data-searchable class="jobs-card-description">{{ .Params.summary }}</p>
				</div>
				<div class="taxonomy">
					<div class="categories">
						{{ partial (print "icons/" (replace (lower $topcategory) " " "-") ".html") }}
						<span class="category">{{ $subcategory }}</span>
					</div>
					<div class="tags">
						{{ partial "icons/tag.html" }}
						<span class="tag">{{ $tag }}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom">
			<div class="details">
				<div class="left">
					<span class="date">Reviewed: {{ $showDate }}</span>
                    {{ partial "components/tech-stack.html" .Params.companyInfo.techStack }}
					{{ if eq .Params.sponsored true -}}
						{{ partial "components/notice-disclosure-item-popup.html" }}
					{{- end }}
				</div>
                <div class="right">
                    {{ if .Params.interview -}}
                        <a onclick="blur();" href="/interviews/{{ .Params.interview }}/" class="console-button-text console-button-small console-button-triad-03 icon-left" title="Read the Console interview with {{ $name }}">
                            {{ partial "icons/console-interview.html" }}
                            <span>Console interview</span>
                        </a>
                    {{- end }}
                    {{ if .Params.podcast -}}
                        <a onclick="blur();" href="/podcast/{{ .Params.podcast }}/" class="console-button-text console-button-small console-button-triad-03 icon-left" title="Listen to the Console Podcast with {{ $name }}">
                            {{ partial "icons/podcast.html" }}
                            <span>DevTools Podcast</span>
                        </a>
                    {{- end }}
                </div>
			</div>
		</div>
	</div>
</div>
