{{ define "main" }}
<section class="page-section">
    <h2 class="title title-1">{{ .Title }}</h2>
    <p>Each week we pick out the most interesting tools for
    developers. We keep track of everything - dev tools, devops, cloud, and
    APIs - so you don’t have to. This is the content of the newsletter sent on
    {{ range first 1 $.Site.Data.latesttools.items }}{{ index . "Scheduled for" | dateFormat "2 Jan 2006" }}{{ end }}.</p>

    {{ partial "section-subscribe.html" . }}

    <h3 class="title title-2">Interesting tools</h3>
    {{ range $.Site.Data.latesttools.items }}
    <a href="{{ index . "URL" }}" class="link"><h4 class="title title-3">{{ index . "Tool/Product/Project" }}</h4></a>
    <p>{{ index . "What is it?" }}</p>
    <p><strong>What we like:</strong> {{ index . "What we like" }}</p>
    <p><strong>What we don&apos;t like:</strong> {{ index . "What we dislike" }}
    <hr style="border: none; border-top: 1px solid #eaeaea; padding-top: 10px; padding-bottom:0px" />
    {{ end }}

    <h3 class="title title-2">New betas &amp; early release programs</h3>
    {{ range $.Site.Data.latestbetas.items }}
    <a href="{{ index . "URL" }}" class="link"><h4 class="title title-3">{{ index . "Tool/Product/Project" }}</h4></a>
    <p>{{ index . "What is it?" }}</p>
    <p>&bull; {{ index . "Category" }} &bull; {{ index . "Type" }} &bull; {{ index . "Access" }} access</p>
    <hr style="border: none; border-top: 1px solid #eaeaea; padding-top: 10px; padding-bottom:0px" />
    {{ end }}
    </section>

    {{ partial "section-subscribe.html" . }}

{{ end }}
