{{ define "main" }}
<section class="page-section">
    <h2 class="title title-1">{{ .Title }}</h2>
    <p>Each week we pick out the most interesting tools for
    developers. We keep track of everything - dev tools, devops, cloud, and
    APIs - so you don’t have to. This is the content of the newsletter sent on
    {{ range first 1 $.Site.Data.latesttools.items }}{{ index . "Scheduled for" | dateFormat "2 Jan 2006" }}{{ end }}.</p>

    <h3 class="title title-2">Interesting tools</h3>
    {{ range $.Site.Data.latesttools.items }}
    <a href="{{ index . "URL" }}" class="link"><h4 class="title title-3">{{ index . "Tool/Product/Project" }}</h4></a>
    <p>{{ index . "What is it?" }}</p>
    <p><strong>What we like:</strong> {{ index . "What we like" }}</p>
    <p><strong>What we don&apos;t like:</strong> {{ index . "What we dislike" }}
    <hr style="border: none; border-top: 1px solid #eaeaea; padding-top: 10px; padding-bottom:0px" />
    {{ end }}

    <h3 class="title title-2">New betas &amp; early release programs</h3>
    {{ range $.Site.Data.latestbetas.items }}
    <a href="{{ index . "URL" }}" class="link"><h4 class="title title-3">{{ index . "Tool/Product/Project" }}</h4></a>
    <p>{{ index . "What is it?" }}</p>
    <p>&bull; {{ index . "Category" }} &bull; {{ index . "Type" }} &bull; {{ index . "Access" }} access</p>
    <hr style="border: none; border-top: 1px solid #eaeaea; padding-top: 10px; padding-bottom:0px" />
    {{ end }}
    </section>

<section class="page-section page-section-cta">
    <h4 class="title title-3">Subscribe to the weekly Console newsletter</h4>
    <p>An email digest of the best tools for developers.</p>
    <form action="https://dev.us7.list-manage.com/subscribe/post?u=f8c3cd14ee8d63c53d0986a48&amp;id=267911a165" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="console-form">
        <input id="form-email" name="EMAIL" class="console-input-text" type="email" placeholder="Your email" required />
        <input type="hidden" name="REFERRER" value="{{ $.Page.RelPermalink }}" id="mc-referrer" />
        <div style="position: absolute; left: -5000px" aria-hidden="true"><input type="text" name="b_f8c3cd14ee8d63c53d0986a48_267911a165" tabindex="-1" value="" /><!-- Anti spam field --></div>

        <button onclick="blur()" class="console-button" type="submit">
            <img width="20" class="inline-icon" src="/svg/icon-send.svg" alt="Sign Up" />
            <span>Sign Up</span>
        </button>
    </form>

    {{ `<!-- Plausible Analytics goal tracking for signups -->` | safeHTML }}
    <script>
        var registerForm = document.querySelector("#mc-embedded-subscribe-form");
        registerForm.addEventListener("submit", function (e) {
            e.preventDefault();
            setTimeout(submitForm, 1000);
            var formSubmitted = false;

            function submitForm() {
                if (!formSubmitted) {
                    formSubmitted = true;
                    registerForm.submit();
                }
            }

            plausible("Newsletter Subscribe", {
                callback: submitForm,
            });
        });
    </script>
</section>
{{ end }}
