{{ define "main" }}
	{{ $CTATitle := "Subscribe to the weekly Console newsletter" }}
	{{ $CTADescription := "Our free weekly newsletter features the latest interesting tools." }}

    <section class="page-section page-section-podcast-episode opening">
        <div class="top">
            <div class="left">
                <a href="/podcast/" class="console-button-text console-button-green icon-left">
                    {{ partial "icons/podcast.html" }}
                    <span>DevTools Podcast</span>
                </a>
                <h2 class="title title-1">{{ .Params.title }}</h2>
                <div class="title-extras">
                    <h4 class="title title-3">with
                        {{ with .Params.whoLink }}<a class="link" href="{{ . }}" title="{{ . }}" target="_blank" rel="noopener">{{ end }}
                            {{ .Params.who }}
                        {{ with .Params.whoLink }}</a>{{ end }}
                    </h4>
                    <p class="small">
                        <span>{{ with .Params.role }}{{ . }},{{end}}</span>
                        {{ with .Params.orgLink }}<a class="link" href="{{ . }}" title="{{ . }}" target="_blank" rel="noopener">{{ end }}
                            {{ .Params.org }}
                        {{ with .Params.orgLink }}</a>{{ end }}
                    </p>
                </div>
                <div class="page-meta">
                    <p class="small episode-no">
                        {{ $s := .Params.season }}
                        {{ $e := .Params.episode }}
                        S{{ if lt $s 10 }}0{{ end }}{{ $s }} E{{ if lt $e 10 }}0{{ end }}{{ $e }}
                    </p>
                    <p class="small date">
                        <span class="page-meta-separator">&mdash;</span>
                        <span>{{ .Date.Format "2006-01-02" }}</span>
                    </p>
                </div>
                <p class="intro">{{ .Params.summary }}</p>
            </div>
            <div class="right">
                {{ if eq .Params.season 1 }}
                    {{ partial "components/combo-box.html" (dict "visualsType" "logo-logo" "content" .) }}
                {{ else if eq .Params.season 2 }}
                    {{ partial "components/combo-box.html" (dict "visualsType" "logo-profile" "content" .) }}
                {{ end }}
            </div>
        </div>
        <div data-podcast-embed-anchor class="bottom">
            <div data-podcast-embed class="framed-section mid framed-section-overlay podcast-embed">
                <div class="podcast-embed-content">
                    {{ partial "components/audio-player.html" (dict "src" .Params.episodeURL "title" "Play the episode" "titleAlt" "Pause" "duration" .Params.duration "classes" "show-time" )}}
                    {{ partial "components/podcast-links.html" (dict "apple" "true" "spotify" "true" "google" "true" "overcast" "true") }}
                </div>
            </div>
        </div>
    </section>
    <div data-content-split class="content-split">
		<aside data-aside-wrapper class="aside-wrapper">
            <div data-aside-content-wrapper class="aside-content-wrapper">
                <div data-aside-content class="aside-content">
                    <div class="aside-block">
                        <div class="page-section-heading">
                            <h5 class="title title-4">
                                {{ if eq .Params.season 1 }}

                                    With

                                {{ else if eq .Params.season 2 }}

                                    The host

                                {{ end }}
                            </h5>
                        </div>
                        {{ if eq .Params.season 1 }}<div class="person-profiles">{{ end }}

                            <div class="person-profile">
                                {{ partial "components/plane-picture.html" (dict "type" "by-width" "img" "/img/david.jpg" "imgSize" "128" "alt" "Photo of David Mytton" ) }}
                                <a href="#author" class="link" title="About David Mytton">David Mytton</a>
                            </div>

                            {{ if eq .Params.season 1 }}

                                    <div class="person-profile">
                                        {{ partial "components/plane-picture.html" (dict "type" "by-width" "img" "/img/podcast/akita-jean-yang-profile.jpg" "imgSize" "128" "alt" "Photo of Jean Yang" ) }}
                                        <a href="https://twitter.com/jeanqasaur" target="_blank" class="link icon-link" title="https://twitter.com/jeanqasaur"><span>Jean Yang</span> {{ partial "icons/external-link.html" }}</a>
                                    </div>

                            {{ end }}

                        {{ if eq .Params.season 1 }}</div>{{ end }}
                    </div>
                    <div class="aside-block more-episodes">
                        <div class="page-section-heading">
                            <h5 class="title title-4">More episodes</h5>
                        </div>
                        <div class="other-episodes">
                            {{ $section := .Site.GetPage "section" "podcast" }}
                            {{ $pages := $section.Pages }}
                            {{ $pageTitle := .Params.title }}
                            {{ range (where $pages.ByPublishDate.Reverse "Params.season" .Params.season) }}
                                {{ if not (eq .Title $pageTitle) }}
                                <div class="other-episode">
                                    <h6 class="title title-6"><a class="link" href="{{ .RelPermalink }}" title="{{ .RelPermalink }}" rel="noopener">{{ .Title }}</a></h6>
                                    <div class="other-episode-title-extras">
                                        <p class="small"><a class="link" href="{{ .RelPermalink }}" title="{{ .RelPermalink }}" rel="noopener">with
                                            {{ with .Params.whoLink }}{{ end }}
                                                {{ .Params.who }}
                                            {{ with .Params.whoLink }}{{ end }}</a>
                                        </p>
                                        <p class="small">
                                            {{ with .Params.role }}{{ . }},{{end}}
                                            {{ with .Params.orgLink }}{{ end }}
                                                {{ .Params.org }}
                                            {{ with .Params.orgLink }}{{ end }}
                                        </p>
                                    </div>
                                    <div class="other-episode-meta">
                                        <p class="small episode-no">
                                            {{ $s := .Params.season }}
                                            {{ $e := .Params.episode }}
                                            S{{ if lt $s 10 }}0{{ end }}{{ $s }} E{{ if lt $e 10 }}0{{ end }}{{ $e }}
                                        </p>
                                    </div>
                                </div>
                                {{ end }}
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
		</aside>
		<div class="main-content-wrapper">
            <section class="page-section page-section-podcast-episode notes">
                {{ .Content }}
            </section>
            <section class="page-section page-section-podcast-episode about">
                <div name="david-mytton">{{ partial "components/author.html" (dict "context" . "bio" .Params.authorBio "img" .Params.authorImg "name" .Params.authorName "url" .Params.authorURL ) }}</div>
                {{ if eq .Params.season 1 }}<div name="jean-yang">{{ partial "components/author.html" (dict "context" . "bio" .Params.author2Bio "img" .Params.author2Img "name" .Params.author2Name "url" .Params.author2URL ) }}</div>{{ end }}
                {{ partial "components/about-console.html" }}
                {{ partial "subscribe.html" (dict "context" . "layout" "wide" "size" "large" ) }}
            </section>
        </div>
    </div>

    {{ $audioPlayerJS := resources.Get "/js/audio-player.js" }}
    {{ if hugo.IsProduction }}{{ $audioPlayerJS = $audioPlayerJS | resources.Minify | resources.Fingerprint }}{{ end }}
    <script src="{{ $audioPlayerJS.Permalink }}"></script>

	{{ $js := resources.Get "/js/podcast-episode.js" }}
    {{ if hugo.IsProduction }}{{ $js = $js | resources.Minify | resources.Fingerprint }}{{ end }}
	<script src="{{ $js.Permalink }}"></script>
{{ end }}
