{{ define "main" }}
	{{ $CTATitle := "Interesting tools by email" }}
	{{ $CTADescription := "Our free weekly newsletter picks out the 2-3 most interesting tools." }}

    <section class="page-section main-category-review-content">

        <script type="application/ld+json">
            {{- $schemaFile := print "/content/" .Params.subcategory "/schema-reviews.json" }}
            {{ readFile $schemaFile | safeJS }}
        </script>
        
        <div class="left">
            <h2 class="title title-1">
                {{ partial (print "icons/" .Params.category "-slanted.html" ) }}
                {{ .Params.titlePrefix }} <span>{{ .Params.titleCategory }}</span> {{ .Params.titleSuffix }}
            </h2>
            <div class="page-meta">
                <p class="small">
                    <span class="plane-picture">
                        <img class="ratio" src="/img/ratio-plane.png" alt="">

                        {{ $nextGenImgSrc := partial "components/processed-img.html" (dict "src" .Params.authorImg "width" "52" "nextGen" "true") }}
                        {{ $imgSrc := partial "components/processed-img.html" (dict "src" .Params.authorImg "width" "52") }}
                        {{with $nextGenImgSrc }}<picture><source srcset="{{ . }}" type="image/webp">{{ end }}
                            <img loading="lazy" class="image" src="{{ $imgSrc }}" alt="Photo of {{ .Params.authorName }}" />
                        {{with $nextGenImgSrc }}</picture>{{ end }}

                    </span>
                    <a href="#author" class="link" rel="me">{{ .Params.authorName }}</a>
                </p>
                <p class="small">
                    <span class="page-meta-separator">&mdash;</span>
                    <span>Last updated: {{ .Lastmod.Format "2006-01-02" }}</span>
                </p>
            </div>
            <div class="page-meta-detail">
                <p>
                    {{ .Params.authorBioBrief }}
                </p>
            </div>
            {{ partial "components/notice-disclosure.html" }}
        </div>
        <div class="right">
            {{ partial "components/category-review/artwork-dark.html" . }}
            {{ partial "components/category-review/artwork-light.html" . }}
        </div>
    </section>
    <div class="main-category-review-content-split">
        <aside class="main-category-review-aside" data-aside>
            {{ partial (print "components/category-review/" .Params.isPage "/aside.html" ) }}
        </aside>
        <section class="page-section main-category-review-content">
            {{ .Content }}
            {{ partial "components/author.html" (dict "context" . "bio" .Params.authorBio "img" .Params.authorImg "name" .Params.authorName ) }}
            {{ partial "components/about-console.html" }}
            {{ partial "subscribe.html" (dict "context" . "layout" "wide" "size" "large" "title" $CTATitle "description" $CTADescription ) }}
        </section>
    </div>

    {{ $categoryReviewJS := resources.Get "/js/category-review.js" }}
    {{ if hugo.IsProduction }}{{ $categoryReviewJS = $categoryReviewJS | resources.Minify | resources.Fingerprint }}{{ end }}
    <script src="{{ $categoryReviewJS.Permalink }}"></script>
{{ end }}
