{{ $time := or (.Get "time") "" }}
<div class="podcast-episode-clipping">
    <div class="framed-section mid framed-section-overlay">
        {{ $markdown := .Inner | markdownify }}
        {{ $hasP := strings.Contains $markdown "<p>" }}
        {{ if not $hasP }}<p>{{ end }}
        {{ $markdown }}
        {{ if not $hasP }}</p>{{ end }}
    </div>    
    <button data-play-at-time="{{ $time }}" data-play-button class="console-button round icon-only quiet play" tabindex="-1" aria-label="Play">
        {{ partial "icons/play.html" }}
        {{ if $time }}
            {{ $time = printf "2000-01-01T%s%s" "00:" $time | time }}
            <span class="hover-content">Play @ {{ $time.Minute }}m {{ $time.Second }}s</span>
        {{ end }}
    </button>
</div>