{{ define "main" }}
	{{ $CTATitle := "Discover the best tools for developers" }}
	{{ $CTADescription := "Our free weekly email features a digest of the best new tools and beta releases for developers. " }}

    <section class="page-section page-section-badges opening">
        <div class="top">
            <h2 class="title title-1">Console Badges</h2>
            <p class="description">Congratulations, you’ve been selected by our editorial team as an Interesting Tool for the Console Weekly newsetter.</p>
            <p>Add a custom <span>{{ partial "icons/tool.html" }} badge</span> to your website to showcase you’ve been featured.</p>
        </div>
    </section>

    <section class="page-section page-section-plane page-section-badges selector">
        <h3 class="title title-2 rich-title">Get your badge</h3>
        <div data-selector-ui class="selector-ui">
            <div class="top">
                <div>
                    <div class="selector-ui-group">
                        <h6 class="title title-5">Type</h6>
                        <div class="selector-ui-options">
                            <div><input data-badge-option class="console-input-radio" type="radio" name="badge-type" id="badge-type-pick" value="pick" checked><label for="badge-type-pick"><span class="check"></span> Pick</label></div>
                            <div><input data-badge-option class="console-input-radio" type="radio" name="badge-type" id="badge-type-logo" value="logo"><label for="badge-type-logo"><span class="check"></span> Logo</label></div>
                            <div><input data-badge-option class="console-input-radio" type="radio" name="badge-type" id="badge-type-ribbon" value="ribbon"><label for="badge-type-ribbon"><span class="check"></span> Ribbon</label></div>
                        </div>
                    </div>
                    <div class="selector-ui-group">
                        <h6 class="title title-5">Theme</h6>
                        <div class="selector-ui-options">
                            <div><input data-badge-option class="console-input-radio" type="radio" name="badge-theme" id="badge-theme-dark" value="dark" checked><label for="badge-theme-dark"><span class="check"></span> Dark</label></div>
                            <div><input data-badge-option class="console-input-radio" type="radio" name="badge-theme" id="badge-theme-light" value="light"><label for="badge-theme-light"><span class="check"></span> Light</label></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="selector-ui-group badge-color">
                        <h6 class="title title-5">Color</h6>
                        <div class="selector-ui-options">
                            <div><input data-badge-option class="console-input-radio triad-03" type="radio" name="badge-color" id="badge-color-green1" value="green1" checked><label for="badge-color-green1"><span class="check"></span> Accent Green</label></div>
                            <div><input data-badge-option class="console-input-radio triad-01" type="radio" name="badge-color" id="badge-color-blue1" value="blue1"><label for="badge-color-blue1"><span class="check"></span> Accent Blue</label></div>
                            <div><input data-badge-option class="console-input-radio triad-02" type="radio" name="badge-color" id="badge-color-purple1" value="purple1"><label for="badge-color-purple1"><span class="check"></span> Accent Purple</label></div>
                            <div><input data-badge-option class="console-input-radio triad-03" type="radio" name="badge-color" id="badge-color-green2" value="green2"><label for="badge-color-green2"><span class="check"></span> Full Green</label></div>
                            <div><input data-badge-option class="console-input-radio triad-01" type="radio" name="badge-color" id="badge-color-blue2" value="blue2"><label for="badge-color-blue2"><span class="check"></span> Full Blue</label></div>
                            <div><input data-badge-option class="console-input-radio triad-02" type="radio" name="badge-color" id="badge-color-purple2" value="purple2"><label for="badge-color-purple2"><span class="check"></span> Full Purple</label></div>
                            <div><input data-badge-option class="console-input-radio" type="radio" name="badge-color" id="badge-color-bw" value="bw"><label for="badge-color-bw"><span class="check"></span> B/W</label></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="selector-ui-group">
                        <h6 class="title title-5">Compact</h6>
                        <div class="selector-ui-options">
                            <div><input data-badge-option class="console-input-toggle" type="checkbox" name="badge-vertical" id="badge-vertical"><label for="badge-vertical"><span class="check"></span> Enable</label></div>
                        </div>
                    </div>
                    <div class="selector-ui-group">
                        <h6 class="title title-5">Border</h6>
                        <div class="selector-ui-options">
                            <div><input data-badge-option class="console-input-toggle" type="checkbox" name="badge-border" id="badge-border"><label for="badge-border"><span class="check"></span> Enable</label></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="selector-ui-preview">
                    <p class="small">Preview:</p>
                    <div class="console-segmented-control">
                        <div><input class="console-input-radio" type="radio" name="preview-type" id="preview-type-split" value="split" checked><label for="preview-type-split"><span class="check"></span> Split</label></div>
                        <div><input class="console-input-radio" type="radio" name="preview-type" id="preview-type-black" value="black"><label for="preview-type-black"><span class="check"></span> Black</label></div>
                        <div><input class="console-input-radio" type="radio" name="preview-type" id="preview-type-white" value="white"><label for="preview-type-white"><span class="check"></span> White</label></div>
                    </div>
                </div>
                <div data-split-planes class="split-planes is-split">
                    <div class="section-plane left"></div>
                    <div class="section-plane right"></div>
                    <img data-badge-preview class="console-badge" src="/img/badges/1.0/svg/console-badge-pick-green1-dark-border.svg" alt="Console Badge" />
                </div>
            </div>
        </div>
        <div class="selector-actions">
            <div class="left">
                <p>Download:</p>
                <div class="selector-ctas">
                    <button data-download-png onclick="blur();" class="console-button console-button-medium icon-left" title="Download .png">{{ partial "icons/download.html" }}<span>.png</span></button>
                    <button data-download-svg onclick="blur();" class="console-button console-button-medium icon-left" title="Download .svg">{{ partial "icons/download.html" }}<span>.svg</span></button>
                </div>
            </div>
            <div class="right">
                <p>Embed:</p>
                <div class="selector-actions-embed-type">
                    <p class="small">Format:</p>
                    <div class="console-segmented-control">
                        <div><input class="console-input-radio" type="radio" name="embed-type" id="embed-type-png" value="png" checked><label for="embed-type-png"><span class="check"></span> png</label></div>
                        <div><input class="console-input-radio" type="radio" name="embed-type" id="embed-type-svg" value="svg"><label for="embed-type-svg"><span class="check"></span> svg</label></div>
                    </div>
                </div>
                <div class="embed-code-wrapper">
                    <pre id="embed-code-pre" data-embed-code class="pre"></pre>
                    <button data-clipboard-copy data-clipboard-target="#embed-code-pre" onclick="blur();" class="console-button-text console-button-small console-button-copy icon-left" title="Copy code">{{ partial "icons/copy.html" }}{{ partial "icons/checkmark.html" }}<span class="idle">Copy</span><span class="success">Copied</span></button>
                </div>
                
            </div>
        </div>
    </section>


    <section class="page-section page-section-badges selection-criteria">
        <h3 class="title title-2 rich-title">Selection Criteria</h3>
        <span data-checkpoint-selection-criteria></span>
        <p>Our selection criteria are explained below. The more of these questions we can
            answer positively, the more likely a tool is to be featured. We try to be
            objective but there is always a subjective element to deciding what we think is
            the best, most interesting set of tools each week:</p>
        <ul class="col-2-css">
            <li>Is this interesting and useful to developers?</li>
            <li>Is there a self-service signup?</li>
            <li>Would this form part of a daily-use set of developer tools?</li>
            <li>Does it make me a better developer?</li>
            <li>Does it solve a problem I have experienced? How well does it solve it?</li>
            <li>Would this be used by advanced, power-users?</li>
            <li>Is the tool high quality?</li>
            <li>Does it do the job it claims?</li>
            <li>Does it have a good graphical and/or command line interface? Shortcuts? Accessibility?</li>
            <li>Is it being actively maintained with regular bug fixes and updates?</li>
            <li>Does it have good documentation? Is it fast?</li>
            <li>Does it have any negative impact on security or privacy?</li>
            <li>How would I feel recommending this to my friends? Would I tweet a link to it?</li>
        </ul>
    </section>

    <section class="page-section page-section-badges about-console">
        {{ partial "components/about-console.html" }}
    </section>


    <section class="page-section page-section-badges cta">
        {{ partial "subscribe.html" (dict "context" . "layout" "wide" "size" "large" "title" $CTATitle "description" $CTADescription ) }}
    </section>

    <script src="/js/vendor/clipboard.min.js"></script>
    <script src="/js/badges.js"></script>
{{ end }}