<div class="dynamic-planes-wrapper">
    <div class="dynamic-planes">
        {{ range (seq 6) }}
        {{ $col := .}}
        <div class="dynamic-planes-column" data-dynamic-planes-column>
            {{ range (seq 2) }}
                {{ $repeat := .}}
                <div class="dynamic-planes-column-items{{if eq $repeat 1 }} first{{ else }} last{{ end }}">
                    {{ $scratch := newScratch }}
                    {{ $scratch.Set "catIcons" (slice "") }}
                    {{ $scratch.Set "colors" (slice "") }}
                    {{ if eq $col 1 }}
                        {{ $scratch.Set "catIcons" (slice "developer-tools" "devops" "misc" "data-science" "security" "api" "cloud" "database" "developer-tools" "devops" "misc" "data-science" "security" "api" "cloud" "database") }}
                        {{ $scratch.Set "colors" (slice "triad-02" "triad-03" "triad-01") }}
                    {{ end }}
                    {{ if eq $col 2 }}
                        {{ $scratch.Set "catIcons" (slice "cloud" "database" "developer-tools" "devops" "misc" "data-science" "security" "api" "cloud" "database" "developer-tools" "devops" "misc" "data-science" "security" "api") }}
                        {{ $scratch.Set "colors" (slice "triad-03" "triad-01" "triad-02") }}
                    {{ end }}
                    {{ if eq $col 3 }}
                        {{ $scratch.Set "catIcons" (slice "misc" "data-science" "security" "api" "cloud" "database" "developer-tools" "devops" "misc" "data-science" "security" "api" "cloud" "database" "developer-tools" "devops") }}
                        {{ $scratch.Set "colors" (slice "triad-03" "triad-01" "triad-02") }}
                    {{ end }}
                    {{ if eq $col 4 }}
                        {{ $scratch.Set "catIcons" (slice "api" "cloud" "database" "developer-tools" "devops" "misc" "data-science" "security" "api" "cloud" "database" "developer-tools" "devops" "misc" "data-science" "security") }}
                        {{ $scratch.Set "colors" (slice "triad-03" "triad-01" "triad-02") }}
                    {{ end }}
                    {{ if eq $col 5 }}
                        {{ $scratch.Set "catIcons" (slice "cloud" "database" "developer-tools" "devops" "misc" "data-science" "security" "api" "cloud" "database" "developer-tools" "devops" "misc" "data-science" "security" "api") }}
                        {{ $scratch.Set "colors" (slice "triad-01" "triad-02" "triad-03") }}
                    {{ end }}
                    {{ if eq $col 6 }}
                        {{ $scratch.Set "catIcons" (slice "misc" "data-science" "security" "api" "cloud" "database" "developer-tools" "devops" "misc" "data-science" "security" "api" "cloud" "database" "developer-tools" "devops") }}
                        {{ $scratch.Set "colors" (slice "triad-02" "triad-03" "triad-01") }}
                    {{ end }}
                    {{ range (seq 15) }}
                        {{ $item := .}}
                        {{ $catIcon := (index ($scratch.Get "catIcons") (int $item)) }}
                        {{ $color := (index ($scratch.Get "colors") (mod (int $item) 3)) }}
                        {{ $scratch.Set "selected" false }}
                        {{ if eq $repeat 2 }}
                            {{ if eq $col 1 }}{{if eq $item 8 }}{{ $scratch.Set "selected" true }}{{ end }}{{ end }}
                            {{ if eq $col 2 }}{{if eq $item 6 }}{{ $scratch.Set "selected" true }}{{ end }}{{ end }}
                            {{ if eq $col 3 }}{{if eq $item 8 }}{{ $scratch.Set "selected" true }}{{ end }}{{ end }}
                            {{ if eq $col 4 }}{{if eq $item 10 }}{{ $scratch.Set "selected" true }}{{ end }}{{ end }}
                            {{ if eq $col 5 }}{{if eq $item 8 }}{{ $scratch.Set "selected" true }}{{ end }}{{ end }}
                            {{ if eq $col 6 }}{{if eq $item 9 }}{{ $scratch.Set "selected" true }}{{ end }}{{ end }}
                        {{ end }}
                        <div class="dynamic-planes-item aspect-ratio aspect-ratio-1-1{{ with $color}} {{ . }}{{ end }}{{ with $scratch.Get "selected" }} selected{{ end }}" data-dynamic-planes-item>
                            <div class="dynamic-planes-item-bg"></div>
                            <div class="dynamic-planes-item-border"></div>
                            <div class="dynamic-planes-item-icon">{{ partial (printf "%s/%s.html" "icons" $catIcon) }}</div>
                            <div class="dynamic-planes-item-glow"></div>
                            <div class="dynamic-planes-item-bg-selected"></div>
                            <div class="dynamic-planes-item-border-selected"></div>
                            <div class="dynamic-planes-item-icon-selected">{{ partial (printf "%s/%s.html" "icons" $catIcon) }}</div>
                        </div>
                    {{ end }}
                </div>
            {{ end }}
        </div>
    {{ end }}
    </div>
</div>